<div class="flex flex-col max-w-100 md:min-w-100 max-h-screen -m-6">
    <div class="min-h-15 flex px-5 pt-0.5 items-center justify-between text-xl font-semibold border-b-2">
        <span class=" dark:text-white">Items</span>
        <mat-icon svgIcon="close" class="cursor-pointer dark:text-white" (click)="matDialogRef.close()"></mat-icon>
    </div>

    <div class="flex flex-col p-5 pt-3 gap-1 max-h-100 overflow-y-auto">
        <div class="flex flex-row items-center py-1 border-b" *ngFor="let dt of agentsList">
            <div class="truncate">
                {{dt.item_code}} 
            </div>
            <span class="px-2"> - </span>
            <div class="truncate text-secondary ">
                 {{dt.item_name}}
            </div>
        </div>
    </div>
</div>