<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">
            {{ module_name }}
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" (click)="refreshItems()"></mat-icon>
            </div>

            <!------Global filter------>
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <button class="ml-4" mat-flat-button [color]="'primary'" [disabled]="isLoading" (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createData()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Add New Record" (click)="_filterService.openDrawer(filter_table_name, primengTable)">
                <mat-icon [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                <span class="ml-2 mr-1">Filter</span>
            </button>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
            columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
            [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
            [lazy]="true" (onLazyLoad)="refreshItems($event)" [scrollable]="true" [scrollHeight]="scrollHeight"
            [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['hotel_name', 'star_category', 'email_address', 'contact_number','city_name']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="  text-center left-[-1px]" pFrozenColumn>#</th>
                    <th class="min-w-[145px] dark:bg-[#1e293b]" pSortableColumn="hotel_name" pResizableColumn alignFrozen="left" pFrozenColumn
                        [frozen]="frozenObj?.hotel_name" [ngClass]="{'left-0': !frozenObj?.hotel_name}">
                        Hotel Name <p-sortIcon field="hotel_name" />
                        <span class="float-right" (click)="isFrozenColumn('hotel_name');$event.stopPropagation()">
                            <i *ngIf="!frozenObj?.hotel_name" class="pi pi-lock-open icon-size-3"></i>
                            <i *ngIf="frozenObj?.hotel_name" class="pi pi-lock icon-size-3"></i>
                        </span>
                    </th>
                    <th pSortableColumn="star_category" pResizableColumn class="text-center">
                        Star Category <p-sortIcon field="star_category" />
                    </th>
                    <th pSortableColumn="email_address" pResizableColumn>
                        Email Address <p-sortIcon field="email_address" />
                    </th>
                    <th pSortableColumn="contact_number" pResizableColumn>
                        Contact Number <p-sortIcon field="contact_number" />
                    </th>
                    <th class="w-full min-w-[200px]" pSortableColumn="city_name" pResizableColumn>
                        City <p-sortIcon field="city_name" />
                    </th>

                </tr>

                <tr *ngIf="isFilterShow">
                    <th class=" left-[-1px]" pFrozenColumn></th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.hotel_name">
                        <p-columnFilter type="text" matchMode="contains" field="hotel_name" placeholder="Search by Hotel"
                            ariaLabel="Filter Hotel" />
                    </th>
                    <th>
                        <p-columnFilter type="numeric" field="star_category" placeholder="Search by Star Category"
                            ariaLabel="Filter Category" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="email_address" placeholder="Search by Email Address"
                            ariaLabel="Filter Email Address" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="contact_number" placeholder="Search by Contact Number"
                            ariaLabel="Filter Contact Number" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="city_name" placeholder="Search by City"
                            ariaLabel="Filter City" />
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element>
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="viewData(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600">Info</span>
                            </button>
                            <button mat-menu-item (click)="editData(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600">Edit</span>
                            </button>
                            <button mat-menu-item (click)="deleteData(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                                <span style="font-weight: 600">Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.hotel_name">
                        {{element.hotel_name}}
                    </td>
                    <td class="text-center">{{element.star_category}}</td>
                    <td>{{element.email_address}}</td>
                    <td>{{element.contact_number}}</td>
                    <td>{{element.city_name}}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14">
                    <td colspan="8" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
