<div class="flex flex-raw overflow-hidden overflow-x-auto mt-[-10px]">
    <div class="w-full pb-0 field-blue-bg">
        <div class="overflow-hidden w-full flex-row flex pb-2">
            <div class="flex flex-col w-full pl-3 pt-1">
                <span class="text-base font-medium text-secondary dark:text-[#687798]">Partner Panel URL</span>
                <span class="text-base truncate dark:text-white text-black">
                    <a [href]="'//'+ wlSetting?.partner_panel_url" target="_blank"
                        [matTooltip]="wlSetting?.partner_panel_url"
                        class="cursor-pointer border-b hover:border-gray-400">{{wlSetting?.partner_panel_url ?
                        wlSetting?.partner_panel_url : '-'}}</a>
                </span>
            </div>
        </div>
        <div class="overflow-hidden w-full flex-row flex pb-2">
            <div class="flex flex-col w-full pl-3 pt-1">
                <span class="text-base font-medium text-secondary dark:text-[#687798]">B2C Portal URL</span>
                <span class="text-base truncate dark:text-white text-black">
                    <a [href]="'//'+ wlSetting?.b2c_portal_url" target="_blank" [matTooltip]="wlSetting?.b2c_portal_url"
                        class="cursor-pointer border-b hover:border-gray-400">{{wlSetting?.b2c_portal_url ?
                        wlSetting?.b2c_portal_url : '-'}}</a>
                </span>
            </div>
        </div>

        <div class="overflow-hidden w-full flex-row flex pb-2">
            <div class="flex flex-col w-full pl-3 pt-1">
                <span class="text-base font-medium text-secondary dark:text-[#687798]">API URL</span>
                <span class="text-base truncate dark:text-white text-black">
                    <a [href]="'//'+ wlSetting?.api_url" target="_blank" [matTooltip]="wlSetting?.api_url"
                        class="cursor-pointer border-b hover:border-gray-400">{{wlSetting?.api_url ? wlSetting?.api_url
                        : '-'}}</a>
                </span>
            </div>
        </div>
        <div class="overflow-hidden w-full flex-row flex pb-2">
            <div class="flex flex-col w-full pl-3 pt-1">
                <span class="text-base font-medium text-secondary dark:text-[#687798]">Android APP URL</span>
                <span class="text-base truncate dark:text-white text-black">
                    <a [href]="'//'+ wlSetting?.android_app_url" [matTooltip]="wlSetting?.android_app_url"
                        target="_blank"
                        class="cursor-pointer border-b hover:border-gray-400">{{wlSetting?.android_app_url ?
                        wlSetting?.android_app_url : '-'}}</a>
                </span>
            </div>
        </div>
        <div class="overflow-hidden w-full flex-row flex">
            <div class="flex flex-col w-full pl-3 pt-1">
                <span class="text-base font-medium text-secondary dark:text-[#687798]">IOS APP URL</span>
                <span class="text-base truncate dark:text-white text-black">
                    <a [href]="'//'+ wlSetting?.ios_app_url" target="_blank" [matTooltip]="wlSetting?.ios_app_url"
                        class="cursor-pointer border-b hover:border-gray-400">{{wlSetting?.ios_app_url ?
                        wlSetting?.ios_app_url : '-'}}</a>
                </span>
            </div>
        </div>
    </div>
</div>
