<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>

    <div class="flex flex-col w-full overflow-auto bg-card">

        <div class="flex flex-row items-center px-6 h-13 min-h-13 dark:text-white">
            <div class="text-lg font-medium tracking-tight">{{title}}</div>
            <button class="ml-auto" mat-icon-button (click)="settingsDrawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>

        <mat-divider></mat-divider>

        <div class="flex flex-row overflow-auto  mt-4 mr-4 ml-4" style="max-height: calc(100vh - 116px);">
            <div class="w-[100%]">
                <form class="flex flex-col flex-auto overflow-hidden" [formGroup]="formGroup">
                    <div class="px-[2px]">
                        <div class="flex flex-row">
                            <mat-form-field class="flex-grow">
                                <mat-label class="text-base font-medium ">Select Product</mat-label>
                                <mat-select formControlName="product" [compareWith]="compareWith"
                                    *ngIf="!formGroup.get('id').value"
                                    (selectionChange)="onProductSelectionChange($event.value)">
                                    <mat-option *ngFor="let lt of productList" [value]="lt.id">{{ lt.product_name
                                        }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formGroup.get('product').hasError('required')">
                                    Product is required
                                </mat-error>
                                <input matInput readonly *ngIf="formGroup.get('id').value"
                                    [formControlName]="'product'" />
                            </mat-form-field>
                        </div>
                        <div class="flex flex-row">
                            <mat-form-field class="flex-grow">
                                <mat-label class="text-base font-medium ">Product Price</mat-label>
                                <input matInput required type="number" (keypress)="numberOnly($event)"
                                    (change)="onPriceChange($event)" formControlName="price">
                                <mat-error *ngIf="formGroup.get('price').hasError('required')">
                                    Price is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!-- <div class="flex flex-row" *ngIf="proofAttachment">
                                <mat-label class="text-base font-medium ">Proof Attachment</mat-label>
                            <input type="file" accept="application/pdf, image/*" #fileInput1 class="hidden" readonly />
                            <span *ngIf="!editpaymentAttachmentSelectedFile" class="flex items-center">{{
                                paymentAttachmentSelectedFile?.name || '' }}</span>
                            <span *ngIf="editpaymentAttachmentSelectedFile" class="flex items-center">{{
                                editpaymentAttachmentSelectedFile || '' }}</span>
                            <mat-icon [svgIcon]="'attach_file'"
                                class=" icon-size-6 absolute right-[15px] top-[10px]"></mat-icon>
                        </div> -->

                        <div class="flex flex-row pb-4" (click)="fileInput1.click()" *ngIf="proofAttachment">
                            <div class="flex-grow">
                                <mat-label class="text-base font-medium">Proof Attachment</mat-label>
                                <div
                                    class="w-full border border-[#64748b] rounded-md h-[48px] mt-[6px] px-[16px] relative flex">
                                    <input type="file" accept="application/pdf, image/*" #fileInput1 class="hidden"
                                        (change)="onProofAttachmentFile($event)" readonly />
                                        <span *ngIf="!editproofAttachmentSelectedFile" class="flex items-center">{{
                                            proofAttachmentSelectedFile?.name || '' }}</span>
                                        <span *ngIf="editproofAttachmentSelectedFile" class="flex items-center">{{
                                            editproofAttachmentSelectedFile || '' }}</span>
                                    <mat-icon [svgIcon]="'attach_file'"
                                        class=" icon-size-6 absolute right-[15px] top-[10px]"></mat-icon>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-row">
                            <!-- <mat-form-field class="flex-grow">
                            <mat-label class="text-base font-medium dark:text-[#687798]">Installments</mat-label>
                            <mat-select formControlName="installments"
                                (selectionChange)="onInstallmentsChange($event.value)">
                                <mat-option *ngFor="let lt of installmentList" [value]="lt.value">{{
                                    lt.viewValue }}</mat-option>
                            </mat-select>
                        </mat-form-field> -->

                            <!-- <ng-container *ngFor="let productName of productNameList"> -->
                            <mat-form-field class="flex-grow">
                                <mat-label class="text-base font-medium ">Installments</mat-label>
                                <mat-select formControlName="installments"
                                    (selectionChange)="onInstallmentsChange($event.value)">
                                    <mat-option
                                        *ngFor="let installment of getInstallmentOptions(selectedMaxInstallment)"
                                        [value]="installment">{{ installment }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- </ng-container> -->
                        </div>

                        <div class="flex flex-col w-full" *ngIf="installmentsArray && installmentsArray.length">
                            <ng-container *ngFor="let installment of installmentsArray; let i = index">
                                <div class="flex flex-row w-full space-x-3">
                                    <span class="mr-1 pt-8">{{ i + 1 }}</span>
                                    <mat-form-field class="flex-grow w-1/2">
                                        <mat-label class="text-base font-medium ">Date</mat-label>
                                        <input matInput [matDatepicker]="picker3"
                                            [(ngModel)]="installment.installment_date" [min]="getMaxDate(i)"
                                            [ngModelOptions]="{standalone: true}" />
                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                    <!-- [min]="i == 0 ? todayDateTime : installmentsArray[i - 1]?.installment_date" -->
                                    <!-- [min]="i == 0 ? todayDateTime : installment.maxDate" -->

                                    <mat-form-field class="flex-grow w-1/2">
                                        <mat-label class="text-base font-medium ">Amount(₹)</mat-label>
                                        <input matInput type="number" (keypress)="numberOnly($event)"
                                            [(ngModel)]="installment.installment_amount"
                                            [ngModelOptions]="{standalone: true}" />
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>

                        <div class="flex flex-row">
                            <mat-form-field class="flex-grow">
                                <mat-label class="text-base font-medium ">Remark</mat-label>
                                <textarea matInput rows="3" formControlName="rm_remark"></textarea>
                                <!-- <mat-error *ngIf="formGroup.get('rm_remark').hasError('required')">
                                Remark is required
                            </mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div *ngIf="!readonly"
            class="flex items-center justify-end mt-4 sm:mt-1 py-3 space-x-3 h-16 bottom-0 absolute w-full pr-5 dark:bg-[#1e293b] bg-white border-t m-auto">
            <button mat-stroked-button (click)="settingsDrawer.close()"> Close </button>
            <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
                {{btnLabel}}
            </button>
        </div>
    </div>
</fuse-drawer>
