// app-kyc-info {
//     .mat-mdc-icon-button {
//         max-height: 24px;
//         min-height: 20px;
//     }
// }

app-view-holiday-details {
    .slick-prev:before {
        color: white !important;
    }

    .slick-next:before {
        color: white !important;
    }

    .foutline {
        .mat-mdc-select-arrow-wrapper {
            display: none !important;
        }

        .mat-mdc-option {
            min-height: 40px;
        }
    }

    .secondline {
        .mat-mdc-form-field-infix {
            min-height: 30px !important;
            padding: 0 12px !important;
        }

        .ratingField {
            --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
            --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;

            &:hover {
                background-color: var(--primary-color) !important;

                span,
                mat-icon {
                    color: #fff !important;
                }
            }
        }

        .mat-mdc-checkbox-checked {
            .ratingField {
                background-color: var(--primary-color) !important;

                span,
                mat-icon {
                    color: #fff !important;
                }
            }
        }

        .mdc-checkbox {
            display: none;
        }

        .mat-mdc-checkbox {
            .mdc-form-field {
                padding-right: 5px !important;
            }

            .mdc-label {
                padding-left: 0 !important;
            }
        }
    }

    .accordian {
        .tabs {
            border-radius: 8px;
            overflow: hidden;
        }

        .tab {
            width: 100%;

            &:before {
                content: "";
                height: 100%;
                width: 2px;
                background-color: var(--primary-color);
                position: absolute;
                left: 71px;
                top: 20px;
                opacity: 0.8;
            }

            &:last-child::before {
                display: none;
            }
        }

        .tab-label {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            font-weight: bold;
            cursor: pointer;
        }

        .acc-arrow {
            transition: all 0.35s;
        }

        .tab-content {
            max-height: 0;
            padding: 0 1em;
            transition: all 0.35s;
            opacity: 0;
        }

        .tab-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            cursor: pointer;
        }

        input:checked+label>mat-icon {
            transform: rotate(180deg);
        }

        input:checked~.tab-content {
            opacity: 1;
            // max-height: 100vh;
            max-height: fit-content;
            padding: 1em;
        }
    }
}

.product-image-slick-carousel {

    .slick-prev:before, .slick-next:before {
        font-family: "slick";
        font-size: 2rem;
        line-height: 1;
        color: white;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
        z-index: 9999999999 !important;
    }

    .slick-prev:before {
        position:absolute;
        left: 2rem !important;
        content: "\2190";
     }

     .slick-next:before{
        position:absolute;
        right: 2rem !important;
     }

}

.view-holiday-small-carousel {
    .slick-prev:before, .slick-next:before {
        font-family: "slick";
        font-size: 1.2rem;
        line-height: 1;
        color: white;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
        // z-index: 9999999999 !important;
    }

    .slick-prev:before {
        position:absolute;
        left: 2rem !important;
        content: "\2190";
       
     }

     .slick-next:before{
        position:absolute;
        right: 2rem !important;
     }

     .slick-prev {
        z-index:999999;
     }
}