<div class="flex flex-col max-w-200 md:min-w-200 max-h-screen -m-6">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
    <div class="text-lg font-medium text-white">{{title}}</div>
    <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
      <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
    </button>
  </div>

  <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-120" [formGroup]="formGroup"
    *ngIf="!readonly; else detailView">

    <div class="flex gap-3">
      <mat-form-field class="flex-grow">
        <mat-label>Amount</mat-label>
        <input matInput type="number" [min]="0" formControlName="net_sale_amount" required>
      </mat-form-field>

      <mat-form-field class="flex-grow">
        <mat-label>MOP</mat-label>
        <mat-select formControlName="mop" (selectionChange)="MOPChange()">
          <mat-option *ngFor="let ct of mopList" [value]="ct">{{ct}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-grow">
      <mat-label>Remark</mat-label>
      <textarea matInput class="min-h-22" formControlName="remark"></textarea>
    </mat-form-field>

    <div class="flex flex-row gap-4">
      <div *ngIf="formGroup.get('mop').value == 'Wallet'"
        class="flex dark:bg-gray-700 bg-gray-200 min-h-[65px] items-center px-4 mb-3 my-2 w-full second-color justify-between shadow rounded-xl overflow-hidden">
        <div class="flex flex-row items-center w-full justify-between overflow-hidden">
          <div class="py-4 flex flex-row items-center gap-3 second-color  overflow-hidden">
            <span class="text-base truncate">
              Proof Attachment
            </span>
            <span class="text-sm text-secondary pt-1">
              (Required)
            </span>
          </div>

          <div class="flex flex-row items-end justify-center space-x-1">
            <button mat-icon-button [matTooltip]="'Download'"
              (click)="download(this.formGroup.get('proof_attachment').value)"
              [disabled]="!formGroup.get('proof_attachment').value">
              <mat-icon class="icon-size-6" [ngClass]="formGroup.get('proof_attachment').value ? 'text-primary':''"
                [svgIcon]="'heroicons_outline:download'"></mat-icon>
            </button>
            <div [hidden]="true">
              <input type="file" name="documentUpload" #document (change)="uploadDocument($event,'proof_attachment')">
            </div>
            <button (click)="document.click()" [matTooltip]="'Upload'" mat-icon-button>
              <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:upload'"></mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div
        class="flex dark:bg-gray-700 bg-gray-200 min-h-[65px] w-full items-center px-4 mb-3 my-2 second-color justify-between shadow rounded-xl overflow-hidden">
        <div class="flex flex-row items-center w-full justify-between overflow-hidden">
          <div class="py-4 flex flex-row items-center gap-3 second-color  overflow-hidden">
            <span class="text-base truncate">
              Payment Attachment
            </span>
          </div>

          <div class="flex flex-row items-end justify-center space-x-1">
            <button mat-icon-button [matTooltip]="'Download'"
              (click)="download(this.formGroup.get('payment_attachment').value)"
              [disabled]="!formGroup.get('payment_attachment').value">
              <mat-icon class="icon-size-6" [ngClass]="formGroup.get('payment_attachment').value ? 'text-primary':''"
                [svgIcon]="'heroicons_outline:download'"></mat-icon>
            </button>
            <div [hidden]="true">
              <input type="file" name="documentUpload" #document2
                (change)="uploadDocument($event,'payment_attachment')">
            </div>
            <button (click)="document2.click()" [matTooltip]="'Upload'" mat-icon-button>
              <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:upload'"></mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

  </form>

  <ng-template #detailView>
    <div class="grid grid-cols-4 gap-4 p-6 pb-0 bg-card rounded-2xl overflow-hidden min-w-180">
      <div class="flex flex-col mb-3" *ngFor="let filed of fieldList"
        [style]="filed.name == 'Remark' || filed.name == 'Rejection Remark' ? 'grid-column: 1 / 5;' : ''">
        <div class="flex flex-row space-x-2">
          <span class="text-md font-semibold text-secondary">{{
            filed.name
            }}</span>
          <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon>
        </div>
        <span class="flex items-center">
          <span class="text-base"
            [ngClass]="filed.name == 'Remark' || filed.name == 'Rejection Remark' ? '' : 'truncate'"
            [matTooltip]="filed.isTooltip ? filed.value : ''" [matTooltip]="filed.isTooltip ? filed.value : ''">{{
            filed.value || "--" }}</span>
        </span>
      </div>
    </div>

    <div class="grid grid-cols-4 gap-3 px-6 pt-4 border-t">
      <div class="flex flex-col mb-3">
        <span class="text-md font-semibold text-secondary">Proof Attachment</span>
        <mat-icon svgIcon="heroicons_outline:arrow-down-tray" *ngIf="records.proof_attachment"
          class="rounded-full cursor-pointer text-blue-600 p-0.5" (click)="downloadfile(records.proof_attachment)"
          [matTooltip]="'Download'"></mat-icon>
        <mat-icon svgIcon="heroicons_outline:arrow-down-tray" *ngIf="!records.proof_attachment"
          class="rounded-full cursor-pointer text-gray-600 p-0.5"></mat-icon>
      </div>

      <div class="flex flex-col mb-3">
        <span class="text-md font-semibold text-secondary">Payment Attachment</span>
        <mat-icon svgIcon="heroicons_outline:arrow-down-tray" *ngIf="records.payment_attachment"
          class="rounded-full cursor-pointer text-blue-600 p-0.5" (click)="downloadfile(records.payment_attachment)"
          [matTooltip]="'Download'"></mat-icon>
        <mat-icon svgIcon="heroicons_outline:arrow-down-tray" *ngIf="!records.payment_attachment"
          class="rounded-full cursor-pointer text-gray-600 p-0.5"></mat-icon>
      </div>
    </div>

  </ng-template>

  <div class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pt-4 pb-4 space-x-3">
    <button mat-flat-button [color]="'primary'" (click)="submit()" *ngIf="!readonly" [disabled]="disableBtn">
      {{btnLabel}}
    </button>
  </div>
</div>
