<div class="flex flex-col max-w-160 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">Bank Info</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <div class="grid grid-cols-4 gap-6 mb-8 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
        
        <div class="flex flex-col space-x-2">
            <span class="text-md font-semibold text-secondary">Proof</span>
            <mat-icon (click)="downloadInfo(record.document_proof)" svgIcon="heroicons_outline:arrow-down-tray" class="text-blue-500 cursor-pointer"></mat-icon>
        </div>

        <div class="flex flex-col">
            <span class="text-md font-semibold text-secondary">Bank Name</span>
            <span class="text-base truncate">{{record.bank_name}}</span>
        </div>

        <div class="flex flex-col">
            <span class="text-md font-semibold text-secondary">Account Number</span>
            <span class="text-base truncate">{{record.account_number}}</span>
        </div>

        <div class="flex flex-col">
            <span class="text-md font-semibold text-secondary">IFSC Code</span>
            <span class="text-base truncate">{{record.ifsc_code}}</span>
        </div>

        <div class="flex flex-col">
            <span class="text-md font-semibold text-secondary">Currency</span>
            <span class="text-base truncate">{{record.bank_currancy}}</span>
        </div>

        <div class="flex flex-col">
            <span class="text-md font-semibold text-secondary">Account Type</span>
            <span class="text-base truncate">{{record.account_type}}</span>
        </div>

        <div class="flex flex-col">
            <span class="text-md font-semibold text-secondary">Status</span>
            <span class="text-base truncate">{{record.is_audited ? 'Audited' : 'UnAudit'}}</span>
        </div>

        <div class="flex flex-col">
            <span class="text-md font-semibold text-secondary">Audited By</span>
            <span class="text-base truncate">{{record.audit_by_name}}</span>
        </div>

        <div class="flex flex-col">
            <span class="text-md font-semibold text-secondary">Reject Reason</span>
            <span class="text-base truncate">{{record.account_type}}</span>
        </div>
    </div>

</div>