<div>

    <div class="overflow-auto flex flex-col max-h-[60vh] rounded border ">
        <div class="flex flex-col overflow-auto max-w-full " [class.hidden]="dataSource.data.length <= 0 && loading">
            <table mat-table [dataSource]="dataSource" class="border-collapse sale-tab" matSort matSortDisableClear
                matSortDirection="desc" matSortActive="entry_date_time" (matSortChange)="refreshItems()">

                <ng-container matColumnDef="entry_date_time">
                    <th mat-header-cell mat-sort-header class="font-bold text-md min-w-36 max-w-36"
                        *matHeaderCellDef>
                        Date
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b pt-1 min-w-36 max-w-36">
                        <p class="text-md font-medium truncate pr-1 leading-3">{{ element.entry_date_time | date :
                            "dd-MM-YYYY"}}
                        </p>
                        <span class="text-primary truncate text-xs">{{ element.entry_date_time | date : "hh:mm"}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="current_status">
                    <th mat-header-cell mat-sort-header class="font-bold text-md  min-w-30 max-w-30" *matHeaderCellDef>
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b truncate min-w-30 max-w-30">
                        {{element.current_status || ' - '}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="entry_by">
                    <th mat-header-cell mat-sort-header class="font-bold text-md  min-w-30 max-w-30" *matHeaderCellDef>
                        Entry By
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b truncate min-w-30 max-w-30">
                        {{element.entry_by || ' - '}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="status_remark">
                    <th mat-header-cell mat-sort-header class="font-bold text-md w-full" *matHeaderCellDef>
                        Reason
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b truncate w-full">
                        <span class="max-w-40 truncate min-w-40" [matTooltip]="element.status_remark">{{element.status_remark || ' - '}}</span>
                    </td>
                </ng-container>

                <tr class="h-9 min-h-9 sticky top-0 z-10" mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
                <tr class="h-9 border-0" mat-row *matRowDef="let row; columns: columns"></tr>
            </table>
        </div>
        <div class="flex flex-col justify-center items-center w-full h-80"
            *ngIf="(dataSource.data.length <= 0 && loading) || dataSource.data.length <= 0">
            <div class="flex flex-row items-center space-x-4" *ngIf="loading">
                <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                <span class="text-xl">Loading...</span>
            </div>
            <div class="flex flex-col items-center justify-center" *ngIf="!loading">
                <p>No data to display!</p>
                <div class="text-secondary flex flex-col justify-center items-center text-md"
                    *ngIf="searchInputControl.value">
                    <span>no search results found for "<b>{{searchInputControl.value}}</b>".</span>
                </div>
            </div>
        </div>
        <mat-paginator class="second-color z-10 sticky w-full bottom-0 " #paginator [pageSizeOptions]="[5, 10, 25, 100]"
            [pageSize]="10" (page)="refreshItems()" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>