<div class="flex flex-col flex-auto min-w-0 overflow-hidden">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-5 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div class="cursor-pointer" [routerLink]="airlineBlockRoute">
                    <a class="whitespace-nowrap text-primary-500">Airline Block Lead</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Details</a>
                </div>
            </div>
        </div>

        <button mat-raised-button color="primary" (click)="close()">
            Close
        </button>
    </div>

    <div class="m-8" *ngIf="bookingDetail">
        <div class="m-auto max-w-[1200px]">
            <div class="mb-6 flex ">
                <!-------Left-------->
                <div class="w-2/3 h-fit flex flex-col mobile:w-full mobile:mr-0 ">
                    <div class="bg-card rounded-2xl p-6">
                        <div class="first relative flex flex-col white-bg rounded-md overflow-x-hidden">
                            <div class="flex justify-between overflow-x-auto">
                                <div>
                                    <div class="flex space-x-3">
                                        <div class="px-2 py-1  border border-gray-border rounded-lg flex items-center text-secondary cursor-pointer"
                                            (click)="getCopy('agent')">
                                            <mat-icon class="primary-text pr-1 text-xl"
                                                svgIcon="heroicons_outline:document-text"></mat-icon>
                                            <span class="text-md leading-none dark:text-white">Your
                                                Copy</span>
                                        </div>
    
                                        <div class="px-2 py-1 border border-gray-border rounded-lg flex items-center text-secondary cursor-pointer"
                                            (click)="getCopy('customer')">
                                            <mat-icon class="primary-text pr-1 text-xl"
                                                svgIcon="heroicons_outline:document-text"></mat-icon>
                                            <span class="text-md leading-none dark:text-white ">Customer
                                                Copy</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mobile:min-w-fit mobile:pl-[13px]">
                                    <div *ngIf="bookingDetail?.status === 'Confirmed' || bookingDetail?.status == 'Completed'"
                                        class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(1,175,71,0.1)] flex items-center border green-border">
                                        <mat-icon class="green-text text-2xl">check_circle</mat-icon>
                                        <span
                                            class="text-md font-semibold ml-2 leading-none">{{bookingDetail?.status}}</span>
                                    </div>
    
                                    <div *ngIf="bookingDetail?.status === 'New'"
                                        class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(244,154,25,0.1)] flex items-center border orange-border">
                                        <img class="w-auto" src="assets/icons/new.svg">
                                        <span
                                            class="text-md font-semibold ml-2 leading-none orange-text">{{bookingDetail?.status}}</span>
                                    </div>
    
                                    <div *ngIf=" bookingDetail?.status === 'Cancelled' || bookingDetail?.status === 'Rejected'"
                                        class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border bonton-red-border">
                                        <mat-icon class="text-2xl text-[#be262c]">warning</mat-icon>
                                        <span
                                            class="text-md font-semibold ml-2 leading-none">{{bookingDetail?.status}}</span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="mt-4 p-5 mobile:p-3  border-gray-border border rounded-lg">
                                <div class="pb-4 flex mobile:flex-col">
                                    <div class="w-[50%]">
                                        <div class="text-md font-semibold text-secondary">Ref.No</div>
                                        <div class="font-semibold pt-[2px]">{{bookingDetail?.booking_ref_no || '-'}}
                                            <i class="material-icons text-base cursor-pointer text-gray" matTooltip="copy"
                                                (click)="copyBookingRef()">content_copy</i>
                                        </div>
                                    </div>
                                    <div class="w-[50%] mobile:pt-2">
                                        <div class="text-md font-semibold text-secondary">Sector</div>
                                        <div class="font-semibold pt-[2px]">{{bookingDetail?.origin || '-'}}
                                            <mat-icon
                                                class="text-black dark:text-white font-semibold text-[12px] mobile:text-[12px] mx-0 ">arrow_forward</mat-icon>
                                            {{bookingDetail?.destination || '-'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-4 flex">
                                    <div class="w-[50%]">
                                        <div class="text-md font-semibold text-secondary">Trip Type</div>
                                        <div class="font-semibold pt-[2px]">{{bookingDetail?.tripType || '-'}}</div>
                                    </div>
                                    <div class="w-[50%]">
                                        <div class="text-md font-semibold text-secondary">Inquiry Date</div>
                                        <div class="font-semibold pt-[2px]">{{(bookingDetail?.bookingDate |
                                            date:'dd-MM-yyyy hh:mm a') || '-'}}</div>
                                    </div>
                                </div>
                                <div class="pb-4 flex">
                                    <div class="w-[50%]">
                                        <div class="text-md font-semibold text-secondary">Departure Date</div>
                                        <div class="font-semibold pt-[2px]">{{bookingDetail?.depTime |
                                            date:'dd-MM-yyyy'}}
                                        </div>
                                    </div>
                                    <div class="w-[50%]">
                                        <div class="text-md font-semibold text-secondary">Arrival Date</div>
                                        <div class="font-semibold pt-[2px]">{{(bookingDetail?.arrTime |
                                            date:'dd-MM-yyyy') || '-'}}</div>
                                    </div>
                                </div>
                                <div class="pb-4 flex">
                                    <div class="w-[50%]">
                                        <div class="text-md font-semibold text-secondary">Supplier</div>
                                        <div class="font-semibold pt-[2px]">{{bookingDetail?.supplier_name || '-'}}</div>
                                    </div>
                                    <div class="w-[50%]">
                                        <div class="text-md font-semibold text-secondary">Agent</div>
                                        <div class="font-semibold pt-[2px]">{{bookingDetail?.agent_name || '-'}}</div>
                                    </div>
                                </div>
                                <div class="flex">
                                    <div class="w-[50%]">
                                        <div class="text-md font-semibold text-secondary">Pax info.</div>
                                        <div class="font-semibold pt-[2px]">{{bookingDetail?.adultCount}} Adults /
                                            {{bookingDetail?.childCount}} Child / {{bookingDetail?.infantCount}} Infant
                                        </div>
                                    </div>
                                    <div class="w-[50%]">
                                    </div>
                                </div>
                            </div>
    
                            <div class="mt-4" *ngIf="segmentList.length > 0">
                                <ng-container *ngFor="let segment of segmentList; let i = index">
                                    <div class="relative">
                                        <div class="rounded-xl relative"
                                            [ngClass]="segment.cancelled === 2? 'border bonton-red-border bg-[rgba(255,0,0,0.05)]':'border border-gray-border'">
                                            <div
                                                class="relative flex px-5 pb-5 pt-5 border-b border-dashed border-gray-border">
                                                <div class="flex items-center min-w-48 border-r border-gray-border">
                                                    <img loading="lazy" class="w-12 h-12 object-contain mr-3"
                                                        [src]="segment.airline_logo" alt="Logo">
    
                                                    <div class="pr-3">
                                                        <div class="light-text text-md font-medium">{{segment.airline_name}}
                                                        </div>
                                                        <div class="light-text text-sm font-medium">{{segment.flight_no}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pl-6 flex">
                                                    <div class="flex items-center">
                                                        <span class="font-semibold text-lg flex items-end">
                                                            <span>{{segment.origin}}</span>
                                                            <mat-icon
                                                                class="text-black dark:text-white mx-3 text-2xl">arrow_forward</mat-icon>
                                                            <span>{{segment.destination}}</span>
                                                        </span>
                                                        <span class="text-gray pl-5">
                                                            {{segment.departure_date_time | date: 'EEE, dd-MM-yyyy'}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pt-6 px-7 pb-5 flex items-center">
                                                <div class="flex items-center w-full">
                                                    <div class="flex flex-col min-w-[180px]">
                                                        <span class="text-xl font-semibold">{{segment.departure_date_time |
                                                            date: 'h:mma'}}</span>
                                                        <span class="text-md font-medium">
                                                            {{segment.departure_date_time | date: 'EEE, dd-MM-yyyy'}}
                                                        </span>
                                                        <span class="text-gray text-sm">{{segment.departure_terminal}}
                                                            {{segment.departure_terminal? '-':''}}
                                                            {{segment.originAirportname}}
                                                            {{segment.origincityname}}{{segment.origincountryname? ',':''}}
                                                            {{segment.origincountryname}}
                                                        </span>
                                                    </div>
                                                    <div class="flex mx-7 items-center z-[1] min-w-[40%] relative">
                                                        <span
                                                            class="block w-2 h-2 primary-bg rounded-full border border-white outline-1 outline primary-outline ng-star-inserted"></span>
                                                        <span
                                                            class="border-dashed border-b border-gray-border min-w-[95%] relative flex justify-center items-center">
                                                            <mat-icon
                                                                class="absolute top-[-11px] rotate-90 text-[#f49a19] z-10">flight</mat-icon>
                                                        </span>
                                                        <span
                                                            class="block w-2 h-2 primary-bg rounded-full border border-white outline-1 outline primary-outline ng-star-inserted"></span>
                                                        <div
                                                            class="absolute w-full flex flex-col items-center h-[70px] justify-around text-xs">
                                                            <span
                                                                class="text-gray font-medium">{{segment.segment_duration}}</span>
                                                            <span
                                                                class="text-gray font-medium">{{bookingDetail.flight_type}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex flex-col min-w-[180px]">
                                                        <span class="text-xl font-semibold">{{segment.arrival_date_time |
                                                            date: 'h:mma'}}</span>
                                                        <span class="text-md font-medium">
                                                            {{segment.arrival_date_time | date: 'EEE, dd-MM-yyyy'}}</span>
                                                        <span class="text-gray text-sm">{{segment.arrival_terminal}}
                                                            {{segment.arrival_terminal? '-':''}}
                                                            {{segment.destinationAirpostname}}
                                                            {{segment.destinationcityname}}{{segment.destinationcountryname?
                                                            ',':''}}
                                                            {{segment.destinationcountryname}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="absolute bottom-[-10px] left-0 w-full text-center z-10"
                                            *ngIf="i !== (segmentList.length - 1) && segmentList[i+1].layour_time">
                                            <span class="bg-[#e1effe] rounded-3xl px-10 text-gray dark:text-black text-sm">
                                                {{isSamePlanes(segment, segmentList[i+1])
                                                ? 'No plane change require'
                                                : 'Change of planes'}}・{{segmentList[i+1].layour_time}} Layover in
                                                {{segment.destinationcityname}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
    
                            <div class="mt-4 p-5 mobile:p-3  border-gray-border border rounded-lg">
                                <div class="flex mobile:block">
                                    <div class="w-[33%] mobile:w-full">
                                        <div class="text-md font-semibold text-secondary">Lead Pax Name</div>
                                        <div class="font-semibold truncate pt-[2px]">{{bookingDetail?.lead_pax_name || '-'}}</div>
                                    </div>
                                    <div class="w-[33%] mobile:w-full mobile:py-3">
                                        <div class="text-md font-semibold text-secondary">Lead Pax Email</div>
                                        <div class="font-semibold truncate pt-[2px]">{{bookingDetail?.lead_pax_email || '-'}}</div>
                                    </div>
                                    <div class="w-[33%] mobile:w-full pl-3">
                                        <div class="text-md font-semibold text-secondary">Lead Pax Contact No.</div>
                                        <div class="font-semibold truncate pt-[2px]">{{bookingDetail?.contact_number || '-'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="bookingDetail?.status === 'Rejected'" class="bg-[#FFECEC] p-3 mt-5 text-[#be262c] rounded ">
                        <div class=""><strong>Reject Reason : </strong> {{bookingDetail?.reject_reason}}</div>
                    </div>
                </div>

                <!-------Right-------->
                <div class="  overflow-hidden w-1/3 ml-3 h-fit">
                    <div class="pb-1 info relative flex flex-col mb-5 overflow-hidden rounded-2xl bg-card"
                        *ngFor="let pdv of priceDetail; let i = index">
                        <div *ngFor="let pd of pdv.value">
                            <div *ngIf="pd.is_header"
                                class="w-full text-lg font-medium px-4 py-3  border-b border-gray-border dark:bg-primary bg-gray-200">
                                {{pd.key}}</div>
                            <div *ngIf="!pd.is_header">
                                <div [ngClass]="{'text-default': pd.is_bold, 'text-default': pd.is_main, 'text-default': (!pd.is_bold && !pd.is_main)}"
                                    class="flex justify-between w-full px-4 py-2"
                                    *ngIf="pd.key != '---' && pd.key != '___' && pd.key != 'Grand Total'">
                                    <span [ngClass]="(pd.is_bold || pd.is_main)? 'font-semibold':''"
                                        class="flex items-center">{{pd.key}}</span>
                                    <span [ngClass]="(pd.is_bold || pd.is_main)? 'font-semibold':''"
                                        class="relative top-[2px]">{{pd.value}}</span>
                                </div>
                                <span *ngIf="pd.key === '---'"
                                    class="py-1 mx-4 block border-b border-dashed border-gray-border"></span>
                                <span *ngIf="pd.key === '___'" class="py-1 block border-b border-gray-border"></span>
                                <div *ngIf="pd.key === 'Grand Total'"
                                    class="px-4 py-4 flex justify-between text-xl font-semibold primary-text">
                                    <span>{{pd.key}}</span>
                                    <span>{{pd.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex gap-3"
                        *ngIf="bookingDetail?.status == 'New'">
                        <button class="w-1/2" mat-flat-button [color]="'primary'" (click)="status(bookingDetail, 1)">
                            Complete
                        </button>
                        <button class="w-1/2" mat-stroked-button (click)="Rejected(bookingDetail, 3)">
                            Reject
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>