<div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden dark:bg-transparent">

    <p-overlayPanel #op [dismissable]="false">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="overlay-panel"
            [style]="{'max-width': '220px'}" display="chip" placeholder="Choose Columns"
            (onChange)="onColumnsChange()" (onPanelHide)="op.hide()" [appendTo]="'body'"/>
    </p-overlayPanel>

    <div class="table-container paginator-bottom">
        <p-table #datatable [columns]="selectedColumns" [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1"
            [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
            [loading]="isLoading" [paginator]="true" [rows]="appConfig.pageSize" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="appConfig.pageSizeOptions" [lazy]="true" (onLazyLoad)="refreshItems($event)"
            [scrollable]="true" [scrollHeight]="scrollHeightWTab" [showCurrentPageReport]="true" [showPageLinks]="false"
            [showJumpToPageDropdown]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="" styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="left-[-1px] text-center w-1 dark:bg-gray-800" *ngIf="isDisplayHashCol()" pFrozenColumn>#
                    </th>

                    <th *ngFor="let col of columns; let isLast = last" [pSortableColumn]="col.field" pResizableColumn
                        [ngClass]="{ 'w-full': isLast && (selectedColumns[selectedColumns?.length-1]?.field !='withdraw_amount')}"
                        [class]="col.class">
                        {{ col.header }}
                        <p-sortIcon [field]="col?.field" />
                    </th>

                </tr>

                <tr *ngIf="isFilterShowInbox">
                    <th class="left-[-1px] bg-gray-50 dark:bg-gray-800" pFrozenColumn></th>
                    <th *ngFor="let col of columns">
                        <ng-container *ngIf="!col?.isHideFilter">
                            <!-- Text -->
                            <p-columnFilter *ngIf="(col.type == types.text  || col.type == types.link)" [type]="'text'"
                                [field]="col.field" [placeholder]="'Search by '+ col.header"
                                [ariaLabel]="'Filter '+ col.header" matchMode="contains" />

                             <!-- digit point number-->
                            <p-columnFilter *ngIf="col.type == types.number" [type]="'numeric'" [field]="col.field"
                                [matchMode]="'equals'" [placeholder]="'Search by '+ col.header"
                                [ariaLabel]="'Filter '+ col.header" locale="en-US">
                            </p-columnFilter>

                            <p-columnFilter *ngIf="col.type == types.select && col.field == 'lead_status' "
                                [field]="col.field" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="statusList"
                                        (onChange)="filter($event.value)" placeholder="Select Status" [showClear]="true"
                                        appendTo="body">
                                        <ng-template let-option pTemplate="item">
                                            <p>{{option}}</p>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>

                            <p-columnFilter *ngIf="col.type == types.select && col.field == 'lead_type' "
                                [field]="col.field" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="typeList"
                                        (onChange)="filter($event.value)" placeholder="Select Type" [showClear]="true"
                                        appendTo="body">
                                        <ng-template let-option pTemplate="item">
                                            <p>{{option}}</p>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>

                            <p-columnFilter *ngIf="col.type == types.select && col.field == 'last_call_feedback' "
                                [field]="col.field" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="feedbackList"
                                        (onChange)="filter($event.value)" placeholder="Select Type" [showClear]="true"
                                        appendTo="body">
                                        <ng-template let-option pTemplate="item">
                                            <p>{{option}}</p>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>

                            <ng-container *ngIf="col.type == types.dateTime && col.field == 'last_call_date_time' ">
                                <p-columnFilter
                                    *ngIf="(_filterService.selectionDateDropdown$ | async) != 'custom_date_range'"
                                    field="last_call_date_time" matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                            [options]="_filterService.dateRangeList" optionLabel="label"
                                            placeholder="Select Option" appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <div
                                                    (click)="_filterService.onOptionClick(option, primengTable, 'last_call_date_time')">
                                                    <div>{{option.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                                <ng-container
                                    *ngIf="(_filterService.selectionDateDropdown$ | async) == 'custom_date_range'">
                                    <div class="relative inline-block">
                                        <p-columnFilter field="last_call_date_time" matchMode="custom"
                                            [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-calendar selectionMode="range" [ngModel]="value"
                                                    (ngModelChange)="onDateRangeChange($event, filter)"
                                                    [readonlyInput]="true" dateFormat="dd-mm-yy" appendTo="body"
                                                    placeholder="📅 Search by Date Range">
                                                </p-calendar>
                                            </ng-template>
                                        </p-columnFilter>
                                        <mat-icon class="icon-size-4 cursor-pointer absolute"
                                            style="top:50%; transform: translatey(-50%); right: 25px;"
                                            (click)="_filterService.onOptionClick('', '', '')">cancel</mat-icon>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="col.type == types.dateTime && col.field == 'entry_date_time' ">
                                <p-columnFilter
                                    *ngIf="(_filterService.selectionDateDropdownTwo$ | async) != 'custom_date_range'"
                                    field="entry_date_time" matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                            [options]="_filterService.dateRangeList" optionLabel="label"
                                            placeholder="Select Option" appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <div
                                                    (click)="_filterService.onOptionClickTwo(option, primengTable, 'entry_date_time')">
                                                    <div>{{option.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                                <ng-container
                                    *ngIf="(_filterService.selectionDateDropdownTwo$ | async) == 'custom_date_range'">
                                    <div class="relative inline-block">
                                        <p-columnFilter field="entry_date_time" matchMode="custom" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-calendar selectionMode="range" [ngModel]="value"
                                                    (ngModelChange)="onDateRangeChange($event, filter)"
                                                    [readonlyInput]="true" dateFormat="dd-mm-yy" appendTo="body"
                                                    placeholder="📅 Search by Date Range">
                                                </p-calendar>
                                            </ng-template>
                                        </p-columnFilter>
                                        <mat-icon class="icon-size-4 cursor-pointer absolute"
                                            style="top:50%; transform: translatey(-50%); right: 25px;"
                                            (click)="_filterService.onOptionClickTwo('', '', '')">cancel</mat-icon>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="col.type == types.dateTime && col.field == 'call_date_time' ">
                                <p-columnFilter
                                    *ngIf="(_filterService.selectionDateDropdownContracting$ | async) != 'custom_date_range'"
                                    field="call_date_time" matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                            [options]="_filterService.dateRangeList" optionLabel="label"
                                            placeholder="Select Option" appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <div
                                                    (click)="_filterService.onOptionClickContracting(option, primengTable, 'call_date_time')">
                                                    <div>{{option.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                                <ng-container
                                    *ngIf="(_filterService.selectionDateDropdownContracting$ | async) == 'custom_date_range'">
                                    <div class="relative inline-block">
                                        <p-columnFilter field="call_date_time" matchMode="custom" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-calendar selectionMode="range" [ngModel]="value"
                                                    (ngModelChange)="onDateRangeChange($event, filter)"
                                                    [readonlyInput]="true" dateFormat="dd-mm-yy" appendTo="body"
                                                    placeholder="📅 Search by Date Range">
                                                </p-calendar>
                                            </ng-template>
                                        </p-columnFilter>
                                        <mat-icon class="icon-size-4 cursor-pointer absolute"
                                            style="top:50%; transform: translatey(-50%); right: 25px;"
                                            (click)="_filterService.onOptionClickContracting('', '', '')">cancel</mat-icon>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <!--date picker-->
                            <p-columnFilter *ngIf="col.type == types.date" type="date" [field]="col.field">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" [ngModel]="value"
                                        appendTo="body" placeholder="Search by Signup">
                                    </p-calendar>
                                </ng-template>
                            </p-columnFilter>

                        </ng-container>
                    </th>

                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-i="rowIndex" let-columns="columns">
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn
                        *ngIf="isDisplayHashCol()">
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="dialCall(element)">
                                <mat-icon class="mat-18">phone</mat-icon>
                                <span style="font-weight: 600">Dial Call</span>
                            </button>
                            <button mat-menu-item (click)="callHistory(element)">
                                <mat-icon class="mat-18">history</mat-icon>
                                <span style="font-weight: 600">Call History</span>
                            </button>
                            <button mat-menu-item (click)="scheduleCall(element)">
                                <mat-icon class="mat-18">schedule</mat-icon>
                                <span style="font-weight: 600">Schedule Call</span>
                            </button>
                            <button mat-menu-item (click)="startKycProcess(element)"
                                *ngIf="element.agent_lead_id == null">
                                <mat-icon class="mat-18">how_to_reg</mat-icon>
                                <span style="font-weight: 600">Start KYC Process</span>
                            </button>
                            <button mat-menu-item (click)="modifyKycDetails(element)"
                                *ngIf="element.agent_lead_id !== null">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600">Modify KYC Details</span>
                            </button>
                            <button mat-menu-item (click)="marketingMaterials(element)">
                                <mat-icon svgIcon="heroicons_outline:document-magnifying-glass"></mat-icon>
                                <span style="font-weight: 600">Marketing Materials</span>
                            </button>
                            <button mat-menu-item (click)="deadLead(element, i)">
                                <mat-icon svgIcon="heroicons_outline:document-minus"></mat-icon>
                                <span style="font-weight: 600">Dead Lead</span>
                            </button>
                            <button mat-menu-item (click)="editLead(element, i)" *ngIf="element.agent_lead_id == null">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600">Edit</span>
                            </button>
                            <button mat-menu-item (click)="statusChangedLog(element)">
                                <mat-icon class="mat-18">event_note</mat-icon>
                                <span style="font-weight: 600">Status Changed Log</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td *ngFor="let col of columns" [ngClass]="col.class">

                        <ng-container
                            *ngIf="(col.type === types.text || col.type === types.select) && (col.field != 'agency_name' && col.field != 'call_purpose' && col.field != 'lead_assign_by' && col.field != 'assignByName')">
                            <span [ngClass]="col.isCustomColor ? getStatusColor(element[col.field]) : ''">
                                {{ element[col.field] || '-' }}
                            </span>
                        </ng-container>

                        <ng-container *ngIf="col.type === types.text && (col.field == 'lead_assign_by' || col.field == 'assignByName')">
                            {{ element[col.field] || 'System' }}
                        </ng-container>

                        <ng-container *ngIf="col.type === types.text && col.field == 'call_purpose'">
                            <a (click)="callSchedule(element)" class="border-b border-gray-500 cursor-pointer"
                                *ngIf="element.is_call_scheduled else others">
                                {{element.call_purpose || '-'}}
                            </a>
                            <ng-template #others>
                                {{element.call_purpose || '-'}}
                            </ng-template>
                        </ng-container>

                        <ng-container *ngIf="col.type == types.number">
                            <span *ngIf="col.field === 'callCount'"
                                class="inline-block cursor-pointer border-b border-gray-500"
                                (click)="callHistory(element)">{{(element.callCount) || 0}}</span>
                        </ng-container>

                        <ng-container *ngIf="col.type == types.text && col.field === 'agency_name'">
                            <span
                                [matTooltip]="element.agent_lead_id ? 'KYC process is started' : 'KYC process is not started'"
                                class="inline-block me-2 w-2 h-2 min-w-2 max-w-2 min-h-2 max-h-2 rounded-full mr-[6px]"
                                [ngClass]="element.agent_lead_id ? 'bg-green-600' : 'bg-yellow-600'"></span>

                            <span [matTooltip]="element.priority_text"
                                class="inline-block me-2 w-2 h-2 min-w-2 max-w-2 min-h-2 max-h-2 rounded-full mr-[6px]"
                                [ngClass]="getPriorityIndicatorClass(element.priority_text)"></span>
                            {{element.agency_name || '-'}}
                        </ng-container>

                        <ng-container *ngIf="col.type == types.dateTime || col.type == types.date">
                            <ng-container
                                *ngIf="col.field == 'entry_date_time' || col.field == 'call_date_time'; else defaultDate">
                                <span class="cursor-pointer flex flex-col">
                                    <p>{{ element[col.field] | date: 'dd-MM-yyyy' }}</p>
                                    <p class="text-primary leading-3 text-xs">{{ element[col.field] | date: 'HH:mm' }}
                                    </p>
                                </span>
                            </ng-container>
                            <ng-template #defaultDate>
                                {{ isValidDate(element[col.field]) ? (element[col.field] | date: col.dateFormat) : '-'
                                }}
                            </ng-template>
                        </ng-container>
                    </td>               
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14" *ngIf="selectedColumns?.length">
                    <td [attr.colspan]="displayColCount()" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="text-center mt-5" *ngIf="selectedColumns && !selectedColumns?.length"> No column to display! Please
        Select a column
    </div>
</div>