<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight ">
            {{ module_name }}
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!------Global Search------>
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" (click)="refreshItems()"></mat-icon>
            </div>

            <!------Global filter------>
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!------Refresh------>
            <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Refresh" [disabled]="isLoading"
                (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <!------Create------->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="create()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>

            <!------Common Filter------->
           <button class="ml-4" mat-flat-button [color]="'primary'"  [disabled]="isLoading" (click)="_filterService.openDrawer(filter_table_name, primengTable)">
                <mat-icon [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                <span class="ml-2 mr-1">Filter</span>
            </button>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [columns]="selectedColumns" [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1"
            [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
            [loading]="isLoading" [paginator]="true" [rows]="appConfig.pageSize" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="appConfig.pageSizeOptions" [lazy]="true" (onLazyLoad)="refreshItems($event)"
            [scrollable]="true" [scrollHeight]="scrollHeight" [showCurrentPageReport]="true" [showPageLinks]="false"
            [showJumpToPageDropdown]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="" styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="  text-center left-[-1px]" pFrozenColumn>#</th>
                    <th class="min-w-[200px] dark:bg-[#1e293b]" pSortableColumn="supplier_name" pResizableColumn alignFrozen="left" pFrozenColumn
                        [frozen]="frozenObj?.supplier_name" [ngClass]="{'left-0': !frozenObj?.supplier_name}">
                        Supplier <p-sortIcon field="supplier_name" />
                        <span class="float-right" (click)="isFrozenColumn('supplier_name');$event.stopPropagation()">
                            <i *ngIf="!frozenObj?.supplier_name" class="pi pi-lock-open icon-size-3"></i>
                            <i *ngIf="frozenObj?.supplier_name" class="pi pi-lock icon-size-3"></i>
                        </span>
                    </th>
                    <th pSortableColumn="travel_type" pResizableColumn>
                        Travel Type <p-sortIcon field="travel_type" />
                    </th>
                    <th pSortableColumn="trip_type" pResizableColumn>
                        Trip Type <p-sortIcon field="trip_type" />
                    </th>
                    <th pSortableColumn="sector" pResizableColumn>
                        Sector <p-sortIcon field="sector" />
                    </th>

                    <th class="text-center" pSortableColumn="today_travel" pResizableColumn>
                        Today Travel <p-sortIcon field="today_travel" />
                    </th>
                    <th class="text-center" pSortableColumn="one_week_travel" pResizableColumn>
                        One Week Travel <p-sortIcon field="one_week_travel" />
                    </th>
                    <th class="text-center" pSortableColumn="one_month_travel" pResizableColumn>
                        One Month Travel <p-sortIcon field="one_month_travel" />
                    </th>
                    <th class="w-full" pSortableColumn="far_travel" pResizableColumn>
                        Far Travel <p-sortIcon field="far_travel" />
                    </th>

                    <th [pSortableColumn]="col.field" pResizableColumn *ngFor="let col of columns">
                        {{col.header}} <p-sortIcon [field]="col.field" />
                    </th>
                </tr>

                <tr *ngIf="isFilterShow">
                    <th class="left-[-1px]" pFrozenColumn></th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.supplier_name">
                        <!-- <p-columnFilter type="text" matchMode="contains" field="supplier_name" placeholder="Search by Supplier"
                            ariaLabel="Filter Supplier" /> -->
                        <p-columnFilter class="searchableDropdown" field="supplier_name" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [options]="supplierListAll"
                                    optionLabel="company_name" [(ngModel)]="selectedSupplier" [filter]="true" filterBy="company_name"
                                    (onChange)="filter($event.value?.company_name)" [showClear]="true" appendTo="body"
                                    placeholder="Select Supplier">
                                    <ng-template let-currency pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div>{{ currency.company_name }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="travel_type" placeholder="Search by Travel Type"
                            ariaLabel="Filter Travel Type" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="trip_type" placeholder="Search by Trip Type"
                            ariaLabel="Filter Trip Type" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="sector" placeholder="Search by Sector"
                            ariaLabel="Filter Sector" />
                    </th>
                    <th class="text-center">
                        <p-columnFilter type="numeric" field="today_travel" placeholder="Search by Today Travel"
                            ariaLabel="Filter Today Travel" />
                    </th>
                    <th class="text-center">
                        <p-columnFilter type="numeric" field="one_week_travel" placeholder="Search by One Week Travel"
                            ariaLabel="Filter One Week Travel" />
                    </th>
                    <th class="text-center">
                        <p-columnFilter type="numeric" field="one_month_travel" placeholder="Search by One Month Travel"
                            ariaLabel="Filter One Month Travel" />
                    </th>
                    <th>
                        <p-columnFilter type="numeric" field="far_travel" placeholder="Search by Far Travel"
                            ariaLabel="Filter Far Travel" />
                    </th>
                    <th *ngFor="let col of columns">
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-columns="columns">
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>
                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="view(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600">Info</span>
                            </button>
                            <button mat-menu-item (click)="edit(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600">Edit</span>
                            </button>
                            <button mat-menu-item (click)="delete(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                                <span style="font-weight: 600">Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.city_name">{{element?.supplier_name ? element?.supplier_name : 'Any'}}</td>
                    <td>{{element.travel_type || '-'}}</td>
                    <td>{{element.trip_type || '-'}}</td>
                    <td>{{element.sector || '-'}}</td>
                    <td class="text-center">{{element.today_travel || 0 }}</td>
                    <td class="text-center">{{element.one_week_travel || 0}}</td>
                    <td class="text-center">{{element.one_month_travel || 0}}</td>
                    <td class="w-full text-left">
                        <div class="pl-[25px]">
                            {{element.far_travel || 0}}
                        </div>
                    </td>
                    <td *ngFor="let col of columns">
                        {{element[col.field]}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14">
                    <td colspan="9" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<app-caching-parameters-entry></app-caching-parameters-entry>
