<form [formGroup]="formGroup" #formDirective="ngForm" class="grid grid-cols-12 gap-4 h-full">
    <mat-form-field class="col-span-6"
    *ngIf="data?.item_name.includes('B2C')">
        <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500">B2C Portal URL</mat-label>
        <input matInput formControlName="b2c_portal_url">
    </mat-form-field>

    <mat-form-field class="col-span-6"
     *ngIf= "data?.item_name == 'B2B Web Portal' || data?.item_name === 'B2B Android APP' || data?.item_name == 'B2B IOS APP'" >
        <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500">Partner Panel URL</mat-label>
        <input matInput formControlName="partner_panel_url">
    </mat-form-field>

    <mat-form-field class="col-span-6">
        <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500">Api URL</mat-label>
        <input matInput formControlName="api_url">
    </mat-form-field>
</form>

