<div class="table-container paginator-bottom">
    <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
        columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
        [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
        [lazy]="true" (onLazyLoad)="refreshItems($event)" [scrollable]="true" [scrollHeight]="scrollHeightWTab"
        [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" [globalFilterFields]=""
        styleClass="p-datatable-gridlines p-datatable-sm">

        <ng-template pTemplate="header">
            <tr>
                <th class="w-5 text-center left-[-1px]" pFrozenColumn>#</th>
                <th pSortableColumn="call_Count" pResizableColumn pResizableColumn alignFrozen="left" pFrozenColumn
                    class="dark:bg-[#1e293b]" [frozen]="frozenObj?.call_Count"
                    [ngClass]="{'left-0': !frozenObj?.call_Count}">
                    Calls <p-sortIcon field="call_Count" />
                    <span class="float-right" (click)="isFrozenColumn('call_Count');$event.stopPropagation()">
                        <i *ngIf="!frozenObj?.call_Count" class="pi pi-lock-open icon-size-3"></i>
                        <i *ngIf="frozenObj?.call_Count" class="pi pi-lock icon-size-3"></i>
                    </span>
                </th>
                <th pSortableColumn="status" pResizableColumn>
                    Status <p-sortIcon field="status" />
                </th>
                <th pSortableColumn="ac_code" pResizableColumn>
                    AC Code <p-sortIcon field="ac_code" />
                </th>
                <th pSortableColumn="agency_name" pResizableColumn>
                    Partner <p-sortIcon field="agency_name" />
                </th>
                <!-- <th pSortableColumn="rm" pResizableColumn>
                    RM <p-sortIcon field="rm" />
                </th> -->
                <th pResizableColumn>
                    Current Product 
                </th>
                <th  pResizableColumn>
                    Offerings
                </th>
                <th class="w-full" pSortableColumn="callPurpose" pResizableColumn="callPurpose">
                    Purpose of call <p-sortIcon field="callPurpose" />
                </th>
            </tr>

            <tr *ngIf="isFilterShowPotential">
                <th class="left-[-1px]" pFrozenColumn></th>
                <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.call_Count" class="min-w-[110px]">
                    <p-columnFilter field="call_Count" type="numeric" placeholder="Search by Count"
                        ariaLabel="Filter Count"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="statusList"
                                (onChange)="filter($event.value)" placeholder="Select Status" [showClear]="true"
                                appendTo="body">
                                <ng-template let-option pTemplate="item">
                                    <p>{{option}}</p>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="numeric" field="ac_code" placeholder="Search by AC Code"
                        ariaLabel="Filter AC Code" />
                </th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="agency_name" placeholder="Search by Partner"
                        ariaLabel="Filter Partner" />
                </th>
                <!-- <th>
                    <p-columnFilter class="searchableDropdown" field="relationship_manager_id" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown class="filter-dropdown" [options]="rmList" optionLabel="employee_name"
                                [(ngModel)]="selectedRM" [filter]="true" filterBy="employee_name"
                                (onChange)="filter($event.value)" [showClear]="true" appendTo="body"
                                placeholder="Select RM">
                                <ng-template let-employee pTemplate="item">
                                    <div>{{employee.employee_name}}</div>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th> -->
                <th>
                    <!-- <p-columnFilter type="text" matchMode="contains" field="currentProduct" placeholder="Search by Current Product"
                        ariaLabel="Filter Current Product" /> -->
                </th>
                <th>
                    <!-- <p-columnFilter type="text" matchMode="contains" field="offerings" placeholder="Search by Offerings"
                        ariaLabel="Filter Offerings" /> -->
                </th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="callPurpose" placeholder="Search by Purpose"
                        ariaLabel="Filter Purpose" />
                </th>
               
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-element let-i="rowIndex">
            <tr>
                <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                    <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                        <mat-icon> more_vert </mat-icon>
                    </span>

                    <mat-menu #optionMenu>
                        <button mat-menu-item (click)="dialCall(element)">
                            <mat-icon class="mat-18">phone</mat-icon>
                            <span style="font-weight: 600">Dial Call</span>
                        </button>
                        <button mat-menu-item (click)="callHistory(element)">
                            <mat-icon class="mat-18">history</mat-icon>
                            <span style="font-weight: 600">Call History</span>
                        </button>
                        <button mat-menu-item (click)="agentTimeline(element)">
                            <mat-icon class="mat-18">schedule</mat-icon>
                            <span style="font-weight: 600">Agent Timeline</span>
                        </button>
                        <button mat-menu-item (click)="dormants(element)" *ngIf="element.status !== 'Dormant'">
                            <mat-icon class="mat-18">pause_circle_filled</mat-icon>
                            <span style="font-weight: 600">Dormant</span>
                        </button>
                    </mat-menu>
                </td>
                <td class="text-center min-w-[110px]" alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.call_Count">
                    <span class="inline-block cursor-pointer border-b border-gray-500"
                        (click)="callHistory(element)">{{(element.call_Count) || 0}}</span>
                </td>
                <td>
                    <span [ngClass]="getStatusColor(element.status)">{{(element.status) || '-'}}</span>
                </td>
                <td>
                    {{element.ac_code || '0'}}
                </td>
                <td>
                    <!-- <span [matTooltip]="element.priorityText"
                        class="inline-block me-2 w-2 h-2 min-w-2 max-w-2 min-h-2 max-h-2 rounded-full mr-[6px]"
                        [ngClass]="getPriorityIndicatorClass(element.priorityText)"></span> -->
                    {{element.agency_name || '-'}}
                </td>
                <!-- <td>
                    {{element.relationship_manager_name || '-'}}
                </td> -->
                <td>
                    <ng-container *ngIf="element?.currentProduct && element.currentProduct?.length else noCurrentProduct">
                        <div *ngFor="let el of element.currentProduct">{{el}}</div>
                    </ng-container>

                    <ng-template #noCurrentProduct>
                        <span>-</span>
                    </ng-template>
                </td>
                <td>
                    <ng-container *ngIf="element?.offerings && element.offerings?.length else noOfferings">
                        <div *ngFor="let el of element.offerings">{{el}}</div>
                    </ng-container>

                    <ng-template #noOfferings>
                        <span>-</span>
                    </ng-template>
                </td>
                <td>
                    <a (click)="callSchedule(element)" class="border-b border-gray-500 cursor-pointer" *ngIf="element.is_call_rescheduled else others">
                        {{element.callPurpose || '-'}}
                    </a>
                    <ng-template #others>
                        {{element.callPurpose || '-'}}
                    </ng-template>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr class="h-14">
                <td colspan="9" class="text-center font-semibold text-lg">
                    {{getNodataText()}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
