<div>
    <!-- <mat-form-field class="justify-center items-center w-full">
        <mat-icon class="icon-size-5 !light-text" matPrefix
            [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
        <input [formControl]="searchInputControl" [readOnly]="loading" matInput class="text-md !light-text"
            [autocomplete]="'off'" [placeholder]="'Search'" />
    </mat-form-field> -->
    
    <div class="flex ctm_search w-full mb-4">
        <input matInput class="w-[97%]"  [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" (keyup.enter)="refreshItems()" />
        <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" (click)="refreshItems()"></mat-icon>
    </div>

    <div class="overflow-auto flex flex-col max-h-[80vh] rounded border ">
        <div class="flex flex-col overflow-auto max-w-full rounded-b-lg"
            [class.hidden]="dataSource.data.length <= 0 && loading">
            <table mat-table [dataSource]="dataSource" class="border-collapse  sale-tab" matSort matSortDisableClear
                matSortDirection="asc" matSortActive="agency_name" (matSortChange)="refreshItems()">

                <ng-container matColumnDef="options">
                    <th mat-header-cell class="font-bold text-md  min-w-13 max-w-13 w-13 text-center sticky top-0 left-0 z-999"
                        *matHeaderCellDef>
                        #
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-13 max-w-13 cursor-pointer text-center p-0 sticky left-0  dark:bg-[#0f172a]">
                        <button mat-icon-button (click)="$event.stopPropagation()"
                            [matMenuTriggerFor]="optionMenu" class="sticky left-0 ">
                            <mat-icon> more_vert </mat-icon>
                        </button>
                        <mat-menu #optionMenu>
                            <!-- <button mat-menu-item>
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600;">Info</span>
                            </button> -->
                            <button mat-menu-item (click)="changeEmail(element)">
                                <mat-icon svgIcon="heroicons_outline:envelope"></mat-icon>
                                <span style="font-weight: 600;">Change Email</span>
                            </button>
                            <button mat-menu-item (click)="changeNumber(element)">
                                <mat-icon svgIcon="heroicons_outline:device-phone-mobile"></mat-icon>
                                <span style="font-weight: 600;">Change Number</span>
                            </button>
                            <button mat-menu-item (click)="autologin(element)">
                                <mat-icon class="mat-18">login</mat-icon>
                                <span style="font-weight: 600;">Auto Login to B2B</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <ng-container matColumnDef="agent_code">
                    <th mat-header-cell mat-sort-header class="font-bold text-md  min-w-28 max-w-28"
                        *matHeaderCellDef>
                        Id
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-28 max-w-28 cursor-pointer ">
                        <div class="flex items-center h-full">
                            <div [matTooltip]="element.is_kyc_completed ? 'KYC Complete' : 'KYC Pending'"
                                class="w-2 h-2 rounded-full mr-2"
                                [ngClass]="element.is_kyc_completed ? 'bg-green-500' : 'bg-red-500'">
                            </div>
                            <div class="flex flex-col items-start">
                                <span class="text-md font-medium truncate pr-1 leading-tight"
                                    [matTooltip]="element.agent_code">
                                    {{ element.agent_code }}
                                </span>
                                <span class="text-red-500 text-xs font-semibold leading-none"
                                    *ngIf="element.is_blocked">Blocked</span>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="agency_name">
                    <th mat-header-cell mat-sort-header class="font-bold text-md min-w-40 max-w-40"
                        *matHeaderCellDef>
                        Agency Name
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-40 max-w-40">
                        <p class="text-md font-medium truncate pr-1" [matTooltip]="element.agency_name">
                            {{ element.agency_name }}
                        </p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="email_address">
                    <th mat-header-cell mat-sort-header
                        class="font-bold text-md      min-w-56 max-w-56" *matHeaderCellDef>
                        Email
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-56 max-w-56">
                        <div class="flex items-center">
                            <mat-icon class="text-green-600 icon-size-4 relative" [matTooltip]="'Verified'"
                                *ngIf="element.is_email_verified">verified</mat-icon>
                            <mat-icon class="text-yellow-600 icon-size-4 relative" [matTooltip]="'Verification Pending'"
                                *ngIf="!element.is_email_verified">warning</mat-icon>
                            <span class="text-md font-medium truncate pl-1" [matTooltip]="element.email_address">{{element.email_address}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="mobile_number">
                    <th mat-header-cell mat-sort-header
                        class="font-bold text-md      min-w-48 max-w-48" *matHeaderCellDef>
                        Mobile
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-48 max-w-48">
                        <div class="flex items-center">
                            <mat-icon class="text-green-600 icon-size-4 relative" [matTooltip]="'Verified'"
                            *ngIf="element.is_mobile_verified">verified</mat-icon>
                            <mat-icon class="text-yellow-600 icon-size-4 relative" [matTooltip]="'Verification Pending'"
                                *ngIf="!element.is_mobile_verified">warning</mat-icon>
                            <span class="pl-1">{{element.mobile_number}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="contact_person">
                    <th mat-header-cell mat-sort-header class="font-bold text-md      min-w-50 max-w-50"
                        *matHeaderCellDef>
                        Contact Person
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-50 max-w-50">
                        {{element.contact_person || ' - '}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="contact_person_email">
                    <th mat-header-cell mat-sort-header class="font-bold text-md      min-w-50 max-w-50"
                        *matHeaderCellDef>
                        Contact Person Email
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-50 max-w-50">
                        {{element.contact_person_email || ' - '}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="contact_person_number">
                    <th mat-header-cell mat-sort-header class="font-bold text-md min-w-50 max-w-50"
                        *matHeaderCellDef>
                        Contact Person Mobile
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-50 max-w-50">
                        {{element.contact_person_number || ' - '}}
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="balance">
                    <th mat-header-cell mat-sort-header class="font-bold text-md min-w-44 max-w-44 "
                        *matHeaderCellDef>
                        <div class="flex justify-end text-right items-end m-auto">Wallet Balance</div>
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-44 max-w-44">
                        <span class="text-right py-2 justify-end flex">
                            {{element.balance ? element.balance.toFixed(2) : 0}}
                        </span>
                    </td>
                </ng-container> -->
                <ng-container matColumnDef="balance">
                    <th mat-header-cell class="font-bold text-md min-w-44 max-w-44" *matHeaderCellDef>
                        <div class="flex justify-end">Wallet Balance</div>
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-44 text-right py-2 max-w-44">
                        <p class="text-md font-medium "> {{element.balance ? element.balance.toFixed(2) : 0}}</p>
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="credit">
                    <th mat-header-cell mat-sort-header class="font-bold text-md min-w-44 max-w-44 text-right"
                        *matHeaderCellDef>
                        Credit Balance
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-44 max-w-44 text-right">
                        {{element.credit ? element.credit.toFixed(2) : 0 }}
                    </td>
                </ng-container> -->

                <ng-container matColumnDef="credit">
                    <th mat-header-cell class="font-bold text-md min-w-44 max-w-44" *matHeaderCellDef>
                        <div class="flex justify-end">Credit Balance</div>
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-44 text-right py-2 max-w-44">
                        <p class="text-md font-medium "> {{element.credit ? element.credit.toFixed(2) : 0}}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="entry_date_time">
                    <th mat-header-cell mat-sort-header class="font-bold text-md      min-w-36 max-w-36"
                        *matHeaderCellDef>
                        Signup Date
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-b min-w-36 max-w-36">
                        {{element.entry_date_time | date:'dd-MM-yyyy'}}
                    </td>
                </ng-container>

                <tr class="h-9 min-h-9 sticky top-0 z-10" mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
                <tr class="h-9 border-0" mat-row *matRowDef="let row; columns: columns"></tr>
            </table>
        </div>
        <div class="flex flex-col justify-center items-center w-full h-80" *ngIf="
                (dataSource.data.length <= 0 && loading) ||
                dataSource.data.length <= 0
            ">
            <div class="flex flex-row items-center space-x-4" *ngIf="loading">
                <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                <span class="text-xl">Loading...</span>
            </div>
            <div class="flex flex-col items-center justify-center" *ngIf="!loading">
                <p *ngIf="!searchInputControl.value">No data to display!</p>
                <div class="text-secondary flex flex-col justify-center items-center text-md"
                    *ngIf="searchInputControl.value">
                    <span>no search results found for "<b>{{searchInputControl.value}}</b>".</span>
                </div>
            </div>
        </div>
        <mat-paginator class="second-color z-10 sticky w-full bottom-0" #paginator
            [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" (page)="refreshItems()" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>
<app-change-email-number></app-change-email-number>
