<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>

    <div class="w-full">
        <div class="flex flex-col w-[100%] gap-2 m-auto ">
            <!-- header -->
            <div class="flex flex-row justify-between border-b-2 border-gray-border px-5 py-4 h-15">
                <span class=" text-xl font-semibold">{{title}}</span>
                <mat-icon svgIcon="close" class=" icon-size-6 cursor-pointer "
                (click)="closeSettingsDrawer()"></mat-icon>
            </div>

            <!-- body -->
             <div style="height: calc(100vh - 3.75rem)" class="overflow-y-auto">
                 <!-- <app-psp-setup-zoom-in *ngIf="title == 'Agents'" [agentId]="agentId"></app-psp-setup-zoom-in>  -->
                 <div class="px-3" *ngIf="title == 'Agents'">
                    <div class="flex ctm_search bg-[#0F172A] sticky top-0">
                        <input #inputRef matInput [autocomplete]="'off'" [placeholder]="'Search'" (input)="onFilterSearch($event.target.value)" />
                        <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" (click)="onFilterSearch(inputRef.value)"></mat-icon>
                    </div>
                    <div class="px-2 pt-3" *ngIf="agentAssignedList && agentAssignedList?.length">
                        <div class="flex flex-col py-2" [ngClass]="{'border-b':!isLast}"
                         *ngFor="let item of agentAssignedList; let isLast=last">
                            <span>
                                {{item?.agent_code || "No Code"}} - {{item?.agency_name}}
                            </span>
                            <span class="text-[12px] text-gray-400">
                              {{item?.email_address || "Email not available"}}
                            </span>
                        </div>
                
                    </div>
                    <div *ngIf="isLoading" class="text-center mt-[50px]">
                      Loading...
                    </div>
                
                    <div *ngIf="!agentAssignedList?.length && !isLoading" class="text-center mt-[50px]">
                      No data to display!
                    </div>
                  </div>
                 <app-psp-setup-info *ngIf="title == 'Info'"></app-psp-setup-info>
             </div>
       

            <!-- footer -->
            <!-- <div class="justify-end items-center flex sticky bottom-0 border-t-2 border-gray-border white-bg px-5 py-2 h-15">
                <button class="mr-2" mat-stroked-button (click)="closeSidebar()">Close</button>
            
                <button mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="formGroup.invalid">
                    {{btnLabel}}
                </button>
            </div> -->
        </div>
    </div>

</fuse-drawer>