<div class="flex flex-col max-w-256 md:min-w-256 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-120 pb-5" [formGroup]="formGroup" *ngIf="!readonly else detailView">

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Transfer From</mat-label>
                <input matInput [readonly]="readonly" formControlName="transfer_from" required>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Transfer To</mat-label>
                <input matInput [readonly]="readonly" formControlName="transfer_to" required>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Transfer Type</mat-label>
                <mat-select *ngIf="!readonly" required formControlName="transfer_type">
                    <mat-option *ngFor="let s of transfer_types" [value]="s.value">
                        {{s.viewValue}}
                    </mat-option>
                </mat-select>
                <input *ngIf="readonly" matInput [readonly]="readonly" formControlName="transfer_type" required>
            </mat-form-field>
        </div>

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>City</mat-label>
                <mat-select formControlName="city_id" *ngIf="!readonly" >
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search"
                            noEntriesFoundLabel="'no matching city found'" [formControlName]="'cityfilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of cityList" [value]="ct.id">{{ct.display_name}}</mat-option>
                </mat-select>
                <input matInput type="text" *ngIf="readonly" formControlName="city_name" [readonly]="readonly">
            </mat-form-field>
            
            <mat-form-field class="flex-grow">
                <mat-label>Distance In km</mat-label>
                <input matInput type="number" [readonly]="readonly" formControlName="distance_in_km" required>
            </mat-form-field>
            
        </div>

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Short Description</mat-label>
                <textarea matInput [readonly]="readonly" formControlName="short_description"></textarea>
            </mat-form-field>
    
            <mat-form-field class="flex-grow">
                <mat-label>Special Notes</mat-label>
                <textarea matInput [readonly]="readonly" formControlName="special_notes"></textarea>
            </mat-form-field>
        </div>

        <div class="flex flex-row space-x-3">
            <mat-slide-toggle class="ml-1" formControlName="is_airport_pickup" [disabled]="readonly">
              <span class="pl-1">Airport Pickup</span>
            </mat-slide-toggle>
            <mat-slide-toggle class="ml-1" formControlName="is_airport_dropoff" [disabled]="readonly">
              <span class="pl-1">Airport Dropoff</span>
            </mat-slide-toggle>
            <mat-slide-toggle class="ml-1" formControlName="is_inter_hotel_transfer" [disabled]="readonly">
              <span class="pl-1">Inter Hotel Transfer</span>
            </mat-slide-toggle>
        </div>

    </form>

    <ng-template #detailView>
        <div class="flex flex-wrap mb-8 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col mb-3" 
            [ngClass]="(filed.name === 'Short Description' || filed.name === 'Special Notes' || filed.name === 'Entry By Name' || filed.name === 'Entry Date Time')? 'w-1/2':'w-1/4'" 
            *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                    <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon>
                </div>
                <span class="text-base" [ngClass]="(filed.name === 'Short Description' || filed.name === 'Special Notes') ? '':'truncate'"  [matTooltip]="filed.value">{{filed.value || '--'}}</span>
            </div>
        </div>
    </ng-template>

    <div *ngIf="!readonly" class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <!-- Discard -->
        <button mat-stroked-button (click)="matDialogRef.close()">
            Close
        </button>
        <!-- Save as draft -->
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
            {{btnLabel}}
        </button>
    </div>
</div>