<div class="flex flex-col w-90 -m-6 overflow-auto max-h-screen">
    <div
        class="min-h-15 max-h-15 flex px-5 pt-0.5 bg-primary z-10 items-center justify-center flex-row text-xl sticky top-0 font-semibold">
        <span>Pax</span>
    </div>

    <div class="flex flex-col p-5 space-y-6">

        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-col">
                <span class="text-lg font-semibold">Adult</span>
                <span class="text-secondary">Above 12 Years</span>
            </div>

            <div class="flex flex-row items-center">

                <div class="px-3 py-1 text-lg primary-border border rounded-md cursor-pointer" (click)="decrement('adult')">
                    <mat-icon class="primary-text icon-size-3" svgIcon="heroicons_outline:minus"></mat-icon>
                </div>

                <div class="text-lg font-semibold w-12 text-center">{{form.adult}}</div>

                <div class="px-3 py-1 text-lg primary-border border rounded-md cursor-pointer" (click)="increment('adult')">
                    <mat-icon class="primary-text icon-size-3" svgIcon="heroicons_outline:plus"></mat-icon>
                </div>
            </div>
        </div>

        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-col">
                <span class="text-lg font-semibold">Child</span>
                <span class="text-secondary">Below 12 Years</span>
            </div>

            <div class="flex flex-row items-center">

                <div class="px-3 py-1 text-lg primary-border border rounded-md cursor-pointer" (click)="decrement('child')">
                    <mat-icon class="primary-text icon-size-3" svgIcon="heroicons_outline:minus"></mat-icon>
                </div>

                <div class="text-lg font-semibold w-12 text-center">{{form.child}}</div>

                <div class="px-3 py-1 text-lg primary-border border rounded-md cursor-pointer" (click)="increment('child')">
                    <mat-icon class="primary-text icon-size-3" svgIcon="heroicons_outline:plus"></mat-icon>
                </div>
            </div>
        </div>

        <div class="flex flex-row justify-end space-x-4">
            <button style="border: 1px solid #0d9488;" class="rounded-xl  min-h-12 flex-grow" mat-flat-button
                (click)="matDialogRef.close()">
                <span class="primary-text ">CLOSE</span>
            </button>
            <button class="mat-primary rounded-xl text-white min-h-12 flex-grow" mat-flat-button
                (click)="matDialogRef.close(form)">
                <span class="text-white">APPLY</span>
            </button>
        </div>

    </div>
</div>