<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <div class="text-3xl font-extrabold tracking-tight">
            {{ module_name }}
        </div>

        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <div class="flex ctm_search" *ngIf="tabNameStr == 'Common'">
                <input #commonFareTypeRef matInput [formControl]="searchInputControlCommonFareType"
                    [autocomplete]="'off'" [placeholder]="'Search'"
                    (keyup.enter)="commonFareTypeRefresh(commonFareTypeRef.value)" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="commonFareTypeRefresh(commonFareTypeRef.value)"></mat-icon>
            </div>

            <div class="flex ctm_search" *ngIf="tabNameStr == 'Supplier'">
                <input #supplierFareTypeMapperRef matInput [formControl]="searchInputControlSupplierFareTypeMapper"
                    [autocomplete]="'off'" [placeholder]="'Search'"
                    (keyup.enter)="supplierFareTypeMapperRefresh(supplierFareTypeMapperRef.value)" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="supplierFareTypeMapperRefresh(supplierFareTypeMapperRef.value)"></mat-icon>
            </div>



            <!------global filter------>
            <button *ngIf="this.tabNameStr == 'Common'" class="ml-4 rounded-full" mat-flat-button [color]="'primary'"
                matTooltip="Advanced Filter" [disabled]="commonFareType?.isLoading"
                (click)="isFilterShowCommonFarType  = !isFilterShowCommonFarType">
                <img *ngIf="!isFilterShowCommonFarType" class="w-5 cursor-pointer pt-1"
                    src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShowCommonFarType" class="w-5 cursor-pointer pt-1"
                    src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <button *ngIf="this.tabNameStr == 'Supplier'" class="ml-4 rounded-full" mat-flat-button [color]="'primary'"
                matTooltip="Advanced Filter" [disabled]="supplierFareTypeMapper?.isLoading"
                (click)="isFilterShowSupplierFareType  = !isFilterShowSupplierFareType ">
                <img *ngIf="!isFilterShowSupplierFareType" class="w-5 cursor-pointer pt-1"
                    src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShowSupplierFareType " class="w-5 cursor-pointer pt-1"
                    src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!-- Select Columns Button and Select Box Code -->
            <ng-container *ngIf="tabNameStr == 'Common'">
                <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Select more columns"
                    (click)="op.toggle($event)">
                    <img class="w-5 cursor-pointer ml-1 pt-1" src="assets/icons/column.svg" alt="c">
                </button>
                <p-overlayPanel #op>
                    <p-multiSelect [options]="cols" [(ngModel)]="_selectedColumns" optionLabel="header"
                        class="overlay-panel" [style]="{'max-width': '220px'}" display="chip"
                        placeholder="Choose Columns" />
                </p-overlayPanel>
            </ng-container>

            <ng-container *ngIf="tabNameStr == 'Supplier'">
                <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Select more columns"
                    (click)="op1.toggle($event)">
                    <img class="w-5 cursor-pointer ml-1 pt-1" src="assets/icons/column.svg" alt="c">
                </button>
                <p-overlayPanel #op1>
                    <p-multiSelect [options]="cols1" [(ngModel)]="_selectedColumns" optionLabel="header"
                        class="overlay-panel" [style]="{'max-width': '220px'}" display="chip"
                        placeholder="Choose Columns" />
                </p-overlayPanel>
            </ng-container>


            <!--Refresh -->
            <ng-container *ngIf="tabNameStr == 'Common'">
                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="refreshItemsTab('Common')"
                    matTooltip="Refresh">
                    <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="tabNameStr == 'Supplier'">
                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="refreshItemsTab('Supplier')"
                    matTooltip="Refresh">
                    <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
                </button>
            </ng-container>

            <!-- Add -->
            <ng-container *ngIf="tabNameStr == 'Common'">
                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createInternal()">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Add</span>
                </button>
            </ng-container>
            <ng-container *ngIf="tabNameStr == 'Supplier'">
                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createInternalSupplier()">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Add</span>
                </button>
            </ng-container>
        </div>
    </div>

    <mat-tab-group class="custom-tab lead_tab" [animationDuration]="'0'" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Common" [aria-label]="'Common'" *ngIf="getTabsPermission('commonFareType')">
            <ng-container *ngIf="tabNameStr == 'Common'">
                <app-common-faretype #commonFareType [(isFilterShowCommonFarType)]="isFilterShowCommonFarType"
                    [selectedColumns]="_selectedColumns"></app-common-faretype>
            </ng-container>
        </mat-tab>

        <mat-tab label="Supplier" [aria-label]="'Supplier'" *ngIf="getTabsPermission('supplierFareTypeMapper')">
            <ng-container *ngIf="tabNameStr == 'Supplier'">
                <app-supplier-faretype-mapper-tab #supplierFareTypeMapper
                    [(isFilterShowSupplierFareType)]="isFilterShowSupplierFareType" [selectedColumns]="_selectedColumns"></app-supplier-faretype-mapper-tab>
            </ng-container>
        </mat-tab>

    </mat-tab-group>
</div>

<!--Add Common fare type-->
<app-common-fareType-entry></app-common-fareType-entry>

<!--Add Supplier fare type-->
<app-supplier-type-entry></app-supplier-type-entry>