<div class="flex flex-col flex-auto min-w-0">

    <div
        class="flex flex-row flex-0 sm:items-center sm:justify-between p-6 py-2 sm:px-10 border-b bg-card dark:bg-transparent">
        <a class="mr-0 mr-sm-16" routerLink="/hr/permission-profile">
            <mat-icon>arrow_back</mat-icon>
        </a>
        <div class="flex-1 min-w-0 ml-7">

            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Permissions
                </h2>
            </div>

            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">{{permissionProfile.profile_name}}</a>
                </div>
            </div>
        </div>

        <div class="hidden md:flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button mat-flat-button (click)="save()" [color]="'primary'">
                Save
            </button>
        </div>
    </div>

    <div class="flex flex-col p-6 sm:p-10 flex-grow">
        <div class="flex flex-row flex-grow w-full p-6 rounded-2xl shadow overflow-hidden bg-card">
            <div style="width: 80%;"
                class="px-1 pt-1 shadow rounded-2xl flex flex-col dark:bg-gray-900 bg-gray-50">
                <div class="px-5 py-3">
                    Select permission
                </div>
                <mat-divider></mat-divider>
                <mat-form-field appearance="outline" class="mt-3 ml-3 mr-3">
                    <mat-label>Search</mat-label>
                    <input [autocomplete]="false" [formControl]="permissionSearch" matInput>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <div class="w-full  custom-tree-node">
                    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree-view dark:bg-gray-900">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="h-[26px]">
                            <li class="mat-tree-node ml-5 h-[26px] mt-2 mb-2">
                                <button mat-icon-button disabled class="mb-[-5px]"></button>
                                <mat-checkbox color="primary" class="checklist-leaf-node h-[26px]"
                                    [(ngModel)]="node.value.isSelected"
                                    [checked]="checklistSelection.isSelected(node)"
                                    (change)="checklistSelection.toggle(node)">
                                    <span class="font-semibold; text-sm">
                                        {{node.name}}
                                    </span>
                                </mat-checkbox>
                            </li>
                        </mat-tree-node>
                        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                            <li class="ml-5 custom-tree-node mb-[-14px]">
                                <div class="mat-tree-node mb-[-19px]">
                                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                                        <mat-icon class="mat-icon-rtl-mirror">
                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                        </mat-icon>
                                    </button>
                                    <mat-checkbox color="primary" class="checklist-leaf-node"
                                        [checked]="allSelected(node)"
                                        [indeterminate]="partiallySelected(node)"
                                        (change)="itemSelectionToggle(node)"
                                        [(ngModel)]="node.isSelected">
                                        <span class="font-semibold; text-sm">
                                            {{node.name}}
                                        </span>
                                    </mat-checkbox>
                                </div>
                                <ul [class.tree-invisible]="!treeControl.isExpanded(node)" class="mt-[8px] mb-2">
                                    <ng-container matTreeNodeOutlet></ng-container>
                                </ul>
                            </li>
                        </mat-nested-tree-node>
                    </mat-tree>

                </div>
            </div>

            <div class="flex flex-col justify-center mx-3 items-center space-y-3" style="width: 5%;">
                <button mat-flat-button (click)="addAllPermission()" [color]="'primary'">
                    <mat-icon>last_page</mat-icon>
                </button>
                <button mat-flat-button (click)="addPermission()" [color]="'primary'">
                    <mat-icon>navigate_next</mat-icon>
                </button>
                <button mat-flat-button (click)="removeAllPermission()" [color]="'primary'">
                    <mat-icon>first_page</mat-icon>
                </button>
                <button mat-flat-button (click)="removePermission()" [color]="'primary'">
                    <mat-icon>navigate_before</mat-icon>
                </button>
            </div>

            <div style="width: 80%;"
                class="px-1 py-1 shadow min-h-full rounded-2xl flex flex-col dark:bg-gray-900 bg-gray-50">
                <div class="px-5 py-5">
                    Selected permission
                </div>
                <mat-divider></mat-divider>
                <mat-form-field appearance="outline" class="m-3">
                    <mat-label>Search</mat-label>
                    <input [autocomplete]="false" [formControl]="selectedPermissionSearch" matInput>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <div class="w-full overflow-y-scroll h-full custom-tree-node">
                    <mat-tree [dataSource]="selectedDataSource" [treeControl]="treeControl"
                        class="tree-view dark:bg-gray-900">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="h-[26px]">
                            <li class="mat-tree-node ml-5 h-[26px] mt-2 mb-2">
                                <button mat-icon-button disabled class="mb-[-5px]"></button>
                                <mat-checkbox color="primary" class="checklist-leaf-node"
                                    [(ngModel)]="node.value.isSelected"
                                    [checked]="checklistSelection.isSelected(node)"
                                    (change)="checklistSelection.toggle(node)">
                                    <span class="font-semibold; text-sm">
                                        {{node.name}}
                                    </span>
                                </mat-checkbox>
                            </li>
                        </mat-tree-node>
                        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                            <li class="ml-5 custom-tree-node mb-[-14px]">
                                <div class="mat-tree-node mb-[-19px]">
                                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                                        <mat-icon class="mat-icon-rtl-mirror">
                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                        </mat-icon>
                                    </button>
                                    <mat-checkbox color="primary" class="checklist-leaf-node"
                                        [checked]="allSelected(node)"
                                        [indeterminate]="partiallySelected(node)"
                                        (change)="itemSelectionToggle(node)"
                                        [(ngModel)]="node.isSelected">
                                        <span class="font-semibold; text-sm">
                                            {{node.name}}
                                        </span>
                                    </mat-checkbox>
                                </div>
                                <ul [class.tree-invisible]="!treeControl.isExpanded(node)" class="mt-[8px] mb-2">
                                    <ng-container matTreeNodeOutlet></ng-container>
                                </ul>
                            </li>
                        </mat-nested-tree-node>
                    </mat-tree>
                </div>
            </div>

        </div>
    </div>
</div>
