<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>

    <div class="w-full">
        <div class="flex flex-col w-[100%] gap-2 m-auto">
            <div class="flex flex-row justify-between border-b-2 border-gray-border px-5 py-4 h-15">
                <span class=" text-xl font-semibold">Agent KYC Info</span>
                <mat-icon svgIcon="close" class=" icon-size-6 cursor-pointer "
                    (click)="settingsDrawer.close()"></mat-icon>
            </div>
        </div>

        <div style="height: calc(100vh - 60px)" class="overflow-auto p-5">
            <div class="flex flex-wrap bg-card overflow-hidden">

                <div class="flex flex-col mb-4 w-full break-words">
                    <span class="text-md font-semibold text-secondary">Agency Name</span>
                    <span class="text-base ">{{record?.agency_name || '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">Agent</span>
                    <span class="text-base truncate">{{record?.agent_name || "-"}}</span>
                </div>
                
                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">Master Agent</span>
                    <span class="text-base truncate">{{record?.master_agent_name || "-"}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-full">
                    <span class="text-md font-semibold text-secondary">Email</span>
                    <span class="text-base truncate">{{record?.email_address || '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-full">
                    <span class="text-md font-semibold text-secondary">Relation Manager</span>
                    <span class="text-base truncate">{{record?.relation_manager || '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">Mobile Number</span>
                    <span class="text-base truncate">{{record?.mobile_number || '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">City</span>
                    <span class="text-base truncate" [matTooltip]="record?.city_name">{{record?.city_name || "-"}}</span>
                </div>

                <div class="flex flex-col mb-4 w-full break-words">
                    <span class="text-md font-semibold text-secondary">Address Line 1</span>
                    <span class="text-base ">{{record?.address_line1 || '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 w-full break-words">
                    <span class="text-md font-semibold text-secondary">Address Line 2</span>
                    <span class="text-base ">{{record?.address_line2 || '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">Pincode</span>
                    <span class="text-base truncate">{{record?.pincode || "-"}}</span>
                </div>
                
                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">Lead Status</span>
                    <span class="text-base truncate">{{record?.lead_status || '-'}}</span>
                </div>
                
                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">Is KYC Completed</span>
                    <span class="text-base truncate" >{{record.is_kyc_completed ? 'Yes' : 'No'}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">KYC Completed Date</span>
                    <span class="text-base truncate">{{(record?.kyc_complete_date | date:'dd-MM-yyyy HH:mm:ss') || "-"}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">Register</span>
                    <span class="text-base truncate">{{record?.register_from || "-"}}</span>
                </div>
               
            </div>
        </div>
    </div>

</fuse-drawer>
