<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>
    <div class="w-full">
        <div class="flex flex-col w-[100%] gap-2 m-auto">
            <div class="flex flex-row justify-between border-b-2 border-gray-border px-5 py-4 h-15">
                <span class=" text-xl font-semibold">{{title}}</span>
                <mat-icon svgIcon="close" class=" icon-size-6 cursor-pointer "
                    (click)="settingsDrawer.close()"></mat-icon>
            </div>
            <div style="height: calc(100vh - 130px)" class="overflow-auto px-5 py-2">
                <div class="flex flex-wrap bg-card overflow-hidden" *ngIf="listFlag">
                    <div class="flex flex-col mb-3 truncate w-full">
                        <span class="text-md font-semibold text-secondary">Supplier</span>
                        <span class="text-base truncate">{{record?.supplier_name ? record?.supplier_name :
                            'Any'}}</span>
                    </div>

                    <div class="flex flex-col mb-3 truncate w-1/2">
                        <span class="text-md font-semibold text-secondary">Travel Type</span>
                        <span class="text-base truncate">{{record?.travel_type || '-'}}</span>
                    </div>

                    <div class="flex flex-col mb-3 truncate w-1/2">
                        <span class="text-md font-semibold text-secondary">Trip Type</span>
                        <span class="text-base truncate">{{record?.trip_type || '-'}}</span>
                    </div>

                    <div class="flex flex-col mb-3 truncate w-1/2">
                        <span class="text-md font-semibold text-secondary">Sector</span>
                        <span class="text-base truncate">{{record?.sector || '-'}}</span>
                    </div>

                    <div class="flex flex-col mb-3 truncate w-1/2">
                        <span class="text-md font-semibold text-secondary">Today Travel</span>
                        <span class="text-base truncate">{{record?.today_travel || '-'}}</span>
                    </div>

                    <div class="flex flex-col mb-3 truncate w-1/2">
                        <span class="text-md font-semibold text-secondary">One Week Travel</span>
                        <span class="text-base truncate">{{record?.one_week_travel || '-'}}</span>
                    </div>

                    <div class="flex flex-col mb-3 truncate w-1/2">
                        <span class="text-md font-semibold text-secondary">One Month Travel</span>
                        <span class="text-base truncate">{{record?.one_month_travel || '-'}}</span>
                    </div>

                    <div class="flex flex-col mb-3 truncate w-1/2">
                        <span class="text-md font-semibold text-secondary">Far Travel</span>
                        <span class="text-base truncate">{{record?.far_travel || '-'}}</span>
                    </div>
                </div>

                <div class="flex flex-wrap bg-card overflow-hidden" *ngIf="!listFlag && createFlag">
                    <form class="flex flex-col flex-auto px-0 pt-0" [formGroup]="formGroup">
                        <mat-form-field class="flex-grow">
                            <mat-label>Supplier</mat-label>
                            <mat-select formControlName="supplier_id">
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Search"
                                        noEntriesFoundLabel="'no matching supplier found'"
                                        [formControlName]="'supplierfilter'">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let ct of SupplierList" [value]="ct.id">{{ ct.company_name
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.get('supplier_id').hasError('required')">
                                Supplier is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="flex-grow">
                            <mat-label>Travel Type</mat-label>
                            <mat-select formControlName="travel_type">
                                <mat-option *ngFor="let lt of travelTypeList" [value]="lt.value">{{ lt.viewValue
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.get('travel_type').hasError('required')">
                                Travel Type is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="flex-grow">
                            <mat-label>Trip Type</mat-label>
                            <mat-select formControlName="trip_type">
                                <mat-option *ngFor="let lt of tripTypeList" [value]="lt.value">{{ lt.viewValue
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.get('trip_type').hasError('required')">
                                Trip Type is required
                            </mat-error>
                        </mat-form-field>

                        <div class="mb-1">Sector *
                            <span class="text-[11px] dark:text-[#7a86a0]">(Ex. BOM-DEL)</span>
                        </div>
                        <mat-form-field class="flex-grow">
                            <input matInput type="text" formControlName="sector" />
                            <mat-error *ngIf="formGroup.get('sector').hasError('required')">
                                Sector is required
                            </mat-error>
                            <mat-error *ngIf="formGroup.get('sector').hasError('minlength')">
                                Sector must be in the above format Ex. (BOM-DEL)
                            </mat-error>
                            <mat-error *ngIf="formGroup.get('sector').hasError('maxlength')">
                                Sector must be in the above format Ex. (BOM-DEL)
                            </mat-error>
                        </mat-form-field>

                        <div class="mb-1">Today Travel *
                            <span class="text-sm dark:text-[#7a86a0]">(Time interval in minutes)</span>
                        </div>
                        <mat-form-field class="flex-grow">
                            <input matInput type="number" (keypress)="numberOnly($event)"
                                formControlName="today_travel" />
                            <mat-error *ngIf="formGroup.get('today_travel').errors">
                                <ng-container *ngIf="formGroup.get('today_travel').hasError('required')">
                                    Today Travel is required
                                </ng-container>
                                <ng-container
                                    *ngIf="formGroup.get('today_travel').hasError('greaterThanZero') && !formGroup.get('today_travel').hasError('required')">
                                    Today Travel must be greater than zero
                                </ng-container>
                            </mat-error>
                        </mat-form-field>

                        <div class="mb-1">One Week Travel *
                            <span class="text-sm dark:text-[#7a86a0]">(Time interval in minutes)</span>
                        </div>
                        <mat-form-field class="flex-grow">
                            <input matInput type="number" (keypress)="numberOnly($event)"
                                formControlName="one_week_travel" />
                            <mat-error *ngIf="formGroup.get('one_week_travel').errors">
                                <ng-container *ngIf="formGroup.get('one_week_travel').hasError('required')">
                                    One Week Travel is required
                                </ng-container>
                                <ng-container
                                    *ngIf="formGroup.get('one_week_travel').hasError('greaterThanZero') && !formGroup.get('one_week_travel').hasError('required')">
                                    One Week Travel must be greater than zero
                                </ng-container>
                            </mat-error>
                        </mat-form-field>

                        <div class="mb-1">One Month Travel *
                            <span class="text-sm dark:text-[#7a86a0]">(Time interval in minutes)</span>
                        </div>
                        <mat-form-field class="flex-grow">
                            <input matInput type="number" (keypress)="numberOnly($event)"
                                formControlName="one_month_travel" />
                            <mat-error *ngIf="formGroup.get('one_month_travel').errors">
                                <ng-container *ngIf="formGroup.get('one_month_travel').hasError('required')">
                                    One Month Travel is required
                                </ng-container>
                                <ng-container
                                    *ngIf="formGroup.get('one_month_travel').hasError('greaterThanZero') && !formGroup.get('one_month_travel').hasError('required')">
                                    One Month Travel must be greater than zero
                                </ng-container>
                            </mat-error>
                        </mat-form-field>

                        <div class="mb-1">Far Travel *
                            <span class="text-sm dark:text-[#7a86a0]">(Time interval in minutes)</span>
                        </div>
                        <mat-form-field class="flex-grow">
                            <input matInput type="number" (keypress)="numberOnly($event)"
                                formControlName="far_travel" />
                            <mat-error *ngIf="formGroup.get('far_travel').errors">
                                <ng-container *ngIf="formGroup.get('far_travel').hasError('required')">
                                    Far Travel is required
                                </ng-container>
                                <ng-container
                                    *ngIf="formGroup.get('far_travel').hasError('greaterThanZero') && !formGroup.get('far_travel').hasError('required')">
                                    Far Travel must be greater than zero
                                </ng-container>
                            </mat-error>
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="justify-end items-end flex sticky bottom-0 border-t-2 border-gray-border white-bg px-5 py-2 h-15"
                *ngIf="!listFlag && createFlag">
                <button class="mr-2" mat-stroked-button (click)="settingsDrawer.close()">Close</button>

                <button mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
                    {{ btnLabel }}
                </button>
            </div>
        </div>
    </div>
</fuse-drawer>
