<div class="flex flex-col w-100 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium  text-white">Filter Criteria</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current  text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <div class="px-5 py-2 mt-2">
        <form [formGroup]="formGroup" class="flex flex-col">

            <mat-form-field class="flex-grow">
                <mat-label>Agent</mat-label>
                    <mat-select formControlName="agent_id" required [compareWith]="compareWith">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching agent found'" [formControlName]="'agentfilter'">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="{ id: 'all', agency_name: 'all' }">All</mat-option>

                        <mat-option *ngFor="let ct of agentList" [value]="ct">
                            <span><span *ngIf="ct.code">{{ ct.code }} - </span>{{ ct.agency_name }}<span
                                    *ngIf="ct.master_agent_name"> ({{ ct.master_agent_name }})</span></span>
                            <div class="-mt-2">
                                <span class="text-secondary text-sm">{{
                                    ct.email_address
                                    }}</span>
                            </div>
                        </mat-option>
                    </mat-select>
            </mat-form-field>

            <div class="w-full">
                <mat-form-field class="w-full" *ngIf="formGroup.get('date').value !== DR.setCustomDate">
                    <mat-label>Select Date</mat-label>
                    <mat-select name="date" formControlName="date" (selectionChange)="updateDate($event.value)">
                        <mat-option *ngFor="let dr of dateRanges" [value]="dr">{{ dr }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="formGroup.get('date').value === DR.setCustomDate"
                    class="flex flex-row items-center space-x-1">
                    <mat-form-field class="w-full">
                        <mat-label>Date</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="FromDate" placeholder="Start date" />
                            <input matEndDate formControlName="ToDate" placeholder="End date" />
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <mat-icon class="icon-size-4"
                        (click)="cancle()">cancel</mat-icon>
                </div>
            </div>
           
        </form>
    </div>

    <div class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <!-- Discard -->
        <button mat-stroked-button (click)="matDialogRef.close()">Close</button>
        <!-- Save as draft -->
        <button mat-flat-button [color]="'primary'" (click)="apply()">
            Apply
        </button>
    </div>
</div>