<div
    class="flex flex-col max-w-240 mobile:max-w-full mobile:min-w-full md:min-w-180 max-h-[90vh] -m-6 mobile:m-0 mobile:overflow-hidden mobile:max-h-full">

    <!-- Header -->
    <div
        class="flex white-text flex-0 items-center justify-between h-16 px-4 py-2 primary-bg mobile:sticky mobile:top-0">
        <div class="text-lg font-medium">Flight Details</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <div class="px-4 py-3 mobile:px-3">
        <div class="flex justify-between">
            <div>
                <div class="flex">
                    <span class="text-lg font-semibold">{{flight.originCity | titlecase}}</span>
                    <mat-icon class="mx-3 material-symbols-outlined rotate-90 primary-text">flight</mat-icon>
                    <span class="text-lg font-semibold">{{flight.destinationCity | titlecase}}</span>
                </div>
                <div class="font-medium text-gray">{{flight.startTime | date: 'EEE, dd-MM-yyyy'}}</div>
                <div class="font-semibold">{{flight.airlineRemark}}</div>
            </div>
            <div class="flex flex-col text-right">
                <span class="font-semibold text-lg" *ngIf="!nofares"><span class="font-light">{{flight.currency ||
                        'INR'}}</span>
                    {{flight.salePrice}}</span>
                <span class="bonton-red-text font-medium text-md">{{flight.flightStopSegments[0].noOfSeatAvailable}}
                    seat(s) left</span>
                <span class="text-md"
                    [ngClass]="flight.isRefundable ? 'green-text ' : 'bonton-red-text '">{{flight.isRefundable ?
                    'REFUNDABLE' : 'NON-REFUNDABLE'}}</span>
            </div>
        </div>

        <div class="mt-2">
            <div class="flex justify-between border-b border-gray-border px-4 mobile:px-0">
                <div class="flex flex-row items-center h-11 mobile:h-8 select-none W-full mobile:text-base">
                    <div class="flex justify-center items-center mr-6 cursor-pointer h-11 mobile:mr-2 mobile:h-8"
                        [ngClass]="tab === 0? 'border-b-4 mobile:border-b-2 bonton-orange-border':''"
                        (click)="tabChanged(0, flight)">
                        <span class="uppercase font-semibold"
                            [ngClass]="tab === 0? 'bonton-orange-text':'gray-text'">FLIGHT DETAILS</span>
                    </div>
                    <!-- <div class="flex justify-center items-center mx-6 cursor-pointer h-11" [ngClass]="tab === 1? 'border-b-4 bonton-orange-border':''" (click)="tabChanged(1)">
                        <span class="uppercase font-semibold" [ngClass]="tab === 1? 'bonton-orange-text':'gray-text'">FARE SUMMARY</span> 
                    </div> -->
                    <div class="flex justify-center items-center mx-6 cursor-pointer h-11 mobile:mr-2 mobile:h-8"
                        [ngClass]="tab === 2? 'border-b-4 mobile:border-b-2 bonton-orange-border':''"
                        (click)="tabChanged(2, flight)">
                        <span class="uppercase font-semibold"
                            [ngClass]="tab === 2? 'bonton-orange-text':'gray-text'">BAGGAGE</span>
                    </div>
                    <div class="flex justify-center items-center mx-6 cursor-pointer h-11 mobile:mr-2 mobile:h-8"
                        *ngIf="!nofares" [ngClass]="tab === 3? 'border-b-4 mobile:border-b-2 bonton-orange-border':''"
                        (click)="tabChanged(3, flight)">
                        <span class="uppercase font-semibold"
                            [ngClass]="tab === 3? 'bonton-orange-text':'gray-text'">FARE RULE</span>
                    </div>
                </div>
            </div>

            <div class="w-full relative p-4 mobile:px-0 mobile:py-3">

                <div [class.hidden]="tab !== 0">
                    <div class="rounded-xl border border-dashed border-gray-border relative mt-[-1px]"
                        *ngFor="let segment of flight.flightStopSegments; let i = index">
                        <div class="flex justify-between px-3 pt-3 pb-4 items-center w-full mobile:flex-col">
                            <div class="flex items-center w-[30%] mobile:w-full">
                                <img loading="lazy" class="w-8 h-8 object-contain mr-3 mobile:h-6 mobile:w-6"
                                    [src]="segment.airline_logo" alt="airline_logo">
                                <div>
                                    <div class="font-semibold text-lg mobile:text-base">{{segment.airlineName}}</div>
                                    <div class="text-gray mobile:text-sm"><span>{{segment.airlineCode}} -
                                            {{segment.flightNumber}} </span>
                                        <p class="text-sm"
                                            [ngClass]="SearchTravellClass == segment.cabinClass ? '' : 'bonton-red-text'">
                                            {{segment.cabinClass}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex space-x-4 items-center w-[70%] mobile:w-full mobile:pr-0">
                                <div class="flex flex-col w-[125px] mobile:w-full">
                                    <span class="font-semibold text-xl mobile:text-base">{{segment.originCityCode}}<span
                                            class="text-gray mobile:text-base text-lg"> {{segment.depTime | date:
                                            'HH:mm'}}</span></span>
                                    <span class="text-sm font-medium mobile:text-sm">
                                        {{segment.depTime | date: 'EEE, dd-MM-yyyy'}}</span>
                                    <!-- <span class="text-gray text-sm">{{segment.originTerminal}} -
                                        {{segment.originAirportName}}, {{segment.originCountryName}}</span> -->
                                    <span class="text-gray text-sm mobile:text-xs">{{segment.originTerminal}}
                                        {{segment.originTerminal? '-':''}} {{segment.originAirportName}}
                                        {{segment.originCityName}}{{segment.originCountryName? ',':''}}
                                        {{segment.originCountryName}}
                                    </span>
                                </div>
                                <div class="flex items-center justify-center">
                                    <span class="border border-dashed w-10 gray-border mobile:hidden"></span>
                                    <span
                                        class="text-md mx-2 mobile:mx-0 mobile:text-xs mobile:w-[50px] mobile:text-center">{{segment.duration}}</span>
                                    <span class="border border-dashed w-10 gray-border mobile:hidden"></span>
                                </div>
                                <div class="flex flex-col w-[125px] mobile:w-full">
                                    <span
                                        class="font-semibold text-xl mobile:text-base">{{segment.destinationCityCode}}<span
                                            class="text-gray mobile:text-base text-lg"> {{segment.arrTime | date:
                                            'HH:mm'}}</span></span>
                                    <span class="text-sm font-medium mobile:text-sm">
                                        {{segment.arrTime | date: 'EEE, dd-MM-yyyy'}}</span>
                                    <span class="text-gray text-sm mobile:text-xs">{{segment.destinationTerminal}}
                                        {{segment.destinationTerminal? '-':''}} {{segment.destinationAirportName}}
                                        {{segment.destinationCityName}}{{segment.destinationCountryName? ',':''}}
                                        {{segment.destinationCountryName}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="absolute bottom-[-10px] left-0 w-full text-center z-10 mobile:truncate"
                            *ngIf="i !== (flight.flightStopSegments.length - 1)">
                            <span class="light-blue-bg rounded-3xl px-10 text-gray text-sm mobile:px-2">
                                {{isSamePlanes(segment, flight.flightStopSegments[i+1])
                                ? 'No plane change require'
                                : 'Change of planes'}}・{{flight.flightStopSegments[i+1].layover}} Layover in
                                {{segment.destinationCityName}}</span>
                        </div>
                    </div>
                </div>

                <!-- <div [class.hidden]="tab !== 1">
                    <table mat-table [dataSource]="dataSource" class="light-black border-collapse border border-gray-border">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element" class="border border-gray-border min-w-50 max-w-50">
                                {{element.name|| ''}}
                            </td>
                            <td mat-footer-cell *matFooterCellDef class="border border-gray-border font-semibold min-w-50 max-w-50">
                                <div>Total Fare</div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="number">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element" class="border border-gray-border min-w-50 max-w-50 text-right">
                                <span>₹ {{element.number|| ''}}</span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef class="border border-gray-border font-semibold min-w-50 max-w-50 text-right">
                                <div>₹ {{Sum('number')|| '0' }}</div>
                            </td>
                        </ng-container>
        
                        <tr class="h-10 border border-gray-border" mat-row *matRowDef="let row; columns: columns;"></tr>
                        <tr class="h-10 border border-gray-border" mat-footer-row *matFooterRowDef="columns"></tr>
                    </table>
                </div> -->

                <div [class.hidden]="tab !== 2">
                    <div class="mb-2" *ngFor="let segment of flight.flightStopSegments; let i = index">
                        <div class="flex items-center">
                            <img loading="lazy" class="w-7 h-7 mobile:h-6 mobile:w-6 object-contain" [src]="segment.airline_logo"
                                alt="airline_logo"><span class="ml-3 mobile:text-base font-semibold">{{segment.originCityName |
                                uppercase}} -
                                {{segment.destinationCityName | uppercase}}</span>
                        </div>
                        <table cellPadding="10px" class="w-full mt-1">
                            <tr class="font-semibold mobile:text-md">
                                <td>
                                    Baggage Type
                                </td>
                                <td>
                                    Check-In
                                </td>
                                <td>
                                    Cabin
                                </td>
                            </tr>
                            <tr class="mobile:text-sm">
                                <td>
                                    Adult
                                </td>
                                <td>
                                    {{segment.adultBaggage || '-'}}
                                </td>
                                <td>
                                    {{segment.adultCabinBaggage || '-'}}
                                </td>
                            </tr>
                            <tr class="mobile:text-sm" *ngIf="flight && flight.child > 0">
                                <td>
                                    Child
                                </td>
                                <td>
                                    {{segment.childBaggage || '-'}}
                                </td>
                                <td>
                                    {{segment.childCabinBaggage || '-'}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="text-[11px] text-[#808080]">The baggage information is just for reference.
                        Please Check with airline before check-in.</div>
                </div>

                <div [class.hidden]="tab !== 3" class="max-h-80 mobile:max-h-100 overflow-y-auto" *ngIf="!nofares">
                    <!-- <div [innerHTML]="flight.fareRules" *ngIf="flight.fareRules" class="mobile:text-base">
                    </div> -->

                    <div [innerHTML]="flight.fareRuleData" *ngIf="flight.fareRuleData" class="mobile:text-base"></div>

                    <span class="text-blue text-lg  underline cursor-pointer" (click)="loadFareRules(flight, false);" *ngIf="flight.isMoreShowFare">more details</span>

                    <div class="p-4 border rounded-lg mt-4" *ngIf="flight.fareRuleData">
                        <div class="flex items-center mb-[10px]">
                            <mat-icon class="text-2xl mr-1 icon-size-4 bonton-red-text" svgIcon="mat_outline:report_problem"></mat-icon>
                            <span class="bonton-red-text text-[17px] font-semibold">Important :</span>
                        </div>
                        <div>
                            <ul class="list-[circle] mx-4">
                                <li class="mb-[5px] text-gray font-semibold">*MENTIONED FEE ARE INDICATIVE PER PAX AND PER SECTOR.</li>
                                <li class="mb-[5px]">APART FROM AIRLINE CHARGES,GST+RAF+ APPLICABLE CHARGES IF ANY, WILL BE CHARGED.</li>
                                <li class="mb-[5px]">FOR DOMESTIC BOOKINGS, PASSENGERS ARE REQUIRED TO SUBMIT REISSUE REQUEST AT LEAST 4 HOURS BEFORE THE AIRLINES REISSUE POLICY.</li>
                                <li>FOR INTERNATIONAL BOOKINGS, PASSENGERS ARE REQUIRED TO SUBMIT THE REISSUE REQUEST AT LEAST 6 HOURS BEFORE THE REISSUE POLICY.</li>
                            </ul>
                        </div>
                    </div>

                    <div [innerHTML]="flight.newFare" *ngIf="flight.newFare" class="mobile:text-base mt-3" id="newFareId"></div>

                    <div *ngIf="!flight.fareRules" class="flex flex-row h-full w-full justify-center items-center">
                        <div class="flex flex-col items-center">
                            <span class="font-medium mobile:text-base">
                                {{isFareRuleLoading ? 'Loading...' : 'Fare Rules not available'}}
                            </span>
                            <div class="flex flex-row space-x-1 items-center primary-text text-sm">
                                <span>Try Again</span>
                                <mat-icon class="cursor-pointer icon-size-4"
                                    (click)="loadFareRules(flight)">refresh</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>