<form class=" p-8 pb-4  overflow-hidden" [formGroup]="formGroup">
    <div class="flex items-center gap-3">
        <mat-form-field class="flex-grow w-[30%]">
            <mat-label>Profile Name</mat-label>
            <input [readonly]="readonly" matInput required formControlName="profile_name" />
        </mat-form-field>

        <mat-form-field class="flex-grow w-[30%]">
            <mat-label>Profile For</mat-label>
            <mat-select formControlName="profile_for">
                <mat-option *ngFor="let item of pspforList" [value]="item.label">{{ item.label}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-grow w-[30%]" *ngIf="this.formGroup.get('profile_for').value == 'Agent'">
            <mat-label>Agent</mat-label>
            <mat-select formControlName="profile_for_id">
                <mat-option>
                    <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="'no matching agent found'"
                        [formControl]="agentCtrl">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let ct of agentList" [value]="ct.id">
                    <span><span *ngIf="ct.code">{{ ct.code }} - </span>{{ ct.agency_name }}<span
                            *ngIf="ct.master_agent_name"> ({{ ct.master_agent_name }})</span></span>
                    <div class="-mt-2">
                        <span class="text-secondary text-sm">{{ct.email_address}}</span>
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-grow w-[30%]" *ngIf="this.formGroup.get('profile_for').value !== 'Agent'">
            <mat-label>Company</mat-label>
            <mat-select formControlName="profile_for_id" >
                <mat-option>
                    <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="'no matching Profile found'"
                        [formControl]="companyCtrl">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let ct of companyList" [value]="ct.company_id">
                    <span>{{ ct.company_name }}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" *ngIf="!readonly" [disabled]="formGroup.invalid || isLoading" (click)="submit()">
            {{ btnTitle }}
        </button>
    </div>
</form>