<div class="flex flex-col max-w-256 md:min-w-240 max-h-screen -m-6 pb-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">Visa Charges</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col  items-center flex-auto px-6 pt-6 " [formGroup]="formGroup">
        <div class="flex flex-row gap-3 w-full">
        <mat-form-field class="flex-grow">
            <mat-label>Supplier</mat-label>
            <mat-select formControlName="supplier_id" required [compareWith]="compareWith">
                <mat-option>
                    <ngx-mat-select-search placeholderLabel="Search"
                        noEntriesFoundLabel="'no matching supplier found'" [formControlName]="'supplierfilter'">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let ct of SupplierList" [value]="ct">{{ ct.company_name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-grow">
            <mat-label>Currency</mat-label>
            <mat-select required formControlName="currency_id" [compareWith]="compareWith">
                <mat-option>
                    <ngx-mat-select-search placeholderLabel="Search"
                        noEntriesFoundLabel="'no matching currency found'" [formControlName]="'currencyfilter'">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let currency of CurrencyList" [value]="currency">{{currency.currency_short_code}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-grow">
            <mat-label>Date</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" formControlName="start_date">
                <input matEndDate placeholder="End date" formControlName="end_date">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
         </div>

        <div class="flex flex-row gap-3 w-full items-center">
            <mat-form-field class="flex-grow">
                <mat-label>Adult Price</mat-label>
                <input matInput type="number"  formControlName="adult_price" required>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Child Price</mat-label>
                <input matInput type="number" formControlName="child_price" required>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Infant Price</mat-label>
                <input matInput type="number" formControlName="infant_price" required>
            </mat-form-field>

            <button  mat-stroked-button color="primary" [disabled]="formGroup.invalid" (click)="add()">
                {{formGroup.get('id').value ? 'SAVE' : 'ADD'}}
            </button>
        </div>
    </form>

    <!-- *ngIf="recordList.length > 0" -->
    <div  class="overflow-auto px-6" *ngIf="recordList.length > 0">
        <div class="flex flex-row border-2 w-fit">
            <div
                class="font-bold w-10 border-r-2 p-2 flex items-center justify-center sticky left-0">
                #
            </div>
            <div class="font-bold border-r-2 p-2 max-w-48 min-w-48 sticky left-10 z-10">
                Supplier
            </div>
            <div class="font-bold border-r-2 p-2 max-w-60 min-w-60">
                Date
            </div>
            <div class="font-bold border-r-2 p-2 max-w-28 min-w-28">
                Currency
            </div>
            <div class="font-bold border-r-2 p-2 max-w-28 min-w-28">
                Adult Price
            </div>
            <div class="font-bold border-r-2 p-2 max-w-28 min-w-28">
                Child Price
            </div>
            <div class="font-bold border-r-2 p-2 max-w-28 min-w-28">
                Infant Price
            </div>
        </div>
        <div class="flex flex-row border-x-2 border-b-2 w-fit"
            *ngFor="let vl of recordList">
            <div class="w-10 border-r-2 p-2 flex items-center justify-center sticky left-0">
                <mat-icon class="cursor-pointer" (click)="$event.stopPropagation()"
                    [matMenuTriggerFor]="menuOpt">more_vert</mat-icon>
                <mat-menu #menuOpt>
                    <button mat-menu-item (click)="edit(vl)">
                        <mat-icon class="mat-18">edit</mat-icon>
                        <span style="font-weight: 600">Edit</span>
                    </button>
                    <button mat-menu-item (click)="delete(vl)">
                        <mat-icon class="mat-18">delete</mat-icon>
                        <span style="font-weight: 600">Delete</span>
                    </button>
                </mat-menu>
               </div>
            <div class="border-r-2 p-2 max-w-48 min-w-48 sticky left-10 z-10">
                {{ vl.supplier}}
            </div>
            <div class="border-r-2 p-2 max-w-60 min-w-60">
                {{ vl.start_date | date:'dd-MM-yyyy' }} to {{ vl.end_date | date:'dd-MM-yyyy'}} 
            </div>
            <div class="border-r-2 p-2 max-w-28 min-w-28">
                {{ vl.currency }}
            </div>
            <div class="border-r-2 p-2 max-w-28 min-w-28">
                {{ vl.adult_price }}
            </div>
            <div class="border-r-2 p-2 max-w-28 min-w-28">
                {{ vl.child_price }}
            </div>
            <div class="border-r-2 p-2 max-w-28 min-w-28">
                {{ vl.infant_price }}
            </div>
        </div>
    </div>
</div>
