<div class="flex flex-col max-w-100 md:min-w-100 max-h-[95vh] -m-6">
    <div
        class="flex px-5 pt-4 pb-3 z-10 items-center bg-primary justify-between flex-row text-xl sticky font-semibold border-b-2">
        <span class=" text-white">Upload Visa Copy</span>
        <mat-icon svgIcon="close" class="cursor-pointer text-white" (click)="matDialogRef.close()"></mat-icon>
    </div>
    <div class="flex items-center justify-center p-3">
        <form class="flex flex-col gap-0 mt-2" [formGroup]="successDialogForm">
            <div class="flex flex-row justify-between items-end">
                <div class="w-[362px]">
                    <div class="p-4 border border-gray-border shadow rounded-lg relative">
                        <div class="flex flex-col justify-center items-center">
                            <img src="assets/images/visa/upload-image.png" class="h-15 w-15 object-contain" alt="">
                            <div class="mt-1 font-bold text-lg">Visa Copy</div>
                            <div class="text-sm secondary-text">( pdf, jpg, jpeg, png )</div>
                        </div>
                        <div class="flex w-full justify-center text-md mt-4">
                            <div class="hidden">
                                <input type="file" name="documentUpload" #document formControlName="file"
                                    (change)="uploadDocument($event)">
                            </div>
                            <button
                                class="border-button !border primary-border rounded-lg bg-primary text-white md:w-[50%] md:min-w-36 px-4 ml-2"
                                mat-flat-button (click)="document.click()">
                                <mat-icon svgIcon="heroicons_outline:arrow-up-tray"
                                    class="rounded-full cursor-pointer text-white icon-size-4"
                                    [matTooltip]="'Upload'"></mat-icon>
                                <span class="pl-2 text-white">Upload</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
