<div class="flex -m-6 min-w-[990px] max-w-[1260px] max-h-[768px] dark:dark">
    <div class="w-[250px] dark:bg-card border-r border-[#e3d2d2]">
        <div class="border-b-2 border-gray-border px-6 pt-4 pb-3">
            <span class="font-bold text-xl theme-black-text break-words">{{holiday_product.basic_detail.id ? 'Modify' : 'Create'}} Product</span>
        </div>
        <div class="py-4">
            <div class="py-3 flex flex-col justify-center cursor-pointer font-semibold w-full " (click)="TabChange(tab)"
                [ngClass]="tab.id === currentTab.id ? 'border-l-4 border-primary-500 dark:bg-gray-700 bg-gray-200 ' :'text-secondary'"
                *ngFor="let tab of getTabList()">
                <span class="px-6 text-lg ">{{tab.name}}</span>
            </div>
        </div>

    </div>
    <div class="w-[calc(100%-250px)] py-4 px-6">
        <div class="text-right">
            <mat-icon svgIcon="close" class="cursor-pointer h-7 w-7 theme-black-text"
                (click)="matDialogRef.close(product_changed)"></mat-icon>
        </div>
        <div class="max-h-[600px] min-h-120 overflow-y-auto">
                <app-basic-details #basic [data]="holiday_product" (dataEvent)="dataEvent($event, currentTab.id)"
                    [hidden]="currentTab.id !== 1"></app-basic-details>
            <app-fix-departure #fix *ngIf="holiday_product.basic_detail.is_fix_departure" [data]="holiday_product"
                (dataEvent)="dataEvent($event, currentTab.id)" [hidden]="currentTab.id !== 2"></app-fix-departure>

            <app-product-cities #cities [data]="holiday_product" (dataEvent)="dataEvent($event, currentTab.id)"
                [hidden]="currentTab.id !== 3"></app-product-cities>

            <app-inclusion #inclusion [data]="holiday_product" (dataEvent)="dataEvent($event, currentTab.id)"
                [hidden]="currentTab.id !== 4"></app-inclusion>

            <app-exclusion #exclusion [data]="holiday_product" (dataEvent)="dataEvent($event, currentTab.id)"
                [hidden]="currentTab.id !== 5"></app-exclusion>

            <app-itinerary #itinerary [data]="holiday_product" (dataEvent)="dataEvent($event, currentTab.id)"
                [hidden]="currentTab.id !== 6"></app-itinerary>

            <app-flights #flights [data]="holiday_product" (dataEvent)="dataEvent($event, currentTab.id)"
                [hidden]="currentTab.id !== 7"></app-flights>

            <app-product-images #images [data]="holiday_product" (dataEvent)="dataEvent($event, currentTab.id)"
                [hidden]="currentTab.id !== 8"></app-product-images>

            <app-special-notes #notes [data]="holiday_product" (dataEvent)="dataEvent($event, currentTab.id)"
                [hidden]="currentTab.id !== 9"></app-special-notes>

            <app-pricings #pricings [data]="holiday_product" (dataEvent)="dataEvent($event, currentTab.id)"
                [hidden]="currentTab.id !== 10"></app-pricings>

        </div>
    </div>
</div>