<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999" fixed [mode]="'over'"
    [name]="'updateChargeDrawer'" [position]="'right'" #updateChargeDrawer>

    <div class="flex flex-col w-full overflow-auto max-h-[calc(100vh-60px)] px-2 bg-card">

        <!-- Header -->
        <div class="flex flex-row items-center sticky top-0 px-3 border-b h-13 min-h-13 dark:text-white bg-white dark:bg-card">
            <div class="text-lg font-medium tracking-tight">Updates Charge</div>
            <button class="ml-auto" mat-icon-button (click)="updateChargeDrawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>

        <form class="flex flex-col flex-auto py-3" #amendmentForm="ngForm">
            <div class="grid grid-cols-2 gap-2 px-3 shadow-b-lg">
                <div class="flex flex-col mb-1">
                    <div class="flex flex-row space-x-2">
                        <span class="text-md font-semibold text-secondary">Amedment Type</span>
                    </div>
                    <span class="text-base truncate">{{amendmentData?.amendment_type || "--" }}</span>
                </div>
                <div class="flex flex-col mb-1">
                    <div class="flex flex-row space-x-2">
                        <span class="text-md font-semibold text-secondary">Supplier</span>
                    </div>
                    <span class="text-base truncate">{{amendmentData?.company_name || "--" }}</span>
                </div>
                <div class="flex flex-col col-span-2 mb-1">
                    <div class="flex flex-row space-x-2">
                        <span class="text-md font-semibold text-secondary">Agent</span>
                    </div>
                    <span class="text-base truncate">{{amendmentData?.agent_name || "--" }}</span>
                </div>
                <div class="flex flex-col col-span-2 mb-1">
                    <div class="flex flex-row space-x-2">
                        <span class="text-md font-semibold text-secondary">Flight No.</span>
                    </div>
                    <span class="text-base truncate underline hover:text-primary-200 cursor-pointer" (click)="amendmentData?.air_booking_id ? viewFlightData() : null">{{amendmentData?.air_booking_number || " -- " }}</span>
                </div>
                <div class="flex flex-col mb-1">
                    <div class="flex flex-row space-x-2">
                        <span class="text-md font-semibold text-secondary">Total Pax</span>
                    </div>
                    <span class="text-base truncate">{{amendmentData?.pax || "--" }}</span>
                </div>
            </div>

            <mat-card class="p-3 rounded-md shadow-lg">
                <table cellPadding="10px" class="w-full border-collapse border border-blue-border">
                    <!-- *ngIf="amendmentData && amendmentData.is_adult" -->
                    <tr class="border border-blue-border">
                        <td class="border-l w-128">
                            Adult Per Pax Charge
                        </td>
                        <td class="border-l p-2">
                            <mat-form-field class="w-full" style="margin-bottom: -1.25em">
                                <input matInput type="number" [min]="0" name="adult_charge"
                                    [(ngModel)]="formObj.adult_charge" (ngModelChange)="calculation()" tabindex="0"
                                    numbersOnly required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr class="border border-blue-border" *ngIf="amendmentData && amendmentData.is_child">
                        <td class="border-l w-128">
                            Child Per Pax Charge
                        </td>
                        <td class="border-l p-2">
                            <mat-form-field class="w-full" style="margin-bottom: -1.25em">
                                <input matInput type="number" [min]="0" name="child_charge"
                                    [(ngModel)]="formObj.child_charge" (ngModelChange)="calculation()" tabindex="0"
                                    numbersOnly required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr class="border border-blue-border" *ngIf="amendmentData && amendmentData.is_infant">
                        <td class="border-l w-128">
                            Infant Per Pax Charge
                        </td>
                        <td class="border-l p-2">
                            <mat-form-field class="w-full" style="margin-bottom: -1.25em">
                                <input matInput type="number" [min]="0" name="Infant_charge"
                                    [(ngModel)]="formObj.Infant_charge" (ngModelChange)="calculation()" tabindex="0"
                                    numbersOnly required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </mat-card>

            <mat-card class="mt-2 p-3 rounded-md shadow-lg">
                <table cellPadding="10px" class="w-full border-collapse border border-blue-border">
                    <tr class="border border-blue-border">
                        <td class="border-l w-128">
                            Bonton Markup
                        </td>
                        <td class="border-l p-2 pl-6">
                            {{formObj?.bonton_markup_value}}
                        </td>
                    </tr>
                    <tr class="border border-blue-border">
                        <td class="border-l w-128">
                            Addon Markup
                        </td>
                        <td class="border-l p-2">
                            <mat-form-field class="w-full" style="margin-bottom: -1.25em">
                                <input matInput type="number" [min]="0" name="addon_markup_value"
                                    [(ngModel)]="formObj.addon_markup_value" class="focus:outline-none" tabindex="0"
                                    numbersOnly required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </mat-card>

            <mat-card class="mt-2 p-3 rounded-md shadow-lg"
                *ngIf="amendmentData && amendmentData.amountType == 'Receipt'">
                <table cellPadding="10px" class="w-full border-collapse border border-blue-border">
                    <tr class="border border-blue-border">
                        <td class="border-l w-128">
                            Segment Amount
                        </td>
                        <td class="border-l p-2">
                            <!-- *ngIf="formGroup.get('is_segment_amount').value == true"  -->
                            <mat-form-field class="w-full" style="margin-bottom: -1.25em">
                                <input matInput type="number" [min]="0" name="segment_amount"
                                    [(ngModel)]="formObj.segment_amount" tabindex="0" numbersOnly required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </mat-card>

            <mat-card class="mt-2 mb-3 p-3 rounded-md shadow-lg">
                <mat-form-field style="margin-bottom: -1.25em">
                    <mat-label>Remark</mat-label>
                    <textarea matInput rows="1" name="company_remark" [(ngModel)]="formObj.company_remark"
                        tabindex="0"></textarea>
                </mat-form-field>
            </mat-card>

            <div
                class="flex items-center justify-end pt-4 h-15 sm:mt-0 pb-4 space-x-3 bottom-0 absolute w-full pr-4 dark:bg-[#1e293b] bg-white border-t m-auto">
                <button mat-stroked-button (click)="updateChargeDrawer.close()">Close</button>
                <button mat-flat-button [color]="'primary'" type="submit" (click)="submit(amendmentForm.form)"
                    [disabled]="disableBtn">
                    Send Quotation
                </button>
            </div>
        </form>

    </div>
</fuse-drawer>