.mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
    min-height: 30px !important;
}

referral-settings {
    position: static;
    display: block;
    flex: none;
    width: auto;
}