<div class="flex flex-col flex-auto overflow-hidden -m-6 max-w-100 min-w-100 max-h-screen">
    <div class="flex flex-0 justify-between items-center h-10 px-4 py-6">
        <div class="text-xl font-bold tracking-tight">Remark</div>
        <div class="">
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current notranslate dark:text-white mat-icon-no-color"
                    [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="px-5 py-4 break-words overflow-y-auto max-h-[60vh]" *ngIf="record">
        {{record?.rm_remark ? record.rm_remark : "-"}}
        <ng-container *ngIf="record && record.reactive_reason">    
            <div class="py-2">
                ReActive : {{record?.feedback || '-'}}
            </div>
            <div>
                Reason : {{record?.reactive_reason || '-'}}
            </div>
        </ng-container>
    </div>
</div>
