<div class="flex flex-row justify-center items-center w-full h-full">

    <div class="flex flex-col items-center">
        <div
            class="relative flex items-center justify-center w-40 h-40 rounded-3xl overflow-hidden ring-4 ring-bg-card">
            <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
            <div class="absolute inset-0 flex items-center justify-center z-20">
                <div>
                    <div [hidden]="true">
                        <input type="file" accept="image/*" #profileInput3 (change)="
                                onProfileInput($event)
                            " />
                    </div>
                    <label (click)="profileInput3.click()"
                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                        matRipple>
                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                    </label>
                </div>
            </div>
            <img class="w-full h-full object-cover cursor-pointer" *ngIf="icon"
                [matMenuTriggerFor]="imgMenu3" [src]="icon" alt="User avatar" />
            <mat-icon *ngIf="!icon" class="p-[10%] w-full h-full object-cover text-gray-500 cursor-pointer"
                [svgIcon]="'heroicons_solid:camera'" [matMenuTriggerFor]="imgMenu3">
            </mat-icon>
        </div>
        <mat-label class="mt-3">Logo</mat-label>
        <span class="text-secondary text-xs">Max size 2 MB</span>
    </div>

</div>