<div class="table-container paginator-bottom">
    <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
        columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
        [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
        [lazy]="true" (onLazyLoad)="refreshItems($event)" [scrollable]="true" [lazyLoadOnInit]="false" [scrollHeight]="scrollHeightWTab"
        [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" [globalFilterFields]=""
        styleClass="p-datatable-gridlines p-datatable-sm">

        <ng-template pTemplate="header">
            <tr>
                <th class="w-5 text-center left-[-1px]" pFrozenColumn>#</th>
                <th pSortableColumn="calls" pResizableColumn pResizableColumn alignFrozen="left" pFrozenColumn class="dark:bg-[#1e293b]"
                    [frozen]="frozenObj?.calls" [ngClass]="{'left-0': !frozenObj?.calls}">
                    Calls <p-sortIcon field="calls" />
                    <span class="float-right" (click)="isFrozenColumn('calls');$event.stopPropagation()">
                        <i *ngIf="!frozenObj?.calls" class="pi pi-lock-open icon-size-3"></i>
                        <i *ngIf="frozenObj?.calls" class="pi pi-lock icon-size-3"></i>
                    </span>
                </th>
                <th pSortableColumn="acCode" pResizableColumn>
                    AC Code <p-sortIcon field="acCode" />
                </th>
                <th pSortableColumn="agencyName" pResizableColumn>
                    Name <p-sortIcon field="agencyName" />
                </th>
                <th pSortableColumn="mobile" pResizableColumn>
                    Mobile <p-sortIcon field="mobile" />
                </th>
                <th pSortableColumn="creditLimit" pResizableColumn>
                    Credit Limit <p-sortIcon field="creditLimit" />
                </th>
                <th pSortableColumn="policy" pResizableColumn>
                    Policy / Term <p-sortIcon field="policy" />
                </th>
                <th class="text-right" pSortableColumn="amount" pResizableColumn>
                    Amount <p-sortIcon field="amount" />
                </th>
                <th pSortableColumn="dueDate" pResizableColumn>
                    Due Date <p-sortIcon field="dueDate" />
                </th>
                <th pSortableColumn="expiryDate" pResizableColumn>
                    Expiry Date <p-sortIcon field="expiryDate" />
                </th>
            </tr>

            <tr *ngIf="isFilterShowTravel">
                <th class=" left-[-1px]" pFrozenColumn></th>
                <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.calls" class="min-w-[110px]">
                    <p-columnFilter field="calls" type="numeric" placeholder="Search by calls" ariaLabel="Filter calls">
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="numeric" field="acCode" placeholder="Search by AC Code"
                        ariaLabel="Filter AC Code" />
                </th>
                <th>
                    <!-- <p-columnFilter type="text" matchMode="contains" field="agencyName" placeholder="Search by Name"
                        ariaLabel="Filter Name" /> -->
                    <p-columnFilter class="searchableDropdown" field="agencyName" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown class="filter-dropdown" [options]="agentList" optionLabel="agent_info"
                                [filter]="true" filterBy="agent_info" [(ngModel)]="selectedAgent"
                                (onFilter)="getAgent($event?.filter)" (onChange)="filter($event.value)"
                                [showClear]="true" appendTo="body" placeholder="Select Agent">
                                <ng-template let-agent pTemplate="item">
                                    <div class="flex align-items-center gap-1">
                                        <div [value]="agent.id">
                                            <div class="m-0">
                                                {{agent.code}} - {{agent.agency_name}}
                                                <div class="text-sm text-slate-500">{{agent.email_address}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="mobile" placeholder="Search by Mobile"
                        ariaLabel="Filter Mobile" />
                </th>
                <th>
                    <p-columnFilter type="numeric" field="creditLimit" placeholder="Search by Credit Limit"
                        ariaLabel="Filter Credit Limit" />
                </th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="policy" placeholder="Search by Policy / Term"
                        ariaLabel="Filter Policy / Term" />
                </th>
                <th class="text-right">
                    <p-columnFilter type="numeric" field="amount" placeholder="Search by Amount"
                        ariaLabel="Filter Amount" />
                </th>
                <th>
                    <p-columnFilter field="dueDate" type="date">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" appendTo="body"
                                [ngModel]="value" placeholder="Search by Due Date">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="expiryDate" type="date">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" appendTo="body"
                                [ngModel]="value" placeholder="Search by Expiry Date">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-element>
            <tr>
                <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                    <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                        <mat-icon> more_vert </mat-icon>
                    </span>

                    <mat-menu #optionMenu>
                        <button mat-menu-item (click)="dialCall(element)">
                            <mat-icon class="mat-18">phone</mat-icon>
                            <span style="font-weight: 600">Dial Call</span>
                        </button>
                        <button mat-menu-item (click)="callHistory(element)">
                            <mat-icon class="mat-18">history</mat-icon>
                            <span style="font-weight: 600">Call History</span>
                        </button>
                        <button mat-menu-item (click)="sendReminderEmail(element)">
                            <mat-icon class="mat-18">schedule</mat-icon>
                            <span style="font-weight: 600">Send Reminders WA / Email</span>
                        </button>
                        <button mat-menu-item (click)="purchaseProduct(element)">
                            <mat-icon svgIcon="heroicons_outline:circle-stack" class="mat-18"></mat-icon>
                            <span style="font-weight: 600">Products</span>
                        </button>
                        <button mat-menu-item (click)="timeline(element)">
                            <mat-icon svgIcon="heroicons_solid:clock"></mat-icon>
                            <span style="font-weight: 600">Timeline</span>
                        </button>
                    </mat-menu>
                </td>
                <td class="text-center min-w-[110px]" alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.calls">
                    <span class="inline-block cursor-pointer border-b border-gray-500"
                        (click)="callHistory(element)">{{(element.calls) || 0}}</span>
                </td>
                <td>
                    {{element.acCode || '0'}}
                </td>
                <td>
                    {{element.agencyName || '-'}}
                </td>
                <td>
                    {{element.mobile || '-'}}
                </td>
                <td>
                    {{element.creditLimit || '-'}}
                </td>
                <td>
                    {{element.policy || '-'}}
                </td>
                <td class="text-right">
                    {{element.amount || '-'}}
                </td>
                <td>
                    {{(element.dueDate | date: 'dd-MM-yyyy') || "-"}}
                </td>
                <td class="w-full">
                    {{(element.expiryDate| date: 'dd-MM-yyyy') || "-"}}
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr class="h-14">
                <td colspan="10" class="text-center font-semibold text-lg">
                    {{getNodataText()}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
