<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>

    <div class="flex flex-col w-full overflow-auto bg-card">
        <div class="flex flex-row items-center px-6 h-13 min-h-13 dark:text-white">
            <div class="text-lg font-medium tracking-tight">{{title}}</div>
            <button class="ml-auto" mat-icon-button (click)="settingsDrawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>

        <mat-divider></mat-divider>

        <div class="overflow-auto" style="max-height: calc(100vh - 116px);">
            <div class="flex flex-row overflow-x-auto  mt-4 mr-4 ml-4">
                <div class="w-[100%]">
                    <form class="flex flex-col flex-auto overflow-hidden" [formGroup]="formGroup">
                        <div class="px-[2px]">
                            <div class="flex flex-row">
                                <mat-form-field class="flex-grow">
                                    <mat-label class="text-base font-medium ">Amount</mat-label>
                                    <input matInput required type="number" (keypress)="numberOnly($event)"
                                        formControlName="amount">
                                    <mat-error *ngIf="formGroup.get('amount').hasError('required')">
                                        Amount is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-row">
                                <mat-form-field class="flex-grow">
                                    <mat-label class="text-base font-medium ">MOP</mat-label>
                                    <mat-select class="w-full flex-grow" formControlName="mop"
                                        (selectionChange)="onMopChange($event)" required>
                                        <mat-option *ngFor="let service of serviceForList"
                                            [value]="service.viewValue">{{ service.value }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formGroup.get('mop').hasError('required')">
                                        MOP is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div *ngIf="showProofAttachment" class="w-full mt-[-2px]" (click)="fileInput.click()">
                                <mat-label class="text-base font-medium ">Proof
                                    Attachment</mat-label>
                                <div class="w-full border rounded-md h-[48px] px-[16px] mt-[6px] relative flex"
                                    [ngClass]="{ 'border-red-500': formGroup.get('proofAttachment').hasError('required'), 'border-[#64748b]': !formGroup.get('proofAttachment').hasError('required') }">
                                    <input type="file" #fileInput accept="application/pdf, image/*"
                                        (change)="onProofAttachmentFile($event)" class="hidden" readonly />
                                    <span *ngIf="!editproofAttachmentSelectedFile" class="flex items-center">{{
                                        proofAttachmentSelectedFile?.name || '' }}</span>
                                    <span *ngIf="editproofAttachmentSelectedFile" class="flex items-center">{{
                                        editproofAttachmentSelectedFile || '' }}</span>
                                    <mat-icon svgIcon="attach_file"
                                        class="icon-size-6 absolute right-[15px] top-[10px]"></mat-icon>
                                </div>
                                <mat-error *ngIf="formGroup.get('proofAttachment').hasError('required')">
                                    Proof Attachment is required
                                </mat-error>
                            </div>
                            <div class="mt-2" *ngIf="formGroup.get('proofAttachment')"></div>
                            <!-- <span class="flex items-center">{{paymentAttachmentSelectedFile?.name || ''}}</span> -->
                            <div class="w-full" (click)="fileInput1.click()" *ngIf="paymentAttachmentFlag">
                                <mat-label class="text-base font-medium ">Payment
                                    Attachment</mat-label>
                                <div
                                    class="w-full border border-[#64748b] rounded-md h-[48px] mt-[6px] px-[16px] relative flex">
                                    <input type="file" accept="application/pdf, image/*" #fileInput1
                                        (change)="onPaymentAttachmentFile($event)" class="hidden" readonly />
                                    <span *ngIf="!editpaymentAttachmentSelectedFile" class="flex items-center">{{
                                        paymentAttachmentSelectedFile?.name || '' }}</span>
                                    <span *ngIf="editpaymentAttachmentSelectedFile" class="flex items-center">{{
                                        editpaymentAttachmentSelectedFile || '' }}</span>
                                    <mat-icon [svgIcon]="'attach_file'"
                                        class=" icon-size-6 absolute right-[15px] top-[10px]"></mat-icon>
                                </div>
                            </div>
                            <div class="flex flex-row pt-3">
                                <mat-form-field class="flex-grow">
                                    <mat-label class="text-base font-medium ">Remark</mat-label>
                                    <textarea matInput rows="3" formControlName="remark"></textarea>
                                    <!-- <mat-error *ngIf="formGroup.get('remark').hasError('required')">
                                        Remark is required
                                    </mat-error> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div
            class="flex items-center justify-end mt-4 sm:mt-1 py-3 space-x-3 h-16 bottom-0 absolute w-full pr-5 dark:bg-[#1e293b] bg-white border-t m-auto">
            <button mat-stroked-button (click)="settingsDrawer.close()"> Close </button>
            <button mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
                {{btnLabel}}
            </button>
        </div>
    </div>
</fuse-drawer>
