<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">
            {{ module_name }}
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!------Global Search------>
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'"
                    (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="refreshItems()"></mat-icon>
            </div>

            <!------Global filter------>
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'"
                (click)="_filterService.openDrawer(filter_table_name, primengTable, _selectedColumns)"
                matTooltip="Saved Filter" [disabled]="isLoading">
                <img class="w-6 h-auto cursor-pointer" src="assets/icons/common-filter.svg" alt="">
            </button>

            <!-- Select Columns Button and Select Box -->
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Select more columns"
                [disabled]="isLoading" (click)="op.toggle($event)">
                <img class="w-5 cursor-pointer ml-1 pt-1" src="assets/icons/column.svg" alt="c">
            </button>
            <p-overlayPanel #op>
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="overlay-panel"
                    [style]="{'max-width': '220px'}" display="chip" placeholder="Choose Columns" />
            </p-overlayPanel>

            <!------Refresh------>
            <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Refresh" [disabled]="isLoading"
                (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <!------Create------->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="create()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [columns]="selectedColumns" [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1"
            [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
            [loading]="isLoading" [paginator]="true" [rows]="appConfig.pageSize" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="appConfig.pageSizeOptions" [lazy]="true" (onLazyLoad)="refreshItems($event)"
            [scrollable]="true" [scrollHeight]="scrollHeight" [showCurrentPageReport]="true" [showPageLinks]="false"
            [showJumpToPageDropdown]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['company_name', 'email_address', 'mobile_number', 'contact_person_name', 'is_kyc_completed', 'entry_date_time', 'wallet_Balance']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="w-5 text-center left-[-1px]" pFrozenColumn>#</th>
                    <th class="min-w-[145px] dark:bg-[#1e293b]" pSortableColumn="company_name" pResizableColumn
                        alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.company_name"
                        [ngClass]="{'left-0': !frozenObj?.company_name}">
                        Company <p-sortIcon field="company_name" />
                        <span class="float-right" (click)="isFrozenColumn('company_name');$event.stopPropagation()">
                            <i *ngIf="frozenObj?.company_name" class="pi pi-lock icon-size-3"></i>
                            <i *ngIf="!frozenObj?.company_name" class="pi pi-lock-open icon-size-3"></i>
                        </span>
                    </th>
                    <th pSortableColumn="email_address" pResizableColumn>
                        Email <p-sortIcon field="email_address" />
                    </th>
                    <th pSortableColumn="mobile_number" pResizableColumn>
                        Mobile <p-sortIcon field="mobile_number" />
                    </th>
                    <th pSortableColumn="contact_person_name" pResizableColumn>
                        Contact Person <p-sortIcon field="contact_person_name" />
                    </th>
                    <th pSortableColumn="is_kyc_completed" pResizableColumn>
                        KYC <p-sortIcon field="is_kyc_completed" />
                    </th>
                    <th pSortableColumn="entry_date_time" pResizableColumn>
                        Entry <p-sortIcon field="entry_date_time" />
                    </th>
                    <th class="text-right" pSortableColumn="wallet_Balance" pResizableColumn>
                        Wallet Balance <p-sortIcon field="wallet_Balance" />
                    </th>
                    <th [pSortableColumn]="col.field" pResizableColumn *ngFor="let col of columns">
                        {{col.header}} <p-sortIcon [field]="col.field" />
                    </th>
                </tr>

                <tr *ngIf="isFilterShow">
                    <th class=" left-[-1px]"></th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.company_name">
                        <p-columnFilter type="text" matchMode="contains" field="company_name"
                            placeholder="Search by Company" ariaLabel="Filter Company" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="email_address"
                            placeholder="Search by Email" ariaLabel="Filter Email Address" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="mobile_no"
                            placeholder="Search by Mobile" ariaLabel="Filter Mobile Number" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="contact_person_name"
                            placeholder="Search by Contact Person" ariaLabel="Filter Contact Person" />
                        <!-- <p-columnFilter field="billing_company" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [options]="companyListName" filterBy="company_name"
                                    [ngModel]="value" (onChange)="filter($event.value)" [showClear]="true"
                                    appendTo="body" placeholder="Select Company">
                                    <ng-template let-company pTemplate="item">
                                        <div> {{company}}</div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter> -->
                    </th>
                    <!-- <th>
                        <p-columnFilter type="text" matchMode="contains" field="is_kyc_completed"
                            placeholder="Search by Mobile" ariaLabel="Filter Mobile Number" />
                    </th> -->

                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.is_kyc_completed">
                        <p-columnFilter field="is_kyc_completed" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="kycList"
                                    (onChange)="filter($event.value)" placeholder="Select KYC" [showClear]="true"
                                    appendTo="body">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter field="entry_date_time" type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" [ngModel]="value" dateFormat="dd-mm-yy"
                                    appendTo="body" placeholder="Search by Entry">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter type="numeric" matchMode="contains" field="wallet_Balance"
                            placeholder="Search by Wallet Balance" ariaLabel="Filter Wallet Balance" />
                    </th>

                    <th *ngFor="let col of columns">
                        <p-columnFilter [type]="col.type" [field]="col.field" [placeholder]="'Search by '+ col.header"
                            [ariaLabel]="'Filter ' + col.header" />
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-columns="columns">
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="view(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600">Info</span>
                            </button>
                            <button mat-menu-item (click)="edit(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600">Modify</span>
                            </button>
                            <button mat-menu-item (click)="delete(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                                <span style="font-weight: 600">Delete</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item (click)="setKYCVerify(element)">
                                <mat-icon class="mat-18">fingerprint</mat-icon>
                                <span style="font-weight: 600">KYC</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon svgIcon="heroicons_outline:cog"></mat-icon>
                                <span style="font-weight: 600">Service</span>
                            </button>
                            <button mat-menu-item (click)="blockUnblock(element)">
                                <mat-icon class="mat-18">block</mat-icon>
                                <span style="font-weight: 600">
                                    {{ element.is_block ? "Unblock" : "Block" }}
                                </span>
                            </button>
                            <button mat-menu-item (click)="autologin(element)">
                                <mat-icon class="mat-18">login</mat-icon>
                                <span style="font-weight: 600">Auto Login</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon class="mat-18">lock</mat-icon>
                                <span style="font-weight: 600">Reset Password</span>
                            </button>
                            <button mat-menu-item (click)="userSupplier(element)">
                                <mat-icon svgIcon="heroicons_outline:user"></mat-icon>
                                <span style="font-weight: 600">Users</span>
                            </button>
                            <!-- <button mat-menu-item (click)="verifyKYC(element)">
                                <mat-icon class="mat-18">fingerprint</mat-icon>
                                <span style="font-weight: 600">
                                    {{ element.is_kyc_completed ? "Unaudit" : "Audit" }} KYC
                                </span>
                            </button>-->
                             <button mat-menu-item (click)="kycProfile(element)">
                                <mat-icon class="mat-18">beenhere</mat-icon>
                                <span style="font-weight: 600">Assign KYC Profile</span>
                            </button>  
                        </mat-menu>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.company_name">
                        <span [matTooltip]="element['is_block'] ? 'Block': 'UnBlock'"
                            class="w-2 h-2 inline-block me-1 rounded-full"
                            [ngClass]="element['is_block']? 'bg-red-500' : 'bg-green-500'">
                        </span>
                        {{element.company_name || "-"}}
                    </td>
                    <td>{{element.email_address || "-"}}</td>
                    <td>{{element.mobile_code }} {{element.mobile_number}}</td>
                    <td>{{element.contact_person_name || "-" }}</td>
                    <td>{{(element.is_kyc_completed ? 'Yes' : 'No') || "-" }}</td>
                    <td>{{element.entry_date_time | date: 'dd-MM-yyyy HH:mm:ss' || "-"}}</td>
                    <td class="text-right">{{element.wallet_Balance || '0'}}</td>
                    <td *ngFor="let col of columns" [ngClass]="col.field == 'priority' ? 'text-center' : ''">
                        {{element[col.field]}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14">
                    <td colspan="9" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
<app-supplier-entry-right></app-supplier-entry-right>
<!-- <app-user-modify></app-user-modify> -->
