<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <div class="text-3xl font-extrabold tracking-tight">
            {{module_name}}
        </div>

        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!------Global Search------>
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'"
                    (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="refreshItems()"></mat-icon>
            </div>

            <!------Global filter------>
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="this.isFilterShow = !this.isFilterShow">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'"
                (click)="_filterService.openDrawer(filter_table_name, primengTable,selectedColumns)"
                matTooltip="Saved Filter" [disabled]="isLoading">
                <img class="w-6 h-auto cursor-pointer" src="assets/icons/common-filter.svg" alt="">
            </button>

            <!-- Select Columns Button and Select Box Code -->
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Select more columns"
                [disabled]="isLoading" (click)="op.toggle($event)">
                <img class="w-5 cursor-pointer ml-1 pt-1" src="assets/icons/column.svg" alt="c">
            </button>
            <p-overlayPanel #op [dismissable]="false">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="overlay-panel"
                    [style]="{'max-width': '220px'}" display="chip" placeholder="Choose Columns"
                    (onChange)="onSelectedColumnsChange()" (onPanelHide)="op.hide()" [appendTo]="'body'" />
            </p-overlayPanel>

            <!------Refresh------>
            <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Refresh" [disabled]="isLoading"
                (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <!--- Modal filter -->
            <!-- <button class="ml-4" mat-flat-button [color]="'primary'" (click)="filter()">
                <mat-icon class="w-10 h-10">filter_alt</mat-icon>
                <span class="mr-1">Filter</span>
            </button> -->

            <!------ Export Excel ------->
            <button mat-raised-button [color]="'primary'" [matMenuTriggerFor]="menu" class="ml-4">
                <mat-icon class="icon-size-6">more_vert</mat-icon>
            </button>
            <mat-menu #menu>
                <button mat-menu-item (click)="exportExcel()">
                    <mat-icon>arrow_downward</mat-icon>
                    <span>Export Excel</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [columns]="selectedColumns" [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1"
            [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
            [loading]="isLoading" [paginator]="true" [rows]="appConfig.pageSize" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="appConfig.pageSizeOptions" [lazy]="true" (onLazyLoad)="refreshItems($event)"
            [scrollable]="true" [scrollHeight]="scrollHeight" [showCurrentPageReport]="true" [showPageLinks]="false"
            [showJumpToPageDropdown]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['booking_ref_no', 'visa_status', 'entry_date_time', 'operation_person', 'agent', 'purchase_price', 'user_type', 'payment_mode', 'destination_caption', 'travel_date', 'pax', 'payment_gateway', 'ip_address']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="left-[-1px] text-center w-1 dark:bg-gray-800" *ngIf="isDisplayHashCol()" pFrozenColumn>#
                    </th>

                    <th *ngFor="let col of columns; let isLast = last" [pSortableColumn]="col.field" pResizableColumn
                        [ngClass]="{ 'w-full': isLast}" [class]="col.class">
                        {{ col.header }}
                        <p-sortIcon [field]="col?.field" />
                    </th>
                </tr>

                <tr *ngIf="isFilterShow">
                    <th class="left-[-1px] bg-gray-50 dark:bg-gray-800" pFrozenColumn></th>
                    <th *ngFor="let col of columns">
                        <ng-container *ngIf="!col?.isHideFilter">
                            <!-- Text -->
                            <p-columnFilter *ngIf="(col.type == types.text  || col.type == types.link)" [type]="'text'"
                                [field]="col.field" [placeholder]="'Search by '+ col.header"
                                [ariaLabel]="'Filter '+ col.header" matchMode="contains" />

                            <p-columnFilter *ngIf="col.type == types.select && col.field == 'visa_status'"
                                [field]="col.field" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="statusList"
                                        (onChange)="filter($event.value)" placeholder="Select Status" [showClear]="true"
                                        appendTo="body">
                                        <ng-template let-option pTemplate="item">
                                            <p>{{option}}</p>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                            <!--date range picker-->
                            <ng-container *ngIf="col.type == types.dateTime && col.field == 'entry_date_time'">
                                <p-columnFilter *ngIf="(_filterService.selectionDateDropdown$ | async) != 'custom_date_range'" [field]="col.field"
                                    matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                            [options]="_filterService.dateRangeList" optionLabel="label" placeholder="Select Option"
                                            appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <div (click)="_filterService.onOptionClick(option, primengTable, col.field)">
                                                    <div>{{option.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                                <ng-container *ngIf="(_filterService.selectionDateDropdown$ | async) == 'custom_date_range'">
                                    <div class="relative inline-block">
                                        <p-columnFilter [field]="col.field" matchMode="custom" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-calendar selectionMode="range" [ngModel]="value"
                                                    (ngModelChange)="onDateRangeChange($event, filter)" [readonlyInput]="true" dateFormat="dd-mm-yy"
                                                    appendTo="body" placeholder="📅 Search by Date Range">
                                                </p-calendar>
                                            </ng-template>
                                        </p-columnFilter>
                                        <mat-icon class="icon-size-4 cursor-pointer absolute"
                                            style="top:50%; transform: translatey(-50%); right: 25px;"
                                            (click)="_filterService.onOptionClick('', '', '')">cancel</mat-icon>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <!--Future Date Range Picker-->
                            <ng-container *ngIf="col.type == types.dateTime && col.field == 'travel_date'">
                                <p-columnFilter *ngIf="(_filterService.selectionDateDropdownTwo$ | async) != 'custom_date_range'"
                                    field="travel_date" matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                            [options]="_filterService.dateRangeFutureList" optionLabel="label" placeholder="Select Option"
                                            appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <div (click)="_filterService.onOptionClickTwo(option, primengTable, 'travel_date')">
                                                    <div>{{option.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                                <ng-container *ngIf="(_filterService.selectionDateDropdownTwo$ | async) == 'custom_date_range'">
                                    <div class="relative inline-block">
                                        <p-columnFilter field="travel_date" matchMode="custom" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-calendar selectionMode="range" [ngModel]="value"
                                                    (ngModelChange)="onDateRangeChange($event, filter)" [readonlyInput]="true" dateFormat="dd-mm-yy"
                                                    appendTo="body" placeholder="📅 Search by Date Range">
                                                </p-calendar>
                                            </ng-template>
                                        </p-columnFilter>
                                        <mat-icon class="icon-size-4 cursor-pointer absolute"
                                            style="top:50%; transform: translatey(-50%); right: 25px;"
                                            (click)="_filterService.onOptionClickTwo('', '', '')">cancel</mat-icon>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <!--Date Range Picker-->
                            <ng-container *ngIf="col.type == types.dateTime && col.field == 'payment_request_time'">
                                <p-columnFilter *ngIf="(selectionDateDropdownThree$ | async) != 'custom_date_range'" field="payment_request_time"
                                    matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                            [options]="_filterService.dateRangeList" optionLabel="label" placeholder="Select Option"
                                            appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <div (click)="onOptionClickThree(option, primengTable, 'payment_request_time')">
                                                    <div>{{option.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                                <ng-container *ngIf="(selectionDateDropdownThree$ | async) == 'custom_date_range'">
                                    <div class="relative inline-block">
                                        <p-columnFilter field="payment_request_time" matchMode="custom" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-calendar selectionMode="range" [ngModel]="value"
                                                    (ngModelChange)="onDateRangeChange($event, filter)" [readonlyInput]="true" dateFormat="dd-mm-yy"
                                                    appendTo="body" placeholder="📅 Search by Date Range">
                                                </p-calendar>
                                            </ng-template>
                                        </p-columnFilter>
                                        <mat-icon class="icon-size-4 cursor-pointer absolute"
                                            style="top:50%; transform: translatey(-50%); right: 25px;"
                                            (click)="onOptionClickThree('', '', '')">cancel</mat-icon>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="col.type == types.dateTime && col.field == 'payment_confirmation_time'">
                                <p-columnFilter *ngIf="(selectionDateDropdownFour$ | async) != 'custom_date_range'"
                                    field="payment_confirmation_time" matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                            [options]="_filterService.dateRangeList" optionLabel="label" placeholder="Select Option"
                                            appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <div (click)="onOptionClickFour(option, primengTable, 'payment_confirmation_time')">
                                                    <div>{{option.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                                <ng-container *ngIf="(selectionDateDropdownFour$ | async) == 'custom_date_range'">
                                    <div class="relative inline-block">
                                        <p-columnFilter field="payment_confirmation_time" matchMode="custom" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-calendar selectionMode="range" [ngModel]="value"
                                                    (ngModelChange)="onDateRangeChange($event, filter)" [readonlyInput]="true" dateFormat="dd-mm-yy"
                                                    appendTo="body" placeholder="📅 Search by Date Range">
                                                </p-calendar>
                                            </ng-template>
                                        </p-columnFilter>
                                        <mat-icon class="icon-size-4 cursor-pointer absolute"
                                            style="top:50%; transform: translatey(-50%); right: 25px;"
                                            (click)="onOptionClickFour('', '', '')">cancel</mat-icon>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <!--2 digit point number-->
                            <p-columnFilter *ngIf="col.type == types.number" [type]="'numeric'" [field]="col.field"
                                [matchMode]="'equals'" [placeholder]="'Search by '+ col.header"
                                [ariaLabel]="'Filter '+ col.header" locale="en-US" minFractionDigits="2"
                                maxFractionDigits="2">
                            </p-columnFilter>
                           

                            <ng-container *ngIf="col.type == types.select && col.field == 'agent'">
                                <p-columnFilter class="searchableDropdown" field="agent_id_filters" matchMode="equals"
                                    [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown class="filter-dropdown" [options]="agentList"
                                            optionLabel="agent_info" [(ngModel)]="selectedAgent" [filter]="true"
                                            filterBy="agent_info" (onFilter)="getAgent($event?.filter)"
                                            (onChange)="filter($event.value)" [showClear]="true" appendTo="body"
                                            placeholder="Select Agent">
                                            <ng-template let-agent pTemplate="item">
                                                <div class="flex align-items-center gap-1">
                                                    <div class="m-0">
                                                        {{agent.code}} - {{agent.agency_name}}
                                                        <div class="text-sm text-slate-500">{{agent.email_address}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </ng-container>

                        </ng-container>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-columns="columns">
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn
                        *ngIf="isDisplayHashCol()">
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="viewData(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600">Info</span>
                            </button>
                            <!-- <button mat-menu-item (click)="startProcess(ListItem)"
                                *ngIf="ListItem?.visa_status == 'Payment Confirmed'">
                                <mat-icon svgIcon="heroicons_solid:arrow-path"></mat-icon>
                                <span style="font-weight: 600">Start Process</span>
                            </button> -->
                        </mat-menu>
                    </td>
                    <td *ngFor="let col of columns" [ngClass]="col.class">
                        <ng-container *ngIf="(col.type === types.text || col.type === types.select)">
                            <span
                                [ngClass]="col.isCustomColor && visaStatusColors[element[col.field]] ? visaStatusColors[element[col.field]] : ''">
                                {{ element[col.field] || '-' }}
                            </span>
                        </ng-container>

                        <ng-container *ngIf="col.type == types.link">
                            <span class="cursor-pointer border-b border-gray-500" (click)="bookingRef(element)">
                                {{element[col.field] || "-"}}
                            </span>
                        </ng-container>

                        <ng-container *ngIf="col.type == types.number">
                            <span>
                                {{(element[col?.field] || 0).toFixed(col?.fixVal || 0)}}
                            </span>
                        </ng-container>

                        <ng-container *ngIf="col.type == types.dateTime || col.type == types.date">
                            {{isValidDate(element[col.field])? (element[col.field] | date: col.dateFormat): "-"}}
                        </ng-container>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14" *ngIf="selectedColumns?.length">
                    <td [attr.colspan]="displayColCount()" class="text-center font-semibold text-lg">{{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="text-center mt-5" *ngIf="selectedColumns && !selectedColumns?.length"> No column to display! Please
        Select a column
    </div>
</div>