<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">
            {{ module_name }}
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!------Global Search------>
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" (click)="refreshItems()"></mat-icon>
            </div>

            <!------Global filter------>
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'"
                 (click)="_filterService.openDrawer(filter_table_name, primengTable,_selectedColumns)"
                 matTooltip="Saved Filter" [disabled]="isLoading">
                 <img class="w-6 h-auto cursor-pointer" src="assets/icons/common-filter.svg" alt="">
             </button>

            <!-- Select Columns Button and Select Box Code -->
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Select more columns"
                [disabled]="isLoading" (click)="op.toggle($event)">
                <img class="w-5 cursor-pointer ml-1 pt-1" src="assets/icons/column.svg" alt="c">
            </button>
            <p-overlayPanel #op [dismissable]="false">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="overlay-panel"
                    [style]="{'max-width': '220px'}" display="chip" placeholder="Choose Columns" (onPanelHide)="op.hide()" [appendTo]="'body'"  />
            </p-overlayPanel>

            <!------Refresh------>
            <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Refresh" [disabled]="isLoading"
                (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <!--- Add  -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="create()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [columns]="selectedColumns" [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1"
            [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
            [loading]="isLoading" [paginator]="true" [rows]="appConfig.pageSize" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="appConfig.pageSizeOptions" [lazy]="true" (onLazyLoad)="refreshItems($event)"
            [scrollable]="true" [scrollHeight]="scrollHeight" [showCurrentPageReport]="true" [showPageLinks]="false"
            [showJumpToPageDropdown]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['supplier_api_id','is_live','supplier_name', 'enable_for', 'inventory_for']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="  text-center left-[-1px]" pFrozenColumn>#</th>
                    <th class="min-w-[90px] dark:bg-[#1e293b]" pSortableColumn="supplier_api_id" pResizableColumn
                        alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.supplier_api_id"
                        [ngClass]="{'left-0': !frozenObj?.supplier_api_id}">
                        ID <p-sortIcon field="supplier_api_id" />
                        <span class="float-right" (click)="isFrozenColumn('supplier_api_id');$event.stopPropagation()">
                            <i *ngIf="!frozenObj?.supplier_api_id" class="pi pi-lock-open icon-size-3"></i>
                            <i *ngIf="frozenObj?.supplier_api_id" class="pi pi-lock icon-size-3"></i>
                        </span>
                    </th>
                    <th pSortableColumn="is_disabled" pResizableColumn>
                        Status <p-sortIcon field="is_disabled" />
                    </th>
                    <th pSortableColumn="supplier_name" pResizableColumn>
                        Supplier Name <p-sortIcon field="supplier_name" />
                    </th>
                    <th  pResizableColumn>
                        Enable For
                    </th>
                    <!-- <th class="w-full min-w-[200px]" pSortableColumn="inventory_for" pResizableColumn>
                        Inventory Type <p-sortIcon field="inventory_for" />
                    </th>
                    <th [pSortableColumn]="col.field" pResizableColumn *ngFor="let col of columns; let isLast = last"
                        [ngClass]="{'w-full': isLast }">
                        {{col.header}} <p-sortIcon [field]="col.field" />
                    </th> -->

                    <th class="min-w-[200px]" pResizableColumn
                        [ngClass]="{'w-full': !columns || (columns && !columns.length) }">
                        Inventory Type
                    </th>
                    <th [pSortableColumn]="col.field" pResizableColumn *ngFor="let col of columns; let isLast = last"
                        [ngClass]="{'w-full': isLast }">
                        {{col.header}} <p-sortIcon [field]="col.field" />
                    </th>

                </tr>

                <tr *ngIf="isFilterShow">
                    <th class="left-[-1px]" pFrozenColumn></th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.supplier_api_id">
                        <p-columnFilter type="numeric" field="supplier_api_id" placeholder="Search by ID"
                            ariaLabel="Filter ID" />
                    </th>
                    <th>
                        <!-- <p-columnFilter type="text" matchMode="contains" field="is_disabled" placeholder="Search by Status"
                            ariaLabel="Filter Status" /> -->
                        <p-columnFilter field="is_live" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="liveStatusList"
                                    (onChange)="filter($event.value)" placeholder="Select Status" [showClear]="true"
                                    appendTo="body">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <!-- <p-columnFilter type="text" matchMode="contains" field="supplier_name" placeholder="Search by Supplier Name"
                            ariaLabel="Filter Supplier Name" /> -->
                        <p-columnFilter class="searchableDropdown"  field="supplier_name" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown"
                                    [options]="supplierList"
                                    optionLabel="company_name"
                                    [(ngModel)]="selectedSupplier"
                                    [filter]="true"
                                    filterBy="company_name"
                                    (onChange)="filter($event.value)"
                                    [showClear]="true"
                                    appendTo="body"
                                    placeholder="Select Supplier">
                                    <ng-template let-option pTemplate="item">
                                        <div class="flex align-items-center gap-1">
                                            <div>{{option.company_name}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>

                    </th>
                    <th>
                        <!-- <p-columnFilter field="enable_ssl" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="liveStatusList"
                                    (onChange)="filter($event.value)" placeholder="Select One" [showClear]="true"
                                    appendTo="body">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter> -->
                        <!-- <p-columnFilter type="text" matchMode="contains" field="enable_for" placeholder="Search by Enable For"
                            ariaLabel="Filter Enable For" /> -->
                    </th>
                    <th>
                        <!-- <p-columnFilter type="text" matchMode="contains" field="inventory_for" placeholder="Search by Inventory For"
                        ariaLabel="Filter Inventory For" /> -->
                    </th>
                    <th *ngFor="let col of columns">
                        <p-columnFilter type="text" matchMode="contains" field="api_for" placeholder="Search by Api For"
                        ariaLabel="Filter Api For" />
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-columns="columns">
                <tr [ngClass]="{'opacity-38' : element.is_disabled, 'text-green-600' : !element.is_disabled}">
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="view(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600">Info</span>
                            </button>
                            <button mat-menu-item (click)="edit(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600">Edit</span>
                            </button>
                            <button mat-menu-item (click)="delete(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                                <span style="font-weight: 600">Delete</span>
                            </button>
                            <button mat-menu-item (click)="EnableDisable(element)">
                                <mat-icon class="mat-18">{{ element.is_disabled ? "check_circle" :
                                    "highlight_off"}}</mat-icon>
                                <span style="font-weight: 600">{{ element.is_disabled ? "Enable" : "Disable" }}</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.supplier_api_id">
                        {{element.supplier_api_id || "-"}}
                    </td>
                    <td>
                        <span *ngIf="element.is_live">LIVE</span>
                        <span *ngIf="!element.is_live">TEST</span>
                    </td>
                    <td>
                        <span [matTooltip]="!element['is_disabled'] ? 'Enable' : 'Disable'"
                            class="w-2 h-2 inline-block me-1 rounded-full"
                            [ngClass]="!element['is_disabled']  ? 'bg-green-500' : 'bg-red-600'">
                        </span>
                        {{element.supplier_name || "-"}}
                    </td>
                    <td>{{element.enable_for || "-"}}</td>
                    <td>{{element.inventory_for || "-"}}</td>
                    <td *ngFor="let col of columns">
                        {{element[col.field] || "-"}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14">
                    <td colspan="7" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
