<div class="flex flex-col flex-auto overflow-hidden bg-card shadow rounded-2xl -m-6 min-w-[880px] max-w-[880px]">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-4 bg-primary">
        <div class="text-lg font-medium text-white">{{title}} - {{record?.agencyName}} </div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <div class="xl:min-h-[600px] xl:max-h-[600px] min-h-[450px] max-h-[450px] overflow-y-auto">
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-4 md:px-4 border-b w-full">
            <div class="flex shrink-0 mt-6 sm:mt-0">
                <mat-form-field class="fuse-mat-dense rounded-2xl w-[836px]" [subscriptSizing]="'dynamic'">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                    <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                        [placeholder]="'Search'" />
                </mat-form-field>
            </div>
        </div>

        <div class="flex flex-raw overflow-hidden overflow-x-auto border rounded-[10px] m-4" *ngFor="let callHis of dataList">
            <div class="flex pt-3 pb-2 pr-2 pl-3">
                <img class="w-6 h-6" src="assets/images/crm/dail_icon.png" alt="Logo image">
            </div>
            <div class="w-[90%] pb-2">
                <div class="pt-2 pb-2 pr-2 pl-1 overflow-hidden w-full flex-row flex">
                    <div class="flex flex-col w-[40%]">
                        <span class="truncate font-medium text-lg dark:text-white text-black"
                            [matTooltip]="callHis?.entry_by_id_Name">{{callHis?.entry_by_id_Name ? callHis?.entry_by_id_Name : 'SYSTEM'}}</span>
                        <span class="text-base font-semibold text-secondary dark:text-[#687798]">{{(callHis?.entry_date_time | date:'dd/MM/yyyy HH:mm:ss') || '-'}}</span>
                    </div>

                    <div class="flex flex-col w-[40%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Call Purpose</span>
                        <span class="text-base truncate dark:text-white text-black" (click)="callsAction"
                            [matTooltip]="callHis?.call_purpose">{{callHis?.call_purpose ? callHis?.call_purpose : " -"}}</span>
                    </div>

                    <div class="flex flex-col w-[20%]">
                        <span class="text-md font-medium text-secondary dark:text-[#687798]">Call Feedback</span>
                        <span class="text-base truncate dark:text-white text-black" [matTooltip]="callHis?.feedback">{{callHis?.feedback ? callHis?.feedback : "-"}}</span>
                    </div>
                </div>
                <div class="flex flex-col w-full pl-1">
                    <span class="text-md font-medium text-secondary dark:text-[#687798]">Call Remark</span>
                    <span class="text-base w-full dark:text-white text-black" [matTooltip]="callHis?.rm_remark">{{callHis?.rm_remark ?
                        callHis?.rm_remark : "-"}}</span>
                </div>

                <div class="grid pt-1 pr-2 pl-1 xl:grid-cols-1 grid-cols-1 gap-1 overflow-hidden" *ngIf="callHis?.is_call_rescheduled">
                    <span class="text-base font-semibold dark:text-white text-black">
                        <div>
                            <mat-checkbox class="example-margin ml-[-8px]" [disabled]="true" [checked]="callHis?.is_call_rescheduled" [ngModelOptions]="{standalone: true}">Schedule Call</mat-checkbox>
                        </div>
                    </span>
                </div>

                <div class="pb-2 pr-2 pl-1 overflow-hidden w-full flex-row flex" *ngIf="callHis?.is_call_rescheduled">
                    <div class="flex flex-col w-[40%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Assign to</span>
                        <span class="truncate font-medium text-lg dark:text-white text-black"
                            [matTooltip]="callHis?.call_assign_to_Name">{{callHis?.call_assign_to_Name || ' - '}}</span>
                    </div>

                    <div class="flex flex-col w-[40%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Date & Time</span>
                        <span class="text-base font-semibold dark:text-white text-black">{{(callHis?.entry_date_time | date:'dd/MM/yyyy HH:mm:ss') || '-'}}</span>
                    </div>

                    <div class="flex flex-col w-[20%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Call Purpose</span>
                        <span class="text-base truncate dark:text-white text-black"
                            [matTooltip]="callHis?.call_purpose">{{callHis?.call_purpose ? callHis?.call_purpose : " -"}}</span>
                    </div>
                </div>
                <div class="flex flex-col pl-1" *ngIf="callHis?.is_call_rescheduled">
                    <span class="text-md font-medium text-secondary dark:text-[#687798]">Call Remark</span>
                    <span class="text-base w-full dark:text-white text-black" [matTooltip]="callHis?.reschedule_remark">{{callHis?.reschedule_remark ?
                        callHis?.reschedule_remark : "-"}}</span>
                </div>
            </div>
        </div>

        <ng-container *ngIf="dataList && !dataList.length">
            <div class="p-8 sm:p-16 border-t text-3xl tracking-tight text-center pt-20">
                No data to display
            </div>
        </ng-container>
    </div>
    <!-- <mat-paginator
        class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 max-sm:bottom-0 max-sm:fixed max-sm:inset-x-0 z-10 bg-white dark:bg-gray-900 dark:bg-opacity-5"
        [ngClass]="{ 'pointer-events-none': isLoading }" [length]="total" [pageSizeOptions]="appConfig.pageSizeOptions"
        [pageSize]="appConfig.pageSize" (page)="refreshItems()" [showFirstLastButtons]="appConfig.showFirstLastButtons">
    </mat-paginator> -->
</div>
