<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <div class="text-3xl font-extrabold tracking-tight">
            {{module_name}}
        </div>

        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!------Global Search------>
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'"
                    (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="refreshItems()"></mat-icon>
            </div>

            <!------Global filter------>
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'"
                (click)="_filterService.openDrawer(filter_table_name, primengTable)" matTooltip="Saved Filter"
                [disabled]="isLoading">
                <img class="w-6 h-auto cursor-pointer" src="assets/icons/common-filter.svg" alt="">
            </button>

            <!-- Select Columns Button and Select Box Code -->
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Select more columns"
                [disabled]="isLoading" (click)="op.toggle($event)">
                <img class="w-5 cursor-pointer ml-1 pt-1" src="assets/icons/column.svg" alt="c">
            </button>
            <p-overlayPanel #op>
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="overlay-panel"
                    [style]="{'max-width': '220px'}" display="chip" placeholder="Choose Columns"
                    (onChange)="onSelectedColumnsChange()" />
            </p-overlayPanel>


            <!------Refresh------>
            <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Refresh" [disabled]="isLoading"
                (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <!--- Modal filter -->
            <!-- <button class="ml-4" mat-flat-button [color]="'primary'" (click)="filter()">
                <mat-icon class="w-10 h-10">filter_alt</mat-icon>
                <span class="mr-1">Filter</span>
            </button> -->

            <!------ Export Excel ------->
            <button mat-raised-button [color]="'primary'" [matMenuTriggerFor]="menu" class="ml-4">
                <mat-icon class="icon-size-6">more_vert</mat-icon>
            </button>
            <mat-menu #menu>
                <button mat-menu-item (click)="exportExcel()">
                    <mat-icon>arrow_downward</mat-icon>
                    <span>Export Excel</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [value]="dataList" [columns]="selectedColumns" [sortField]="sortColumn" [sortOrder]="-1"
            [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
            [loading]="isLoading" [paginator]="true" [rows]="appConfig.pageSize" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="appConfig.pageSizeOptions" [lazy]="true" (onLazyLoad)="refreshItems($event)"
            [scrollable]="true" [scrollHeight]="scrollHeight" [showCurrentPageReport]="true" [showPageLinks]="false"
            [showJumpToPageDropdown]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['is_read_by_supplier', 'reference_no', 'lead_status', 'entry_date_time', 'supplier_name', 'agent', 'rate_for', 'city_name', 'from_currency', 'to_currency', 'transaction_type', 'customer_name', 'lead_name', 'lead_email', 'lead_mobile']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <!-- <th class="left-[-1px] text-center w-1 dark:bg-gray-800" *ngIf="isDisplayHashCol()" pFrozenColumn>#
                    </th> -->

                    <th *ngFor="let col of columns; let isLast = last" [pSortableColumn]="col.field" pResizableColumn
                        [ngClass]="{ 'w-full': isLast  && (selectedColumns[selectedColumns?.length-1]?.field !='is_read_by_supplier')}" [class]="col.class">
                        {{ col.header }}
                        <p-sortIcon [field]="col?.field" />
                    </th>
                     <th class="w-full"
                        *ngIf="(selectedColumns[selectedColumns?.length-1]?.field =='is_read_by_supplier')">
                    </th>
                </tr>

                <tr *ngIf="isFilterShow">
                    <!-- <th class="left-[-1px] bg-gray-50 dark:bg-gray-800" pFrozenColumn></th> -->
                    <th *ngFor="let col of columns">
                        <ng-container *ngIf="!col?.isHideFilter">
                            <!-- Text -->
                            <p-columnFilter *ngIf="(col.type == types.text  || col.type == types.link)" [type]="'text'"
                                [field]="col.field" [placeholder]="'Search by '+ col.header"
                                [ariaLabel]="'Filter '+ col.header" matchMode="contains" />

                            <p-columnFilter *ngIf="col.type == types.boolean && col.field == 'is_read_by_supplier'"
                                [field]="col.field" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="readList"
                                        (onChange)="filter($event.value)" placeholder="Select Read By" appendTo="body"
                                        [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <p>{{option.label}}</p>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>

                            <p-columnFilter *ngIf="col.type == types.select && col.field == 'lead_status'"
                                [field]="col.field" matchMode="in" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="statusList" optionLabel="label"
                                        placeholder="Select Status" (onChange)="filter($event.value)" appendTo="body">
                                        <ng-template let-option pTemplate="item">
                                            <p>{{option.label}}</p>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>

                            <!--date range picker-->
                            <ng-container *ngIf="col.type == types.dateTime">
                                <p-columnFilter
                                    *ngIf="(_filterService.selectionDateDropdown$ | async) != 'custom_date_range'"
                                    [field]="col.field" matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                            [options]="_filterService.dateRangeList" optionLabel="label"
                                            placeholder="Select Option" appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <div
                                                    (click)="_filterService.onOptionClick(option, primengTable, col.field)">
                                                    <div>{{option.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                                <ng-container
                                    *ngIf="(_filterService.selectionDateDropdown$ | async) == 'custom_date_range'">
                                    <div class="relative inline-block">
                                        <p-columnFilter [field]="col.field" matchMode="custom" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-calendar selectionMode="range" [ngModel]="value"
                                                    (ngModelChange)="onDateRangeChange($event, filter)"
                                                    [readonlyInput]="true" dateFormat="dd-mm-yy" appendTo="body"
                                                    placeholder="📅 Search by Date Range">
                                                </p-calendar>
                                            </ng-template>
                                        </p-columnFilter>
                                        <mat-icon class="icon-size-4 cursor-pointer absolute"
                                            style="top:50%; transform: translatey(-50%); right: 25px;"
                                            (click)="_filterService.onOptionClick('', '', '')">cancel</mat-icon>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <ngContainer *ngIf="col.type == types.select && col.field == 'supplier_name'">
                                <p-columnFilter class="searchableDropdown" field="supplier_id_filters"
                                    matchMode="equals" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown class="filter-dropdown" [options]="supplierList"
                                            optionLabel="company_name" [(ngModel)]="selectedAgent" [filter]="true"
                                            filterBy="company_name" (onFilter)="getSupplierList($event?.filter)"
                                            (onChange)="filter($event.value)" [showClear]="true" appendTo="body"
                                            placeholder="Select Supplier">
                                            <ng-template let-agent pTemplate="item">
                                                <div class="flex align-items-center gap-1">
                                                    {{agent.company_name}}
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </ngContainer>

                            <ngContainer *ngIf="col.type == types.select && col.field == 'agent'">
                                <p-columnFilter class="searchableDropdown" field="agent_id_filters" matchMode="equals"
                                    [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown class="filter-dropdown" [options]="agentList"
                                            optionLabel="agent_info" [filter]="true" filterBy="agent_info"
                                            [(ngModel)]="selectedAgent" (onFilter)="getAgent($event?.filter)"
                                            (onChange)="filter($event.value)" [showClear]="true" appendTo="body"
                                            placeholder="Select Agent">
                                            <ng-template let-agent pTemplate="item">
                                                <div class="flex align-items-center gap-1">
                                                    <div class="m-0">
                                                        {{agent.code}} - {{agent.agency_name}}
                                                        <div class="text-sm text-slate-500">{{agent.email_address}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </ngContainer>

                            <p-columnFilter *ngIf="col.type == types.select && col.field == 'rate_for'"
                                [field]="col.field" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="rateList"
                                        (onChange)="filter($event.value)" placeholder="Select Status" [showClear]="true"
                                        appendTo="body">
                                        <ng-template let-option pTemplate="item">
                                            <p>{{option}}</p>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>

                            <ngContainer *ngIf="col.type == types.select && col.field == 'city_name'">
                                <p-columnFilter class="searchableDropdown" field="city_id_filters" matchMode="equals"
                                    [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown class="filter-dropdown" [options]="cityList"
                                            optionLabel="display_name" [(ngModel)]="selectedAgent" [filter]="true"
                                            filterBy="display_name" (onFilter)="getCitytList($event?.filter)"
                                            (onChange)="filter($event.value)" [showClear]="true" appendTo="body"
                                            placeholder="Select City">
                                            <ng-template let-agent pTemplate="item">
                                                <div class="flex align-items-center gap-1">
                                                    {{agent.display_name}}
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </ngContainer>

                            <p-columnFilter class="searchableDropdown"
                                *ngIf="col.type == types.select && col.field == 'from_currency'" [field]="col.field"
                                matchMode="contains" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [options]="fromcurrencyListAll"
                                        [(ngModel)]="selectedCurrency" optionLabel="currency_short_code" [filter]="true"
                                        filterBy="currency_short_code" (onChange)="filter($event.value)"
                                        [showClear]="true" appendTo="body" placeholder="Select a Currency">
                                        <ng-template let-currency pTemplate="item">
                                            <div class="flex align-items-center gap-2">
                                                <div>{{ currency.currency_short_code }}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>

                            <p-columnFilter class="searchableDropdown"
                                *ngIf="col.type == types.select && col.field == 'to_currency'" [field]="col.field"
                                matchMode="contains" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [options]="tocurrencyListAll"
                                        [(ngModel)]="selectedToCurrency" optionLabel="currency_short_code"
                                        [filter]="true" filterBy="currency_short_code" (onChange)="filter($event.value)"
                                        [showClear]="true" appendTo="body" placeholder="Select a Currency">
                                        <ng-template let-currency pTemplate="item">
                                            <div class="flex align-items-center gap-2">
                                                <div>{{ currency.currency_short_code }}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>

                            <p-columnFilter *ngIf="col.type == types.select && col.field == 'transaction_type'"
                                [field]="col.field" matchMode="in" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="transactionList"
                                        (onChange)="filter($event.value)" placeholder="Select status" [showClear]="true"
                                        appendTo="body">
                                        <ng-template let-option pTemplate="item">
                                            <p>{{option}}</p>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>


                        </ng-container>
                    </th>
                     <th class="w-full"
                        *ngIf="(selectedColumns[selectedColumns?.length-1]?.field =='is_read_by_supplier')">
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-columns="columns">
                <tr>
                    <!-- <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn  *ngIf="isDisplayHashCol()">
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>
                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="viewData(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600">Info</span>
                            </button>
                            <button *ngIf="element.lead_status == 'New'" mat-menu-item (click)="status(element, 1)">
                                <mat-icon svgIcon="heroicons_outline:check-circle"></mat-icon>
                                <span style="font-weight: 600">Complete</span>
                            </button>
                            <button *ngIf="element.lead_status == 'New'" mat-menu-item (click)="status(element, 2)">
                                <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>
                                <span style="font-weight: 600">Cancel</span>
                            </button>
                            <button *ngIf="element.lead_status == 'New'" mat-menu-item (click)="Rejected(element, 3)">
                                <mat-icon svgIcon="heroicons_outline:x-mark"></mat-icon>
                                <span style="font-weight: 600">Reject</span>
                            </button>
                        </mat-menu>
                    </td> -->
                    <td *ngFor="let col of columns" [ngClass]="col.class">
                        <ng-container *ngIf="(col.type === types.text || col.type === types.select)">
                            <span [ngClass]="col.isCustomColor ? getStatusColor(element[col.field]) : ''">
                                {{ element[col.field] || '-' }}
                            </span>
                        </ng-container>
                        <ng-container *ngIf="col.type == types.boolean">
                            <div class="flex justify-center items-center h-full">
                                <span [matTooltip]="element[col?.field] ? 'Read' : 'Unread'"
                                    class="w-2 h-2 inline-block rounded-full cursor-pointer"
                                    [ngClass]="element[col?.field] ? 'bg-green-500' : 'bg-red-500'">
                                </span>
                            </div>
                        </ng-container>


                        <ng-container *ngIf="col.type == types.link">
                            <span class="cursor-pointer border-b border-gray-500" (click)="viewData(element)">
                                {{element[col.field] || "-"}}
                            </span>
                        </ng-container>

                        <ng-container *ngIf="col.type == types.number">
                            <span>
                                {{(element[col?.field] || 0).toFixed(col?.fixVal || 0)}}
                            </span>
                        </ng-container>

                        <ng-container *ngIf="col.type == types.dateTime || col.type == types.date">
                            {{isValidDate(element[col.field])? (element[col.field] | date: col.dateFormat): "-"}}
                        </ng-container>
                    </td>
                     <td
                        *ngIf="(selectedColumns[selectedColumns?.length-1]?.field =='is_read_by_supplier')">
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14" *ngIf="selectedColumns?.length">
                    <td [attr.colspan]="displayColCount()" class="text-center font-semibold text-lg">{{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="text-center mt-5" *ngIf="selectedColumns && !selectedColumns?.length"> No column to display! Please
        Select a column
    </div>
</div>
<app-forex-booking-details></app-forex-booking-details>