

  <div class="px-3">
    <div class="flex ctm_search bg-[#0F172A]">
        <input matInput  [(ngModel)]="searchText"  [autocomplete]="'off'" [placeholder]="'Search'" (keyup.enter)="onFilterSearch()" />
        <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" (click)="onFilterSearch()"></mat-icon>
    </div>

    <div class="px-2 pt-3" *ngFor="let item of [1,2,3,4]">
        <div class="flex flex-col">
            <span>
                1902 - Keyur Vekariya
            </span>
            <span>
                keyur.vekariya@gmail.com
            </span>
        </div>
    </div>
  </div>


