<div class="flex flex-col gap-1">
    <form [formGroup]="formGroup">
        <div class="flex flex-row gap-4 items-center">

            <mat-form-field class="w-24">
                <mat-label class="text-sm">Day no.</mat-label>
                <input matInput required formControlName="day_no" type="number" />
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label class="text-sm">Highlight</mat-label>
                <input matInput required formControlName="day_itinerary_highlight" />
            </mat-form-field>

        </div>

        <div class="flex flex-row gap-4 items-center">

            <mat-form-field class="flex-grow">
                <textarea matInput placeholder="Day Itinary" formControlName="day_itinerary"></textarea>
            </mat-form-field>

            <div class="w-fit">
                <button mat-flat-button class="rounded-lg" color="primary"
                    [disabled]="formGroup.invalid" (click)="add()">
                    {{formGroup.get('id').value ? 'SAVE' : 'ADD'}}
                </button>
            </div>
        </div>
    </form>
    <div class="flex flex-col overflow-x-auto max-h-72 overflow-y-auto space-y-4">

        <div class="flex flex-col panel" *ngFor="let it of data.itinerary">
            <div class="flex flex-row items-center space-x-1">
                <span class="text-lg font-semibold">Day {{it.day_no}}</span>
                <mat-icon class="icon-size-4 only-show-on-hover cursor-pointer" [matTooltip]="'Modify'"
                    (click)="edit(it)">edit</mat-icon>
                <mat-icon class="icon-size-4 only-show-on-hover cursor-pointer text-red-500" [matTooltip]="'Remove'"
                    (click)="delete(it)">delete</mat-icon>
            </div>
            <span class="font-semibold">{{it.day_itinerary_highlight}}</span>
            <div class="whitespace-pre-line text-secondary">{{it.day_itinerary}}</div>
            <div class="flex flex-row items-start w-fit flex-wrap max-w-full overflow-hidden py-2 gap-2">
                <div class="flex flex-col gap-3 pl-0 pr-2" *ngFor="let img of it.images">
                    <div class="relative h-15 w-15 dark:bg-gray-700 bg-gray-200 rounded-md overflow-hidden panel">
                        <div class="absolute bottom-3 left-2.5 only-show-on-hover">
                            <button mat-icon-button [matTooltip]="'Remove'" (click)="removeImage(it, img)"
                                *ngIf="!readonly">
                                <mat-icon class="text-red-600" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                            </button>
                        </div>
                        <img class="w-full h-full object-cover cursor-pointer" [src]="img.image" alt="" />
                    </div>
                </div>

                <div [hidden]="true">
                    <input type="file" accept="image/*" name="profile" #ItineraryImage
                        (change)="onProfileInput($event, it)" />
                </div>

                <div class="h-15 w-15 dark:bg-gray-700 bg-gray-200 flex rounded-md justify-center items-center" *ngIf="!readonly">
                    <button [matTooltip]="'Add Itinerary Image'" type="button" (click)="ItineraryImage.click()"
                        class="text-blue-500" mat-icon-button>
                        <mat-icon svgIcon="mat_solid:add"></mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>

    </div>

    <div class="flex flex-col justify-center items-center h-20" *ngIf="data.itinerary.length <= 0">
        <div class="font-medium text-base">
            No data to display!
        </div>
    </div>
</div>