<div class="flex flex-col max-w-240 md:min-w-192 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <div class="grid grid-cols-5 gap-4 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
        <div class="flex flex-col mb-3" *ngFor="let filed of fieldList">
            <div class="flex flex-row space-x-2">
                <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon>
            </div>
            <span class="truncate flex items-center">

                <span *ngIf="filed.name === 'Email'" class="text-base truncate min-w-5">
                    <mat-icon *ngIf="records.is_email_verified"
                        class="text-green-600 text-lg inline-block h-[20px] min-h-[20px] w-[20px] min-w-[20px]"
                        [matTooltip]="'Verified'">verified</mat-icon>
                    <mat-icon *ngIf="!records.is_email_verified"
                        class="text-yellow-600 text-lg inline-block h-[20px] min-h-[20px] w-[20px] min-w-[20px]"
                        [matTooltip]="'Verification Pending'">warning</mat-icon>
                </span>

                <span *ngIf="filed.name === 'Mobile Number'" class="text-base truncate ">
                    <mat-icon *ngIf="records.is_mobile_verified"
                        class="text-green-600 text-lg inline-block h-[20px] min-h-[20px] w-[20px] min-w-[20px]"
                        [matTooltip]="'Verified'">verified</mat-icon>
                    <mat-icon *ngIf="!records.is_mobile_verified"
                        class="text-yellow-600 text-lg inline-block h-[20px] min-h-[20px] w-[20px] min-w-[20px]"
                        [matTooltip]="'Verification Pending'">warning</mat-icon>
                    <span class="mr-1  relative top-[-3px]">{{records.mobile_code}}</span></span>


                <span class="text-base truncate pr-1 relative top-[-1px]" [matTooltip]="filed.value">{{filed.value ||
                    '--'}}</span>
            </span>
        </div>
    </div>
</div>