<div class="flex flex-col max-w-256 md:min-w-128 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{ title }}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-96 pb-5" [formGroup]="formGroup"
        *ngIf="!readonly; else detailView">
        <mat-form-field class="flex-grow">
            <mat-label>City</mat-label>
            <mat-select formControlName="city_id">
                <mat-option>
                    <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="'no matching city found'"
                        [formControlName]="'cityfilter'">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let ct of cityList" [value]="ct.id">{{
                    ct.display_name
                    }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Company Name</mat-label>
                <input matInput [readonly]="readonly" formControlName="company_name" />
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Website URL</mat-label>
                <input matInput formControlName="website_url" required />
            </mat-form-field>
        </div>

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Pincode</mat-label>
                <input matInput [readonly]="readonly" formControlName="pin_code" />
            </mat-form-field>
            <mat-form-field class="flex-grow">
                <mat-label>Contact No</mat-label>
                <input matInput [readonly]="readonly" formControlName="contact_no" />
            </mat-form-field>
        </div>

        <div class="flex space-x-3">
            <mat-form-field class="w-1/2">
                <mat-label>Contact Email</mat-label>
                <input matInput formControlName="contact_email" required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
                <mat-error
                    *ngIf="this.formGroup.get('contact_email').value && !isValidEmail(this.formGroup.get('contact_email').value)">
                    Please enter a valid email address.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2">
                <mat-label>GST vat No</mat-label>
                <input matInput formControlName="gst_vat_no"  />
            </mat-form-field>
        </div>

        <div class="flex space-x-3">
            <mat-form-field class="w-1/2">
                <mat-label>GST Number</mat-label>
                <input matInput formControlName="gst_number" />
            </mat-form-field>
            <mat-form-field class="w-1/2">
                <mat-label>Currency</mat-label>
                <mat-select required *ngIf="!readonly" formControlName="base_currency_id" >
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search"
                            noEntriesFoundLabel="'no matching currency found'" [formControlName]="'currencyfilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let currency of CurrencyList" [value]="currency.id">{{currency.currency_short_code}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Address</mat-label>
                <textarea matInput [readonly]="readonly" required formControlName="address"></textarea>
            </mat-form-field>
        </div>

        <div class="flex space-x-3 justify-center">
            <div class="flex flex-col items-center">
                <div
                    class="relative flex items-center justify-center w-28 h-28 rounded-3xl overflow-hidden ring-4 ring-bg-card">
                    <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                    <div class="absolute inset-0 flex items-center justify-center z-20">
                        <div>
                            <div [hidden]="true">
                                <input type="file" accept="image/*" #profileInput
                                    (change)="onProfileInput($event, 'logo_1')" />
                            </div>
                            <label (click)="onFileClick('logo_1')"
                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                matRipple>
                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                            </label>
                        </div>
                        <div>
                            <button mat-icon-button (click)="removePhoto('logo_1')">
                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <img class="w-full h-full object-cover cursor-pointer" *ngIf="logo_1" [matMenuTriggerFor]="imgMenu"
                        [src]="logo_1" alt="User avatar" />
                    <mat-icon *ngIf="!logo_1" class="p-[10%] w-full h-full object-cover text-gray-500 cursor-pointer"
                        [svgIcon]="'heroicons_solid:camera'" [matMenuTriggerFor]="imgMenu">
                    </mat-icon>
                </div>
                <mat-label class="mt-3">Logo 1</mat-label>
                <span class="text-secondary text-xs">Max size 2 MB</span>
            </div>
            <div class="flex flex-col items-center">
                <div
                    class="relative flex items-center justify-center w-28 h-28 rounded-3xl overflow-hidden ring-4 ring-bg-card">
                    <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                    <div class="absolute inset-0 flex items-center justify-center z-20">
                        <div>
                            <div [hidden]="true">
                                <input type="file" accept="image/*" #profileInput1
                                    (change)="onProfileInput($event, 'logo_2')" />
                            </div>
                            <label (click)="onFileClick('logo_2')"
                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                matRipple>
                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                            </label>
                        </div>
                        <div>
                            <button mat-icon-button (click)="removePhoto('logo_2')">
                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <img class="w-full h-full object-cover cursor-pointer" *ngIf="logo_2" [matMenuTriggerFor]="imgMenu1"
                        [src]="logo_2" alt="User avatar" />
                    <mat-icon *ngIf="!logo_2" class="p-[10%] w-full h-full object-cover text-gray-500 cursor-pointer"
                        [svgIcon]="'heroicons_solid:camera'" [matMenuTriggerFor]="imgMenu1">
                    </mat-icon>
                </div>
                <mat-label class="mt-3">Logo 2</mat-label>
                <span class="text-secondary text-xs">Max size 2 MB</span>
            </div>
            <div class="flex flex-col items-center">
                <div
                    class="relative flex items-center justify-center w-28 h-28 rounded-3xl overflow-hidden ring-4 ring-bg-card">
                    <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                    <div class="absolute inset-0 flex items-center justify-center z-20">
                        <div>
                            <div [hidden]="true">
                                <input type="file" accept="image/*" #profileInput2
                                    (change)="onProfileInput($event, 'logo_3')" />
                            </div>
                            <label (click)="onFileClick('logo_3')"
                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                matRipple>
                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                            </label>
                        </div>
                        <div>
                            <button mat-icon-button (click)="removePhoto('logo_3')">
                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <img class="w-full h-full object-cover cursor-pointer" *ngIf="logo_3" [matMenuTriggerFor]="imgMenu2"
                        [src]="logo_3" alt="User avatar" />
                    <mat-icon *ngIf="!logo_3" class="p-[10%] w-full h-full object-cover text-gray-500 cursor-pointer"
                        [svgIcon]="'heroicons_solid:camera'" [matMenuTriggerFor]="imgMenu2">
                    </mat-icon>
                </div>
                <mat-label class="mt-3">Logo 3</mat-label>
                <span class="text-secondary text-xs">Max size 2 MB</span>
            </div>
        </div>
    </form>

    <ng-template #detailView>
        <div class="grid grid-cols-4 gap-4 mb-8 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col mb-3" *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class="text-md font-semibold text-secondary">{{
                        filed.name
                        }}</span>
                    <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon>
                </div>
                <span class="truncate flex items-center">
                    <span class="text-base truncate"
                        *ngIf="filed.name === 'Logo size 1' || filed.name === 'Logo size 2' || filed.name === 'Logo size 3'">
                        <img *ngIf="filed.value" class="w-13  object-cover cursor-pointer" src={{filed.value}}>
                        <span *ngIf="!filed.value">--</span>
                    </span>
                    <span class="text-base truncate" [matTooltip]="filed.value"
                        *ngIf="filed.name !== 'Logo size 1' && filed.name !== 'Logo size 2' && filed.name !== 'Logo size 3' ">{{
                        filed.value || "--" }}</span>
                </span>



            </div>
        </div>
    </ng-template>

    <div *ngIf="!readonly" class="flex items-center justify-end pt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <!-- Discard -->
        <button mat-stroked-button (click)="matDialogRef.close()">Close</button>
        <!-- Save as draft -->
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()"
            [disabled]=" disableBtn">
            {{ btnLabel }}
        </button>
    </div>
</div>