<fuse-drawer class="min-w-[450px] z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>
    <div class="w-full">
         <div class="flex justify-between border-b-2 border-gray-border px-5 py-4 h-15">
                <span class="text-lg font-semibold">Campaign : {{infoData?.referral_code || "-"}}</span>
                <mat-icon svgIcon="close" class=" icon-size-6 cursor-pointer "
                    (click)="settingsDrawer.close()"></mat-icon>
        </div>


        <div class="flex flex-col gap-2 px-5 py-2 h-[calc(100vh-60px)] overflow-y-auto">
            <ng-container *ngFor="let item of infoDisplayData; let isLast=last" >
                <div class="flex items-center gap-2 py-2" 
                [ngClass]="{'border-b': !isLast}">
                    <div class="w-[30%] text-gray-400 text-md">{{item.key}}</div>
                    <div class="w-[70%] text-md break-words" *ngIf="item.key != 'Link'">{{item.value}}</div>
                    <a class="w-[70%] text-md break-words underline cursor-pointer"  
                    [href]="item.value" target="_blank" 
                    *ngIf="item.key == 'Link'">{{item.value}}</a>
                </div>
            </ng-container>
        </div>
    </div>
</fuse-drawer>