<fuse-drawer class="min-w-[450px] z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>
    <div class="w-full">
         <div class="flex justify-between border-b-2 border-gray-border px-5 py-4 h-15">
                <span class="text-lg font-semibold">Campaign : {{infoData?.referral_code || "-"}}</span>
                <mat-icon svgIcon="close" class=" icon-size-6 cursor-pointer "
                    (click)="settingsDrawer.close()"></mat-icon>
        </div>


        <div class="flex flex-col gap-2 px-5 py-2 h-[calc(100vh-60px)] overflow-y-auto">
            <ng-container *ngFor="let item of infoDisplayData; let isLast=last" >
                <div class="flex items-center gap-2 py-2" 
                [ngClass]="{'border-b': !isLast}">
                    <div class="w-1/2 text-gray-400 text-md">{{item.key}}</div>
                    <div class="w-1/2 text-md break-words">{{item.value}}</div>
                </div>
            </ng-container>
        </div>
    </div>
</fuse-drawer>