<div class="flex flex-col max-w-120 md:min-w-120 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">New Signup</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <!-- FORM -->
    <div class="px-6 pt-3">
        <form class="" [formGroup]="leadForm">
            <div class="fields pb-1 space-y-2">

                <mat-form-field class="w-full">
                    <mat-label>Agency Name</mat-label>
                    <input id="agency_name" matInput placeholder="Agency Name" [formControlName]="'agency_name'"
                        required>
                    <mat-error *ngIf="leadForm.get('agency_name').hasError('required')">
                        Agency name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city_id" placeholder="City" [compareWith]="compareWith" #City>
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching city found'" formControlName="cityfilter">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let ct of cityList | async"
                            [value]="ct">{{ct.display_name}}</mat-option>
                    </mat-select>
                    <mat-icon (click)="this.City.open()" svgIcon="heroicons_mini:chevron-down"
                        class="cursor-pointer"></mat-icon>
                        <mat-error *ngIf="leadForm.get('city_id').hasError('required')">
                            City is required
                        </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Email Address</mat-label>
                    <input id="email" matInput placeholder="Email address" [formControlName]="'email'">
                    <mat-error *ngIf="leadForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="leadForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <div class="flex flex-row gap-3">

                    <mat-form-field class="w-1/4">
                        <mat-label>Code</mat-label>
                        <mat-select class="text-white" formControlName="mobile_code" #mobile_code>
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search Country Code"
                                    noEntriesFoundLabel="'no matching Mobile Code found'"
                                    formControlName="mobile_code_filter">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let ct of mobileCodeList" [value]="ct.mobile_code">
                                <div class="flex flex-col justify-center">
                                    <span class="font-medium">{{ct.country_code}} - {{ct.mobile_code}}</span>
                                </div>
                            </mat-option>
                        </mat-select>
                        <mat-icon (click)="this.mobile_code.open()" svgIcon="heroicons_mini:chevron-down"
                        class="cursor-pointer"></mat-icon>
                        <mat-error *ngIf="leadForm.get('mobile_code').hasError('required')">
                            Mobile code is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-3/4">
                        <mat-label>Mobile Number</mat-label>
                        <input id="mobile" matInput type="text" placeholder="Mobile Number"
                            [formControlName]="'mobile'" (keypress)="numberOnly($event)">
                        <mat-error *ngIf="leadForm.get('mobile').hasError('required')">
                            Mobile number is required
                        </mat-error>
                        <mat-error *ngIf="leadForm.get('mobile').hasError('minlength')">
                            Mobile number must be 7 character long
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
           
        </form>
    </div>

    <div class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3 pt-3">
        <button mat-flat-button [color]="'primary'" (click)="create()">
            Save
        </button>
    </div>
</div>