<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">
            {{ module_name }}
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" (click)="refreshItems()"></mat-icon>
            </div>

            <!------Global filter------>
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <button class="ml-4" mat-flat-button [color]="'primary'" [disabled]="isLoading" (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="create()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Add New Record" (click)="_filterService.openDrawer(filter_table_name, primengTable)">
                <mat-icon [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                <span class="ml-2 mr-1">Filter</span>
            </button>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
            columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
            [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
            [lazy]="true" (onLazyLoad)="refreshItems($event)" [scrollable]="true" [scrollHeight]="scrollHeight"
            [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['transfer_from', 'transfer_to', 'city_name', 'transfer_type','is_airport_pickup','is_airport_dropoff','is_inter_hotel_transfer','distance_in_km']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="  text-center left-[-1px]" pFrozenColumn>#</th>
                    <th class="min-w-[165px] dark:bg-[#1e293b]" pSortableColumn="transfer_from" pResizableColumn alignFrozen="left" pFrozenColumn
                        [frozen]="frozenObj?.transfer_from" [ngClass]="{'left-0': !frozenObj?.transfer_from}">
                        Transfer From <p-sortIcon field="transfer_from" />
                        <span class="float-right" (click)="isFrozenColumn('transfer_from');$event.stopPropagation()">
                            <i *ngIf="!frozenObj?.transfer_from" class="pi pi-lock-open icon-size-3"></i>
                            <i *ngIf="frozenObj?.transfer_from" class="pi pi-lock icon-size-3"></i>
                        </span>
                    </th>
                    <th pSortableColumn="transfer_to" pResizableColumn>
                        Transfer To <p-sortIcon field="transfer_to" />
                    </th>
                    <th pSortableColumn="city_name" pResizableColumn>
                        City <p-sortIcon field="city_name" />
                    </th>
                    <th pSortableColumn="transfer_type" pResizableColumn>
                        Transfer Type <p-sortIcon field="transfer_type" />
                    </th>
                    <th class="text-center" pSortableColumn="is_airport_pickup" pResizableColumn>
                        Airport Pickup <p-sortIcon field="is_airport_pickup" />
                    </th>
                    <th class="text-center" pSortableColumn="is_airport_dropoff" pResizableColumn>
                        Airport Dropoff <p-sortIcon field="is_airport_dropoff" />
                    </th>
                    <th class="text-center" pSortableColumn="is_inter_hotel_transfer" pResizableColumn>
                        Inter Hotel Transfer <p-sortIcon field="is_inter_hotel_transfer" />
                    </th>
                    <th class="w-full" pSortableColumn="distance_in_km" pResizableColumn>
                        Distance in KM <p-sortIcon field="distance_in_km" />
                    </th>

                </tr>

                <tr *ngIf="isFilterShow">
                    <th class=" left-[-1px]" pFrozenColumn></th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.transfer_from">
                        <p-columnFilter type="text" matchMode="contains" field="transfer_from" placeholder="Search by City"
                            ariaLabel="Filter Transfer From"/>
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="transfer_to" placeholder="Search by State"
                            ariaLabel="Filter Transfer To" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="city_name" placeholder="Search by City Name"
                        ariaLabel="Filter City Name" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="transfer_type" placeholder="Search by Transfer Type"
                        ariaLabel="Filter Transfer Type" />
                    </th>

                    <th>
                        <p-columnFilter field="is_airport_pickup" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown"
                                            [ngModel]="value"
                                            [options]="actionList"
                                            (onChange)="filter($event.value)"
                                            placeholder="Select Airport Pickup"
                                             appendTo="body"
                                            [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter field="is_airport_dropoff" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown"
                                            [ngModel]="value"
                                            [options]="actionList"
                                            (onChange)="filter($event.value)"
                                            placeholder="Select Airport Dropoff"
                                             appendTo="body"
                                            [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter field="is_inter_hotel_transfer" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown"
                                            [ngModel]="value"
                                            [options]="actionList"
                                            (onChange)="filter($event.value)"
                                            placeholder="Select Inter Hotel Transfer"
                                             appendTo="body"
                                            [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="numeric" field="distance_in_km" placeholder="Search by Distance In KM"
                        ariaLabel="Filter Distance In KM" />
                    </th>

                    <th>
                    </th>

                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element >
                <tr [ngClass]="element.is_disabled ? 'opacity-38' : ''">
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="view(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600">Info</span>
                            </button>
                            <button mat-menu-item (click)="edit(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600">Edit</span>
                            </button>
                            <button mat-menu-item (click)="delete(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                                <span style="font-weight: 600">Delete</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item (click)="AuditUnaudit(element)">
                                <mat-icon class="mat-18">{{ element.is_audited ? "highlight_off" : "check_circle" }}</mat-icon>
                                <span style="font-weight: 600">{{ element.is_audited ? "Unaudit" : "Audit" }}</span>
                            </button>
                            <button mat-menu-item (click)="EnableDisable(element)">
                                <mat-icon class="mat-18">{{ element.is_disabled ? "check_circle" : "highlight_off" }}</mat-icon>
                                <span style="font-weight: 600">{{ element.is_disabled ? "Enable" : "Disable" }}</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.transfer_from">
                        <div class="gap-2 flex flex-element items-center">
                        <div class="cursor-pointer" *ngIf="element.transfer_from" [matTooltip]="element.is_audited ? 'Audited' : 'Unaudited'"
                            class="w-2 h-2 rounded-full" [ngClass]="element.is_audited ? 'bg-green-500' : 'bg-red-500'">
                        </div>
                        <div>
                            {{element.transfer_from}}
                        </div>
                    </div>
                    </td>
                    <td>{{element.transfer_to}}</td>
                    <td>{{element.city_name}}</td>
                    <td>{{element.transfer_type}}</td>
                    <td class="text-center">
                        <mat-icon class="text-green-600" *ngIf="element.is_airport_pickup">done</mat-icon>
                        <mat-icon class="text-red-600" *ngIf="!element.is_airport_pickup">clear</mat-icon>
                    </td>
                    <td class="text-center">
                        <mat-icon class="text-green-600" *ngIf="element.is_airport_dropoff">done</mat-icon>
                        <mat-icon class="text-red-600" *ngIf="!element.is_airport_dropoff">clear</mat-icon>
                    </td>
                    <td class="text-center">
                        <mat-icon class="text-green-600" *ngIf="element.is_inter_hotel_transfer">done</mat-icon>
                        <mat-icon class="text-red-600" *ngIf="!element.is_inter_hotel_transfer">clear</mat-icon>
                    </td>
                    <td>{{element.distance_in_km || '-'}}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14">
                    <td colspan="9" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


</div>
