<div class="flex flex-col flex-auto min-w-0 overflow-hidden">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-5 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div class="cursor-pointer" [routerLink]="InsuranceRoute">
                    <a class="whitespace-nowrap text-primary-500">Insurance Details</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Details</a>
                </div>
            </div>
        </div>

        <button mat-raised-button color="primary" (click)="close()">
            Close
        </button>
    </div>

    <div class="m-8">
        <div class="m-auto max-w-[1200px]">
            <!-- Insurance Associated  -->
            <div class="pb-2 primeng-alert" *ngIf="mainDataAll && mainDataAll?.insurance_for_id">
                <p-messages severity="info">
                    <ng-template pTemplate>
                        <div class="ml-2 flex items-center font-semibold text-[14px] leading-5">
                            <mat-icon svgIcon="heroicons_outline:information-circle" class="pr-1"></mat-icon>
                            This booking is associated with {{mainDataAll?.insurance_for}} {{mainDataAll?.insurance_for_ref_no}}
                        </div>
                        <button mat-raised-button (click)="goToData()">View</button>
                    </ng-template>
                </p-messages>
            </div>


            <div class="mb-6 flex ">
                <div class="w-2/3 bg-card rounded-2xl p-6 h-fit">
                    <div>
                        <div class="flex justify-between mb-3">
                            <div class="flex">

                                <div *ngIf="mainDataAll?.is_print_button_show"
                                    class="px-2 py-1 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer"
                                    (click)="print('agent')">
                                    <div>
                                        <img src="assets/icons/voucher.svg" alt="">
                                    </div>
                                    <span class="text-md leading-none ml-2">Voucher</span>
                                </div>

                                <!--Your Invoice-->
                                <div *ngIf="mainDataAll?.is_invoice_button_show && mainDataAll?.invoice_id"
                                    class="px-2 py-1 mx-2 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer"
                                    (click)="invoice('print')">
                                    <mat-icon class="material-symbols-outlined secondary-text text-xl">print</mat-icon>
                                    <span class="text-md leading-none ml-2">Your Invoice</span>
                                </div>

                                 <!--Agent Invoice-->
                                   <div *ngIf="mainDataAll?.is_invoice_button_show && mainDataAll?.agent_invoice_id"
                                    class="px-2 py-1 mx-2 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer"
                                    (click)="agentInvoice('print')">
                                    <mat-icon class="material-symbols-outlined secondary-text text-xl">print</mat-icon>
                                    <span class="text-md leading-none ml-2">Invoice</span>
                                </div>

                                <div class="px-2 py-1 mr-2 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer" (click)="logs()">
                                    <div>
                                        <img src="assets/icons/logs.svg" alt="">
                                    </div>
                                    <span class="text-md leading-none ml-2">Logs</span>
                                </div>

                                <div class="px-2 py-1 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer "
                                    (click)="fileLogs()">
                                    <div>
                                        <img src="assets/icons/logs.svg" alt="">
                                    </div>
                                    <span class="text-md leading-none ml-2">File Logs</span>
                                </div>

                            </div>
                            <div>
                                <div *ngIf="Status === 'Confirmed'"
                                    class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(1,175,71,0.1)] flex items-center border green-border">
                                    <mat-icon class="green-text text-2xl">check_circle</mat-icon>
                                    <span class="text-md font-semibold ml-2 leading-none">Your Insurance is Confirmed</span>
                                </div>
                                <div *ngIf="Status === 'Pending' || Status === 'Waiting for Payment' || Status === 'Confirmation Pending' || Status === 'Offline Pending' || Status === 'Partially Cancelled' || Status === 'Hold'"
                                    class="pl-2 pr-3 py-1 rounded-lg  flex items-center border light-border">
                                    <mat-icon class="secondary-text text-2xl">watch_later</mat-icon>
                                    <span class="text-md font-semibold ml-2 leading-none theme-black-text">Your Insurance Process is Pending</span>
                                </div>
                                <div *ngIf="Status === 'Payment Failed' || Status === 'Booking Failed' || Status === 'Failed'"
                                    class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border bonton-red-border">
                                    <mat-icon class="text-2xl bonton-red-text">warning</mat-icon>
                                    <span class="text-md font-semibold ml-2 leading-none">Your Insurance is Failed</span>
                                </div>
                                <div *ngIf="Status === 'Partial Cancelled' || Status === 'Cancelled'"
                                class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border bonton-red-border">
                                <mat-icon class="text-2xl bonton-red-text">warning</mat-icon>
                                <span class="text-md font-semibold ml-2 leading-none">{{Status}}</span>
                            </div>
                            </div>
                        </div>
                    </div>

                    <!--Booking By--->
                    <div class="border rounded-2xl overflow-hidden mb-5">
                        <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px] text-lg">Booking By</div>
                        <div class="grid p-5 xl:grid-cols-3 grid-cols-2 gap-4 overflow-hidden  ">
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Agent Name</span>
                                <div class="truncate">
                                    <span class="text-base truncate cursor-pointer border-b border-gray-500"
                                        (click)="agentInfo(mainDataAll)"
                                        [matTooltip]="bookingBy?.agent_name">{{bookingBy?.agent_name || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Type</span>
                                <div class="truncate">
                                    <span class="text-base truncate" [matTooltip]="bookingBy?.type">{{bookingBy?.type ||
                                        ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Agent Contact Number</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="bookingBy?.agent_contact">{{bookingBy?.agent_contact || '
                                        -'}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Agent Email</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="bookingBy?.agent_email">{{bookingBy?.agent_email || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">RM</span>
                                <div class="truncate">
                                    <span class="text-base truncate" [matTooltip]="bookingBy?.rm">{{bookingBy?.rm || '
                                        -'}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">B2B Partner</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [ngClass]="bookingBy?.b2b_partner ? 'cursor-pointer border-b border-gray-500' : ''"
                                        [matTooltip]="bookingBy?.b2b_partner"
                                        (click)="bookingBy?.b2b_partner ? B2BPartnerInfo() : null">{{bookingBy?.b2b_partner
                                        || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">B2C Customer</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="bookingBy?.b2c_customer">{{bookingBy?.b2c_customer || '
                                        -'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Booking Details--->
                    <div class="border rounded-2xl overflow-hidden mb-5">
                        <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px] text-lg">Booking Details</div>
                        <div class="grid p-5 xl:grid-cols-3 grid-cols-2 gap-4 overflow-hidden  ">
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Reference Number</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.booking_ref_no">{{mainDataAll?.booking_ref_no || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Policy Number</span>
                                <div class="truncate flex gap-2">
                                    <span class="text-base truncate" [matTooltip]="mainDataAll?.policyNumber">{{mainDataAll?.policyNumber || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Booking Date</span>
                                <div class="truncate flex gap-2">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.bookingDate">{{(mainDataAll?.bookingDate | date:'dd-MM-yyyy HH:mm:ss') || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Travel From Date</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        >{{(mainDataAll?.startDate |
                                        date:'dd-MM-yyyy') || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Travel To Date</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        >{{(mainDataAll?.endDate |
                                        date:'dd-MM-yyyy') || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Supplier</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.supplier_name">{{mainDataAll?.supplier_name || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Supplier Ref. No.</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.supplier_ref_no">{{mainDataAll?.supplier_ref_no || '
                                        - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Destination</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.destination">{{mainDataAll?.destination || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Plan Name</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.planName">{{mainDataAll?.planName || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Pax</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.pax">{{mainDataAll?.pax || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Device</span>
                                <div class="truncate">
                                    <span class="text-base truncate" [matTooltip]="mainDataAll?.device">{{mainDataAll?.device || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">IP Address</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.ip_address">{{mainDataAll?.ip_address || ' - '}}</span>
                                </div>
                            </div> 
                             <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Booking From</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.booking_from">{{mainDataAll?.booking_from || ' - '}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Payment--->
                    <div class="border rounded-2xl overflow-hidden mb-5">
                        <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px]  justify-between flex items-center">
                            <span class="text-lg">Payment</span>
                            <!-- <button (click)="refund()"
                                *ngIf="Status === 'Payment Failed' || Status === 'Rejected' || Status === 'Booking Failed'"
                                class="text-default font-normal px-4 py-1 rounded-[14px] bg-[#0D9488]">
                                <span class="text-white">Refund</span>
                            </button> -->
                        </div>
                        <div class="grid p-5 xl:grid-cols-3 grid-cols-2 gap-4 overflow-hidden  ">
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">MOP</span>
                                <div class="truncate">
                                    <span class="text-base truncate" [matTooltip]="paymentBy?.mop">{{paymentBy?.mop || '
                                        - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Wallet</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.wallet">{{paymentBy?.wallet || ' 0 '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Amount</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_amount">{{paymentBy?.pg_amount || ' 0 '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Charges</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_charge">{{paymentBy?.pg_charge ?
                                        paymentBy?.pg_charge.toFixed(2) : ' 0 ' }}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Settlement</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_settlement">{{paymentBy?.pg_settlement ?
                                        paymentBy?.pg_settlement.toFixed(2) : ' 0 ' }}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Name</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_name">{{paymentBy?.pg_name || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Ref.No</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_ref_no">{{paymentBy?.pg_ref_no || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Payment Method</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_payment">{{paymentBy?.pg_payment || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Status</span>
                                <div class="truncate flex gap-2">
                                    <span class="text-base truncate"
                                        [ngClass]="paymentBy?.pg_status == 'Confirm' ? 'text-green-500' : 'text-red-500'"
                                        [matTooltip]="paymentBy?.pg_status">{{paymentBy?.pg_status || ' - '}}</span>
                                    <!-- <img *ngIf="mainDataAll?.payment_method == 'Online' || mainDataAll?.payment_method == 'Partial'"
                                        (click)="checkStatus()" class="w-5 cursor-pointer"
                                        src="assets/icons/refresh.svg" alt="" matTooltip="Check Status"> -->
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Error</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_error">{{paymentBy?.pg_error || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Refund Status</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.refund_status">{{paymentBy?.refund_status || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Refund Amount</span>
                                <div class="truncate">
                                    <span class="text-base truncate">{{paymentBy?.refund_amount || ' 0 '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Refund Date Time</span>
                                <div class="truncate">
                                    <span class="text-base truncate">{{(paymentBy?.refund_datetime | date:'dd-MM-yyyy HH:mm:ss') || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Refund Reason</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.refund_reason">{{paymentBy?.refund_reason || ' - '}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="  overflow-hidden w-1/3 ml-3 h-fit">
                    <div class="pb-1 info relative flex flex-col mb-5 overflow-hidden rounded-2xl bg-card"
                        *ngFor="let pdv of priceDetails; let i = index">
                        <div *ngFor="let pd of pdv.value">
                            <div *ngIf="pd.is_header"
                                class="w-full text-lg font-medium px-4 py-3  border-b border-gray-border dark:bg-primary bg-gray-200">
                                {{pd.key}}</div>
                            <div *ngIf="!pd.is_header">
                                <div [ngClass]="{'text-default': pd.is_bold, 'text-default': pd.is_main, 'text-default': (!pd.is_bold && !pd.is_main)}"
                                    class="flex justify-between w-full px-4 py-2"
                                    *ngIf="pd.key != '---' && pd.key != 'Total Amount'">
                                    <span [ngClass]="(pd.is_bold || pd.is_main)? 'font-semibold':''"
                                        class="flex items-center">{{pd.key}}</span>
                                    <span [ngClass]="(pd.is_bold || pd.is_main)? 'font-semibold':''"
                                        class="relative top-[2px]">{{pd.value}}</span>
                                </div>
                                <span *ngIf="pd.key === '---'"
                                    class="py-1 mx-4 block border-b border-dashed border-gray-border"></span>
                                <div *ngIf="pd.key === 'Total Amount'"
                                    class="px-4 text-default py-4 mt-1 border-t border-gray-border flex justify-between  font-semibold text-xl">
                                    <span>{{pd.key}}</span>
                                    <span>{{pd.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="flex flex-0 items-center justify-between h-16 px-6  bg-primary">
                        <div class="text-xl font-medium">Price information</div>
                    </div>
                    <div *ngFor="let pd of priceDetails">
                        <div [ngClass]="pd.is_bold? 'font-semibold text-default':'secondary-text'"
                            class="flex justify-between w-full px-4 py-2"
                            *ngIf="pd.key != '---' && pd.key != 'Total Amount'">
                            <span class="flex items-center">{{pd.key}}</span>
                            <span class="relative top-[2px]">{{pd.value}}</span>
                        </div>
                        <span *ngIf="pd.key === '---'"
                            class="py-1 mx-4 block border-b border-dashed border-gray-border"></span>
                        <div *ngIf="pd.key === 'Total Amount'"
                            class="px-4 py-4 mt-1 border-t border-gray-border flex justify-between primary-text font-semibold text-xl">
                            <span>{{pd.key}}</span>
                            <span>{{pd.value}}</span>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="w-full">
                <div class="text-3xl font-extrabold tracking-tight">Traveller Information</div>
                <div class="flex flex-col mt-5 mb-6 overflow-x-hidden overflow-y-auto border rounded-2xl"
                    style="max-height: 40% !important">
                    <div
                        class="flex flex-row border-b-2 max-h-10 min-h-10 items-center dark:bg-card bg-gray-200 sticky top-0 text-lg px-4">
                        Customer Details</div>
                    <div
                        class="flex flex-row border-b-2 max-h-10 min-h-10 items-center text-secondary sticky top-0 dark:bg-transparent bg-white">
                        <div class="w-[40px] min-w-[40px] max-w-[40px] text-center">#</div>
                        <div class="w-[255px] px-4">Name</div>
                        <div class="w-[150px] px-4">Date Of Birth</div>
                        <div class="w-[255px] px-4">Email</div>
                        <div class="w-[150px] px-4">Mobile</div>
                        <div class="w-[200px] px-4">Policy Number</div>
                        <div class="w-[150px] text-center">View Policy</div>
                    </div>
                    <div class="flex flex-row border-b-2 max-h-30 min-h-10 items-center overflow-hidden dark:bg-transparent bg-white"
                        *ngFor="let data of travellerDataList">
                        <div class="w-[40px] min-w-[40px] max-w-[40px] text-center">
                            <mat-icon class="w-[10px] min-w-[17px] text-[#1674e6] cursor-pointer"
                                svgIcon="heroicons_outline:exclamation-circle" (click)="info(data)"></mat-icon>
                        </div>
                        <div class="w-[255px] px-4">{{ data.name || ' - '}}</div>
                        <div class="w-[150px] px-4">{{ (data.dateOfBirth | date:'dd-MM-yyyy') || ' - '}}</div>
                        <div class="w-[255px] px-4">{{ data.email || ' - '}}</div>
                        <div class="w-[150px] px-4">{{ data.mobile || ' - '}}</div>
                        <div class="w-[200px] px-4">{{ data.policyNumber || ' - '}}</div>
                        <div class="w-[150px] text-center cursor-pointer"><mat-icon (click)="viewPolicy(data.document_url)" svgIcon="heroicons_outline:arrow-down-tray"></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <app-account-details [account]="accountDatail"></app-account-details>
            </div>
        </div>

    </div>