<div class="flex flex-col gap-3">
    <div>Domain Pointing</div>
    <div class="dark:bg-[#2C394E8A] p-3 rounded-[5px] flex items-center gap-3 text-[#9CADD3] text-[12px]">
        <img src="assets/icons/verify-info.svg" alt="Info Icon" class="w-[20px] h-[19px]">
        To learn more about domain pointing and the domain panel, please click on <span class="underline text-primaryColor cursor-pointer" (click)="getHelp()">Get help</span> 
    </div>

    <div class="border dark:border-[#32415470] rounded-[12px] p-4">
        <div>
            <div class="flex items-center gap-3">
                <img src="assets/icons/danger-icon.svg" alt="Info Icon" class="w-[20px] h-[19px]">
                <img src="assets/icons/loader.svg" alt="Loader Icon" class="w-[20px] h-[19px]">
                <i class="material-icons text-[20px] text-primaryColor text-medium">check</i>
                <span class="font-normal text-[14px]">bontonholidays.com</span>
            </div>
        </div>
    </div>
</div>