<div class="p-6 pb-2 flex gap-2 items-center">
    <div>
        <img src="assets/icons/confirm-icon.svg" alt="Confirm Icon" class="w-9 h-9">
    </div>
    <div class="flex flex-col">
        <span class="text-xl text-[#fff] font-bold">Activate</span>
        <span class="text-[#8B9DB5] text-[12px]">Do you want to activate?</span>
    </div>
</div>

<div class="px-6 pt-1">
    <form [formGroup]="formGroup">
        <mat-form-field class="w-full">
          <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500 text-sm">
              {{record?.item_name?.toLowerCase()?.includes('android') ? 'Play': 'App' }}  Store App URL
          </mat-label>
          <input *ngIf="record?.item_name?.toLowerCase()?.includes('android')" matInput formControlName="android_app_url">
          <input *ngIf="record?.item_name?.toLowerCase()?.includes('ios')" matInput formControlName="ios_app_url">
        </mat-form-field>
    </form>
</div>

<div class="bg-[#1B2535] py-3 px-6 flex items-center justify-end gap-2">
    <button mat-stroked-button class="min-w-[100px]" (click)="matDialogRef.close()">
            Cancel
    </button>

    <button mat-flat-button [color]="'primary'" class="flex items-center min-w-[100px]"
    [disabled]="isLoading || formGroup.invalid"
    (click)="onActivate()">
        Activate
    </button>

   
</div>
