<div class="table-container paginator-bottom">
    <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
        columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
        [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
        [lazy]="true" (onLazyLoad)="refreshItemsPending($event)" [scrollable]="true" [scrollHeight]="scrollHeightWTab"
        [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
        [globalFilterFields]="['reference_number', 'request_date_time', 'recharge_for_name', 'recharge_amount','mop','filename','user_remark']"
        styleClass="p-datatable-gridlines p-datatable-sm">

        <ng-template pTemplate="header">
            <tr>
                <th class="  text-center left-[-1px]" pFrozenColumn>#</th>
                <th class="min-w-[145px] dark:bg-[#1e293b]" pSortableColumn="reference_number" pResizableColumn pResizableColumn alignFrozen="left"
                    pFrozenColumn [frozen]="frozenObj?.reference_number"
                    [ngClass]="{'left-0': !frozenObj?.reference_number}">
                    Ref. No <p-sortIcon field="reference_number" />
                    <span class="float-right" (click)="isFrozenColumn('reference_number');$event.stopPropagation()">
                        <i *ngIf="!frozenObj?.reference_number" class="pi pi-lock-open icon-size-3"></i>
                        <i *ngIf="frozenObj?.reference_number" class="pi pi-lock icon-size-3"></i>
                    </span>
                </th>
                <th class="min-w-[200px]" pSortableColumn="request_date_time" pResizableColumn>
                    Request <p-sortIcon field="request_date_time" />
                </th>
                <th pSortableColumn="agent_code" pResizableColumn>
                    Agent Code <p-sortIcon field="agent_code" />
                </th>
                <th pSortableColumn="recharge_for_name" pResizableColumn>
                    Agent <p-sortIcon field="recharge_for_name" />
                </th>
                <th class="text-right" pSortableColumn="recharge_amount" pResizableColumn>
                    Amount <p-sortIcon field="recharge_amount" />
                </th>
                <th pSortableColumn="mop" pResizableColumn>
                    MOP <p-sortIcon field="mop" />
                </th>
                <th  pResizableColumn class="text-center">
                    Attachment
                </th>
                <th class="w-full" pSortableColumn="user_remark" pResizableColumn>
                    Remark <p-sortIcon field="user_remark" />
                </th>
            </tr>

            <tr *ngIf="isFilterShowPending">
                <th class=" left-[-1px]" pFrozenColumn></th>
                <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.reference_number">
                    <p-columnFilter type="text" matchMode="contains" field="reference_number" placeholder="Search by Reference Number"
                        ariaLabel="Filter Reference Number" />
                </th>
                <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.request_date_time">
                    <p-columnFilter field="request_date_time" matchMode="custom" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar
                                    selectionMode="range"
                                    [ngModel]="value"
                                    (ngModelChange)="onDateRangeChange($event, filter)"
                                    [readonlyInput]="true"
                                    dateFormat="dd-mm-yy"
                                    appendTo="body"
                                    placeholder="Search by Date Range">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="numeric" field="agent_code" placeholder="Search by Agent Code"
                        ariaLabel="Filter Agent Code" />
                </th>
                <th>
                    <p-columnFilter class="searchableDropdown" field="agent_code_filter" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown class="filter-dropdown" [options]="agentList" [(ngModel)]="selectedEmployee"
                                optionLabel="agency_name" [filter]="true" filterBy="agency_name"
                                (onFilter)="getAgentList($event?.filter)" (keydown)="filter($event.value?.id)"  (onChange)="filter($event.value?.id)"
                                [showClear]="true" appendTo="body" placeholder="Select a Agent">
                                <ng-template let-employee pTemplate="item">
                                        <div [value]="employee.id">{{ employee.agency_name }}</div>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="numeric" field="recharge_amount" placeholder="Search by Recharge Amount"
                        ariaLabel="Filter Recharge Amount" />
                </th>

                <th>
                    <!-- <p-columnFilter type="text" field="mop" placeholder="Search by MOP" ariaLabel="Filter MOP" /> -->
                    <p-columnFilter class="searchableDropdown" field="mop" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown class="filter-dropdown" [options]="mopList" [(ngModel)]="selectedMop"
                                optionLabel="mop" [filter]="true" filterBy="mop"
                                (onFilter)="getMopList($event?.filter)" (onChange)="filter($event.value?.mop)"
                                [showClear]="true" appendTo="body" placeholder="Select a MOP">
                                <ng-template let-option pTemplate="item">
                                        <div >{{ option.mop }}</div>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>

                </th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="user_remark" placeholder="Search by Remark"
                        ariaLabel="Filter Remark" />
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-element>
            <tr>
                <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                    <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                        <mat-icon> more_vert </mat-icon>
                    </span>

                    <mat-menu #optionMenu>
                        <button mat-menu-item (click)="view(element)">
                            <mat-icon class="mat-18">info</mat-icon>
                            <span style="font-weight: 600">Info</span>
                        </button>
                        <button *ngIf="!element.is_audited && element.mop != 'Payment Gateway'" mat-menu-item
                            (click)="Audit(element)">
                            <mat-icon class="mat-18">check_circle</mat-icon>
                            <span style="font-weight: 600;">Audit</span>
                        </button>
                        <button *ngIf="!element.is_rejected && element.mop != 'Payment Gateway'" mat-menu-item
                            (click)="Reject(element)">
                            <mat-icon class="mat-18">close</mat-icon>
                            <span style="font-weight: 600;">Reject</span>
                        </button>
                    </mat-menu>
                </td>
                <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.reference_number">
                    {{(element.reference_number) || '-'}}
                </td>
                <td>
                    {{(element.request_date_time | date:'dd-MM-yyyy HH:mm:ss') || '-'}}
                </td>
                <td>
                    {{element.agent_code || '-'}}
                </td>
                <td>
                    {{element.recharge_for_name || '-'}}
                </td>
                <td class="text-right">
                    {{element.recharge_amount || '-'}}
                </td>
                <td>
                    {{element.mop || '-'}}
                </td>
                <td class="text-center">
                    <!-- <span *ngIf="!element.filename"> - </span> -->
                    <span class="text-center justify-center">
                        <mat-icon [attr.disabled]="!element['filename'] ? true : null"
                            svgIcon="heroicons_outline:arrow-down-tray"
                            [ngClass]="!element['filename'] ? 'rounded-full cursor-not-allowed text-blue-400 p-0.5' : 'rounded-full cursor-pointer text-blue-600 p-0.5' "
                            (click)="!element['filename'] ? null : downloadfile(element['filename'])"
                            [matTooltip]="!element['filename'] ? 'No File': 'Download'"></mat-icon>
                    </span>
                </td>
                <td>
                    {{element.user_remark || '-'}}
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr class="h-14">
                <td colspan="9" class="text-center font-semibold text-lg">
                    {{getNodataTextPending()}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
