<div class="flex flex-col max-w-240 md:min-w-100 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto p-6  overflow-y-auto" [formGroup]="formGroup" *ngIf="!readonly else detailView">
        <mat-form-field class="flex-grow">
            <mat-label>Item Code</mat-label>
            <mat-select required formControlName="item_code">
                <mat-option *ngFor="let trip of codeList" [value]="trip.value">
                    {{ trip.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-grow">
            <mat-label>Item Name</mat-label>
            <mat-select required formControlName="item_name">
                <mat-option *ngFor="let trip of itemList" [value]="trip.value">
                    {{ trip.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="flex space-x-3">
            <div>Is Auto Enabled</div>
            <mat-slide-toggle [readonly]="readonly" formControlName="is_auto_enabled"></mat-slide-toggle>
        </div>

    </form>

    <ng-template #detailView>
        <div class="grid grid-cols-3 gap-6 mb-3 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col " *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                </div>
                <span class="text-base truncate" [matTooltip]="filed.value">{{filed.value || '--'}}</span>
            </div>
        </div>
    </ng-template>

    <div class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
            {{btnLabel}}
        </button>
    </div>
</div>