.mat-datepicker-content {
    table {
        th, td {
            border: inherit !important;
        }
    }
}

.main-table {
    table, th, td {
       border: 1px solid gray;
       padding-top: 5px;
       padding-bottom: 5px;
    }
} 

.mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
    min-height: 30px !important;
}

.theme-default.light .mat-toolbar.mat-primary {
    background: var(--primary-color);
}

.theme-default.light .mat-mdc-mini-fab.mat-primary {
    --mdc-fab-container-color: var(--primary-color);
}

.theme-default.light .mat-mdc-button.mat-primary {
    --mat-mdc-button-persistent-ripple-color: var(--primary-color);
}

.theme-default.light .mat-mdc-button.mat-primary {
    --mdc-text-button-label-text-color: var(--primary-color);
}