.orange-text{
    color: #f49a19 !important;
}

.green-text{
    color: #01af47 !important;
}

.red-text{
    color: #be262c !important;
}

.primary-text{
    color: #234977 !important;
}

.overflow-visible {
    overflow: visible;
}

.primary-border{
    border-color: #234977 !important;
}

.bonton-red-border{
    border-color: #be262c !important;
}

.green-border{
    border-color: #01af47 !important;
}

.light-border {
    border-color: #707070 !important;
}
