<div class="flex flex-col max-w-240 md:min-w-120 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto p-6  overflow-y-auto" [formGroup]="formGroup"
        *ngIf="!readonly else detailView">
        
        <mat-form-field class="flex-grow">
            <mat-label>Product Name</mat-label>
            <input matInput type="text" formControlName="product_name" required>
        </mat-form-field>

        <div class="flex flex-row gap-3">
            <mat-form-field class="flex-grow">
                <mat-label>One Time Cost</mat-label>
                <input matInput type="text" type="number" formControlName="one_time_cost" required>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Product Expiry</mat-label>
                <mat-select required formControlName="product_expiry">
                    <mat-option *ngFor="let trip of expiryList" [value]="trip.value">
                        {{ trip.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-form-field class="w-full">
            <mat-label>Item</mat-label>
            <mat-select formControlName="ItemId" multiple [compareWith]="compareWith" required="">
                <mat-option>
                    <ngx-mat-select-search placeholderLabel="Search"
                        noEntriesFoundLabel="'no matching item found'" [formControlName]="'itemfilter'">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let topping of itemList" [value]="topping">{{ topping.item_name }}</mat-option>
            </mat-select>

        </mat-form-field>

        <div class="flex flex-row gap-3">
            <!-- <mat-form-field class="flex-grow" *ngIf="this.formGroup.get('is_amc_required').value == true">
                <mat-label>AMC Amount</mat-label>
                <input matInput type="number" formControlName="amc_amount" required>
            </mat-form-field> -->

             <mat-form-field class="flex-grow">
                <mat-label>Max Installment</mat-label>
                <input matInput type="number" formControlName="max_installment" required>
            </mat-form-field>
        </div>

        <mat-form-field class="flex-grow">
            <mat-label>Product Remark</mat-label>
            <!-- <input matInput type="text" formControlName="product_remark" required>  -->
            <textarea  matInput formControlName="product_remark" matTextareaAutosize matAutosizeMinRows="5"></textarea>
        </mat-form-field>

        <!-- <div class="flex space-x-3">
            <div>Is AMC Required</div>
            <mat-slide-toggle [readonly]="readonly" formControlName="is_amc_required"></mat-slide-toggle>
        </div> -->

    </form>

    <ng-template #detailView>
        <div class="grid grid-cols-3 gap-6 mb-3 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col " *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                </div>
                <span class="text-base truncate" [matTooltip]="filed.value">{{filed.value || '--'}}</span>
            </div>
        </div>
    </ng-template>

    <div class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
            {{btnLabel}}
        </button>
    </div>
</div>