<div class="flex flex-col flex-auto min-w-0">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-5 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div class="cursor-pointer" [routerLink]="activityListRoute">
                    <a class="whitespace-nowrap text-primary-500">Activity</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">{{
                        readonly ? "Detail" : record.id ? "Modify" : "Entry"
                        }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-auto px-20">
        <form #formElementMain class="flex flex-col mx-5 xl:mx-60 p-8 pb-4 rounded-2xl shadow overflow-hidden"
            [formGroup]="formGroup">
            <div class="flex flex-row space-x-3">
                <mat-form-field class="flex-grow">
                    <mat-label>Activity Name</mat-label>
                    <input matInput required formControlName="activity_name" [readonly]="readonly" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city_id" *ngIf="!readonly">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching city found'" [formControlName]="'cityfilter'">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let ct of cityList" [value]="ct.id">{{ ct.display_name }}</mat-option>
                    </mat-select>
                    <input matInput type="text" formControlName="city_name" *ngIf="readonly" [readonly]="readonly" />
                </mat-form-field>
            </div>

            <div class="flex flex-row space-x-3">
                <div class="flex space-x-3 w-1/2">
                    <mat-form-field class="flex-grow" *ngIf="!readonly">
                        <mat-label>Start Time</mat-label>
                        <input matInput format="24" formControlName="operating_start_time"
                            [ngxMatTimepicker]="entryPicker" required [readonly]="readonly" />
                        <mat-icon matSuffix (click)="entryPicker.open()">
                            watch_later
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field class="flex-grow" *ngIf="readonly">
                        <mat-label>Start Time</mat-label>
                        <input matInput formControlName="operating_start_time" required [readonly]="readonly" />
                    </mat-form-field>

                    <mat-form-field class="flex-grow" *ngIf="!readonly">
                        <mat-label>End Time</mat-label>
                        <input matInput format="24" formControlName="operating_end_time" [ngxMatTimepicker]="exitPicker"
                            required [readonly]="readonly" [min]="this.formGroup.get('operating_start_time').value" />
                        <mat-icon matSuffix (click)="exitPicker.open()" *ngIf="!readonly">
                            watch_later
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field class="flex-grow" *ngIf="readonly">
                        <mat-label>End Time</mat-label>
                        <input matInput formControlName="operating_end_time" required [readonly]="readonly" />
                    </mat-form-field>

                    <ngx-mat-timepicker class="absolute" color="primary" #entryPicker></ngx-mat-timepicker>
                    <ngx-mat-timepicker class="absolute" color="primary" #exitPicker></ngx-mat-timepicker>
                </div>

                <mat-form-field class="flex-grow">
                    <mat-label>Duration</mat-label>
                    <div *ngIf="!readonly" class="flex flex-row justify-between w-full">
                        <input type="number" matInput formControlName="duration_no" min="0" class="w-[33px]" required />
                        <mat-select required formControlName="duration_time" class="w-[calc(100%-40px)]"
                            [value]="'Days'">
                            <mat-option *ngFor="let s of duration_times" [value]="s.value">
                                {{ s.viewValue }}
                            </mat-option>
                        </mat-select>
                    </div>
                    <input *ngIf="readonly" matInput [readonly]="readonly" formControlName="duration" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Preferred Time</mat-label>
                    <mat-select *ngIf="!readonly" formControlName="preferred_time" required>
                        <mat-option *ngFor="let pt of preferred_times" [value]="pt.value">
                            {{ pt.viewValue }}
                        </mat-option>
                    </mat-select>
                    <input *ngIf="readonly" matInput [readonly]="readonly" formControlName="preferred_time" />
                </mat-form-field>
            </div>

            <div class="flex flex-row space-x-3">
                <mat-form-field class="flex-grow">
                    <mat-label>Short Description</mat-label>
                    <textarea matInput [readonly]="readonly" formControlName="short_description"></textarea>
                </mat-form-field>
            </div>

            <div class="flex flex-row space-x-3">
                <mat-form-field class="flex-grow">
                    <mat-label>Special Notes</mat-label>
                    <textarea matInput [readonly]="readonly" formControlName="special_notes"></textarea>
                </mat-form-field>
            </div>

            <mat-label *ngIf="readonly">Inclusions</mat-label>
            <div class="flex flex-row space-x-3 items-center" *ngIf="!readonly">
                <mat-form-field class="flex-grow">
                    <mat-label>Inclusions</mat-label>
                    <input matInput formControlName="inclusions" [readonly]="readonly" />
                </mat-form-field>

                <button mat-stroked-button color="primary" (click)="AddActivityInclusions()">
                    Add
                </button>
            </div>

            <div class="flex flex-col space-y-2">
                <div class="flex flex-row space-x-2 panel cursor-pointer items-center"
                    *ngFor="let dt of ActivityInclusionsKeys">
                    <div class="flex flex-row space-x-1">
                        <mat-icon *ngIf="!readonly" (click)="removeActivityInclusions(dt)"
                            class="icon-size-4 text-red-500 only-show-on-hover"
                            matTooltip="Remove Inclusion">delete</mat-icon>
                    </div>
                    <mat-icon class="icon-size-4">radio_button_checked
                    </mat-icon>
                    <span>{{ dt }}</span>
                </div>
            </div>

            <div class="flex flex-row space-x-3 items-center mt-4">
                <mat-slide-toggle class="ml-1" color="primary" formControlName="is_ticket_required"
                    [disabled]="readonly">
                    <span class="pl-1">Ticket Required</span>
                </mat-slide-toggle>

                <mat-slide-toggle class="ml-1" color="primary" formControlName="is_meal_included" [disabled]="readonly">
                    <span class="pl-1">Meal Included</span>
                </mat-slide-toggle>

                <button mat-raised-button color="primary" (click)="submit()" *ngIf="!readonly"
                    [disabled]="disableBtn">
                    {{ btnTitle }}
                </button>
            </div>
        </form>

        <mat-tab-group *ngIf="formGroup.get('id').value" class="sm:px-2" mat-stretch-tabs="false"
            [animationDuration]="'0'">
            <mat-tab label="Tariff">
                <ng-template matTabContent>
                    <div class="flex flex-col mt-4 overflow-hidden">
                        <form class="flex flex-col mt-4 overflow-hidden" [formGroup]="activityTariffFormGroup"
                            *ngIf="formGroup.get('id').value && !readonly">
                            <div class="flex flex-row space-x-3">
                                <mat-form-field class="flex-grow">
                                    <mat-label class="">Supplier</mat-label>
                                    <mat-select formControlName="supplier_id" required [compareWith]="compareWith">
                                        <mat-option>
                                            <ngx-mat-select-search placeholderLabel="Search"
                                                noEntriesFoundLabel="'no matching supplier found'" [formControlName]="
                                                    'supplierfilter'
                                                ">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="
                                                let ct of SupplierList | async
                                            " [value]="ct">{{ ct.company_name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="flex-grow">
                                    <mat-label class="">From Date - To Date</mat-label>
                                    <mat-date-range-input [rangePicker]="picker" (click)="onRangeInputClicked()">
                                        <input matStartDate formControlName="from_date" placeholder="From Date"
                                            required />
                                        <input matEndDate formControlName="to_date" placeholder="To Date" required />
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>

                                <mat-form-field class="flex-grow">
                                    <mat-label>Currency</mat-label>
                                    <mat-select formControlName="currency_id" required [compareWith]="compareWith">
                                        <mat-option>
                                            <ngx-mat-select-search placeholderLabel="Search"
                                                noEntriesFoundLabel="'no matching currency found'" [formControlName]="
                                                    'currency_filter'
                                                ">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let ct of currencyList" [value]="ct">{{
                                            ct.currency_short_code
                                            }}</mat-option>
                                    </mat-select>
                                    <input matInput type="text" *ngIf="readonly" formControlName="currency" />
                                </mat-form-field>

                                <mat-form-field class="flex-grow">
                                    <mat-label>Vehicle</mat-label>
                                    <mat-select formControlName="vehicle_id" required [compareWith]="compareWith"
                                        (change)="onVehicleSelected()">
                                        <mat-option>
                                            <ngx-mat-select-search placeholderLabel="Search"
                                                noEntriesFoundLabel="'no matching vehicle found'" [formControlName]="
                                                    'vehicle_filter'
                                                ">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option (click)="vehicleSelected = true" *ngFor="
                                                let ct of vehicleList | async
                                            " [value]="ct">{{ ct.vehicle_name }}</mat-option>
                                    </mat-select>
                                    <input matInput type="text" *ngIf="readonly" formControlName="vehicle" />
                                </mat-form-field>

                                <mat-form-field class="w-30" *ngIf="
                                        activityTariffFormGroup.get(
                                            'vehicle_id'
                                        ).value || readonly
                                    ">
                                    <mat-label>Transfer Type</mat-label>
                                    <mat-select formControlName="transfer_type" required>
                                        <mat-option value="SIC">SIC</mat-option>
                                        <mat-option value="PVT">PVT</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="flex flex-row space-x-3 items-center">
                                <mat-form-field class="flex-grow">
                                    <mat-label>Adult Ticket Price</mat-label>
                                    <input matInput type="number" required formControlName="adult_ticket_price" />
                                </mat-form-field>

                                <mat-form-field class="flex-grow">
                                    <mat-label>Child Ticket Price</mat-label>
                                    <input matInput type="number" required formControlName="child_ticket_price" />
                                </mat-form-field>

                                <mat-form-field class="flex-grow">
                                    <mat-label>Activity Price</mat-label>
                                    <input matInput type="number" required formControlName="activity_price" />
                                </mat-form-field>

                                <button mat-stroked-button color="primary" *ngIf="!readonly"
                                     (click)="AddActivityTariff()">
                                    {{ ActivityTariffaddbtn }}
                                    <!-- Tariff -->
                                </button>
                            </div>
                        </form>

                        <div class="flex flex-col pt-5 overflow-auto bg-transparent"
                            *ngIf="ActivityTariffList.length >= 1">
                            <div class="flex flex-row border-2 w-fit">
                                <div
                                    class="text-sm text-secondary w-10 border-r-2 p-2 flex items-center justify-center sticky left-0 z-10 bg-gray-900">
                                    #
                                </div>
                                <div class="text-sm text-secondary w-50 border-r-2 p-2">
                                    Supplier
                                </div>
                                <div class="text-sm text-secondary w-40 border-r-2 p-2">
                                    From Date
                                </div>
                                <div class="text-sm text-secondary w-40 border-r-2 p-2">
                                    To Date
                                </div>
                                <div class="text-sm text-secondary w-50 border-r-2 p-2">
                                    Vehicle
                                </div>
                                <div class="text-sm text-secondary w-40 border-r-2 p-2">
                                    Adult Ticket Price
                                </div>
                                <div class="text-sm text-secondary w-40 border-r-2 p-2">
                                    Chlid Ticket Price
                                </div>
                                <div class="text-sm text-secondary w-40 border-r-2 p-2">
                                    Activity Price
                                </div>
                            </div>

                            <div class="flex flex-row border-x-2 border-b-2 w-fit"
                                *ngFor="let dt of ActivityTariffList">
                                <div
                                    class="w-10 border-r-2 p-1 flex justify-center items-center sticky left-0 z-10 bg-gray-900">
                                    <mat-icon *ngIf="!readonly" class="cursor-pointer"
                                        [matMenuTriggerFor]="menuOpt">more_vert</mat-icon>
                                    <mat-menu #menuOpt>
                                        <button mat-menu-item (click)="editActivityTariff(dt)">
                                            <mat-icon class="mat-18">edit</mat-icon>
                                            <span style="font-weight: 600">Edit</span>
                                        </button>
                                        <button mat-menu-item (click)="removeActivityTariff(dt)">
                                            <mat-icon class="mat-18">delete</mat-icon>
                                            <span style="font-weight: 600">Delete</span>
                                        </button>
                                        <button mat-menu-item (click)="TariffPublish(dt)">
                                            <mat-icon class="mat-18">{{
                                                dt.is_published
                                                ? "highlight_off"
                                                : "check_circle"
                                                }}</mat-icon>
                                            <span style="font-weight: 600">{{
                                                dt.is_published
                                                ? "Unpublish"
                                                : "Publish"
                                                }}</span>
                                        </button>
                                    </mat-menu>
                                </div>
                                <div class="w-50 border-r-2 p-2 truncate" [matTooltip]="dt.supplier_id.company_name">
                                    <div class="flex flex-row space-x-2 items-center">
                                        <div *ngIf="dt.is_published" class="h-2 w-2 rounded-full bg-green-600"
                                            [matTooltip]="'Published'"></div>
                                        <div *ngIf="!dt.is_published" class="h-2 w-2 rounded-full bg-red-600"
                                            [matTooltip]="'Unpublished'"></div>
                                        <div>
                                            {{ dt.supplier_id.company_name }}
                                        </div>
                                    </div>
                                    <div class="text-red-600 text-sm">
                                        {{ dt.is_expired ? "Expired" : "" }}
                                    </div>
                                </div>
                                <div class="w-40 border-r-2 p-2">
                                    {{ dt.from_date | date : "dd-MM-YYYY" }}
                                </div>
                                <div class="w-40 border-r-2 p-2">
                                    {{ dt.to_date | date : "dd-MM-YYYY" }}
                                </div>
                                <div class="w-50 border-r-2 p-2 truncate" [matTooltip]="dt.vehicle_id.vehicle_name">
                                    {{ dt.vehicle_id.vehicle_name }}
                                    ({{ dt.transfer_type }})
                                </div>
                                <div class="w-40 border-r-2 p-2 text-right">
                                    {{ dt.adult_ticket_price }}
                                    {{ dt.currency_id.currency_short_code }}
                                </div>
                                <div class="w-40 border-r-2 p-2 text-right">
                                    {{ dt.child_ticket_price }}
                                    {{ dt.currency_id.currency_short_code }}
                                </div>
                                <div class="w-40 border-r-2 p-2 text-right">
                                    {{ dt.activity_price }}
                                    {{ dt.currency_id.currency_short_code }}
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row h-40 justify-center items-center text-secondary font-semibold"
                            *ngIf="ActivityTariffList.length < 1">
                            No data to display
                        </div>
                    </div>
                </ng-template>
            </mat-tab>

            <mat-tab label="Sub Activity">
                <ng-template matTabContent>
                    <div class="flex flex-col my-4">
                        <!-- *ngIf="is_sightseeing_combo; else enable" -->
                        <!-- <div>
                            <button
                                mat-flat-button
                                (click)="enableDisable()"
                                *ngIf="!readonly"
                            >
                                Disable Sightseeing Combo
                            </button>
                        </div> -->
                        <form class="flex flex-row space-x-4 items-center mt-3" [formGroup]="subActivityFormGroup"
                            *ngIf="!readonly">
                            <mat-form-field class="flex-grow">
                                <mat-label class="text-sm">Sub Activity</mat-label>
                                <mat-select formControlName="sub_activity_id" required [compareWith]="compareWith">
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Search"
                                            noEntriesFoundLabel="'no matching Sub Activity found'" [formControlName]="
                                                'subActivityfilter'
                                            ">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="
                                            let ct of SubActivityList | async
                                        " [value]="ct">{{ ct.activity_name }}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <button mat-stroked-button color="primary" 
                                (click)="SaveSubActivity()">
                                Save
                            </button>
                        </form>

                        <div class="flex flex-col space-y-2">
                            <div class="flex flex-row space-x-2 panel cursor-pointer items-center"
                                *ngFor="let dt of subActivityList">
                                <div class="flex flex-row space-x-1">
                                    <mat-icon (click)="removeSubActivity(dt)" *ngIf="!readonly"
                                        class="icon-size-4 text-red-500 only-show-on-hover"
                                        matTooltip="Remove Activity">delete</mat-icon>
                                </div>
                                <mat-icon class="icon-size-4">radio_button_checked
                                </mat-icon>
                                <span>{{
                                    dt.sub_activity_id.activity_name
                                    }}</span>
                            </div>
                        </div>
                    </div>
                    <ng-template #enable>
                        <div class="flex flex-row items-center justify-center w-full h-40">
                            <button mat-flat-button (click)="enableDisable()" *ngIf="!readonly">
                                Enable Sightseeing Combo
                            </button>
                        </div>
                    </ng-template>
                </ng-template>
            </mat-tab>

            <mat-tab label="Image">
                <ng-template matTabContent>
                    <div class="flex flex-col mt-3">
                        <div class="flex flex-row justify-between items-center pb-3">
                            <p class="text-primary text-lg font-semibold">
                                Cover Photo
                            </p>
                        </div>
                        <div [hidden]="true">
                            <input type="file" accept="image/*" name="profile2" #coverinput
                                (change)="onProfileInputforcoverphoto($event)">
                        </div>
                        <div class="h-56 w-56 bg-card flex rounded-md justify-center items-center"
                            *ngIf="!profile_picture">
                            <div class="flex flex-col items-center justify-center">
                                <button type="button" (click)="coverinput.click()" class="text-blue-500"
                                    mat-icon-button>
                                    <mat-icon svgIcon="mat_solid:add"></mat-icon>
                                </button>
                                <span class="text-sm">Cover Photo</span>
                                <span class="text-secondary text-xs">Max size 2 MB</span>

                            </div>
                        </div>
                        <div class="h-56 w-56 rounded-md overflow-hidden panel2 relative" *ngIf="profile_picture">
                            <div class="absolute bottom-24 left-[93px] only-show-on-hover">
                                <button mat-icon-button [matTooltip]="'Remove Cover Photo'" (click)="
                            removeImage(
                                    { id: profile_pictureid },
                                    'Cover Photo'
                                )
                            " *ngIf="!readonly">
                                    <mat-icon class="text-red-600" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                </button>
                            </div>
                            <img class="w-full h-full object-cover cursor-pointer" [src]="profile_picture"
                                alt="User avatar" />
                        </div>

                        <p class="text-primary text-lg font-semibold my-4">
                            Gallery Photos
                        </p>
                        <div
                            class="grid xl:grid-cols-8 lg:grid-cols-6 md:grid-cols-4 grid-cols-3 items-start w-fit">
                            <div class="flex flex-col gap-3 " *ngFor="let img of ImageList">
                                <div class="relative h-36 w-36 rounded-md overflow-hidden panel2">
                                    <div class="absolute bottom-11 left-13 only-show-on-hover">
                                        <button mat-icon-button [matTooltip]="'Remove'" (click)="removeImage(img)"
                                            *ngIf="!readonly">
                                            <mat-icon class="text-red-600" [svgIcon]="
                                                    'heroicons_outline:trash'
                                                "></mat-icon>
                                        </button>
                                    </div>
                                    <img class="w-full h-full object-cover cursor-pointer" [src]="img.image" alt="" />
                                </div>
                            </div>

                            <div [hidden]="true">
                                <input type="file" accept="image/*" name="profile" #galleryInput
                                    (change)="onProfileInput($event)" />
                            </div>

                            <div class="h-36 w-36 bg-card flex flex-col rounded-md justify-center items-center mx-3"
                                *ngIf="!readonly">
                                <button [matTooltip]="'Add Gallery Image'" type="button" (click)="galleryInput.click()"
                                    class="text-blue-500" mat-icon-button>
                                    <mat-icon svgIcon="mat_solid:add"></mat-icon>
                                </button>
                                <span class="text-secondary text-xs">Max size 2 MB</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>