<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">
            {{ module_name }}
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'"
                    (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="refreshItems()"></mat-icon>
            </div>

            <!------Global filter------>
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'"
                (click)="_filterService.openDrawer(filter_table_name, primengTable)" matTooltip="Saved Filter">
                <img class="w-6 h-auto cursor-pointer" src="assets/icons/common-filter.svg" alt="">
            </button>

            <button class="ml-4" mat-flat-button [color]="'primary'" [disabled]="isLoading" (click)="refreshItems()" matTooltip="Refresh">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="create()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
            columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
            [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
            [lazy]="true" (onLazyLoad)="refreshItems($event)" [scrollable]="true" [scrollHeight]="scrollHeight"
            [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['activity_name', 'city_name', 'is_ticket_required', 'is_sightseeing_combo','preferred_time','is_meal_included','entry_date_time']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="  text-center left-[-1px]" pFrozenColumn>#</th>
                    <th class="min-w-[165px] dark:bg-[#1e293b]" pSortableColumn="activity_name" pResizableColumn
                        alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.activity_name"
                        [ngClass]="{'left-0': !frozenObj?.activity_name}">
                        Activity <p-sortIcon field="activity_name" />
                        <span class="float-right" (click)="isFrozenColumn('activity_name');$event.stopPropagation()">
                            <i *ngIf="!frozenObj?.activity_name" class="pi pi-lock-open icon-size-3"></i>
                            <i *ngIf="frozenObj?.activity_name" class="pi pi-lock icon-size-3"></i>
                        </span>
                    </th>
                    <th pSortableColumn="city_name" pResizableColumn>
                        City <p-sortIcon field="city_name" />
                    </th>
                    <th class="text-center" pSortableColumn="is_ticket_required" pResizableColumn>
                        Ticket <p-sortIcon field="is_ticket_required" />
                    </th>
                    <th class="text-center" pSortableColumn="is_sightseeing_combo" pResizableColumn>
                        Combo <p-sortIcon field="is_sightseeing_combo" />
                    </th>
                    <th pSortableColumn="preferred_time" pResizableColumn>
                        Preferred Time <p-sortIcon field="preferred_time" />
                    </th>
                    <th class="text-center" pSortableColumn="is_meal_included" pResizableColumn>
                        Meal <p-sortIcon field="is_meal_included" />
                    </th>
                    <th class="w-full" pSortableColumn="entry_date_time" pResizableColumn>
                        Entry <p-sortIcon field="entry_date_time" />
                    </th>

                </tr>

                <tr *ngIf="isFilterShow">
                    <th class=" left-[-1px]" pFrozenColumn></th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.activity_name">
                        <p-columnFilter type="text" matchMode="contains" field="activity_name"
                            placeholder="Search by City" ariaLabel="Filter City" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="city_name" placeholder="Search by State"
                            ariaLabel="Filter State" />
                    </th>

                    <th>
                        <p-columnFilter field="is_ticket_required" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="actionList"
                                    (onChange)="filter($event.value)" placeholder="Select Ticket" appendTo="body"
                                    [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter field="is_sightseeing_combo" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="actionList"
                                    (onChange)="filter($event.value)" placeholder="Select Combo" appendTo="body"
                                    [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="preferred_time"
                            placeholder="Search by Preferred Time" ariaLabel="Filter Preferred Time" />
                    </th>
                    <th>
                        <p-columnFilter field="is_meal_included" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="actionList"
                                    (onChange)="filter($event.value)" placeholder="Select Meal" appendTo="body"
                                    [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="entry_date_time" type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" [ngModel]="value" dateFormat="dd-mm-yy"
                                    appendTo="body" placeholder="Search by Entry">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element>
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="view(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600">Info</span>
                            </button>
                            <button mat-menu-item (click)="edit(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600">Edit</span>
                            </button>
                            <button mat-menu-item (click)="delete(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                                <span style="font-weight: 600">Delete</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item (click)="AuditUnaudit(element)">
                                <mat-icon class="mat-18">{{element.is_audited ? "highlight_off" :
                                    "check_circle"}}</mat-icon>
                                <span style="font-weight: 600">{{ element.is_audited ? "Unaudit" : "Audit"}}</span>
                            </button>
                            <button mat-menu-item (click)="EnableDisable(element)">
                                <mat-icon class="mat-18">{{element.is_disabled ? "check_circle" :
                                    "highlight_off"}}</mat-icon>
                                <span style="font-weight: 600">{{element.is_disabled ? "Enable" : "Disable" }}</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.activity_name">
                        <div class="gap-2 flex flex-ListItem items-center">
                            <div class="cursor-pointer" *ngIf="element.activity_name"
                                [matTooltip]="element.is_audited ? 'Audited' : 'Unaudited'" class="w-2 h-2 rounded-full"
                                [ngClass]="element.is_audited ? 'bg-green-500' : 'bg-red-500'">
                            </div>
                            <div>
                                {{element.activity_name}}
                            </div>
                        </div>
                    </td>
                    <td>{{element.city_name}}</td>
                    <td class="text-center">
                        <mat-icon class="text-green-600" *ngIf="element.is_ticket_required">done</mat-icon>
                        <mat-icon class="text-red-600" *ngIf="!element.is_ticket_required">clear</mat-icon>
                    </td>
                    <td class="text-center">
                        <mat-icon class="text-green-600" *ngIf="element.is_sightseeing_combo">done</mat-icon>
                        <mat-icon class="text-red-600" *ngIf="!element.is_sightseeing_combo">clear</mat-icon>
                    </td>
                    <td>
                        {{element.preferred_time}}
                    </td>
                    <td class="text-center">
                        <mat-icon class="text-green-600" *ngIf="element.is_meal_included">done</mat-icon>
                        <mat-icon class="text-red-600" *ngIf="!element.is_meal_included">clear</mat-icon>
                    </td>
                    <td>
                        {{element.entry_date_time | date:'dd-MM-yyyy HH:mm:ss'}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14">
                    <td colspan="8" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
