/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import "components/product-holidays.scss";

.mat-mdc-table .mdc-data-table__header-row {
    height: 35px;
}

th .ng-star-inserted {
    font-size: small;
}

.mat-mdc-table .mdc-data-table__row {
    height: 45px;
}

.table-header-center .mat-sort-header-container {
    justify-content: center;
}

.table-header-right .mat-sort-header-container {
    justify-content: flex-end;
}

.dialog-alert {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 4px !important;
        padding: 0px;
    }
}

.mat-mdc-radio-button
    .mdc-radio
    .mdc-radio__native-control:enabled:checked
    + .mdc-radio__background
    .mdc-radio__outer-circle {
    border-color: #2ab9a3ba !important;
}

    .mat-mdc-radio-button
    .mdc-radio
    .mdc-radio__native-control:enabled
    + .mdc-radio__background
    .mdc-radio__inner-circle {
    border-color: #2ab9a3ba !important;
}

.mat-mdc-form-field.mat-form-field-appearance-fill
    .mat-mdc-text-field-wrapper
    .mat-mdc-form-field-flex
    .mat-mdc-form-field-infix {
    min-height: 40px;
}

.tablemax .mat-mdc-cell.mdc-data-table__cell {
    max-width: 250px;
}

.tablemax .mdc-data-table__cell,
.tablemax .mdc-data-table__header-cell {
    padding: 0 10px 0 10px;
}

.select-value.mat-mdc-option.mdc-list-item--disabled {
    display: none !important;
}

.otp-input {
    display: flex;
    justify-content: space-between;
}

.otp-box {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    margin-right: 10px;
}

.float-right {
    float: right;
}

.pnr_radio .mdc-form-field .mdc-label,
.pnr_radio .mdc-form-field {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

app-ledger-filter {
    .mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
        display: none !important;
    }
}

/*****/

.mdc-tooltip__surface {
    margin-top: 10px !important;
}

.mat-mdc-tab-body-wrapper {
    height: 100% !important;
}

.tab_group .mat-mdc-tab-header {
    width: 400px;
}

.payment_group .mat-mdc-tab-body-content {
    padding: 0px !important;
}

.header-center-view {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header-right-view {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.panel {
    .only-show-on-hover {
        visibility: hidden;
        float: right;
    }
}

.panel:hover {
    .only-show-on-hover {
        visibility: visible;
    }
}

.info_amendment .mat-mdc-menu-content {
    padding: 0;
}

.custom-tooltip {
    padding: 5px;
    font-size: 13px !important;
    white-space: pre-line !important;
    max-width: unset !important;
    text-align: left !important;
}

.wlt_tab
    .mat-mdc-tab-header
    .mat-mdc-tab-label-container
    .mat-mdc-tab-list
    .mat-mdc-tab-labels {
    width: 350px;
}

.crm_tab
    .mat-mdc-tab-header
    .mat-mdc-tab-label-container
    .mat-mdc-tab-list
    .mat-mdc-tab-labels {
    width: 350px;
    height: 40px;
}

.crm_tab
    .mat-mdc-tab-header
    .mat-mdc-tab-label-container
    .mat-mdc-tab-list
    .mat-mdc-tab-labels
    .mat-mdc-tab {
    padding: 0;
    height: 40px;
}

.lead_tab
    .mat-mdc-tab-header
    .mat-mdc-tab-label-container
    .mat-mdc-tab-list
    .mat-mdc-tab-labels {
    width: 150px;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

app-create-lead {
    .mat-mdc-select-arrow {
        display: none !important;
    }
}

.dark .sale-tab tbody {
    background-color: #0f172a !important;
}

.light .sale-tab {
    background: none !important;
}

app-view-details {
    .accordian {
        .tabs {
            border-radius: 8px;
            overflow: hidden;
        }

        .tab {
            width: 100%;

            &:before {
                content: "";
                height: 100%;
                width: 2px;
                background-color: #0d9488;
                position: absolute;
                left: 71px;
                top: 32px;
                opacity: 0.8;
            }

            &:last-child::before {
                display: none;
            }
        }

        .tab-label {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            font-weight: bold;
            cursor: pointer;
        }

        .acc-arrow {
            transition: all 0.35s;
        }

        .tab-content {
            max-height: 0;
            padding: 0 1em;
            transition: all 0.35s;
            opacity: 0;
        }

        .tab-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            cursor: pointer;
        }

        input:checked + label > mat-icon {
            transform: rotate(180deg);
        }

        input:checked ~ .tab-content {
            opacity: 1;
            max-height: 100vh;
            padding: 1em;
        }
    }
}

.pop-img .slick-next {
    right: 30px;
    background: none;
    width: 24px;
    height: 24px;
    z-index: 99;
}

.pop-img .slick-next::before {
    font-size: 40px;
    color: #fff;
}

.pop-img .slick-prev {
    left: 15px;
    background: none;
    width: 24px;
    height: 24px;
    z-index: 99;
}

.pop-img .slick-prev::before {
    font-size: 40px;
    color: #fff;
}

.accourdian_slide .slick-prev {
    left: 5px;
    z-index: 99;
}

.accourdian_slide .slick-next {
    right: 5px;
    z-index: 99;
}

.onshadow:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    left: 0;
    top: 0;
}

/* width */
::-webkit-scrollbar {
    width: 12px !important;
    height: 12px !important;
}

/* Track */
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    border-radius: 7px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--gray) !important;
    border-radius: 7px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--gray) !important;
}

/* Tree Node */
.custom-tree-node .mat-tree-node {
    min-height: 0px !important;
}

.custom-tree-node .mat-tree-node {
    padding: 2px 8px;
}

.custom-tree-node .mat-tree-node-content {
    height: 24px;
    line-height: 20px;
}

.slide_toggle {
    color: #000;
}

.mdc-checkbox__background {
    width: 16px !important;
    height: 16px !important;
    border: 2px solid #a4a4a4 !important;
}

.mdc-checkbox
    .mdc-checkbox__native-control:enabled:checked
    ~ .mdc-checkbox__background {
    border-color: #a4a4a4 !important;
    background-color: #a4a4a4 !important;
}

.bullet-pink {
    background-color: pink;
}

.theme-teal.light .mat-mdc-mini-fab.mat-accent {
    --mdc-fab-container-color: none !important;
}

.bottom_none .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.set-dialog-hignt .mat-mdc-form-field-flex {
    min-height: 40px !important;
}

.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td,
th {
    padding: 0.4rem 0.8rem !important;
    font-size: 14px;

    p-sortIcon .p-icon {
        height: 0.7rem !important;
        display: inline-block;
    }
}

.table-container {
    position: relative;

    .p-inputtext {
        padding: 0.4rem 0.5rem !important;
    }

    .p-inputtext:enabled:focus {
        box-shadow: none !important;
    }

    .p-dropdown .p-dropdown-trigger {
        width: 2.4rem !important;
        height: 2.4rem;
    }

    .p-datatable-scrollable-table > .p-datatable-thead {
        top: -1px !important;
    }

    .p-paginator .p-paginator-first,
    .p-paginator .p-paginator-prev,
    .p-paginator .p-paginator-next,
    .p-paginator .p-paginator-last {
        min-width: 2.5rem;
        height: 2.5rem;
    }

    .p-datatable .p-sortable-column .p-sortable-column-icon {
        margin-left: 0 !important;
    }

    .p-datatable .p-sortable-column:focus {
        box-shadow: none;
    }

    .p-column-filter-clear-button {
        width: auto;
    }

    .p-column-filter-row .p-column-filter-menu-button,
    .p-column-filter-row .p-column-filter-clear-button {
        margin-left: 0.3rem;
    }

    .p-column-filter-clear-button:focus {
        box-shadow: none;
    }

    .p-link:focus {
        box-shadow: none;
    }
}

.paginator-bottom .p-paginator {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 4px;
}

.table-content {
    overflow-y: auto;
    padding-bottom: 50px;
}

.p-tooltip.p-tooltip-top,
.p-tooltip.p-tooltip-bottom {
    font-size: 11px;
}

.p-tooltip .p-tooltip-text {
    padding: 0.5rem 0.55rem;
}

.p-paginator .p-dropdown {
    height: 36px !important;
}

.overlay-panel {
    .p-inputtext {
        padding: 0.25rem 0.55rem !important;
    }

    .p-multiselect .p-multiselect-label {
        padding: 0.25rem 0.45rem !important;
    }

    .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
        padding: 0.35rem 0.75rem !important;
        font-size: 12px;
    }
}

.p-inputnumber {
    .p-inputtext {
        font-size: 13px;
    }

    .p-inputnumber-button-group {
        display: none;
    }
}

.p-overlaypanel .p-overlaypanel-content {
    padding: 0.5rem !important;
}

.p-column-filter-overlay .p-column-filter-row-items {
    padding: 0.25rem 0;
}

.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item {
    padding: 0.35rem 0.65rem;
    font-size: 12px;
}

.p-column-filter-overlay
    .p-column-filter-row-items
    .p-column-filter-row-item:focus {
    box-shadow: none;
}

.tootlip-Enter {
    white-space: pre-line !important;
}

.p-datatable .p-datatable-thead > tr > th {
    overflow: visible;
    /* Ensure column header overflow is visible */
}

.p-datatable .p-column-filter .p-column-filter-element {
    overflow: visible;
    /* Ensure filter element overflow is visible */
}

.p-datatable table {
    border-collapse: separate;
}

// primeNg dropdown filter
.filter-dropdown .p-dropdown {
    height: 32px;

    svg {
        height: 10px;
        width: 10px;
    }
}

.table-container .p-inputtext {
    height: 32px;
}

.p-dropdown .p-dropdown-clear-icon {
    margin-top: 0 !important;
    transform: translatey(-50%) !important;
}

.p-fluid .p-dropdown {
    align-items: center;
}

.custom-tab {
    .mat-mdc-tab-body-content {
        padding: 0 !important;
    }

    .mat-mdc-tab-header .mat-mdc-tab-label-container {
        margin: 0 0 20px 0;
    }
}

p-columnfilterformelement {
    max-width: 250px;
}

.mat-mdc-menu-item {
    min-height: 42px !important;
}

.searchableDropdown {
    .p-column-filter-clear-button {
        display: none;
    }
}

//custom input search
.light .ctm_search {
    border: 1px solid rgb(202 211 220);
    background-color: #f8f9fa;
}

.light .ctm_search .mat-icon {
    background-color: rgb(13 148 136);
    color: #fff;
}

.ctm_search {
    border: 1px solid #2a3243cc;
    border-radius: 21px !important;
    overflow: hidden;
    background-color: #1e293b;
    padding: 4px;
    justify-content: space-between;
}

.ctm_search input {
    padding-left: 12px;
}

.ctm_search .mat-icon {
    background-color: rgb(47 62 85);
    width: 33px !important;
    height: 33px !important;
    cursor: pointer;
    border-radius: 100%;
}
// primeng sidebar
// .p-sidebar-mask {
//     display: none;
// }

//swal2 css popup

.swal2-html-container {
    display: flex !important;
    justify-content: flex-start !important;
    font-size: 1rem;
    font-weight: 500 !important;
    padding: 1rem 1.3rem 1rem 1.3rem !important;
    border-bottom: 1px solid #e2e8f0;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    border-radius: 15px !important;
    padding-bottom: 10px !important;
}

div:where(.swal2-container) input:where(.swal2-input):focus {
    border: 1px solid #0d9488 !important;
    box-shadow: none !important;
}

.swal2-input {
    margin: 1rem 1.3rem 1rem 1.3rem !important;
    font-size: 14px;
    border-radius: 6px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.swal2-actions {
    justify-content: flex-end;
    width: 100%;
    padding-right: 1.3rem;
    gap: 10px;
    // border-top: 1px solid #e2e8f0;
    margin-top:0 !important;
    padding-top: 10px;
}

.swal2-confirm {
    background-color: #0d9488;
    color: white;
    border-radius: 9999px !important;
    padding: 0 20px !important;
    min-height: 40px;
    box-sizing: border-box;
    min-width: 64px;
    border: none;
    outline: none;
    line-height: inherit;
    user-select: none;
    overflow: visible;
    vertical-align: middle;
    order: 2;
    font-size: 14px;
    margin: 0;
}

.swal2-cancel {
    background: transparent;
    border-radius: 9999px !important;
    padding: 0 20px !important;
    min-height: 40px;
    box-sizing: border-box;
    min-width: 64px;
    outline: none;
    line-height: inherit;
    user-select: none;
    overflow: visible;
    vertical-align: middle;
    font-size: 14px;
    margin-right: 0;
}

div:where(.swal2-container) div:where(.swal2-actions):not(.swal2-loading) .swal2-styled:hover {
    background-image: linear-gradient(rgba(134, 133, 133, 0.1), rgba(160, 160, 160, 0.1)) !important;
}

.swal2-close {
    position: relative;
}

.swal2-close:hover::before {
    position: absolute;
    content: "";
    width:2.4rem;
    height: 2.4rem;
    background: #8080802b;
    border-radius: 50%;
    left:50%;
    top: 1.79rem;
    transform: translate(-50%,-50%);
}

.dark {
    .swal2-html-container {
        color: white;
        border-bottom: 1px solid #e2e8f030;

    }

    .swal2-popup {
        background: #1e293b;
    }

    .swal2-input {
        color: #ffffffde;
        border: 1px solid rgb(226 232 240 / 38%);
    }

    .swal2-confirm {
        background-color: #0d9488;
        color: white;
    }

    .swal2-cancel {
        color: white;
        background: transparent;
        border: 1px solid rgb(226 232 240 / 38%)
    }

    .primeng-alert {
        .p-message-wrapper, .p-message.p-message-info {
            background: #364459;
            color: #ffffff;
        }
    }
}

.light {
    .swal2-cancel {
        border: 1px solid #e2e8f0;
        color: black;
    }

    .primeng-alert {
        .p-message-wrapper, .p-message.p-message-info {
            background: #e2e8f0;
            color: #404040;
        }
    }
}
.custom-sidebar {
    width: 350px;

    .p-sidebar-header {
        display: none;
    }
    .p-sidebar-content {
        padding: 0;
        position: static !important;
    }
}

.primeng-alert {
    .p-message {
        margin: 0;
    }
    .p-message-wrapper {
        justify-content: space-between;
        padding: 8px;
        border-radius: 0 10px 10px 0;
    }
    .p-message.p-message-info {
        border: solid #0d9488;
        border-width: 0 0 0 6px;
        color: #0d9488;
    }
}

// Global Search
.ctm-back{
    background-color: rgb(0 0 0 / 92%);
}

.ctm-bg .mat-mdc-dialog-container .mdc-dialog__container .mat-mdc-dialog-surface{
    background-color: transparent !important;
    box-shadow: none !important;
}

.right-side-title {
    .mat-sort-header-container {
        float: inline-end !important;
    }
}

div:where(.swal2-container) button:where(.swal2-close) {
    font-family: 'primeicons' !important;
    margin-bottom: -1.5em !important;
    margin-left: -1em !important;
    width: 1.5em !important;
    height: 1.5em !important;
    margin-right: .25em !important;
}

.light div:where(.swal2-container) button:where(.swal2-close),
.light div:where(.swal2-container) button:where(.swal2-close):hover{
    color: gray !important;
}

.dark div:where(.swal2-container) button:where(.swal2-close),
.dark div:where(.swal2-container) button:where(.swal2-close):hover{
    color: white !important;
}

div:where(.swal2-container) button:where(.swal2-close){
    font-size: 35px !important;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip::before {
    content: attr(tooltip);
    position: absolute;
    top: 220%; /* Position above the link */
    left: 50%;
    transform: translateX(-50%);
    background-color: #adaaaa;
    color: #343131;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 999;
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip:hover::before {
    opacity: 1;
    z-index: 999;
}
