<div class="flex flex-col flex-auto overflow-hidden -m-6 max-w-160 min-w-160 max-h-screen">
    <div class="flex flex-0 justify-between h-10 pr-0 sm:pr-0 pl-0 sm:pl-0">
        <div class="text-xl font-bold tracking-tight pt-[7px] pl-6">Schedule Call</div>
        <div class="mt-[2px] mr-5">
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current notranslate dark:text-white mat-icon-no-color"
                    [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-raw overflow-hidden overflow-x-auto m-4">
        <div class="w-[100%] p-0">
            <div class="pb-2 pr-2 pl-1 overflow-hidden w-full flex-row flex">
                <div class="flex flex-col w-1/3">
                    <span class="text-base font-medium text-secondary dark:text-[#687798]">Assign By</span>
                    <span class="truncate font-medium text-base dark:text-white text-black">
                        {{record?.call_assign_by_Name || 'Self'}}
                    </span>
                </div>
                
                <div class="flex flex-col w-1/3">
                    <span class="text-base font-medium text-secondary dark:text-[#687798]">Assign To</span>
                    <span class="truncate font-medium text-base dark:text-white text-black">
                        {{record?.call_assign_to_Name || 'Self'}}
                    </span>
                </div>

                <div class="flex flex-col w-1/3">
                    <span class="text-base font-medium text-secondary dark:text-[#687798]">Date & Time</span>
                    <span class="text-base font-semibold dark:text-white text-black">
                        {{(record?.reschedule_date_time | date:'dd/MM/yyyy HH:mm:ss') || '-'}}
                    </span>
                </div>
            </div>
            <div class="pb-2 pr-2 pl-1 overflow-hidden w-full flex-row flex">
                <div class="flex flex-col w-1/3">
                    <span class="text-base font-medium text-secondary dark:text-[#687798]">Call Purpose</span>
                    <span class="text-base truncate dark:text-white text-black">{{record?.call_purpose || '-'}}</span>
                </div>
                <div class="flex flex-col w-1/3" *ngIf="record?.is_call_rescheduled || record?.is_call_scheduled">
                    <span class="text-md font-medium text-secondary dark:text-[#687798]">Call Remark</span>
                    <span class="text-base w-full dark:text-white text-black">{{record?.reschedule_remark || "-"}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
