<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>

    <div class="w-full">
        <div class="flex flex-col w-[100%] gap-2 m-auto">
            <div class="flex flex-row justify-between border-b-2 border-gray-border px-5 py-4 h-15">
                <span class=" text-xl font-semibold">Withdraw Info</span>
                <mat-icon svgIcon="close" class=" icon-size-6 cursor-pointer "
                    (click)="settingsDrawer.close()"></mat-icon>
            </div>
        </div>

        <div style="height: calc(100vh - 60px)" class="overflow-auto p-5">
            <div class="flex flex-wrap bg-card overflow-hidden">

                <div class="flex flex-col mb-4 w-full break-words">
                    <span class="text-md font-semibold text-secondary">Agency Name</span>
                    <span class="text-base ">{{record?.agent_name || '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">Ref. No</span>
                    <span class="text-base truncate">{{record?.withdraw_ref_no || '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">Status</span>
                    <span class="text-base truncate">{{record?.withdraw_status || '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">Currency</span>
                    <span class="text-base truncate">{{record?.withdraw_currency || '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2">
                    <span class="text-md font-semibold text-secondary">Amount</span>
                    <span class="text-base truncate">{{record?.withdraw_currency_symbol}} {{record?.withdraw_amount || '0'}}</span>
                </div>

                <div class="flex flex-col mb-4 w-full break-words">
                    <span class="text-md font-semibold text-secondary">Agent Remark</span>
                    <span class="text-base ">{{record?.agent_remark || '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2" *ngIf="record?.is_audited">
                    <span class="text-md font-semibold text-secondary">Audited By</span>
                    <span class="text-base truncate">{{record.audit_by || '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2" *ngIf="record?.is_audited">
                    <span class="text-md font-semibold text-secondary">Audit Date</span>
                    <span class="text-base truncate">{{(record.audit_date_time | date: 'dd-MM-yyyy HH:mm:ss') ||
                        '-'}}</span>
                </div>

                <div class="flex flex-col mb-4 w-full truncate" *ngIf="record?.is_rejected">
                    <span class="text-md font-semibold text-secondary">Reject By</span>
                    <span class="text-base truncate">{{ record?.reject_by || ' - ' }}</span>
                </div>

                <div class="flex flex-col mb-4 truncate w-1/2" *ngIf="record?.is_rejected">
                    <span class="text-md font-semibold text-secondary">Reject Date</span>
                    <span class="text-base truncate">{{(record.reject_date_time | date: 'dd-MM-yyyy HH:mm:ss') ||
                        '-'}}</span>
                </div>

                <div class="flex flex-col mb-4  w-full break-words" *ngIf="record?.is_rejected">
                    <span class="text-md font-semibold text-secondary">Reject Reason</span>
                    <span class="text-base ">{{ record?.reject_remark || ' - ' }}</span>
                </div>
            </div>
        </div>
    </div>

</fuse-drawer>
