<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">
            {{ module_name }}
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Global Search -->
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" (click)="refreshItems()"></mat-icon>
            </div>

            <!-- Global filter -->
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!-- Refresh -->
            <button class="ml-4" mat-flat-button [color]="'primary'" [disabled]="isLoading" (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <!-- Add  -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createData()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="_filterService.openDrawer(filter_table_name, primengTable)">
                <mat-icon [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                <span class="ml-2 mr-1">Filter</span>
            </button>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
            columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
            [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
            [lazy]="true" (onLazyLoad)="refreshItems($event)" [scrollable]="true" [scrollHeight]="scrollHeight"
            [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['product_name', 'destination_name', 'supplier_name', 'no_of_nights','no_of_days','is_popular','publish_date_time','entry_date_time']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header">
                <tr>
                    <th class="  text-center left-[-1px]" pFrozenColumn>#</th>
                    <th class="min-w-[145px] dark:bg-[#1e293b]" pSortableColumn="product_name" pResizableColumn alignFrozen="left" pFrozenColumn
                        [frozen]="frozenObj?.product_name" [ngClass]="{'left-0': !frozenObj?.product_name}">
                        Product <p-sortIcon field="product_name" />
                        <span class="float-right" (click)="isFrozenColumn('product_name');$event.stopPropagation()">
                            <i *ngIf="!frozenObj?.product_name" class="pi pi-lock-open icon-size-3"></i>
                            <i *ngIf="frozenObj?.product_name" class="pi pi-lock icon-size-3"></i>
                        </span>
                    </th>
                    <th pSortableColumn="destination_name" pResizableColumn>
                        Destination <p-sortIcon field="destination_name" />
                    </th>
                    <th pSortableColumn="supplier_name" pResizableColumn>
                        Supplier <p-sortIcon field="supplier_name" />
                    </th>
                    <th pSortableColumn="no_of_nights" pResizableColumn class="text-center">
                        Nights <p-sortIcon field="no_of_nights" />
                    </th>
                    <th pSortableColumn="no_of_days" pResizableColumn class="text-center">
                        Days <p-sortIcon field="no_of_days" />
                    </th>
                    <th class="text-center" pSortableColumn="is_popular" pResizableColumn>
                        Is Popular <p-sortIcon field="is_popular" />
                    </th>
                    <th pSortableColumn="publish_date_time" pResizableColumn>
                        Published <p-sortIcon field="publish_date_time" />
                    </th>
                    <th class="w-full min-w-[200px]" pSortableColumn="entry_date_time" pResizableColumn>
                        Entry <p-sortIcon field="entry_date_time" />
                    </th>
                </tr>

                <tr *ngIf="isFilterShow">
                    <th class=" left-[-1px]" pFrozenColumn></th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.product_name">
                        <p-columnFilter type="text" matchMode="contains" field="product_name" placeholder="Search by Product"
                            ariaLabel="Filter Product" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="destination_name" placeholder="Search by Destination"
                            ariaLabel="Filter Destination" />
                    </th>

                    <th>
                        <!-- <p-columnFilter type="text" matchMode="contains" field="supplier_name" placeholder="Search by Supplier"
                            ariaLabel="Filter Supplier" /> -->
                        <p-columnFilter class="searchableDropdown" field="supplier_name" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [options]="supplierListAll"
                                    optionLabel="company_name" [(ngModel)]="selectedSupplier" [filter]="true" filterBy="company_name"
                                    (onChange)="filter($event.value)" [showClear]="true" appendTo="body"
                                    placeholder="Select Supplier">
                                    <ng-template let-currency pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div>{{ currency.company_name }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter type="numeric" field="no_of_nights" placeholder="Search by Nights"
                            ariaLabel="Filter Nights" />
                    </th>

                    <th>
                        <p-columnFilter type="numeric" field="no_of_days" placeholder="Search by Days"
                            ariaLabel="Filter Days" />
                    </th>

                    <th>
                        <p-columnFilter field="is_popular" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown"
                                            [ngModel]="value"
                                            [options]="actionList"
                                            (onChange)="filter($event.value)"
                                            placeholder="Select Popular"
                                             appendTo="body"
                                            [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter field="publish_date_time" type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" [ngModel]="value" dateFormat="dd-mm-yy" appendTo="body"
                                    placeholder="Search by published date">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter field="entry_date_time" type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" [ngModel]="value" dateFormat="dd-mm-yy" appendTo="body"
                                    placeholder="Search by Entry">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element>
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="editData(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600">Edit</span>
                            </button>
                            <button mat-menu-item (click)="deleteData(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                                <span style="font-weight: 600">Delete</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item (click)="HolidayPublish(element)">
                                <mat-icon class="mat-18">
                                    {{element.is_published ? "highlight_off" : "check_circle"}}
                                </mat-icon>
                                <span style="font-weight: 600">
                                    {{ element.is_published ? "Unpublish" : "Publish" }}
                                </span>
                            </button>
                            <button mat-menu-item (click)="HolidayPopular(element)">
                                <mat-icon class="mat-18">
                                    {{element.is_popular ? "highlight_off" : "check_circle" }}
                                </mat-icon>
                                <span style="font-weight: 600">
                                    {{ element.is_popular ? "Not Popular" : "Set as Popular"}}
                                </span>
                            </button>
                            <button mat-menu-item (click)="copy(element)">
                                <mat-icon class="mat-18">content_copy</mat-icon>
                                <span style="font-weight: 600">Copy Product</span>
                            </button>
                            <button mat-menu-item (click)="viewDetails(element)">
                                <mat-icon svgIcon="heroicons_solid:eye"></mat-icon>
                                <span style="font-weight: 600">View Holiday</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.product_name">
                        <div class="gap-2 flex flex-ListItem items-center">
                            <div class="cursor-pointer" *ngIf="element.product_name"
                                [matTooltip]="element.is_published ? 'Published' : 'UnPublished'"
                                class="w-2 h-2 rounded-full"
                                [ngClass]="element.is_published ? 'bg-green-500' : 'bg-red-500'">
                            </div>
                            <div>
                                {{element.product_name}}
                            </div>
                        </div>
                    </td>
                    <td>{{element.destination_name}}</td>
                    <td>{{element.supplier_name }}</td>
                    <td class="text-center">{{element.no_of_nights}}</td>
                    <td class="text-center">{{element.no_of_days}}</td>
                    <td class="text-center">
                            <mat-icon class="text-green-600" *ngIf="element.is_popular">done</mat-icon>
                            <mat-icon class="text-red-600" *ngIf="!element.is_popular">clear</mat-icon>
                    </td>
                    <td>
                        {{(element.publish_date_time | date:'dd-MM-yyyy HH:mm:ss') || '-'}}
                    </td>
                    <td>
                        {{(element.entry_date_time | date:'dd-MM-yyyy HH:mm:ss') || '-'}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14">
                    <td colspan="9" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
