<div class="flex flex-col max-w-256 md:min-w-[850px] max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-13 pr-3 sm:pr-5 pl-6 sm:pl-8">
        <div class="text-lg font-medium dark:text-white">Tech Dashboard - {{fieldList.productName}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current dark:text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <mat-tab-group class="mt-2 wlt_tab" [animationDuration]="'0'" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Basic Details" [aria-label]="'Basic Details'">
            <div class="rounded-2xl  overflow-hidden border pb-4 mb-4">
                <div class="dark:text-white text-lg font-medium dark:bg-[#364459] bg-gray-200 px-5 py-[10px] ">Agent
                    Detail
                </div>
                <div class="grid grid-cols-3 gap-3 px-5 pt-5 pb-3">
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">Agent Code</span>
                        <span class="text-base">{{fieldList.agentCode || '--'}}</span>
                    </div>
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">Agent Name</span>
                        <span class="text-base">{{fieldList.agentName || '--'}}</span>
                    </div>
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">RM</span>
                        <span class="text-base">{{fieldList.rm || '--'}}</span>
                    </div>
                </div>
                <div class="flex flex-col px-5" *ngIf="fieldList.rmRemark">
                    <span class=" text-md font-semibold text-secondary">RM Remark</span>
                    <span class="text-base word-wrap">{{fieldList.rmRemark || '--'}}</span>
                </div>
            </div>

            <div class="rounded-2xl  overflow-hidden border pb-4 mb-4">
                <div class="dark:text-white text-lg font-medium dark:bg-[#364459] bg-gray-200 px-5 py-[10px] ">Product
                    Detail</div>
                <div class="grid grid-cols-3 gap-3 px-5 pt-5 pb-1">
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">Product Name</span>
                        <span class="text-base">{{fieldList.productName || '--'}}</span>
                    </div>
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">Product Status</span>
                        <span class="text-base"
                            [ngClass]="getStatusColor(fieldList.productStatus)">{{fieldList.productStatus ||
                            '--'}}</span>
                    </div>
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">Product Entry Date</span>
                        <span class="text-base">{{fieldList.productEntryDate || '--'}}</span>
                    </div>
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">Integration Started</span>
                        <span class="text-base"
                            [ngClass]="fieldList.isIntegrationStarted ? 'text-green-500' : 'text-red-500'">{{fieldList.isIntegrationStarted
                            ? 'Yes' : 'No'}}</span>
                    </div>
                    <div class="grid" *ngIf="fieldList.isIntegrationStarted">
                        <span class=" text-md font-semibold text-secondary">Integration Start By</span>
                        <span class="text-base">{{fieldList.integrationStartBy || '--'}}</span>
                    </div>
                    <div class="grid" *ngIf="fieldList.isIntegrationStarted">
                        <span class=" text-md font-semibold text-secondary">Integration Start Date</span>
                        <span class="text-base">{{fieldList.integrationStartDate || '--'}}</span>
                    </div>
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">Block</span>
                        <span class="text-base"
                            [ngClass]="fieldList.isBlock ? 'text-green-500' : 'text-red-500'">{{fieldList.isBlock ?
                            'Yes' : 'No'}}</span>
                    </div>
                    <div class="grid" *ngIf="fieldList.isBlock">
                        <span class=" text-md font-semibold text-secondary">Block By</span>
                        <span class="text-base">{{fieldList.blockBy || '--'}}</span>
                    </div>
                    <div class="grid" *ngIf="fieldList.isBlock">
                        <span class=" text-md font-semibold text-secondary">Block Date</span>
                        <span class="text-base">{{fieldList.blockDate || '--'}}</span>
                    </div>
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">Activated</span>
                        <span class="text-base"
                            [ngClass]="fieldList.isActivated ? 'text-green-500' : 'text-red-500'">{{fieldList.isActivated
                            ? 'Yes' : 'No' }}</span>
                    </div>
                    <div class="grid" *ngIf="fieldList.isActivated">
                        <span class=" text-md font-semibold text-secondary">Activeted By</span>
                        <span class="text-base">{{fieldList.activetedBy || '--'}}</span>
                    </div>
                    <div class="grid" *ngIf="fieldList.isActivated">
                        <span class=" text-md font-semibold text-secondary">Activated Date</span>
                        <span class="text-base">{{fieldList.activatedDate || '--'}}</span>
                    </div>
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">Entry Date</span>
                        <span class="text-base">{{fieldList.entryDate || '--'}}</span>
                    </div>
                    <div class="grid" *ngIf="fieldList.rmRemark">
                        <span class=" text-md font-semibold text-secondary">Expiry Date</span>
                        <span class="text-base">{{fieldList.expiryDate || '--'}}</span>
                    </div>
                </div>
            </div>

            <div class="rounded-2xl  overflow-hidden border pb-4 ">
                <div class="dark:text-white text-lg font-medium dark:bg-[#364459] bg-gray-200 px-5 py-[10px] ">Service
                    Detail
                </div>
                <div class="grid grid-cols-3 gap-3 px-5 pt-5 pb-1">
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">Service Code</span>
                        <span class="text-base">{{fieldList.serviceCode || '--'}}</span>
                    </div>
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">Service Name</span>
                        <span class="text-base">{{fieldList.serviceName || '--'}}</span>
                    </div>
                    <div class="grid">
                        <span class=" text-md font-semibold text-secondary">Service Status</span>
                        <span class="text-base"
                            [ngClass]="getStatusColor(fieldList.serviceStatus)">{{fieldList.serviceStatus ||
                            '--'}}</span>
                    </div>

                </div>
            </div>
        </mat-tab>

        <mat-tab label="Status Change Log" [aria-label]="'Status Change Log'">
            <ng-container *ngIf="tab == 'Status Change Log'">
                <app-tab-status-changed-log #tabStatus></app-tab-status-changed-log>
            </ng-container>
        </mat-tab>

        <mat-tab label="Product Logs" [aria-label]="'Product Logs'">
            <ng-container *ngIf="tab == 'Product Logs'">
                <app-product-log [fieldList]="fieldList.productLogs"></app-product-log>
            </ng-container>
        </mat-tab>
    </mat-tab-group>
</div>