<div class="flex flex-col flex-auto overflow-hidden mt-[-10px]">
    <div
        class="flex flex-col flex-auto overflow-hidden overflow-y-auto overflow-x-auto lg:min-h-[350px] lg:max-h-[350px] xl:min-h-[350px] xl:max-h-[350px]">
        <ng-container>
            <div class="grid ">
                <div class="tbl-grid gridwidth z-10 sticky top-0 grid py-2 pl-0 shadow text-md font-semibold text-secondary dark:bg-gray-700 bg-white border-b"
                    matSort matSortDisableClear matSortActive="priorityid" matSortDirection="desc">
                    <div style="text-align: center" class="sticky left-0 z-99 dark:bg-gray-700 bg-white">
                        #
                    </div>
                    <ng-container *ngFor="let col of columns">
                        <div *ngIf="col.is_sortable" [mat-sort-header]="col.key" [class]="'' + col.class"
                            [ngClass]="{ 'justify-center': col.align === 'left' }"
                            class="text-secondary">
                            {{ col.name }}
                        </div>
                        <div *ngIf="!col.is_sortable" [class]="'' + col.class">
                            {{ col.name }}
                        </div>
                    </ng-container>
                </div>
                <!-- Rows -->
                <ng-container *ngIf="installmentDetail?.length > 0; else noGridItems">
                    <ng-container *ngFor="let ListItem of installmentDetail; let i = index">
                        <div class="tbl-grid gridwidth grid items-center px-0 py-0 border-b cursor-pointer">
                            <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="optionMenu" [disabled]="ListItem.isPaymentAudited"
                                class="sticky left-0 bg-card" style="border-radius: 0%; width: 100%">
                                <mat-icon> more_vert </mat-icon>
                            </button>
                            <mat-menu #optionMenu>
                                <button mat-menu-item (click)="editAction(ListItem)" *ngIf="!ListItem.isPaymentAudited">
                                    <mat-icon class="mat-18">edit</mat-icon>
                                    <span style="font-weight: 600">Modify</span>
                                </button>
                            </mat-menu>
                            <ng-container *ngFor="let col of columns">
                                <div [class]="'flex flex-row items-center space-x-0 truncate' + col.class" [ngClass]="ListItem.installmentDate ? 'pl-0': col.align === 'left' ? 'justify-center' : 'pl-0'">
                                    <span *ngIf="col.callAction && col.key === 'dueAmount'">
                                        <span *ngIf="col.name == 'Due Amount'">{{ListItem[col.key] ? ListItem[col.key] : 0 }}</span>
                                    </span>

                                    <div *ngIf="col.indicator" [matTooltip]="ListItem['isPaymentAudited'] == true ? 'Payment Received' : 'Payment Pending'"
                                        class="w-2 h-2 rounded-full mr-[6px]"
                                        [ngClass]="getPaymentIndicatorClass(ListItem['isPaymentAudited'])">
                                    </div>

                                    <div *ngIf="col.installmentAmount">
                                        {{ ListItem['installmentAmount'] != null ? (ListItem['installmentAmount'] | currency: (ListItem?.currency + ' ' || 'INR') : 'symbol' : '1.2-2') : '-' }}
                                    </div>

                                    <div *ngIf="col.receivedAmount">
                                        {{ ListItem['paymentAmount'] != null ? (ListItem['paymentAmount'] | currency: (ListItem?.currency + ' ' || 'INR') : 'symbol' : '1.2-2') : '-' }}
                                    </div>

                                    <div *ngIf="col.dueAmount">
                                        {{ ListItem['dueAmount'] != null ? (ListItem['dueAmount'] | currency: (ListItem?.currency + ' ' || 'INR') : 'symbol' : '1.2-2') : '-' }}
                                    </div>

                                    <!-- {{installmentDetail?.currency}} -->

                                    <div
                                        [class]="'flex flex-col truncate '+ (col.class == 'header-right-view' || col.class == 'header-center-view'? '' : '') ">
                                        <span class="truncate" *ngIf="!col.toColor && !col.callAction && !col.installmentAmount && !col.receivedAmount && !col.dueAmount"
                                            [matTooltip]="col.tooltip ? ListItem[col.key] : ''">
                                            {{ col.is_date ? (ListItem[col.key] | date: col.date_formate) ||
                                            " - " : ListItem[col.key] || " - " }}
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
    </div>
    </ng-container>

    <ng-template #noGridItems>
        <div class="p-8 sm:p-16 border-t text-3xl tracking-tight text-center pt-20">
            {{getNodataText()}}
        </div>
    </ng-template>
</div>
<!-- <mat-paginator
    class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 max-sm:bottom-0 max-sm:fixed max-sm:inset-x-0 z-10 bg-white dark:bg-gray-900 dark:bg-opacity-5"
    [ngClass]="{ 'pointer-events-none': isLoading }" [length]="total" [pageSizeOptions]="appConfig.pageSizeOptions"
    [pageSize]="appConfig.pageSize" (page)="refreshItems()" [showFirstLastButtons]="appConfig.showFirstLastButtons">
</mat-paginator> -->
</div>
<installment-right></installment-right>
