<div class="flex flex-col gap-1">
    <form [formGroup]="formGroup" class="flex flex-col h-full">
        <div class="flex flex-row gap-3">
            <mat-form-field class="w-1/2">
                <mat-label class="font-medium">Destination</mat-label>
                <mat-select required formControlName="destination_id">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="destination_search"
                            [placeholderLabel]="'Search Destination'"
                            [noEntriesFoundLabel]="'no matching destination found'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let m of destinationList | async"
                        [value]="m.id">{{m.destination_name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-1/2">
                <mat-label class="font-medium">Supplier</mat-label>
                <mat-select required formControlName="supplier_id">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="supplier_search" [placeholderLabel]="'Search Supplier'"
                            [noEntriesFoundLabel]="'no matching supplier found'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let m of supplierList | async" [value]="m.id">{{m.company_name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label class="font-medium">Product Name</mat-label>
            <input required matInput formControlName="product_name">
        </mat-form-field>

        <div class="flex flex-row gap-3 items-center">

            <mat-form-field class="w-1/4">
                <mat-label class="font-medium">Nights</mat-label>
                <input required matInput formControlName="no_of_nights" type="number">
            </mat-form-field>

            <mat-form-field class="w-1/4">
                <mat-label class="font-medium">Days</mat-label>
                <input required matInput formControlName="no_of_days" type="number">
            </mat-form-field>

            <mat-form-field class="w-1/2">
                <mat-label class="font-medium">Currency</mat-label>
                <mat-select required formControlName="base_currency_id">
                    <mat-option *ngFor="let m of currencyList" [value]="m.id">{{m.currency_short_code}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <mat-form-field>
            <mat-label class="font-medium">Theme</mat-label>
            <mat-select formControlName="theme" multiple>
                <mat-option *ngFor="let m of themeList" [value]="m">{{m}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div>
            <mat-checkbox formControlName="is_fix_departure" color="primary">Fix Departure</mat-checkbox>
        </div>

        <div class="h-7"></div>

        <div class="flex flex-row gap-3 items-center border-t pt-4 justify-end">
            <button mat-flat-button color="primary" class="rounded-lg" [disabled]="formGroup.invalid" (click)="Save()">
                SAVE
            </button>

            <button mat-flat-button class="rounded-lg" (click)="cancel()">
                Cancel
            </button>
        </div>
    </form>

</div>