<div class="flex flex-col flex-auto overflow-hidden mt-[-10px]">
    <div
        class="flex flex-col flex-auto overflow-hidden overflow-y-auto overflow-x-auto lg:min-h-[350px] lg:max-h-[350px] xl:min-h-[350px] xl:max-h-[350px]">
        <ng-container>
            <div class="grid ">
                <div class="tbl-grid gridwidth z-10 sticky top-0 grid py-2 pl-0 shadow text-md font-semibold text-secondary dark:bg-gray-700 bg-white border-b"
                    matSort matSortDisableClear matSortActive="priorityid" matSortDirection="desc">
                    <ng-container *ngFor="let col of columns">
                        <div *ngIf="col.is_sortable" [mat-sort-header]="col.key" [class]="'pl-4 ' + col.class"
                            class="text-secondary">
                            {{ col.name }}
                        </div>
                        <div *ngIf="!col.is_sortable" [class]="'pl-4 ' + col.class">
                            {{ col.name }}
                        </div>
                    </ng-container>
                </div>
                <!-- Rows -->
                <ng-container *ngIf="logsDetail?.length > 0; else noGridItems">
                    <ng-container *ngFor="let List of logsDetail">
                        <div class="tbl-grid gridwidth grid items-center px-5 py-2 border-b pl-0 cursor-pointer">
                            <ng-container *ngFor="let col of columns">
                                <div [class]="'flex flex-row items-center space-x-2 truncate pl-4 ' + col.class">
                                    <div
                                        [class]="'flex flex-col truncate '+ (col.class == 'header-right-view' || col.class == 'header-center-view'? 'pr-4' : '') ">
                                        <span class="truncate" *ngIf="!col.toColor && !col.subModule && !col.isCombine"
                                            [matTooltip]="col.tooltip ? List[col.key] : ''">
                                            {{ col.is_date ? (List[col.key] | date: col.date_formate) ||
                                                " - " : List[col.key] || " - " }}
                                        </span>
                                        <span class="truncate" *ngIf="col.isCombine" [matTooltip]="List['activity'] + (List['ipAddress'] ? ' (' + List['ipAddress'] + ')' : '') || ' - '">
                                            {{ List['activity'] || " - " }} ( {{ List['ipAddress'] || " - " }} )
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <!-- </ng-container> -->
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
        <ng-template #noGridItems>
            <div class="p-8 sm:p-16 border-t text-3xl tracking-tight text-center pt-20">
                {{getNodataText()}}
            </div>
        </ng-template>
    </div>
</div>
