<div class="table-container paginator-bottom">
    <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
        columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
        [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
        [lazy]="true" (onLazyLoad)="refreshItems($event)" [scrollable]="true" [scrollHeight]="scrollHeightWTab"
        [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" [globalFilterFields]=""
        styleClass="p-datatable-gridlines p-datatable-sm">

        <ng-template pTemplate="header">
            <tr>
                <th class="w-5 text-center left-[-1px]" pFrozenColumn>#</th>
                <th pSortableColumn="callCount" pResizableColumn pResizableColumn alignFrozen="left" pFrozenColumn
                    class="dark:bg-[#1e293b]" [frozen]="frozenObj?.callCount"
                    [ngClass]="{'left-0': !frozenObj?.callCount}">
                    Calls <p-sortIcon field="callCount" />
                    <span class="float-right" (click)="isFrozenColumn('callCount');$event.stopPropagation()">
                        <i *ngIf="!frozenObj?.callCount" class="pi pi-lock-open icon-size-3"></i>
                        <i *ngIf="frozenObj?.callCount" class="pi pi-lock icon-size-3"></i>
                    </span>
                </th>
                <th pSortableColumn="status" pResizableColumn>
                    Status <p-sortIcon field="status" />
                </th>
                <th pSortableColumn="acCode" pResizableColumn>
                    AC Code <p-sortIcon field="acCode" />
                </th>
                <th pSortableColumn="agencyName" pResizableColumn>
                    Agency <p-sortIcon field="agencyName" />
                </th>
                <th pSortableColumn="createdDate" pResizableColumn>
                    Created Date <p-sortIcon field="createdDate" />
                </th>
                <th pResizableColumn>
                    Last Login
                </th>
                <th pSortableColumn="lastTransaction" pResizableColumn>
                    Last Transaction <p-sortIcon field="lastTransaction" />
                </th>
            </tr>

            <tr *ngIf="isFilterShowPartners">
                <th class=" left-[-1px]" pFrozenColumn></th>
                <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.callCount" class="min-w-[110px]">
                    <p-columnFilter field="callCount" type="numeric" placeholder="Search by Count"
                        ariaLabel="Filter Count"></p-columnFilter>
                </th>
                <th>
                    <!-- <p-columnFilter type="text" matchMode="contains" field="status" placeholder="Search by Status"
                    ariaLabel="Filter Status" /> -->
                    <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="statusList"
                                (onChange)="filter($event.value)" placeholder="Select Status" [showClear]="true"
                                appendTo="body">
                                <ng-template let-option pTemplate="item">
                                    <p>{{option}}</p>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="numeric" field="acCode" placeholder="Search by AC Code"
                        ariaLabel="Filter AC Code" />
                </th>
                <th>
                    <!-- <p-columnFilter type="text" matchMode="contains" field="agencyName" placeholder="Search by Agency"
                        ariaLabel="Filter Agency" /> -->
                    <p-columnFilter class="searchableDropdown" field="agencyName" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown class="filter-dropdown" [options]="agentList" optionLabel="agent_info"
                                [filter]="true" filterBy="agent_info" [(ngModel)]="selectedAgent"
                                (onFilter)="getAgent($event?.filter)" (onChange)="filter($event.value)"
                                [showClear]="true" appendTo="body" placeholder="Select Agent">
                                <ng-template let-agent pTemplate="item">
                                    <div class="flex align-items-center gap-1">
                                        <div [value]="agent.id">
                                            <div class="m-0">
                                                {{agent.code}} - {{agent.agency_name}}
                                                <div class="text-sm text-slate-500">{{agent.email_address}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="createdDate" type="date">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" appendTo="body"
                                [ngModel]="value" placeholder="Search by Created Date">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <!-- <p-columnFilter field="latestDate" type="date">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" appendTo="body"
                                [ngModel]="value" placeholder="Search by Last Login">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter> -->
                </th>
                <th>
                    <p-columnFilter field="lastTransaction" type="date">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" appendTo="body"
                                [ngModel]="value" placeholder="Search by Last Transaction">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-element let-i="rowIndex">
            <tr>
                <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                    <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                        <mat-icon> more_vert </mat-icon>
                    </span>

                    <mat-menu #optionMenu>
                        <button mat-menu-item (click)="dialCall(element)">
                            <mat-icon class="mat-18">phone</mat-icon>
                            <span style="font-weight: 600">Dial Call</span>
                        </button>
                        <button mat-menu-item (click)="agentTimeline(element)">
                            <mat-icon class="mat-18">schedule</mat-icon>
                            <span style="font-weight: 600">Agent Timeline</span>
                        </button>
                        <button mat-menu-item (click)="purchaseProduct(element)">
                            <mat-icon svgIcon="heroicons_outline:circle-stack" class="mat-18"></mat-icon>
                            <span style="font-weight: 600">Products</span>
                        </button>
                        <button mat-menu-item (click)="dormants(element)" *ngIf="element.status !== 'Dormant'">
                            <mat-icon class="mat-18">pause_circle_filled</mat-icon>
                            <span style="font-weight: 600">Dormant</span>
                        </button>
                        <button mat-menu-item (click)="reActive(element)" *ngIf="element.status === 'Dormant'">
                            <mat-icon svgIcon="heroicons_outline:arrow-path-rounded-square" class="mat-18"></mat-icon>
                            <span style="font-weight: 600">Reactive</span>
                        </button>
                        <!-- <button mat-menu-item (click)="purchaseProduct(element)">
                            <div class="">
                                <img class="w-[18px] h-4" src="assets/images/crm/product_purchase.png" alt="Logo image">
                            </div>
                            <span style="font-weight: 600">Products</span>
                        </button> -->
                    </mat-menu>
                </td>
                <td class="text-center min-w-[110px]" alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.callCount">
                    <span class="inline-block cursor-pointer border-b border-gray-500"
                        (click)="callHistory(element)">{{(element.callCount) || 0}}</span>
                </td>
                <td>
                    <span [ngClass]="getStatusColor(element.status)">{{(element.status) || '-'}}</span>
                </td>
                <td>
                    {{element.acCode || '0'}}
                </td>
                <td>
                    <!-- <span [matTooltip]="element.priorityText" class="inline-block me-2 w-2 h-2 min-w-2 max-w-2 min-h-2 max-h-2 rounded-full mr-[6px]"
                        [ngClass]="getPriorityIndicatorClass(element.priorityText)"></span> -->
                    {{element.agencyName || '-'}}
                </td>
                <td>
                    {{(element.createdDate | date: 'dd-MM-yyyy') || "-"}}
                </td>
                <td>
                    <span class="text-[15px] truncate dark:text-white text-black">
                        {{ (getLastLogin(element) | date: 'dd-MM-yyyy') || ' - ' }}
                    </span>
                </td>
                <td class="w-full">
                    {{(element.lastTransaction | date: 'dd-MM-yyyy') || "-"}}
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr class="h-14">
                <td colspan="9" class="text-center font-semibold text-lg">
                    {{getNodataText()}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
