<fuse-drawer class="w-screen min-w-screen sm:w-128 sm:min-w-128 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>

    <div class="flex flex-col w-full bg-card">

        <div class="flex flex-row items-center px-4 h-15 min-h-15 dark:text-white">
            <!-- <div class="text-xl font-semibold tracking-tight">Forex Info</div> -->
            <div>
                <div class=" gap-2 flex dark:text-white font-semibold text-lg">
                    <span>{{infoData?.from_currency}}</span>
                    <img class="w-auto" src="assets/icons/swift-inquiry.svg">
                    <span>{{infoData?.to_currency}}</span>
                </div>
                <div class="flex items-center">
                    <div class="light:text-[#696969] text-secondary text-base font-normal mr-2">{{infoData?.rate_for ||
                        "-"}} | </div>
                    <mat-icon class="icon-size-4 light:text-[#696969] text-secondary mr-2"
                        svgIcon="mat_outline:calendar_today"></mat-icon>
                    <div class="light:text-[#696969] text-secondary text-base font-normal mr-2">
                        {{(infoData?.entry_date_time | date: 'EEE, dd-MM-yyyy')}}</div>
                    <div class="px-2 py-1 rounded-md border text-sm font-medium"
                        [ngClass]="getStatusColor(infoData?.lead_status)">{{infoData?.lead_status}}</div>
                </div>
            </div>
            <button class="ml-auto" mat-icon-button (click)="settingsDrawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>

        <div class="p-4 overflow-auto" style="height: calc(100vh - 110px)">

            <!-- <div *ngIf="infoData?.lead_status == 'Completed' || infoData?.lead_status === 'Token Payment Success'"
                class="px-4 py-2 mb-3 rounded-lg bg-[rgba(1,175,71,0.1)] flex items-center border border-green-500">
                <mat-icon class="text-green-500 text-2xl">check_circle</mat-icon>
                <span class="font-semibold ml-2 leading-none text-green-500 text-base">{{infoData?.lead_status}}</span>
            </div>

            <div *ngIf="infoData?.lead_status == 'New'"
                class="px-4 py-2 mb-3 rounded-lg bg-[rgba(1,175,71,0.1)] flex items-center border border-orange-500">
                <img class="w-auto" src="assets/icons/new.svg">
                <span class="font-semibold ml-2 leading-none text-orange-600 text-base">{{infoData?.lead_status}}</span>
            </div>

            <div *ngIf="infoData?.lead_status === 'Rejected'"
                class="px-4 py-2 mb-3 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border border-red-500">
                <mat-icon class="icon-size-[20px] text-red-500">warning</mat-icon>
                <span class="font-semibold ml-2 leading-none text-red-500 text-base">{{infoData?.lead_status}}</span>
            </div>

            <div *ngIf="infoData?.lead_status === 'Cancelled' || infoData?.lead_status === 'Token Payment Failed'"
                class="px-4 py-2 mb-3 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border border-red-500">
                <mat-icon class="icon-size-[20px] text-red-500" svgIcon="heroicons_solid:x-circle"></mat-icon>
                <span class="font-semibold ml-2 leading-none text-red-500 text-base">{{infoData?.lead_status}}</span>
            </div>

            <div *ngIf="infoData?.lead_status === 'Waiting for Token Payment'"
                class="px-4 py-2 mb-3 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border border-orange-500">
                <mat-icon class="icon-size-[20px] text-orange-600" svgIcon="heroicons_solid:clock"></mat-icon>
                <span class="font-semibold ml-2 leading-none text-orange-600 text-base">{{infoData?.lead_status}}</span>
            </div> -->

            <!-- <mat-divider></mat-divider> -->

            <div class="overflow-hidden">
                <!-- <div class="py-[10px] font-bold text-xl light:text-[#1C1C1C]">Booking Details</div> -->
                <div class="">
                    <div class="flex gap-2">
                        <div class="mb-5 w-full">
                            <div class="light:text-[#696969] text-secondary  text-base font-normal">Booking Ref.No.
                            </div>
                            <div class="text-[15px] font-medium truncate" [matTooltip]="infoData?.reference_no">
                                {{infoData?.reference_no || "-"}}</div>
                        </div>
                    </div>
                    <!-- <div class="flex">
                        <div class="mb-5 w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Forex Date</div>
                            <div class="text-[15px] font-medium">{{(infoData?.entry_date_time | date: 'dd-MM-yyyy HH:mm:ss') || "-"}}
                            </div>
                        </div>
                        <div class="mb-5 w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Forex Type</div>
                            <div class="text-[15px] font-medium">{{infoData?.rate_for || "-"}}</div>
                        </div>
                    </div> -->
                    <div class="flex">
                        <div class="mb-5 w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">City</div>
                            <div class="text-[15px] font-medium">{{infoData?.city_name || "-"}}</div>
                        </div>
                        <div class="mb-5 w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Transaction Type
                            </div>
                            <div class="text-[15px] font-medium">{{infoData?.transaction_type || "-"}}</div>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Currency you Have
                            </div>
                            <div class="text-[15px] font-medium">{{infoData?.from_currency || "-"}}</div>
                        </div>
                        <div class="w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Currency you Want
                            </div>
                            <div class="text-[15px] font-medium">{{infoData?.to_currency || "-"}}</div>
                        </div>
                    </div>

                </div>
            </div>

            <mat-divider class="my-4"></mat-divider>

            <div class="overflow-hidden">
                <!-- <div class="py-[10px] font-bold text-xl light:text-[#1C1C1C]">Customer Details</div> -->
                <div class="">
                    <div class="flex gap-2">
                        <div class="mb-5 w-full">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Customer Name</div>
                            <div class="text-[15px] font-medium truncate" [matTooltip]="infoData?.lead_name">
                                {{infoData?.lead_name || "-"}}</div>
                        </div>
                    </div>
                    <div class="flex gap-2">
                        <div class="w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Customer Email</div>
                            <div class="text-[15px] font-medium truncate" [matTooltip]="infoData?.lead_email">
                                {{infoData?.lead_email || "-"}}
                            </div>
                        </div>
                        <div class="w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Customer Contact No.
                            </div>
                            <div class="text-[15px] font-medium">{{infoData?.lead_mobile || "-"}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="flex p-3 dark:bg-[#364459] bg-[#e8e8e8] rounded-md items-start gap-2">
                <img class="w-5 pt-1 max-w-5 min-w-5" src="assets/icons/edit-forex.svg">
                <div class=" text-sm font-normal">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy</div>
            </div> -->

            <mat-divider class="my-4"></mat-divider>

            <div class="overflow-hidden mb-5">
                <!-- <div class="py-[10px] font-bold text-xl light:text-[#1C1C1C]">Price Details</div> -->
                <div class="px-3 pt-3 border rounded-lg">
                    <div class="gap-2">
                        <div class="mb-2 w-full flex justify-between">
                            <div class="text-base font-normal light:text-[#696969] text-secondary">Forex Amount</div>
                            <div class="text-lg font-semibold light:text-[#1c1c1c]">{{infoData?.to_currency_symbol}}
                                {{infoData?.to_amount || "0"}}
                            </div>
                        </div>
                        <div class="mb-2 w-full flex justify-between">
                            <div class="text-base font-normal light:text-[#696969] text-secondary">Rate</div>
                            <div class="text-lg font-semibold light:text-[#1c1c1c]">{{infoData?.from_currency_symbol}}
                                {{infoData?.forex_rate || "0"}}</div>
                        </div>
                        <div class="mb-2 w-full flex justify-between">
                            <div class="text-base font-normal light:text-[#696969] text-secondary">
                                {{infoData?.from_currency_symbol}} Amount</div>
                            <div class="text-lg font-semibold light:text-[#1c1c1c]">{{infoData?.from_currency_symbol}}
                                {{infoData?.from_amount || "0"}}
                            </div>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="my-2 w-full flex justify-between">
                        <div class="text-lg font-semibold light:text-[#234977] text-secondary">Total Amount</div>
                        <div class="text-lg font-semibold">{{infoData?.from_currency_symbol}} {{infoData?.from_amount ||
                            "0"}}
                        </div>
                    </div>

                    <div *ngIf="infoData?.token_amount != 0">
                        <mat-divider></mat-divider>
                        <div class="my-2 w-full flex justify-between">
                            <div class="text-base font-normal light:text-[#696969] text-secondary">Paid Token Amount
                            </div>
                            <div class="text-[15px] font-medium text-[#01AF47]">{{infoData?.inr_token_symbol}}
                                {{infoData?.token_amount}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            
            <div class="mt-2 rounded-md p-3 bg-[#f9434340] border-[#953a3a] border" *ngIf="infoData?.lead_status == 'Rejected'">
                <div class="font-medium text-sm dark:text-[#fff]"><strong >Reject Reason : </strong> {{infoData?.reject_reason}}</div>
            </div>

            <!-- <div class="note-section my-2 dark:bg-[#364459] bg-[#e8e8e8] p-2 rounded-md">
                <p><span class="font-medium">Note</span>:- Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
            </div> -->

            <div class="items-center gap-2 p-4 justify-center" *ngIf="this.infoData?.invoice_id">
                <div class="text-[#696969] font-normal text-base mb-2 text-center">Download Invoice</div>
                <div class="flex items-center justify-center gap-2">
                    <mat-icon class="text-[#1877F2] icon-size-4 cursor-pointer"
                        svgIcon="heroicons_outline:arrow-down-tray"></mat-icon>
                    <div (click)="invoice()" class="text-[#1877F2] text-base font-medium cursor-pointer">Invoice</div>
                </div>
            </div>
        </div>

        <!-- <div
            class="h-16 flex items-center justify-end pt-4 sm:mt-0 pb-4 space-x-3 bottom-0 absolute w-full pr-5 dark:bg-[#1e293b] bg-white border-t m-auto">
            <button mat-stroked-button (click)="settingsDrawer.close()">Close</button>
        </div> -->
    </div>
</fuse-drawer>