<fuse-drawer class="w-screen min-w-screen sm:w-128 sm:min-w-128 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>

    <div class="flex flex-col w-full bg-card">

        <div class="flex flex-row items-center px-6 h-13 min-h-13 dark:text-white">
            <div class="text-xl font-semibold tracking-tight">Forex Info</div>
            <button class="ml-auto" mat-icon-button (click)="settingsDrawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>


        <!-- <div class="p-4 overflow-auto" style="height: calc(100vh - 100px)">
            <div class="border rounded-2xl overflow-hidden mb-5">
                <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px] text-lg">Forex Information</div>
                <div class="px-3 pt-3">
                    <div class="flex gap-2">
                        <div class="mb-5 w-1/2">
                            <div class="text-md font-semibold text-secondary">Reference No</div>
                            <div class="text-base truncate" [matTooltip]="infoData?.reference_no">
                                {{infoData?.reference_no || "-"}}</div>
                        </div>
                        <div class="mb-5 w-1/2">
                            <div class="text-md font-semibold text-secondary">Lead Status</div>
                            <div class="text-base" [ngClass]="getStatusColor(infoData?.lead_status)">
                                {{infoData?.lead_status
                                || "-"}}</div>
                        </div>
                    </div>
                    <div class="mb-5 w-full">
                        <div class="text-md font-semibold text-secondary">City</div>
                        <div class="text-base">{{infoData?.city_name || "-"}}</div>
                    </div>
                    <div class="flex">
                        <div class="mb-5 w-1/2">
                            <div class="text-md font-semibold text-secondary">From Currency</div>
                            <div class="text-base">{{infoData?.from_currency || "-"}}</div>
                        </div>
                        <div class="mb-5 w-1/2">
                            <div class="text-md font-semibold text-secondary">To Currency</div>
                            <div class="text-base">{{infoData?.to_currency || "-"}}</div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="mb-5 w-1/2">
                            <div class="text-md font-semibold text-secondary">Transaction Type</div>
                            <div class="text-base">{{infoData?.transaction_type || "-"}}</div>
                        </div>
                        <div class="mb-5 w-1/2">
                            <div class="text-md font-semibold text-secondary">Rate For</div>
                            <div class="text-base">{{infoData?.rate_for || "-"}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border rounded-2xl overflow-hidden mb-5">
                <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px] text-lg">Price Information</div>
                <div class="px-3 pt-3">
                    <div class="flex gap-2">
                        <div class="mb-5 w-1/3">
                            <div class="text-md font-semibold text-secondary">Forex Amount</div>
                            <div class="text-base">{{infoData?.to_currency_symbol}} {{infoData?.from_amount || "-"}}</div>
                        </div>
                        <div class="mb-5 w-1/3">
                            <div class="text-md font-semibold text-secondary">Forex Rate</div>
                            <div class="text-base truncate">{{infoData?.forex_rate || "-"}}</div>
                        </div>
                        <div class="mb-5 w-1/3">
                            <div class="text-md font-semibold text-secondary">{{infoData?.from_currency}} Amount</div>
                            <div class="text-base">{{infoData?.from_currency_symbol}} {{infoData?.to_amount || "-"}}</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="border rounded-2xl overflow-hidden mb-5">
                <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px] text-lg">Lead Information</div>
                <div class="px-3 pt-3">
                    <div class="mb-5 w-full">
                        <div class="text-md font-semibold text-secondary">Name</div>
                        <div class="text-base">{{infoData?.lead_name || "-"}}</div>
                    </div>
                    <div class="mb-5 w-full">
                        <div class="text-md font-semibold text-secondary">Email</div>
                        <div class="text-base">{{infoData?.lead_email || "-"}}</div>
                    </div>
                    <div class="mb-5 w-full">
                        <div class="text-md font-semibold text-secondary">Mobile</div>
                        <div class="text-base">{{infoData?.lead_mobile || "-"}}</div>
                    </div>
                    <div class="flex">
                        <div class="mb-5 w-1/2">
                            <div class="text-md font-semibold text-secondary">Date</div>
                            <div class="text-base">{{(infoData?.entry_date_time | date: 'dd-MM-yyyy HH:mm:ss') || "-"}}
                            </div>
                        </div>
                        <div class="mb-5 w-1/2" *ngIf="infoData?.lead_status == 'Rejected' || infoData?.lead_status == 'Cancelled'">
                            <div class="text-md font-semibold text-secondary">{{infoData?.lead_status == 'Rejected' ? 'Rejected' : infoData?.lead_status == 'Cancelled' ? 'Cancelled' : ''}} Date</div>
                            <div class="text-base">{{(infoData?.reject_date_time | date: 'dd-MM-yyyy HH:mm:ss') || "-"}}
                            </div>
                        </div>
                        <div class="mb-5 w-1/2" *ngIf="infoData?.lead_status == 'Completed'">
                            <div class="text-md font-semibold text-secondary">Completed Date</div>
                            <div class="text-base">{{(infoData?.confirm_date_time | date: 'dd-MM-yyyy HH:mm:ss') || "-"}}
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-5 w-full" *ngIf="infoData?.lead_status == 'Rejected'">
                        <div class="text-md font-semibold text-secondary">Reject Reason</div>
                        <div class="text-base">{{infoData?.reject_reason || "-"}}</div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="p-4 overflow-auto" style="height: calc(100vh - 110px)">

            <div *ngIf="infoData?.lead_status == 'Completed' || infoData?.lead_status === 'Token Payment Success'"
                class="px-4 py-2 mb-3 rounded-lg bg-[rgba(1,175,71,0.1)] flex items-center border border-green-500">
                <mat-icon class="text-green-500 text-2xl">check_circle</mat-icon>
                <span class="font-semibold ml-2 leading-none text-green-500 text-base">{{infoData?.lead_status}}</span>
            </div>

            <div *ngIf="infoData?.lead_status == 'New'"
                class="px-4 py-2 mb-3 rounded-lg bg-[rgba(1,175,71,0.1)] flex items-center border border-orange-500">
                <img class="w-auto" src="assets/icons/new.svg">
                <span class="font-semibold ml-2 leading-none text-orange-600 text-base">{{infoData?.lead_status}}</span>
            </div>

            <div *ngIf="infoData?.lead_status === 'Rejected'"
                class="px-4 py-2 mb-3 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border border-red-500">
                <mat-icon class="icon-size-[20px] text-red-500">warning</mat-icon>
                <span class="font-semibold ml-2 leading-none text-red-500 text-base">{{infoData?.lead_status}}</span>
            </div>

            <div *ngIf="infoData?.lead_status === 'Cancelled' || infoData?.lead_status === 'Token Payment Failed'"
                class="px-4 py-2 mb-3 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border border-red-500">
                <mat-icon class="icon-size-[20px] text-red-500" svgIcon="heroicons_solid:x-circle"></mat-icon>
                <span class="font-semibold ml-2 leading-none text-red-500 text-base">{{infoData?.lead_status}}</span>
            </div>

            <div *ngIf="infoData?.lead_status === 'Waiting for Token Payment'"
                class="px-4 py-2 mb-3 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border border-orange-500">
                <mat-icon class="icon-size-[20px] text-orange-600" svgIcon="heroicons_solid:clock"></mat-icon>
                <span class="font-semibold ml-2 leading-none text-orange-600 text-base">{{infoData?.lead_status}}</span>
            </div>

            <mat-divider></mat-divider>

            <div class="overflow-hidden">
                <div class="py-[10px] font-bold text-xl light:text-[#1C1C1C]">Booking Details</div>
                <div class="">
                    <div class="flex gap-2">
                        <div class="mb-5 w-full">
                            <div class="light:text-[#696969] text-secondary  text-base font-normal">Booking Ref.No.</div>
                            <div class="text-[15px] font-medium truncate" [matTooltip]="infoData?.reference_no">
                                {{infoData?.reference_no || "-"}}</div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="mb-5 w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Forex Date</div>
                            <div class="text-[15px] font-medium">{{(infoData?.entry_date_time | date: 'dd-MM-yyyy HH:mm:ss') || "-"}}
                            </div>
                        </div>
                        <div class="mb-5 w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Forex Type</div>
                            <div class="text-[15px] font-medium">{{infoData?.rate_for || "-"}}</div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="mb-5 w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Transaction Type</div>
                            <div class="text-[15px] font-medium">{{infoData?.transaction_type || "-"}}</div>
                        </div>
                        <div class="mb-5 w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">City</div>
                            <div class="text-[15px] font-medium">{{infoData?.city_name || "-"}}</div>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="mb-5 w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">From Currency</div>
                            <div class="text-[15px] font-medium">{{infoData?.from_currency || "-"}}</div>
                        </div>
                        <div class="mb-5 w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">To Currency</div>
                            <div class="text-[15px] font-medium">{{infoData?.to_currency || "-"}}</div>
                        </div>
                    </div>
                   
                </div>
            </div>

            <mat-divider></mat-divider>

            <div class="overflow-hidden">
                <div class="py-[10px] font-bold text-xl light:text-[#1C1C1C]">Customer Details</div>
                <div class="">
                    <div class="flex gap-2">
                        <div class="mb-5 w-full">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Customer Name</div>
                            <div class="text-[15px] font-medium truncate" [matTooltip]="infoData?.lead_name">
                                {{infoData?.lead_name || "-"}}</div>
                        </div>
                    </div>
                    <div class="flex gap-2">
                        <div class="mb-5 w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Email Address</div>
                            <div class="text-[15px] font-medium truncate" [matTooltip]="infoData?.lead_email">{{infoData?.lead_email || "-"}}
                            </div>
                        </div>
                        <div class="mb-5 w-1/2">
                            <div class="light:text-[#696969] text-secondary text-base font-normal">Mobile Number</div>
                            <div class="text-[15px] font-medium">{{infoData?.lead_mobile || "-"}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div class="overflow-hidden mb-5">
                <div class="py-[10px] font-bold text-xl light:text-[#1C1C1C]">Price Details</div>
                <div class="px-3 pt-3 border rounded-lg">
                    <div class="gap-2">
                        <div class="mb-2 w-full flex justify-between">
                            <div class="text-base font-normal light:text-[#696969] text-secondary">Forex Amount</div>
                            <div class="text-lg font-semibold light:text-[#1c1c1c]">{{infoData?.to_currency_symbol}} {{infoData?.to_amount || "-"}}
                            </div>
                        </div>
                        <div class="mb-2 w-full flex justify-between">
                            <div class="text-base font-normal light:text-[#696969] text-secondary">Rate</div>
                            <div class="text-lg font-semibold light:text-[#1c1c1c]">{{infoData?.from_currency_symbol}} {{infoData?.forex_rate || "-"}}</div>
                        </div>
                        <div class="mb-2 w-full flex justify-between">
                            <div class="text-base font-normal light:text-[#696969] text-secondary">{{infoData?.from_currency}} Amount</div>
                            <div class="text-lg font-semibold light:text-[#1c1c1c]">{{infoData?.from_currency_symbol}} {{infoData?.from_amount || "-"}}
                            </div>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="my-2 w-full flex justify-between">
                        <div class="text-lg font-semibold light:text-[#234977] text-secondary">Total Amount</div>
                        <div class="text-lg font-semibold">{{infoData?.from_currency_symbol}} {{infoData?.from_amount || "0"}}
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="my-2 w-full flex justify-between">
                        <div class="text-base font-normal light:text-[#696969] text-secondary">Paid Token Amount</div>
                        <div class="text-[15px] font-medium text-[#01AF47]">{{infoData?.inr_token_symbol}} {{infoData?.token_amount || "0"}}
                        </div>
                    </div>

                </div>
            </div>

            <div class="note-section my-2 dark:bg-[#364459] bg-[#e8e8e8] p-2 rounded-md">
                <p><span class="font-medium">Note</span>:- Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
            </div>
        </div>

        <div
            class="h-16 flex items-center justify-end pt-4 sm:mt-0 pb-4 space-x-3 bottom-0 absolute w-full pr-5 dark:bg-[#1e293b] bg-white border-t m-auto">
            <!-- <button *ngIf="infoData?.lead_status == 'New' || infoData?.lead_status === 'Token Payment Success'" (click)="settingsDrawer.close()" class="border-green-500 border px-5 py-2 rounded-3xl"><span class="text-green-500">Complete</span></button>
            <button *ngIf="infoData?.lead_status == 'New' || infoData?.lead_status === 'Token Payment Success'" (click)="settingsDrawer.close()" class="border-red-500 border px-5 py-2 rounded-3xl"><span class="text-red-500">Reject</span></button> -->
            <button mat-stroked-button (click)="settingsDrawer.close()">Close</button>
        </div>
    </div>
</fuse-drawer>