<div style="height: calc(100vh - 130px)" class="overflow-auto px-5 py-2">
    <div class="flex flex-wrap bg-card overflow-hidden">
        <div class="flex flex-col mb-3 truncate w-full">
            <span class="text-md font-semibold text-secondary">Cashback For</span>
            <span class="text-base truncate">{{record?.cashback_for ? record?.cashback_for :
                'Any'}}</span>
        </div>

        <div class="flex flex-col mb-3 truncate w-1/2">
            <span class="text-md font-semibold text-secondary">Transaction Type</span>
            <span class="text-base truncate">{{record?.transaction_type || '-'}}</span>
        </div>

        <div class="flex flex-col mb-3 truncate w-1/2">
            <span class="text-md font-semibold text-secondary">From Amount</span>
            <span class="text-base truncate">{{record?.from_amount || 0}}</span>
        </div>

        <div class="flex flex-col mb-3 truncate w-1/2">
            <span class="text-md font-semibold text-secondary">To Amount</span>
            <span class="text-base truncate">{{record?.to_amount || 0}}</span>
        </div>

        <div class="flex flex-col mb-3 truncate w-1/2">
            <span class="text-md font-semibold text-secondary">Fix Cashback</span>
            <span class="text-base truncate">{{record?.fix_cashback || 0}}</span>
        </div>

        <div class="flex flex-col mb-3 truncate w-1/2">
            <span class="text-md font-semibold text-secondary">From Range</span>
            <span class="text-base truncate">{{record?.from_range || 0}}</span>
        </div>

        <div class="flex flex-col mb-3 truncate w-1/2">
            <span class="text-md font-semibold text-secondary">To Range</span>
            <span class="text-base truncate">{{record?.to_range || 0}}</span>
        </div>

        <div class="flex flex-col mb-3 truncate w-1/2">
            <span class="text-md font-semibold text-secondary">Minimum Amount</span>
            <span class="text-base truncate">{{record?.minimum_amount || 0}}</span>
        </div>
    </div>
</div>
