<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">Agent</div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 gap-3">

            <!------Global Search------>
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" (click)="refreshItems()"></mat-icon>
            </div>
            
            <!--- Dropdown filter -->
            <!-- <mat-form-field class="w-36 bottom_none">
                <mat-select [formControl]="Status" required class="max-w-28" (selectionChange)="refreshItems()"
                    #service>
                    <mat-option *ngFor="let s of serviceForList" [value]="s">{{s}}</mat-option>
                </mat-select>
            </mat-form-field> -->

            <!------Global filter------>
            <button class="rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!-- Select Columns Button and Select Box Code -->
            <div>
                <button class="rounded-full" mat-flat-button [color]="'primary'" matTooltip="Select more columns"
                    [disabled]="isLoading" (click)="op.toggle($event)">
                    <img class="w-5 cursor-pointer ml-1 pt-1" src="assets/icons/column.svg" alt="c">
                </button>
                <p-overlayPanel #op>
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                        class="overlay-panel" [style]="{'max-width': '220px'}" display="chip"
                        placeholder="Choose Columns" />
                </p-overlayPanel>
            </div>

            <!------Refresh------>
            <button mat-flat-button [color]="'primary'" matTooltip="Refresh" [disabled]="isLoading"
                (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <!--- Add  -->
            <!-- <button class="ml-4" mat-flat-button [color]="'primary'" (click)="create()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button> -->
             <!------Common Filter------->
             <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Add New Record" [disabled]="isLoading" (click)="_filterService.openDrawer(filter_table_name, primengTable)">
                <mat-icon [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                <span class="ml-2 mr-1">Filter</span>
            </button>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [columns]="selectedColumns" [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1"
            [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
            [loading]="isLoading" [paginator]="true" [rows]="appConfig.pageSize" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="appConfig.pageSizeOptions" [lazy]="true" (onLazyLoad)="refreshItems($event)"
            [scrollable]="true" [scrollHeight]="scrollHeight" [showCurrentPageReport]="true" [showPageLinks]="false"
            [showJumpToPageDropdown]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['agency_name', 'kyc_profile', 'relation_manager', 'email_address', 'mobile_number', 'city_name', 'entry_date_time', 'update_date_time', 'is_rejected']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="  text-center left-[-1px]" pFrozenColumn>#</th>
                    <th class="min-w-[155px] dark:bg-[#1e293b]" pSortableColumn="agency_name" pResizableColumn alignFrozen="left"
                        pFrozenColumn [frozen]="frozenObj?.agency_name" [ngClass]="{'left-0': !frozenObj?.agency_name}">
                        Agent <p-sortIcon field="agency_name" />
                        <span class="float-right" (click)="isFrozenColumn('agency_name');$event.stopPropagation()">
                            <i *ngIf="frozenObj?.agency_name" class="pi pi-lock icon-size-3"></i>
                            <i *ngIf="!frozenObj?.agency_name" class="pi pi-lock-open icon-size-3"></i>
                        </span>
                    </th>
                    <th pSortableColumn="kyc_profile" pResizableColumn>
                        KYC Profile <p-sortIcon field="kyc_profile" />
                    </th>
                    <th pSortableColumn="relation_manager" pResizableColumn>
                        RM <p-sortIcon field="relation_manager" />
                    </th>
                    <th pSortableColumn="email_address" pResizableColumn>
                        Email <p-sortIcon field="email_address" />
                    </th>
                    <th pSortableColumn="mobile_number" pResizableColumn>
                        Mobile <p-sortIcon field="mobile_number" />
                    </th>
                    <th pSortableColumn="city_name" pResizableColumn>
                        City <p-sortIcon field="city_name" />
                    </th>
                    <th pSortableColumn="entry_date_time" pResizableColumn>
                        Date <p-sortIcon field="entry_date_time" />
                    </th>
                    <th pSortableColumn="update_date_time" pResizableColumn>
                        Update Date <p-sortIcon field="update_date_time" />
                    </th>
                    <th class="w-full" pSortableColumn="is_rejected" pResizableColumn>
                        Status <p-sortIcon field="is_rejected" />
                    </th>
                    <th [pSortableColumn]="col.field" pResizableColumn *ngFor="let col of columns">
                        {{col.header}} <p-sortIcon [field]="col.field" />
                    </th>
                </tr>

                <tr *ngIf="isFilterShow">
                    <th class="left-[-1px]" pFrozenColumn></th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.agency_name">
                        <p-columnFilter type="text" matchMode="contains" field="agency_name" placeholder="Search by Agent"
                            ariaLabel="Filter Agent" />
                    </th>
                    <th>
                        <!-- <p-columnFilter type="text" matchMode="contains" field="kyc_profile" placeholder="Search by KYC Profile"
                            ariaLabel="Filter KYC Profile" /> -->
                        <p-columnFilter class="searchableDropdown"  field="kyc_profile" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown"
                                    [options]="kycProfileList"
                                    optionLabel="profile_name"
                                    [(ngModel)]="selectedKycProfile"
                                    [filter]="true"
                                    filterBy="profile_name"
                                    (onFilter)="getKycCombo($event?.filter)"
                                    (onChange)="filter($event.value?.profile_name)"
                                    [showClear]="true"
                                    appendTo="body"
                                    placeholder="Select Kyc Profile">
                                    <ng-template let-option pTemplate="item">
                                            <div>{{option.profile_name}}</div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <!-- <p-columnFilter type="text" matchMode="contains" field="relation_manager" placeholder="Search by RM"
                            ariaLabel="Filter RM" /> -->
                        <p-columnFilter class="searchableDropdown"  field="relation_manager" matchMode="contains" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown"
                                    [options]="employeeList"
                                    optionLabel="employee_name"
                                    [(ngModel)]="selectedRm"
                                    [filter]="true"
                                    filterBy="employee_name"
                                    (onFilter)="getRelationManagerList($event?.filter)"
                                    (onChange)="filter($event.value?.employee_name)"
                                    [showClear]="true"
                                    appendTo="body"
                                    placeholder="Select RM">
                                    <ng-template let-employee pTemplate="item">
                                        <div>{{employee.employee_name}}</div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="email_address" placeholder="Search by Email"
                            ariaLabel="Filter Email" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="mobile_no" placeholder="Search by Mobile"
                            ariaLabel="Filter Mobile" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="city_name" placeholder="Search by City"
                            ariaLabel="Filter City" />
                    </th>
                    <th>
                        <p-columnFilter field="entry_date_time" type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" [ngModel]="value" dateFormat="dd-mm-yy"
                                    appendTo="body" placeholder="Search by Entry">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="update_date_time" type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" [ngModel]="value" dateFormat="dd-mm-yy"
                                    appendTo="body" placeholder="Search by Update Date">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="is_rejected" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="statusList"
                                    (onChange)="filter($event.value)" placeholder="Select Status" [showClear]="true"
                                    appendTo="body">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th *ngFor="let col of columns">
                        <p-columnFilter type="text" matchMode="contains" [field]="col.field" [placeholder]="'Search by ' + col.header"
                            ariaLabel="'Filter '+ col.header " />
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-columns="columns">
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="view(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600;">Info</span>
                            </button>
                            <button mat-menu-item (click)="setKYCVerify(element)">
                                <mat-icon class="mat-18">fingerprint</mat-icon>
                                <span style="font-weight: 600">View KYC</span>
                            </button>
                            <button mat-menu-item (click)="leadConverter(element)">
                                <mat-icon class="mat-18">sync_alt</mat-icon>
                                <span style="font-weight: 600">Convert to Travel Agent</span>
                            </button>

                        </mat-menu>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.agency_name">
                        <span [matTooltip]="element['is_rejected'] ? 'Reject' : 'Pending'"
                            [ngClass]="element['is_rejected'] ? 'bg-red-500 inline-block w-2 h-2 min-w-2 min-h-2 me-1 rounded-full': 'bg-amber-400 inline-block w-2 h-2 me-1 min-w-2 min-h-2 rounded-full'"></span>
                        {{element.agency_name || "-"}}
                    </td>
                    <td>{{element.kyc_profile || "-"}}</td>
                    <td>{{element.relation_manager || "-"}}</td>
                    <td>{{element.email_address || "-"}}</td>
                    <td>{{element.mobile_number || "-"}}</td>
                    <td>{{element.city_name || "-"}}</td>
                    <td>
                        {{(element.entry_date_time | date: "dd-MM-yyyy HH:mm:ss") || "-"}}
                    </td>
                    <td>
                        {{(element.update_date_time | date: "dd-MM-yyyy HH:mm:ss") || "-"}}
                    </td>
                    <td>
                        <span [ngClass]="element.is_rejected ? 'text-red-500' : 'text-yellow-500'">{{element.is_rejected ? 'Rejected': "Pending"}}</span>
                    </td>
                    <td *ngFor="let col of columns">
                        {{element[col.field] || "-"}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14">
                    <td colspan="11" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
