<div class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">Agent</div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 gap-3">

            <!------Global Search------>
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'"
                    (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="refreshItems()"></mat-icon>
            </div>

            <!--- Dropdown filter -->
            <!-- <mat-form-field class="w-36 bottom_none">
                <mat-select [formControl]="Status" required class="max-w-28" (selectionChange)="refreshItems()"
                    #service>
                    <mat-option *ngFor="let s of serviceForList" [value]="s">{{s}}</mat-option>
                </mat-select>
            </mat-form-field> -->

            <!------Global filter------>
            <button class="rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!------Common Filter------->
            <button mat-flat-button [color]="'primary'"
                (click)="_filterService.openDrawer(filter_table_name, primengTable,selectedColumns)"
                matTooltip="Saved Filter" [disabled]="isLoading">
                <img class="w-6 h-auto cursor-pointer" src="assets/icons/common-filter.svg" alt="">
            </button>

            <!-- Select Columns Button and Select Box Code -->
            <button class="rounded-full" mat-flat-button [color]="'primary'" matTooltip="Select more columns"
                [disabled]="isLoading" (click)="op.toggle($event)">
                <img class="w-5 cursor-pointer ml-1 pt-1" src="assets/icons/column.svg" alt="c">
            </button>
            <p-overlayPanel #op [dismissable]="false">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="overlay-panel"
                    [style]="{'max-width': '220px'}" display="chip" placeholder="Choose Columns"
                    (onChange)="onSelectedColumnsChange()" (onPanelHide)="op.hide()" [appendTo]="'body'"  />
            </p-overlayPanel>

            <!------Refresh------>
            <button mat-flat-button class="rounded-full" [color]="'primary'" matTooltip="Refresh" [disabled]="isLoading"
                (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <!--- Add  -->
            <!-- <button class="ml-4" mat-flat-button [color]="'primary'" (click)="create()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button> -->
        </div>
    </div>
    <app-main [activeTab]="0"></app-main>
    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [columns]="selectedColumns" [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1"
            [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
            [loading]="isLoading" [paginator]="true" [rows]="appConfig.pageSize" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="appConfig.pageSizeOptions" [lazy]="true" (onLazyLoad)="refreshItems($event)"
            [scrollable]="true" [scrollHeight]="scrollHeightWTab" [showCurrentPageReport]="true" [showPageLinks]="false"
            [showJumpToPageDropdown]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['agency_name', 'kyc_profile', 'relation_manager', 'email_address', 'mobile_number', 'city_name', 'entry_date_time', 'update_date_time', 'is_rejected']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="left-[-1px] text-center w-1 dark:bg-gray-800" *ngIf="isDisplayHashCol()" pFrozenColumn>#
                    </th>

                    <th *ngFor="let col of columns; let isLast = last" [pSortableColumn]="col.field" pResizableColumn
                        [ngClass]="{ 'w-full': isLast}" [class]="col.class">
                        {{ col.header }}
                        <p-sortIcon [field]="col?.field" />
                    </th>                
                </tr>

                <tr *ngIf="isFilterShow">
                    <th class="left-[-1px] bg-gray-50 dark:bg-gray-800" pFrozenColumn></th>
                    <th *ngFor="let col of columns">
                        <ng-container *ngIf="!col?.isHideFilter">
                            <!-- Text -->
                            <p-columnFilter *ngIf="(col.type == types.text  || col.type == types.link)" [type]="'text'"
                                [field]="col.field" [placeholder]="'Search by '+ col.header"
                                [ariaLabel]="'Filter '+ col.header" matchMode="contains" />

                            <ng-container *ngIf="col.type == types.select && col.field == 'kyc_profile'">
                                <p-columnFilter class="searchableDropdown" field="kyc_profile_id_filters"
                                    matchMode="equals" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown class="filter-dropdown" [options]="kycProfileList"
                                            optionLabel="profile_name" [(ngModel)]="selectedKycProfile" [filter]="true"
                                            filterBy="profile_name" (onChange)="filter($event.value)" [showClear]="true"
                                            appendTo="body" placeholder="Select Kyc Profile">
                                            <ng-template let-option pTemplate="item">
                                                <div>{{option.profile_name}}</div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </ng-container>

                            <p-columnFilter class="searchableDropdown"
                                *ngIf="col.type == types.select && col.field == 'relation_manager'" [field]="col.field"
                                matchMode="contains" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [options]="employeeList"
                                        optionLabel="employee_name" [(ngModel)]="selectedRm" [filter]="true"
                                        filterBy="employee_name" (onChange)="filter($event.value)" [showClear]="true"
                                        appendTo="body" placeholder="Select RM">
                                        <ng-template let-employee pTemplate="item">
                                            <div>{{employee.employee_name}}</div>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>

                            <!--date range picker-->                       
                              <ng-container *ngIf="col.type == types.dateTime && col.field == 'entry_date_time'">
                                <p-columnFilter *ngIf="(_filterService.selectionDateDropdown$ | async) != 'custom_date_range'" [field]="col.field"
                                    matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                            [options]="_filterService.dateRangeList" optionLabel="label" placeholder="Select Option"
                                            appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <div (click)="_filterService.onOptionClick(option, primengTable, col.field)">
                                                    <div>{{option.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            
                                <ng-container *ngIf="(_filterService.selectionDateDropdown$ | async) == 'custom_date_range'">
                                    <div class="relative inline-block">
                                        <p-columnFilter [field]="col.field" matchMode="custom" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-calendar selectionMode="range" [ngModel]="value"
                                                    (ngModelChange)="onDateRangeChange($event, filter)" [readonlyInput]="true" dateFormat="dd-mm-yy"
                                                    appendTo="body" placeholder="📅 Search by Date Range">
                                                </p-calendar>
                                            </ng-template>
                                        </p-columnFilter>
                                        <mat-icon class="icon-size-4 cursor-pointer absolute"
                                            style="top:50%; transform: translatey(-50%); right: 25px;"
                                            (click)="_filterService.onOptionClick('', '', '')">cancel</mat-icon>
                                    </div>
                                </ng-container>
                            </ng-container>

                        <ng-container *ngIf="col.type == types.dateTime && col.field == 'update_date_time' ">
                            <p-columnFilter *ngIf="(_filterService.selectionDateDropdownTwo$ | async) != 'custom_date_range'"
                                field="update_date_time" matchMode="custom" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                        [options]="_filterService.dateRangeList" optionLabel="label" placeholder="Select Option"
                                        appendTo="body">
                                        <ng-template let-option pTemplate="item">
                                            <div (click)="_filterService.onOptionClickTwo(option, primengTable, 'update_date_time')">
                                                <div>{{option.label}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        
                            <ng-container *ngIf="(_filterService.selectionDateDropdownTwo$ | async) == 'custom_date_range'">
                                <div class="relative inline-block">
                                    <p-columnFilter field="update_date_time" matchMode="custom" [showMenu]="false">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-calendar selectionMode="range" [ngModel]="value"
                                                (ngModelChange)="onDateRangeChange($event, filter)" [readonlyInput]="true" dateFormat="dd-mm-yy"
                                                appendTo="body" placeholder="📅 Search by Date Range">
                                            </p-calendar>
                                        </ng-template>
                                    </p-columnFilter>
                                    <mat-icon class="icon-size-4 cursor-pointer absolute"
                                        style="top:50%; transform: translatey(-50%); right: 25px;"
                                        (click)="_filterService.onOptionClickTwo('', '', '')">cancel</mat-icon>
                                </div>
                            </ng-container>
                        </ng-container>

                            <p-columnFilter *ngIf="col.type == types.select && col.field == 'is_rejected'"
                                [field]="col.field" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="statusList"
                                        (onChange)="filter($event.value)" placeholder="Select Status" [showClear]="true"
                                        appendTo="body">
                                        <ng-template let-option pTemplate="item">
                                            <p>{{option.label}}</p>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </ng-container>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-columns="columns">
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn
                        *ngIf="isDisplayHashCol()">
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="view(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600;">Info</span>
                            </button>
                            <button mat-menu-item (click)="setKYCVerify(element)">
                                <mat-icon class="mat-18">fingerprint</mat-icon>
                                <span style="font-weight: 600">View KYC</span>
                            </button>
                            <!--Hide as per instruction-->
                            <!-- <button mat-menu-item (click)="leadConverter(element)">
                                <mat-icon class="mat-18">sync_alt</mat-icon>
                                <span style="font-weight: 600">Convert to Travel Agent</span>
                            </button> -->

                        </mat-menu>
                    </td>
                    <td *ngFor="let col of columns" [ngClass]="col.class">

                        <ng-container
                            *ngIf="(col.type === types.text || col.type === types.select) && col.field != 'agency_name' && col.field != 'is_rejected' && col.field != 'mobile_no'">
                            <span [ngClass]="col.isCustomColor ? getStatusColor(element[col.field]) : ''">
                                {{ element[col.field] || '-' }}
                            </span>
                        </ng-container>

                        <ng-container *ngIf="col.type === types.text && col.field == 'mobile_no'">
                            <span>{{ element.mobile_number || '-' }}</span>
                        </ng-container>

                        <ng-container *ngIf="col.type === types.select && col.field == 'is_rejected'">
                            <span [ngClass]="element.is_rejected ? 'text-red-500' : 'text-yellow-500'">
                                {{ element.is_rejected ? 'Rejected' : 'Pending' }}
                            </span>
                        </ng-container>

                        <ng-container *ngIf="col.type === types.text && col.field == 'agency_name'">
                            <span [matTooltip]="element['is_rejected'] ? 'Reject' : 'Pending'" [ngClass]="element['is_rejected'] 
                            ? 'bg-red-500 inline-block w-2 h-2 min-w-2 min-h-2 me-1 rounded-full'
                            : 'bg-amber-400 inline-block w-2 h-2 me-1 min-w-2 min-h-2 rounded-full'">
                            </span>
                            {{ element.agency_name || '-' }}
                        </ng-container>

                        <ng-container *ngIf="col.type == types.date">
                            {{isValidDate(element[col.field])? (element[col.field] | date: col.dateFormat): "-"}}
                        </ng-container>

                        <ng-container *ngIf="col.type == types.number">
                            <span>
                                {{element[col.field] ? (element[col.field]).toFixed(col?.fixVal || 0) :
                                (0).toFixed(col?.fixVal || 0)}}
                            </span>
                        </ng-container>
                    </td>                 
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14" *ngIf="selectedColumns?.length">
                    <td [attr.colspan]="displayColCount()" class="text-center font-semibold text-lg">{{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="text-center mt-5" *ngIf="selectedColumns && !selectedColumns?.length"> No column to display! Please
        Select a column
    </div>
</div>
<app-agent-kyc-info></app-agent-kyc-info>