
<form [formGroup]="formGroup" class="grid grid-cols-12 gap-4 p-5">
    <mat-form-field class="col-span-6"
    *ngIf="data?.item_name.includes('B2C')">
        <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500">B2C Portal URL</mat-label>
        <input matInput formControlName="b2c_portal_url">
    </mat-form-field>

    <mat-form-field class="col-span-6">
        <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500">Partner Panel URL</mat-label>
        <input matInput formControlName="partner_panel_url">
    </mat-form-field>

    <mat-form-field class="col-span-6">
        <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500">Api URL</mat-label>
        <input matInput formControlName="api_url">
    </mat-form-field>
</form>

<div class="footer h-[5rem] sticky bottom-0 z-99 border-t bg-white dark:bg-gray-800 dark:border-[#324154] border-gray-200 p-5 flex justify-end items-center gap-3">
    <button [disabled]="!formGroup.valid" mat-flat-button (click)="onWebDomainFormVerify()"
        [color]="'primary'" class="flex items-center min-w-[100px]">
        Next
    </button>
</div>