<div class="flex flex-col gap-1">
    <form [formGroup]="formGroup">
        <div class="flex flex-row gap-4 items-center">

            <mat-form-field class="flex-grow">
                <mat-label class="text-sm">From Date</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="from_date" placeholder="From Date" readonly required />
                    <input matEndDate formControlName="to_date" placeholder="To Date" readonly required />
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label class="text-sm">From Pax</mat-label>
                <input matInput required formControlName="from_pax" type="number" />
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label class="text-sm">To Pax</mat-label>
                <input matInput required formControlName="to_pax" type="number" />
            </mat-form-field>

        </div>

        <div class="flex flex-row gap-4 items-center">
            <mat-form-field class="flex-grow">
                <mat-label class="text-sm">Single Sharing</mat-label>
                <input matInput required formControlName="single_sharing" type="number" />
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label class="text-sm">Double Sharing</mat-label>
                <input matInput required formControlName="double_sharing" type="number" />
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label class="text-sm">Triple Sharing</mat-label>
                <input matInput required formControlName="triple_sharing" type="number" />
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label class="text-sm">Child With Bed</mat-label>
                <input matInput required formControlName="child_with_bed" type="number" />
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label class="text-sm">Child Without Bed</mat-label>
                <input matInput required formControlName="child_with_no_bed" type="number" />
            </mat-form-field>

            <div class="flex-grow">
                <button mat-flat-button class="rounded-lg" color="primary"
                    [disabled]="formGroup.invalid" (click)="add()">
                    {{formGroup.get('id').value ? 'SAVE' : 'ADD'}}
                </button>
            </div>
        </div>
    </form>



    <div class="flex flex-col flex-auto overflow-hidden max-h-[424px]">
        <!-- list -->
        <div class="flex flex-col flex-auto overflow-hidden overflow-y-auto overflow-x-auto">
            <ng-container>
                <div class="grid">
                    <!-- Header -->
                    <div
                        class="tbl-grid gridwidth z-10 sticky top-0 grid gap-4 py-2 px-6 md:pr-8 pl-0 shadow text-md font-semibold bg-card">
                        <div style="text-align: center;" class="sticky left-0 bg-card z-99">
                            #
                        </div>
                        <div class="'pl-4">
                            Date
                        </div>
                        <div class="'pl-4 text-center">
                            From Pax
                        </div>
                        <div class="'pl-4 text-center">
                            To Pax
                        </div>
                        <div class="'pl-4 text-right">
                            Signle Sharing
                        </div>
                        <div class="'pl-4 text-right">
                            Double Sharing
                        </div>
                        <div class="'pl-4 text-right">
                            Triple Sharing
                        </div>
                        <div class="'pl-4 text-right">
                            Child With Bed
                        </div>
                        <div class="'pl-4 text-right">
                            Child Without Bed
                        </div>

                    </div>
                    <!-- Rows -->
                    <ng-container *ngFor="let row of data.pricings">
                        <div
                            class="tbl-grid gridwidth grid items-center gap-4 px-6 md:pr-8 border-b pl-0 cursor-pointer">
                            <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="optionMenu"
                                class="sticky left-0 bg-gray-50 dark:bg-gray-900"
                                style="border-radius: 0%; width: 100%">
                                <mat-icon> more_vert </mat-icon>
                            </button>
                            <mat-menu #optionMenu>
                                <button mat-menu-item (click)="edit(row)">
                                    <mat-icon class="mat-18">edit</mat-icon>
                                    <span style="font-weight: 600;">Edit</span>
                                </button>
                                <button mat-menu-item (click)="delete(row)">
                                    <mat-icon class="mat-18">delete</mat-icon>
                                    <span style="font-weight: 600;">Delete</span>
                                </button>
                            </mat-menu>

                            <span class="truncate">
                                {{row.from_date | date: 'dd-MM-yyyy'}} - {{row.to_date | date: 'dd-MM-yyyy'}}
                            </span>
                            <span class="truncate text-center">
                                {{row.from_pax}}
                            </span>
                            <span class="truncate text-center">
                                {{row.to_pax}}
                            </span>
                            <span class="truncate text-right">
                                {{row.single_sharing}}
                            </span>
                            <span class="truncate text-right">
                                {{row.double_sharing}}
                            </span>
                            <span class="truncate text-right">
                                {{row.triple_sharing}}
                            </span>
                            <span class="truncate text-right">
                                {{row.child_with_bed}}
                            </span>
                            <span class="truncate text-right">
                                {{row.child_with_no_bed}}
                            </span>

                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="flex flex-col justify-center items-center h-20" *ngIf="data.pricings.length <= 0">
        <div class="font-medium text-base">
            No data to display!
        </div>
    </div>
</div>