<div class="flex flex-col w-100 max-h-screen -m-6 ">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{ title }}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-col p-6 space-y-2">
        <div class="flex flex-col overflow-hidden">
            <div class="flex flex-col mb-3">
                <div class="flex flex-row space-x-2">
                    <span class="text-md font-semibold text-secondary">Document Of</span>
                </div>
                <span class="text-base truncate">
                    {{record.doc_of + ' - ' + record.doc_user_name}}</span>
            </div>
            <div class="flex flex-col mb-3">
                <div class="flex flex-row space-x-2">
                    <span class="text-md font-semibold text-secondary">KYC Profile</span>
                </div>
                <span class="text-base truncate">{{ record.kyc_profile_doc_name || "--" }}</span>
            </div>
            <div class="flex flex-col mb-3">
                <div class="flex flex-row space-x-2">
                    <span class="text-md font-semibold text-secondary">Status</span>
                    <mat-icon class="icon-size-4 cursor-pointer" svgIcon="mat_outline:info"
                        [matTooltip]="record.rejection_note"></mat-icon>
                </div>
                <span class="text-base truncate">
                    <div *ngIf="record.is_audited" class="truncate">
                        <span class="text-green-500">Audited </span>
                        <span class="text-secondary">on </span>
                        <span>{{record.audit_date_time | date: 'dd-MM-yyyy HH:mm:ss'}} </span>
                        <span class="text-secondary">by </span>
                        <span class="truncate" [matTooltip]="record.audit_by_name">{{record.audit_by_name}} </span>
                    </div>
                    <div *ngIf="record.is_rejected" class="truncate">
                        <span class="text-red-500">Rejected </span>
                        <span class="text-secondary">on </span>
                        <span>{{record.reject_date_time | date: 'dd-MM-yyyy HH:mm:ss'}} </span>
                        <span class="text-secondary">by </span>
                        <span class="truncate" [matTooltip]="record.reject_by_name">{{record.reject_by_name}} </span>
                    </div>
                    <div *ngIf="!record.is_rejected && !record.is_audited">
                        <span class="text-orange-500">Audit Pending </span>
                    </div>
                </span>
            </div>
            <div class="flex flex-col mb-3">
                <div class="flex flex-row space-x-2">
                    <span class="text-md font-semibold text-secondary">Remark</span>
                </div>
                <span class="text-base truncate">{{ record.rejection_note || "--" }}</span>
            </div>
            <div class="flex flex-col mb-3">
                <div class="flex flex-row space-x-2">
                    <span class="text-md font-semibold text-secondary">Entry Date Time</span>
                </div>
                <div>
                    <span>{{record.entry_date_time | date: 'dd-MM-yyyy HH:mm:ss'}} </span>
                    <span class="text-secondary">by </span>
                    <span>{{record.entry_by_name}} </span>
                </div>
            </div>
        </div>

        <div class="flex flex-row space-x-2 items-center justify-between p-4 bg-card border-2 rounded-2xl">
            <div class="flex flex-col space-y-1 w-4/5">
                <span>{{ record.kyc_profile_doc_name }}</span>
                <span class="text-secondary text-sm whitespace-pre-line truncate" [matTooltip]="record.file_name">{{ record.file_name }}</span>
            </div>
            <div class="w-fit">
                <mat-icon svgIcon="heroicons_outline:arrow-down-tray"
                    class="rounded-full cursor-pointer text-blue-600 icon-size-6" [matTooltip]="'Download'"
                    (click)="downloadfile(record.file_url)"></mat-icon>
            </div>
        </div>

    </div>

</div>