<fuse-drawer class="min-w-[400px] z-999" fixed [mode]="'over'" [name]="'settingsDrawer'" [position]="'right'"
    #settingsDrawer>

    <div class="w-full">
        <div class="flex justify-between border-b-2 border-gray-border px-5 py-4 h-15 sticky top-0">
            <span class="text-lg font-semibold">{{title}}</span>
            <mat-icon svgIcon="close" class=" icon-size-6 cursor-pointer "
                (click)="settingsDrawer.close(null)"></mat-icon>
        </div>

        <div>
            <div class="px-5 py-2 h-[calc(100vh-120px)] overflow-auto">
                <form [formGroup]="formGroup" class="flex flex-col gap-2">

                    <!-- Supplier Combo -->
                    <mat-form-field class="flex-grow">
                        <mat-label>Supplier</mat-label>
                        <mat-select required formControlName="sup_id" [compareWith]="compareWith">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search"
                                    noEntriesFoundLabel="'no matching found'" [formControlName]="'sup_type'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let ct of supplierList" [value]="ct.id">
                                <span>{{ ct.company_name }}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Supplier Fare Type Combo -->
                    <mat-form-field class="flex-grow">
                        <mat-label>Supplier Fare Type</mat-label>
                        <mat-select required formControlName="supplier_id" [compareWith]="compareWithFareTypeSupplier">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search"
                                    noEntriesFoundLabel="'no matching found'" [formControlName]="'supplier_fare_type'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let ct of supplierFareTypeList" [value]="ct">
                                <span>{{ ct.class_of_service }}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>



                    <mat-form-field class="flex-grow">
                        <mat-label>Bonton Fare Type</mat-label>
                        <mat-select required formControlName="bonton_fare_type_id"
                            [compareWith]="compareWithFareTypeBonton">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search"
                                    noEntriesFoundLabel="'no matching found'" [formControlName]="'bonton_fare_type'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let ct of bontonFareTypeList" [value]="ct">
                                <span>{{ ct.fare_type }}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>

            </div>

            <div class="flex items-center justify-end border-t px-5 py-4 gap-3 h-15 sticky bottom-0">
                <button mat-stroked-button (click)="settingsDrawer.close(null)">Close</button>
                <button mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
                    {{buttonLabel}}
                </button>
            </div>
        </div>
    </div>
</fuse-drawer>