<div class="flex flex-col max-w-240 md:min-w-192 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-120" [formGroup]="formGroup">
        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Billing Company</mat-label>
                <mat-select formControlName="billing_company_id" required>
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search"
                            noEntriesFoundLabel="'no matching company found'" [formControlName]="'companyfilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of companyList" [value]="ct.company_id">
                        <span>{{ ct.company_name }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Agency Name</mat-label>
                <input matInput type="text" formControlName="agency_name" />
            </mat-form-field>
        </div>
        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow w-1/2">
                <mat-label>Contact Person</mat-label>
                <input matInput type="text" formControlName="contact_person" />
            </mat-form-field>
            <div class="rounded-md w-1/2">
                <mat-label>Contact Person Number</mat-label>
                <div class="flex items-center border px-4 mt-[4px] rounded-md mat-form-field-appearance-fill min-h-[43px] dark:border-[#64748B] border-[#CBD5E1]">
                    <mat-select required formControlName="mobile_code" #code
                        class="w-[70px] max-w-[70px] md:w-[100px] md:max-w-[100px] overflow-hidden text-md">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching Country Code found'"
                                formControlName="mobilefilter"
                                (input)="filterMobileCode($event.target.value)">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option class="text-md" *ngFor="let ct of MobileCodeList | async"
                            [value]="ct.mobile_code">{{ct.mobile_code}} -
                            {{ct.country_code}}</mat-option>
                    </mat-select>
                    <span class="border-l border-[rgba(203,213,225,1)] ml-2 h-[35px]"></span>
                    <input matInput type="number" formControlName="contact_person_number" pattern="[0-9]*"
                        class="pl-4 w-[calc(100%-110px)] z-10 relative font-normal" autocomplete="off">
                </div>
            </div>
        </div>

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Contact Person Email</mat-label>
                <input matInput type="text" formControlName="contact_person_email" />
            </mat-form-field>
            <mat-form-field class="flex-grow">
                <mat-label>PAN Number</mat-label>
                <input matInput type="text" formControlName="pan_number" />
            </mat-form-field>
            <mat-form-field class="flex-grow">
                <mat-label>GST Number</mat-label>
                <input matInput type="text" formControlName="gst_number" />
            </mat-form-field>
        </div>
        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Address Line 1</mat-label>
                <input matInput type="text" formControlName="address_line1" />
            </mat-form-field>
            <mat-form-field class="flex-grow">
                <mat-label>Address Line 2</mat-label>
                <input matInput type="text" formControlName="address_line2" />
            </mat-form-field>
        </div>
        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>City</mat-label>
                <mat-select formControlName="city_id">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="'no matching city found'"
                            [formControlName]="'cityfilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of cityList" [value]="ct.id">{{ ct.display_name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="flex-grow">
                <mat-label>Pincode</mat-label>
                <input matInput type="text" formControlName="pincode" />
            </mat-form-field>
        </div>
    </form>

    <div *ngIf="!readonly" class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <!-- Discard -->
        <button mat-stroked-button (click)="matDialogRef.close()">
            Close
        </button>
        <!-- Save as draft -->
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
            {{btnLabel}}
        </button>
    </div>
</div>
