<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">{{module_name}}</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!------Global Search------>
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'"
                    (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="refreshItems()"></mat-icon>
            </div>

            <!------Global filter------>
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'"
                (click)="_filterService.openDrawer(filter_table_name, primengTable,_selectedColumns)"
                matTooltip="Saved Filter" [disabled]="isLoading">
                <img class="w-6 h-auto cursor-pointer" src="assets/icons/common-filter.svg" alt="">
            </button>

            <!-- Select Columns Button and Select Box Code -->
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Select more columns"
                [disabled]="isLoading" (click)="op.toggle($event)">
                <img class="w-5 cursor-pointer ml-1 pt-1" src="assets/icons/column.svg" alt="c">
            </button>
            <p-overlayPanel #op [dismissable]="false">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="overlay-panel"
                    [style]="{'max-width': '220px'}" display="chip" placeholder="Choose Columns" (onPanelHide)="op.hide()" [appendTo]="'body'"  />
            </p-overlayPanel>

            <!------Refresh------>
            <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Refresh" [disabled]="isLoading"
                (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <!----- Add ------>
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="create()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [columns]="selectedColumns" [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1"
            [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
            [loading]="isLoading" [paginator]="true" [rows]="appConfig.pageSize" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="appConfig.pageSizeOptions" [lazy]="true" (onLazyLoad)="refreshItems($event)"
            [scrollable]="true" [scrollHeight]="scrollHeight" [showCurrentPageReport]="true" [showPageLinks]="false"
            [showJumpToPageDropdown]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['document_group', 'document_name', 'maximum_size', 'file_extentions', 'entry_date_time']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="  text-center left-[-1px]" pFrozenColumn>#</th>
                    <th class="min-w-[155px] dark:bg-[#1e293b]" pSortableColumn="document_group" pResizableColumn
                        alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.document_group"
                        [ngClass]="{'left-0': !frozenObj?.document_group}">
                        Group <p-sortIcon field="document_group" />
                        <span class="float-right" (click)="isFrozenColumn('document_group');$event.stopPropagation()">
                            <i *ngIf="frozenObj?.document_group" class="pi pi-lock icon-size-3"></i>
                            <i *ngIf="!frozenObj?.document_group" class="pi pi-lock-open icon-size-3"></i>
                        </span>
                    </th>
                    <th pSortableColumn="document_name" pResizableColumn>
                        Document <p-sortIcon field="document_name" />
                    </th>
                    <th pSortableColumn="maximum_size" pResizableColumn>
                        Max File Size [KB] <p-sortIcon field="maximum_size" />
                    </th>
                    <th pSortableColumn="file_extentions" pResizableColumn>
                        File Extention <p-sortIcon field="file_extentions" />
                    </th>
                    <!-- <th class="w-full min-w-[200px]" pSortableColumn="entry_date_time" pResizableColumn>
                        Entry Date Time <p-sortIcon field="entry_date_time" />
                    </th>
                    <th [pSortableColumn]="col.field" pResizableColumn *ngFor="let col of columns; let isLast = last"
                        [ngClass]="{'w-full': isLast }">
                        {{col.header}} <p-sortIcon [field]="col.field" />
                    </th> -->

                    <th class="min-w-[200px]" pSortableColumn="entry_date_time" pResizableColumn
                        [ngClass]="{'w-full': !columns || (columns && !columns.length) }">
                        Entry <p-sortIcon field="entry_date_time" />
                    </th>
                    <th [pSortableColumn]="col.field" pResizableColumn *ngFor="let col of columns; let isLast = last"
                        [ngClass]="{'w-full': isLast }">
                        {{col.header}} <p-sortIcon [field]="col.field" />
                    </th>
                </tr>

                <tr *ngIf="isFilterShow">
                    <th class="left-[-1px]" pFrozenColumn></th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.document_group">
                        <p-columnFilter type="text" matchMode="contains" field="document_group"
                            placeholder="Search by Group" ariaLabel="Filter Group" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="document_name"
                            placeholder="Search by Document" ariaLabel="Filter Document" />
                    </th>
                    <th>
                        <p-columnFilter type="numeric" field="maximum_size" placeholder="Search by Max File Size [KB]"
                            ariaLabel="Filter Max File Size [KB]" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="file_extentions"
                            placeholder="Search by File Extention" ariaLabel="Filter File Extention" />
                    </th>
                    <th>
                         <p-columnFilter *ngIf="(_filterService.selectionDateDropdown$ | async) != 'custom_date_range'"
                            field="entry_date_time" matchMode="custom" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                    [options]="_filterService.dateRangeList" optionLabel="label"
                                    placeholder="Select Option" appendTo="body">
                                    <ng-template let-option pTemplate="item">
                                        <div
                                            (click)="_filterService.onOptionClick(option, primengTable, 'entry_date_time')">
                                            <div>{{option.label}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>

                        <ng-container *ngIf="(_filterService.selectionDateDropdown$ | async) == 'custom_date_range'">
                            <div class="relative inline-block">
                                <p-columnFilter field="entry_date_time" matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-calendar selectionMode="range" [ngModel]="value"
                                            (ngModelChange)="onDateRangeChange($event, filter)" [readonlyInput]="true"
                                            dateFormat="dd-mm-yy" appendTo="body" placeholder="📅 Search by Date Range">
                                        </p-calendar>
                                    </ng-template>
                                </p-columnFilter>
                                <mat-icon class="icon-size-4 cursor-pointer absolute"
                                    style="top:50%; transform: translatey(-50%); right: 25px;"
                                    (click)="_filterService.onOptionClick('', '', '')">cancel</mat-icon>
                            </div>
                        </ng-container>
						
                    </th>
                    <th *ngFor="let col of columns">
                        <p-columnFilter type="text" matchMode="contains" [field]="col.field"
                            [placeholder]="'Search '+ col.header" [ariaLabel]="'Filter '+ col.header" />
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-columns="columns">
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="view(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600;">Info</span>
                            </button>
                            <button mat-menu-item (click)="edit(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600;">Edit</span>
                            </button>
                            <button mat-menu-item (click)="delete(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                                <span style="font-weight: 600;">Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.document_group">
                        {{element.document_group || "-"}}
                    </td>
                    <td>{{element.document_name || "-"}}</td>
                    <td>{{element.maximum_size || "-"}}</td>
                    <td>{{element.file_extentions || "-"}}</td>
                    <td>
                        {{(element.entry_date_time | date: "dd-MM-yyyy HH:mm:ss") || "-"}}
                    </td>
                    <td *ngFor="let col of columns">
                        {{element[col.field] || "-"}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14">
                    <td colspan="7" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <!-- Main -->
    <!-- <div class="flex h-fit overflow-auto">
        <table class="min-w-full h-fit bg-transparent " mat-table [dataSource]="dataSource" matSort matSortDisableClear
            (matSortChange)="refreshItems()">

            <ng-container matColumnDef="{{element.key}}" *ngFor="let element of columns" [sticky]="element.is_sticky">
                <th mat-header-cell *matHeaderCellDef
                    class="w-{{element.width}} text-{{element.align}} table-header-{{element.align}}">
                    <span *ngIf="element.is_sortable" [mat-sort-header]="element.key">{{element.name}}</span>
                    <span *ngIf="!element.is_sortable">{{element.name}}</span>
                </th>
                <div *ngIf="element.key !== 'actions'">
                    <td mat-cell *matCellDef="let row"
                        class="truncate w-{{element.width}} text-{{element.align}}">
                        <span *ngIf="!element.indicator">{{element.is_date ? (row[element.key] | date: element.date_formate) : row[element.key]}}</span>
                        <div *ngIf="element.indicator" class="flex flex-row space-x-2 items-center">
                            <div *ngIf="row['is_blocked']" class="h-2 w-2 rounded-full bg-red-600" [matTooltip]="'Blocked'"></div>
                            <span>{{element.is_date ? (row[element.key] | date: element.date_formate) : row[element.key]}}</span>
                        </div>
                    </td>
                </div>


                <div *ngIf="element.key === 'actions'">
                    <td mat-cell *matCellDef="let row"
                        class="dark truncate w-{{element.width}} text-{{element.align}}">
                        <mat-icon class="cursor-pointer mt-[6px]" [matMenuTriggerFor]="menuOpt">more_vert</mat-icon>
                        <mat-menu #menuOpt>
                            <button mat-menu-item (click)="view(row)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600;">Info</span>
                            </button>
                            <button mat-menu-item (click)="edit(row)">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600;">Edit</span>
                            </button>
                            <button mat-menu-item (click)="delete(row)">
                                <mat-icon class="mat-18">delete</mat-icon>
                                <span style="font-weight: 600;">Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                </div>
            </ng-container>

            <tr class="sticky top-0 z-10" mat-header-row *matHeaderRowDef="cols"></tr>
            <tr mat-row *matRowDef="let row; columns: cols;"></tr>
        </table>
    </div>
    <div class="flex-grow flex flex-row items-center justify-center">
        <div *ngIf="dataSource.data.length < 1">
            <span class="text-secondary font-semibold text-xl">{{getNodataText()}}</span>
        </div>
    </div>
    <mat-paginator class="border-b sm:border-t sm:border-b-0 dark" [pageSizeOptions]="appConfig.pageSizeOptions"
        [pageSize]="appConfig.pageSize" (page)="refreshItems()" [showFirstLastButtons]="appConfig.showFirstLastButtons">
    </mat-paginator> -->

</div>
