<div>
    <!--Agency Detail-->
    <div class="rounded-2xl shadow overflow-hidden mb-5">
        <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px] text-lg">Agency Details</div>
        <div class="grid grid-cols-5 gap-2 p-8 pb-4 bg-card ">
            <div class="flex flex-row">
                <div class="flex-0 w-10 h-10 rounded-full overflow-hidden mb-3">
                    <img class="w-full h-full object-cover cursor-pointer" *ngIf="profile_picture"
                        [src]="profile_picture" alt="User avatar">
                    <mat-icon *ngIf="!profile_picture"
                        class="w-full h-full object-cover dark:text-white text-primary cursor-pointer"
                        [svgIcon]="'heroicons_solid:user-circle'">
                    </mat-icon>
                </div>
            </div>
            <div class="flex flex-col mb-3" *ngFor="let filed of AgentList" [class.hidden]="filed.isHide">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}} <mat-icon
                            *ngIf="filed.name === 'Referral Link'" class="icon-size-3 cursor-pointer ml-1"
                            [matTooltip]="'Copy Link'"
                            (click)="copyLink(records.referral_link_url)">content_copy</mat-icon></span>
                    <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon>
                </div>
                <span class="truncate flex items-center">
                    <span *ngIf="filed.name === 'Email'" class="text-base truncate">
                        <mat-icon *ngIf="records.is_email_verified"
                            class="text-green-600 text-lg inline-block h-[20px] min-h-[20px] w-[20px] min-w-[20px]"
                            [matTooltip]="'Verified'">verified</mat-icon>
                        <mat-icon *ngIf="!records.is_email_verified"
                            class="text-yellow-600 text-lg inline-block h-[20px] min-h-[20px] w-[20px] min-w-[20px]"
                            [matTooltip]="'Verification Pending'">warning</mat-icon>
                    </span>
                    <span *ngIf="filed.name === 'Mobile Number'" class="text-base truncate">
                        <mat-icon *ngIf="records.is_mobile_verified"
                            class="text-green-600 text-lg inline-block h-[20px] min-h-[20px] w-[20px] min-w-[20px]"
                            [matTooltip]="'Verified'">verified</mat-icon>
                        <mat-icon *ngIf="!records.is_mobile_verified"
                            class="text-yellow-600 text-lg inline-block h-[20px] min-h-[20px] w-[20px] min-w-[20px]"
                            [matTooltip]="'Verification Pending'">warning</mat-icon>
                    </span>
                    <!-- <span *ngIf="filed.name === 'Referral Link'" class="text-base truncate">
                    <mat-icon *ngIf="records.referral_link_url" class="icon-size-5 cursor-pointer mr-3" [matTooltip]="'Copy Link'" (click)="copyLink(records.referral_link_url)">content_copy</mat-icon>
                </span> -->
                    <span *ngIf="filed.name == 'KYC'" (click)="viewKYC()" class="text-blue-500 cursor-pointer">View
                        Profile</span>

                    <span *ngIf="filed.name != 'KYC'" class="text-base truncate pr-1 relative top-[-1px]"
                        [matTooltip]="filed.value">{{filed.value || '--'}}</span>
                </span>
            </div>
        </div>
    </div>

    <!--RM Detail-->
    <div class="rounded-2xl shadow overflow-hidden my-5">
        <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px] text-lg">RM Details</div>
        <div class="grid grid-cols-5 gap-2 p-8 pb-4 bg-card ">
            <div class="flex flex-col mb-3" *ngFor="let filed of rmList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                    <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon>
                </div>
                <span class="truncate flex items-center">
                    <span class="text-base truncate pr-1 relative top-[-1px]" [matTooltip]="filed.value">{{filed.value
                        || '--'}}</span>
                </span>
            </div>
        </div>
    </div>

    <!--Account Detail-->
    <div class="rounded-2xl shadow overflow-hidden my-5">
        <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px] text-lg">Account Details</div>
        <div class="grid grid-cols-5 gap-2 p-8 pb-4 bg-card ">
            <div class="flex flex-col mb-3" *ngFor="let filed of accountList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                    <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon>
                </div>
                <span class="truncate flex items-center">
                    <span *ngIf="filed.name != 'Credit' && filed.name != 'Wallet Balance'"
                        class="text-base truncate pr-1 relative top-[-1px]" [matTooltip]="filed.value">{{filed.value ||
                        '--'}}</span>
                    <span *ngIf="filed.name == 'Credit'">{{filed.value ? filed.value.toFixed(2) : filed.value}}</span>
                    <span *ngIf="filed.name == 'Wallet Balance'">{{filed.value ? filed.value.toFixed(2) :
                        filed.value}}</span>
                </span>
            </div>
        </div>
    </div>

    <!--Bank Detail-->
    <div class="rounded-2xl shadow overflow-hidden my-5">
        <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px] text-lg">Bank Details</div>

        <div class="overflow-auto flex flex-col  rounded-b-lg">
            <div class="flex flex-col overflow-auto max-w-full rounded-b-lg pt-1">
                <table mat-table [dataSource]="dataSource" class="border-collapse border" MatSort2 matSortDisableClear
                    matSortDirection="desc">

                    <ng-container matColumnDef="action">
                        <th mat-header-cell class="font-bold text-md field-blue-bg w-5 items-center text-center border-l" *matHeaderCellDef>#</th>
                        <td mat-cell *matCellDef="let element" class="border white-bg w-5 ">
                            <div class="flex items-center justify-center">
                                <button mat-icon-button [matMenuTriggerFor]="optionMenu"
                                    class="sticky left-0 "
                                    style="border-radius: 0%; width: 100%">
                                    <mat-icon> more_vert </mat-icon>
                                </button>
                            </div>
                            <mat-menu #optionMenu>
                                <button mat-menu-item (click)="infoBank(element)">
                                    <mat-icon class="mat-18" >info</mat-icon>
                                    <span style="font-weight: 600">Info</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="document_proof">
                        <th mat-header-cell class="font-bold text-md border-l text-center field-blue-bg min-w-30 max-w-30"
                            *matHeaderCellDef>
                            Proof
                        </th>
                        <td mat-cell *matCellDef="let element" class="border text-center min-w-30 max-w-30 cursor-pointer">
                            <div class="flex justify-center">
                                <mat-icon (click)="downloadInfo(element.document_proof)" svgIcon="heroicons_outline:arrow-down-tray" class="text-blue-500"></mat-icon>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="bank_name">
                        <th mat-header-cell class="font-bold text-md border-l field-blue-bg min-w-48 max-w-48"
                            *matHeaderCellDef>
                            Bank Name
                        </th>
                        <td mat-cell *matCellDef="let element" class="border min-w-48 max-w-48 cursor-pointer">
                            <div class="flex">
                                <p class="text-md font-medium truncate pr-1" [matTooltip]="element.bank_name">
                                    {{ element.bank_name || '-'}}
                                </p>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="account_number">
                        <th mat-header-cell class="font-bold text-md border-l field-blue-bg min-w-48 max-w-48"
                            *matHeaderCellDef>
                            Account Number
                        </th>
                        <td mat-cell *matCellDef="let element" class="border min-w-48 max-w-48 cursor-pointer">
                            <p class="text-md font-medium truncate pr-1" [matTooltip]="element.account_number">
                                {{ element.account_number || '-' }}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ifsc_code">
                        <th mat-header-cell class="font-bold text-md border-l field-blue-bg min-w-44 max-w-44"
                            *matHeaderCellDef>
                            IFSC Code
                        </th>
                        <td mat-cell *matCellDef="let element" class="border min-w-44 max-w-44 cursor-pointer">
                            <p class="text-md font-medium truncate pr-1" [matTooltip]="element.ifsc_code">
                                {{ element.ifsc_code || '-' }}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="account_currency_code">
                        <th mat-header-cell class="font-bold text-md border-l field-blue-bg min-w-44 max-w-44"
                            *matHeaderCellDef>
                            Currency
                        </th>
                        <td mat-cell *matCellDef="let element" class="border min-w-44 max-w-44 cursor-pointer">
                            <p class="text-md font-medium truncate pr-1">
                                {{ element.account_currency_code || '-' }}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="account_type">
                        <th mat-header-cell class="font-bold text-md border-l field-blue-bg w-full "
                            *matHeaderCellDef>
                            Account Type
                        </th>
                        <td mat-cell *matCellDef="let element" class="border w-full cursor-pointer">
                            <p class="text-md font-medium truncate pr-1">
                                {{ element.account_type || '-' }}
                            </p>
                        </td>
                    </ng-container>


                    <tr class="h-9 min-h-9 sticky top-0 z-10" mat-header-row *matHeaderRowDef="columns; sticky: true">
                    </tr>
                    <tr class="h-9 border-0" mat-row *matRowDef="let row; columns: columns"></tr>
                </table>
            </div>
        </div>

    </div>

</div>