<div class="flex flex-col max-h-screen -m-6" [ngClass]="data == null ? 'min-w-120' : 'min-w-120'">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{ title }}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-120" [formGroup]="formGroup"
        *ngIf="!readonly else detailView">
        <div class="flex gap-4">
            <mat-form-field class="flex-grow 1/3">
                <mat-label>From Currency</mat-label>
                <mat-select *ngIf="!readonly" required formControlName="from_currency_id">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search"
                            noEntriesFoundLabel="'no matching currency roe found'" [formControlName]="'roefilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of currencyList" [value]="ct.id">{{ ct.currency_short_code
                        }}</mat-option>
                </mat-select>
                <input *ngIf="readonly" [readonly]="readonly" matInput required formControlName="currency_short_code" />
            </mat-form-field>

            <mat-form-field class="flex-grow 1/3">
                <mat-label>To Currency</mat-label>
                <mat-select *ngIf="!readonly" required formControlName="to_currency_id">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search"
                            noEntriesFoundLabel="'no matching currency roe found'" [formControlName]="'roetofilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of currencyListTo" [value]="ct.id">{{ ct.currency_short_code
                        }}</mat-option>
                </mat-select>
                <input *ngIf="readonly" [readonly]="readonly" matInput required
                    formControlName="currency_short_code_to" />
            </mat-form-field>

            <!-- <mat-form-field class="flex-grow 1/3" *ngIf="readonly">
                <mat-label>Actual ROE</mat-label>
                <input matInput [readonly]="readonly" required type="number" formControlName="actual_roe" />
            </mat-form-field> -->
        </div>

        <div class="flex gap-4">
            <mat-form-field class="flex-grow">
                <mat-label>Actual Markup</mat-label>
                <input matInput [readonly]="readonly" required type="number" formControlName="actual_markup" />
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Forex Actual Markup</mat-label>
                <input matInput [readonly]="readonly" required type="number" formControlName="forex_actual_markup" />
            </mat-form-field>

            <!-- <mat-form-field class="flex-grow" *ngIf="readonly">
                <mat-label>Purchase ROE</mat-label>
                <input matInput [readonly]="readonly" required type="number" formControlName="purchase_roe" />
            </mat-form-field>

            <mat-form-field class="flex-grow" *ngIf="readonly">
                <mat-label>Sale ROE</mat-label>
                <input matInput [readonly]="readonly" required type="number" formControlName="sale_roe" />
            </mat-form-field> -->
        </div>

        <!-- <div class="flex gap-4">
            <mat-form-field class="flex-grow">
                <mat-label>Forex Purchase Markup</mat-label>
                <input matInput [readonly]="readonly" required type="number" formControlName="forex_purchase_markup" />
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Forex Sale Markup</mat-label>
                <input matInput [readonly]="readonly" required type="number" formControlName="forex_sale_markup" />
            </mat-form-field>

            <mat-form-field class="flex-grow" *ngIf="readonly">
                <mat-label>Forex Purchase ROE</mat-label>
                <input matInput [readonly]="readonly" required type="number" formControlName="forex_purchase_roe" />
            </mat-form-field>

            <mat-form-field class="flex-grow" *ngIf="readonly">
                <mat-label>Forex Sale ROE</mat-label>
                <input matInput [readonly]="readonly" required type="number" formControlName="forex_sale_roe" />
            </mat-form-field>
        </div> -->
    </form>

    <ng-template #detailView>
        <div class="grid grid-cols-4 gap-4 mb-3 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col " *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                    <!-- <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon> -->
                </div>
                <span class="text-base truncate" [matTooltip]="filed.value">{{filed.value ?? '--'}}</span>
            </div>
        </div>
    </ng-template>

    <div class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <!-- Discard -->
        <!-- <button mat-stroked-button (click)="matDialogRef.close()">Close</button> -->
        <!-- Save as draft -->
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
            {{ btnLabel }}
        </button>
    </div>
</div>
