<div class="flex flex-col max-w-120 md:min-w-120 max-h-screen -m-6">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
    <div class="text-lg font-medium text-white">{{title}}</div>
    <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
      <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
    </button>
  </div>

  <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-120" [formGroup]="formGroup">

    <div class="flex flex-row gap-4">
      <div *ngIf="title == 'Supplier Invoice'"
        class="flex dark:bg-gray-700 bg-gray-200 min-h-[65px] items-center px-4 mb-3 my-2 w-full second-color justify-between shadow rounded-xl overflow-hidden">
        <div class="flex flex-row items-center w-full justify-between overflow-hidden">
          <div class="py-4 flex flex-row items-center gap-3 second-color  overflow-hidden">
            <span class="text-base truncate">
              Invoice
            </span>
          </div>

          <div class="flex flex-row items-end justify-center space-x-1">
            <button mat-icon-button [matTooltip]="'Download'"  [tabIndex]="-1"
              (click)="download(this.formGroup.get('supplier_invoice').value)"
              [disabled]="!formGroup.get('supplier_invoice').value">
              <mat-icon class="icon-size-6" [ngClass]="formGroup.get('supplier_invoice').value ? 'text-primary':''"
                [svgIcon]="'heroicons_outline:download'"></mat-icon>
            </button>
            <div [hidden]="true">
              <input type="file" name="documentUpload" #document (change)="isInvoiceGenerated ? null : uploadDocument($event,'supplier_invoice')">
            </div>
            <button (click)="document.click()" [tabIndex]="-1" [matTooltip]="'Upload'" mat-icon-button [disabled]="isInvoiceGenerated">
              <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:upload'"></mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="title == 'Supplier Confirmation'"
        class="flex dark:bg-gray-700 bg-gray-200 min-h-[65px] w-full items-center px-4 mb-3 my-2 second-color justify-between shadow rounded-xl overflow-hidden">
        <div class="flex flex-row items-center w-full justify-between overflow-hidden">
          <div class="py-4 flex flex-row items-center gap-3 second-color  overflow-hidden">
            <span class="text-base truncate">
              Supplier Confirmation Proof
            </span>
          </div>

          <div class="flex flex-row items-end justify-center space-x-1">
            <button mat-icon-button [matTooltip]="'Download'" [tabIndex]="-1"
              (click)="download(this.formGroup.get('supplier_confirmation_proof').value)"
              [disabled]="!formGroup.get('supplier_confirmation_proof').value">
              <mat-icon class="icon-size-6"
                [ngClass]="formGroup.get('supplier_confirmation_proof').value ? 'text-primary':''"
                [svgIcon]="'heroicons_outline:download'"></mat-icon>
            </button>
            <div [hidden]="true">
              <input type="file" name="documentUpload" #document2
                (change)="isInvoiceGenerated ? null : uploadDocument($event,'supplier_confirmation_proof')">
            </div>
            <button (click)="document2.click()" [matTooltip]="'Upload'" [tabIndex]="-1" mat-icon-button [disabled]="isInvoiceGenerated">
              <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:upload'"></mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pt-4 pb-5 space-x-3">
    <button mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
      Submit
    </button>
  </div>
</div>