<div class="flex flex-col max-w-256 md:min-w-192 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{ title }}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-96 pb-5" [formGroup]="formGroup"
        *ngIf="!readonly; else detailView">

        <div class="flex space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Provider</mat-label>
                <mat-select  formControlName="provider" required>
                    <mat-option *ngFor="let ct of providerList" [value]="ct">{{ct}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="flex-grow ">
                <mat-label>PSP For</mat-label>
                <mat-select required formControlName="psp_for">
                    <mat-option *ngFor="let s of pspList" [value]="s.value">
                        {{ s.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="flex-grow" *ngIf="this.formGroup.get('psp_for').value == 'Agent'">
                    <mat-label>Agent</mat-label>
                    <mat-select formControlName="psp_for_agent_id" required [compareWith]="compareWith">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching agent found'" [formControlName]="'agentfilter'">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let ct of agentList" [value]="ct.id">
                            <span><span *ngIf="ct.code">{{ ct.code }} - </span>{{ ct.agency_name }}<span
                                    *ngIf="ct.master_agent_name"> ({{ ct.master_agent_name }})</span></span>
                            <div class="-mt-2">
                                <span class="text-secondary text-sm">{{
                                    ct.email_address
                                    }}</span>
                            </div>
                        </mat-option>
                    </mat-select>
            </mat-form-field>

            <mat-form-field class="flex-grow" *ngIf="this.formGroup.get('psp_for').value !== 'Agent'">
                <mat-label>Company</mat-label>
                <mat-select formControlName="psp_for_company_id" required [compareWith]="compareWith">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search"
                            noEntriesFoundLabel="'no matching company found'" [formControlName]="'companyfilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of compnyList" [value]="ct.company_id">
                        <span>{{ ct.company_name }}</span>
                    </mat-option>
                </mat-select>
        </mat-form-field>
        </div>    

        <div class="flex space-x-3">

            <mat-form-field class="flex-grow w-full">
                <mat-label>Merchant Code</mat-label>
                <input matInput type="text" [readonly]="readonly" formControlName="merchant_code" />
            </mat-form-field>

            <mat-form-field class="flex-grow w-full">
                <mat-label>Panel URL</mat-label>
                <input matInput type="text" [readonly]="readonly" formControlName="panel_url" />
            </mat-form-field>
        </div>

        <div class="flex space-x-3">
            <mat-form-field class="flex-grow w-full">
                <mat-label>Panel User Id</mat-label>
                <input matInput type="text" [readonly]="readonly" formControlName="panel_user_id" />
            </mat-form-field>

            <mat-form-field class="flex-grow w-full">
                <mat-label>Panel Password</mat-label>
                <input matInput type="password" [readonly]="readonly" formControlName="panel_password" required
                    #passwordField />
                <button mat-icon-button type="button" (click)="
                    passwordField.type === 'password'
                        ? (passwordField.type = 'text')
                        : (passwordField.type = 'password')
                " matSuffix>
                    <mat-icon svgIcon="feather:eye" *ngIf="passwordField.type == 'password'"></mat-icon>
                    <mat-icon svgIcon="feather:eye-off" *ngIf="passwordField.type == 'text'"></mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field class="flex-grow w-full">
                <mat-label>UAT Api Base URL</mat-label>
                <input matInput type="text" [readonly]="readonly" formControlName="uat_api_base_url" />
            </mat-form-field>
        </div>

        <div class="flex space-x-3">
            <mat-form-field class="flex-grow w-full">
                <mat-label>Live Api Base URL</mat-label>
                <input matInput type="text" [readonly]="readonly" formControlName="live_api_base_url" />
            </mat-form-field>

            <mat-form-field class="flex-grow w-full">
                <mat-label>Retrun URL</mat-label>
                <input matInput type="text" [readonly]="readonly" formControlName="retrun_url" />
            </mat-form-field>

            <mat-form-field class="flex-grow w-full">
                <mat-label>Refund URL</mat-label>
                <input matInput type="text" [readonly]="readonly" formControlName="refund_url" />
            </mat-form-field>

           
        </div>

        <div class="flex space-x-3">
            <mat-form-field class="flex-grow w-full">
                <mat-label>Secret Code</mat-label>
                <input matInput type="text" [readonly]="readonly" formControlName="secret_code" />
            </mat-form-field>

            <mat-form-field class="flex-grow w-full">
                <mat-label>Salt</mat-label>
                <input matInput type="text" [readonly]="readonly" formControlName="salt" />
            </mat-form-field>

            <mat-form-field class="flex-grow w-full">
                <mat-label>Schema Code</mat-label>
                <input matInput type="text" [readonly]="readonly" formControlName="schema_code" />
            </mat-form-field>
        </div>

        <div class="flex space-x-3 items-center">

            <mat-form-field class="flex-grow w-1/3">
                <mat-label>Key</mat-label>
                <input matInput type="text" [readonly]="readonly" formControlName="key" />
            </mat-form-field>

            <mat-form-field class="flex-grow w-1/3">
                <mat-label>Payment Modes</mat-label>
                <mat-select [formControl]="payment_modes" multiple>
                  <mat-select-trigger>
                    {{ payment_modes.value?.[0] || '' }}
                    <span *ngIf="(payment_modes.value?.length || 0) > 1" class="example-additional-selection">
                      (+{{ (payment_modes.value?.length || 0) - 1 }} {{ payment_modes.value?.length === 2 ? 'other' : 'others' }})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping }}</mat-option>
                </mat-select>
              </mat-form-field>

            <mat-slide-toggle class="ml-1 w-1/3" formControlName="is_auto_surcharge">
                <span class="pl-1">Is Auto Search</span>
            </mat-slide-toggle>
        </div>

        <div class="flex space-x-3">
            <div>Is Live</div>
            <mat-slide-toggle [readonly]="readonly" formControlName="is_live"></mat-slide-toggle>
        </div>

    </form>

    <ng-template #detailView>
        <div class="grid grid-cols-4 gap-4 mb-8 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col mb-3" *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class="text-md font-semibold text-secondary">{{
                        filed.name
                        }}
                        <mat-icon *ngIf="filed.name === 'Panel URL' || filed.name === 'Panel User Id' || filed.name === 'UAT Api Base URL' || filed.name === 'Live Api Base URL' || filed.name === 'Retrun URL' ||  filed.name === 'Refund URL' || filed.name === 'Panel Password'"
                        class="icon-size-3 cursor-pointer ml-1" [matTooltip]="'Copy Link'"
                        (click)="copyLink(filed.value)">content_copy</mat-icon></span>
                        <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon>    
                </div>
                <span class="text-base truncate" [matTooltip]="filed.value">{{
                    filed.value || "--"
                    }}</span>
            </div>
        </div>
    </ng-template>

    <div *ngIf="!readonly" class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <!-- Discard -->
        <button mat-stroked-button (click)="matDialogRef.close()">Close</button>
        <!-- Save as draft -->
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()">
            {{ btnLabel }}
        </button>
    </div>
</div>