<div class="flex flex-col max-w-160 md:min-w-100 max-h-120 -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium">Default Exclusions</div>
        <button mat-icon-button [tabIndex]="-1" (click)="matDialogRef.close(this.productExclusions.length)">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-col m-4 overflow-hidden">
        <form class="flex flex-row mt-3 px-3 space-x-4 items-center" [formGroup]="productExclusionFormGroup">
            <mat-form-field class="flex-grow w-100">
                <mat-label class="text-sm">Default Exclusions</mat-label>
                <input matInput formControlName="exclusion" required />
            </mat-form-field>

            <button mat-stroked-button color="primary" (click)="SaveProductExclusions()">
                Add
            </button>
        </form>

        <div class="flex flex-col space-y-2 mx-3 overflow-x-scroll w-140">
            <div class="flex flex-row space-x-2 panel cursor-pointer" *ngFor="let note of productExclusions">
                <div class="flex flex-row space-x-1">
                    <mat-icon (click)="modifyDestintionExclusion(note)"
                        class="icon-size-4 text-secondary only-show-on-hover" matTooltip="Modify Note">edit</mat-icon>
                    <mat-icon (click)="removeProductExclusion(note)" class="icon-size-4 text-red-500 only-show-on-hover"
                        matTooltip="Remove Note">delete</mat-icon>
                </div>
                <mat-icon class="icon-size-4 mt-1">radio_button_checked</mat-icon>
                <span class="whitespace-pre-line" (click)="saveDefault(note)">
                    {{ note.exclusion }}
                </span>
            </div>
        </div>
    </div>
</div>