<div *ngIf="showLoader" class="flex flex-row items-center justify-center w-full h-[100vh] fixed top-0 left-0 z-[1001] bg-[#000000ab]">
  <div class="flex flex-col space-x-2 justify-center items-center">
    <img class="h-40 w-40" [src]="'assets/gifs/loading.gif'" alt="loader" loading="lazy">
    <span *ngIf="loaderMessage" class="white-text font-semibold">{{loaderMessage}}</span>
  </div>
</div>
<router-outlet></router-outlet>
<div class="toast-container" *ngIf="showToast" [ngClass]="{
    success: toastrType == 'success',
    error: toastrType == 'error',
    warn: toastrType == 'warn',
    info: toastrType == 'info',
    'top-left': toastrPosition == 'top-left',
    'top-right': toastrPosition == 'top-right',
    'bottom-left': toastrPosition == 'bottom-left',
    'bottom-right': toastrPosition == 'bottom-right'
  }" [@slideRight] (click)="closeToast()">
    <!-- <span class="closeBtn" (click)="closeToast()">x</span> -->
    <div class="toast-content flex items-center">
        <span class="icon" *ngIf="toastrType == 'success'"><mat-icon
                class="relative text-[22px]">check</mat-icon></span>
        <span class="icon" *ngIf="toastrType == 'error'"><mat-icon class="relative text-[22px]">close</mat-icon></span>
        <span class="icon" *ngIf="toastrType == 'warn'"><mat-icon class="relative text-[22px]">warning</mat-icon></span>
        <span class="icon" *ngIf="toastrType == 'info'"><mat-icon class="relative text-[22px]">info</mat-icon></span>
        <span class="relative font-semibold top-[-1px]">{{ toastrMsg }}</span>
    </div>
</div>

<p-sidebar [(visible)]="_filterService.filterDrawerVisible" position="right" [styleClass]="'custom-sidebar'">
    <app-common-filter></app-common-filter>
</p-sidebar>