:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}
.toast-container {
    color: #fff;
    margin: 10px;
    padding: 10px 10px 10px 15px;
    position: fixed;
    z-index: 1001;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-width: 350px;
    min-width: 300px;
    .toast-content {
      align-self: center;
      .icon {
        font-size: 30px;
        display: inline-block;
        font-weight: bolder;
        margin-right: 10px;
        line-height: 30px;
      }
    }
    .closeBtn {
      position: absolute;
      right: 12px;
      font-size: 24px;
      cursor: pointer;
      margin-left: 30px;
    }
  
    &.success {
      background-color: rgba(72, 177, 72, 0.767);
      .toast-content {
        .icon mat-icon {
          color: #fff;
        }
      }
    }
    &.error {
      background-color: #bd362fc7;
      .toast-content {
        .icon mat-icon{
          color: #fff;
        }
      }
    }
    &.warn {
      background-color: #ce900ad8;
      .toast-content {
        .icon mat-icon {
          color: #fff;
        }
      }
    }
    &.info {
      background-color: #2f96b4;
      .toast-content {
        .icon mat-icon{
          color: #fff;
        }
      }
    }
    &.top-left {
      left: 0px;
      top: 40px;
    }
    &.top-right {
      right: 20px;
      top: 40px;
    }
    &.bottom-right {
      right: 0px;
      bottom: 0px;
    }
    &.bottom-left {
      left: 0px;
      bottom: 0px;
    }
  }