<fuse-drawer class="min-w-[400px] z-999" fixed [mode]="'over'" [name]="'settingsDrawer'" [position]="'right'"
    #settingsDrawer>

    <div class="w-full">
        <div class="flex justify-between border-b-2 border-gray-border px-5 py-4 h-15 sticky top-0">
            <span class="text-lg font-semibold">{{title}}</span>
            <mat-icon svgIcon="close" class=" icon-size-6 cursor-pointer "
                (click)="settingsDrawer.close(null)"></mat-icon>
        </div>

        <div class="px-5 py-2 h-[calc(100vh-120px)] overflow-auto">
            <form [formGroup]="formGroup" class="flex flex-col gap-2">

                <mat-form-field class="flex-grow">
                    <mat-label>Company</mat-label>
                    <mat-select required formControlName="company_id" [compareWith]="compareWith">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching company found'" [formControlName]="'companyfilter'">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let ct of compnyList" [value]="ct.company_id">
                            <span>{{ ct.company_name }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Invoice Date</mat-label>
                    <input matInput required [matDatepicker]="joiningpicker"
                        placeholder="Choose a date" formControlName="invoice_date" />
                    <mat-datepicker-toggle matSuffix [for]="joiningpicker"></mat-datepicker-toggle>
                    <mat-datepicker #joiningpicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Customer Name</mat-label>
                    <input matInput required formControlName="customer_name" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Particular</mat-label>
                    <input matInput required formControlName="currency" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Currency</mat-label>
                    <input matInput required formControlName="currency" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Total Amount</mat-label>
                    <input matInput required (keypress)="numberOnly($event)" formControlName="total_amount" />
                </mat-form-field>

                 <mat-form-field class="flex-grow">
                    <mat-label>Tax</mat-label>
                    <input matInput required (keypress)="numberOnly($event)" formControlName="tax" />
                </mat-form-field>

                <mat-form-field class="w-full ">
                    <mat-label>Remark</mat-label>
                    <textarea matInput [formControlName]="'remark'" required class="min-h-10"></textarea>
                </mat-form-field>

                <!-- <mat-form-field class="flex-grow">
                    <mat-label>Relationship Manager</mat-label>
                    <mat-select formControlName="relationship_manager_id">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'No matching RM found'" [formControl]="rmfilterCtrl">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option value="">Any</mat-option>
                        <mat-option *ngFor="let item of filteredRmList"
                            [value]="item">{{item.employee_name}}</mat-option>
                    </mat-select>
                </mat-form-field> -->



            </form>

        </div>

        <div class="flex items-center justify-end border-t px-5 py-4 gap-3 h-15 sticky bottom-0">
            <button mat-stroked-button (click)="settingsDrawer.close(null)">Close</button>
            <button mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
                {{buttonLabel}}
            </button>
        </div>

    </div>
</fuse-drawer>