<!-- Right Side -->
<div *ngFor="let flight of flights; let index = index" class="mb-4">
    <div class="relative rounded-lg border-gray-border border-2 overflow-hidden white-bg">
        <div *ngIf="user.is_admin" class="triangle text-center opacity-50"
            [style]="'border-top: 20px solid '+ flight.provider_color +' ;'">
            <div class="mt-[-21px] ml-[3px] text-[10px] white-text">{{flight.provider_id}}</div>
        </div>
        <div>
            <div
                class="flex mobile:flex-col mobile:justify-start justify-between mobile:px-3 px-5 py-2 items-center w-full min-h-[95px]">
                <div class="flex" *ngIf="isShowItinerary">
                    <mat-checkbox [(ngModel)]="flight.shareItinerary"></mat-checkbox>
                </div>
                <div class="mobile:pb-2 flex items-center mobile:justify-between mobile:w-full w-[25%]">
                    <div class="flex items-center w-full mobile:w-1/2">
                        <img loading="lazy" class="w-10 h-10 mobile:h-6 mobile:w-6 object-contain mr-3"
                            [src]="flight.displaySegments[0].airline_logo" alt="Logo">
                        <div>
                            <div class="font-semibold text-lg mobile:text-base">
                                {{flight.displaySegments[0].airlineName}}</div>
                            <div class="text-gray mobile:text-md"><span>{{flight.displaySegments[0].airlineCode}} -
                                    {{flight.displaySegments[0].flightNumber}}</span>
                                <p class="text-sm"
                                    [ngClass]="cabinClassSearch == flight.displaySegments[0].cabinClass ? '' : 'bonton-red-text'">
                                    {{flight.displaySegments[0].cabinClass}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="hidden flex-col items-end text-right w-1/2 mobile:flex">
                        <span *ngIf="offervalue" class="text-gray text-sm leading-none">Offer {{flight.currency ||
                            'INR'}}
                            {{flight.purchasePrice}}</span>
                        <span class="text-lg font-semibold">{{flight.currency || 'INR'}} {{flight.salePrice}}</span>

                        <!-- Auto Login User Button Hide -->
                        <ng-container *ngIf="!authService.isAutoLogin">
                            <button *ngIf="!flight.moreFlights.data.length > 0"
                                class="dark:bg-primary bg-gray-200  px-[10px] rounded-lg" mat-flat-button
                                (click)="booking(flight)">
                                <span class="white-text text-md tracking-wide">Book Now</span>
                            </button>
                        </ng-container>

                        <button *ngIf="flight.moreFlights.data.length > 0"
                            class="secondary-bg border-[1px] primary-border rounded-md h-[28px] px-[8px] justify-center items-center"
                            (click)="toggleViewFare(flight)">
                            <span *ngIf="!flight.showFare" class="primary-text text-md uppercase tracking-wide">View
                                Fare</span>
                            <span *ngIf="flight.showFare" class="primary-text text-md uppercase tracking-wide">Hide
                                Fare</span>
                        </button>
                    </div>
                </div>
                <div class="flex justify-around mobile:w-full w-[50%]">
                    <div class="flex flex-col">
                        <span
                            class="text-gray-400 text-lg mobile:text-base font-medium leading-none">{{flight.displaySegments[0].originCityCode}}</span>
                        <span
                            class="font-semibold text-xl mobile:text-base mobile:leading-5">{{flight.displaySegments[0].depTime
                            | date: 'HH:mm'}}</span>
                        <span class="text-gray text-md mobile:text-xs">
                            {{flight.displaySegments[0].depTime | date: 'EEE, dd-MM-yyyy'}}</span>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <span class="text-gray mobile:text-sm text-md">{{flight.displaySegments[0].duration}}</span>
                        <span class="font-semibold my-1">
                            <div class="w-36 mobile:w-22 h-[2px] rounded-md relative flex justify-evenly items-center"
                                [ngClass]="flight.displaySegments[0].layoverAt ? ' bg-red-500' : 'bg-primary'">
                                <span class="w-2 h-2 text-gray-400 rounded-full border border-gray-400"
                                    *ngFor="let i of flight.stops | enumerate"></span>
                            </div>
                        </span>

                        <ng-container>
                            <span *ngIf="flight.displaySegments[0].layoverAt"
                                class="bonton-red-text mobile:text-xs text-sm w-48 truncate text-center mobile:leading-3"
                                [matTooltip]="getTooltip(flight.displaySegments[0].layoverData)"
                                [matTooltipClass]="'custom-tooltip'">
                                {{flight.displaySegments[0].layoverAt | lowercase}}
                            </span>
                            <span *ngIf="!flight.displaySegments[0].layoverAt"
                                class="text-sm mobile:text-xs green-text mobile:leading-3">Non
                                Stop</span>
                            <span
                                class="text-gray mobile:text-xs text-sm">{{flight.displaySegments[0].noOfSeatAvailable}}
                                Seat(s)
                                left</span>
                        </ng-container>
                    </div>
                    <div class="flex flex-col">
                        <span
                            class="text-gray-400 text-lg font-medium leading-none mobile:text-base">{{flight.displaySegments[0].destinationCityCode}}</span>
                        <span class="font-semibold text-xl mobile:text-base ">{{flight.displaySegments[0].arrTime |
                            date:
                            'HH:mm'}}</span>
                        <span class="text-gray text-md mobile:text-xs">
                            {{flight.displaySegments[0].arrTime | date: 'EEE, dd-MM-yyyy'}}</span>
                    </div>
                </div>
                <div class="flex flex-col items-end text-right w-[25%] mobile:hidden">
                    <span *ngIf="offervalue" class="text-gray text-md leading-none">Offer {{flight.currency || 'INR'}}
                        {{flight.purchasePrice}}</span>
                    <span class="text-2xl font-semibold">{{flight.currency || 'INR'}} {{flight.salePrice}}</span>

                    <!----CaseBack---->
                    <div class="flex gap-1 mb-2" *ngIf="flight?.cashback_amount > 0 && flight?.currency == 'INR'">
                        <span class="text-gradient">{{flight?.currency}} {{flight?.cashback_amount}} Cashback</span>
                        <!-- <img class="w-5" src="assets/icons/cashback.svg"> -->
                    </div>

                    <!-- Auto Login User Button Hide -->
                    <ng-container *ngIf="!authService.isAutoLogin">
                        <button *ngIf="!flight.moreFlights.data.length > 0"
                            class="dark:bg-primary bg-gray-200  px-[10px] rounded-lg" mat-flat-button
                            (click)="booking(flight)">
                            <span class="white-text tracking-wide">Book Now</span>
                        </button>
                    </ng-container>
                    <button *ngIf="flight.moreFlights.data.length > 0"
                        class="secondary-bg border-[1px] primary-border rounded-md px-4 py-[7px] h-full justify-center items-center"
                        (click)="toggleViewFare(flight)">
                        <span *ngIf="!flight.showFare"
                            class="primary-text font-semibold text-sm uppercase tracking-wide">View Fare</span>
                        <span *ngIf="flight.showFare"
                            class="primary-text font-semibold text-sm uppercase tracking-wide">Hide Fare</span>
                    </button>
                </div>
            </div>

            <div
                class="mobile:px-2 px-4 flex justify-between field-blue-bg mobile:w-full dark:bg-[#364459] bg-gray-200">
                <div class="flex items-center py-2 mobile:w-[72%]">
                    <!-- <div class="min-w-[6px] h-[6px] rounded-full primary-bg mr-2" *ngIf="flight.airlineRemark"></div>
                    <div [ngClass]="flight.airlineRemark? 'mr-4 mobile:mr-1':''"
                        class="text-gray mobile:text-xs text-sm leading-none max-w-[500px] mobile:max-w-full truncate"
                        [matTooltip]="flight.airlineRemark"
                        [innerHTML]="sanitizer.bypassSecurityTrustHtml(flight.airlineRemark)"></div>
                    <div class="flex items-center">
                        <div *ngIf="flight.airlineRemark " class="h-4 border-r-2 border-gray-border"></div>
                        <div class="text-sm mobile:text-xs font-semibold bonton-red-text leading-none"
                            [ngClass]="{'green-text' : flight.isRefundable,'ml-4 mobile:ml-1' : flight.airlineRemark}">
                            {{flight.isRefundable ? 'REFUNDABLE' : 'NON-REFUNDABLE'}}</div>
                    </div> -->

                    <!-- Share Itinerary -->
                    <!-- <div class="border border-[#1877F2] rounded px-1 gap-1 h-6 items-center flex text-[#0E458C] cursor-pointer"
                        (click)="sendDetail(flight)">
                        <img src="assets/icons/share.svg" class="w-auto">
                        <div class="text-sm">Share</div>
                    </div> -->

                    <!-- Refundable and Non Refundable -->
                    <div class="flex items-center" *ngIf="!flight.moreFlights.data.length > 0">
                        <!-- <div class="h-4 border-r-2 pl-3 border-gray-border" ></div> -->
                        <div class="text-sm mobile:text-xs ml-3 text-gray leading-none"
                            [ngClass]="flight.isRefundable ? 'text-green-500' : 'text-red-500'">
                            {{flight.isRefundable ? 'Refundable' : 'Non Refundable'}}
                        </div>
                    </div>

                    <!-- This code is When Hold Flight live that time enable Please do not remove this code -->
                    <div class="flex items-center" *ngIf="flight.isHold">
                        <div class="h-4 border-r-2 pl-3 border-gray-border"></div>
                        <div class="text-sm mobile:text-xs ml-3 text-gray leading-none">
                            Hold Available
                        </div>
                    </div>
                </div>
                <!-- <div class="flex items-center">
                        <mat-icon class="material-symbols-outlined text-black">luggage</mat-icon>
                        <span class="text-gray text-md font-medium leading-none">30 kgs</span>
                    </div>
                    <div class="flex items-center ml-2 mr-4">
                        <mat-icon class="material-symbols-outlined text-black">local_mall</mat-icon>
                        <span class="text-gray text-md pl-1 font-medium leading-none">7 kgs</span>
                    </div> -->
                <div (click)="toggleFlightDetails(flight)"
                    class="primary-text mobile:text-sm text-md font-semibold cursor-pointer leading-none flex items-center select-none mobile:min-w-[90px]">
                    <span>Flight detail</span> <mat-icon *ngIf="!flight.showDetails"
                        class="primary-text">expand_more</mat-icon>
                    <mat-icon *ngIf="flight.showDetails" class="primary-text">expand_less</mat-icon>
                </div>
            </div>
        </div>
        <div class="mt-2" *ngIf="flight.showDetails">
            <div class="flex justify-between border-b border-gray-border px-4">
                <div class="flex flex-row items-center mobile:h-8 h-11 select-none W-full">
                    <div class="flex justify-center items-center mobile:mr-2 mr-6 cursor-pointer h-11 mobile:h-8"
                        [ngClass]="flight.tab === 0? 'border-b-4 mobile:border-b-2 bonton-orange-border':''"
                        (click)="tabChanged(0, flight)">
                        <span class="uppercase font-semibold mobile:text-sm"
                            [ngClass]="flight.tab === 0? 'bonton-orange-text':'gray-text'">FLIGHT DETAILS</span>
                    </div>
                    <!-- <div class="flex justify-center items-center mx-6 cursor-pointer h-11"
                        [ngClass]="flight.tab === 1? 'border-b-4 bonton-orange-border':''" (click)="tabChanged(1, flight)">
                        <span class="uppercase font-semibold"
                            [ngClass]="flight.tab === 1? 'bonton-orange-text':'gray-text'">FARE SUMMARY</span>
                    </div> -->

                    <!-- as per requirement hide -->
                    <div class="flex justify-center items-center mx-6 mobile:mr-2 cursor-pointer h-11 mobile:h-8"
                        [ngClass]="flight.tab === 2? 'border-b-4 mobile:border-b-2 bonton-orange-border':''"
                        (click)="tabChanged(2, flight)" *ngIf="!flight.moreFlights.data.length > 0">
                        <span class="uppercase font-semibold mobile:text-sm"
                            [ngClass]="flight.tab === 2? 'bonton-orange-text':'gray-text'">BAGGAGE</span>
                    </div>
                    <div class="flex justify-center items-center mx-6 mobile:mr-2 cursor-pointer h-11 mobile:h-8"
                        [ngClass]="flight.tab === 3? 'border-b-4 mobile:border-b-2 bonton-orange-border':''"
                        (click)="tabChanged(3, flight)" *ngIf="!flight.moreFlights.data.length > 0">
                        <span class="uppercase font-semibold mobile:text-sm"
                            [ngClass]="flight.tab === 3? 'bonton-orange-text':'gray-text'">FARE RULE</span>
                    </div>
                </div>
            </div>

            <div class="w-full relative p-4 mobile:p-2.5">
                <div [class.hidden]="flight.tab !== 0">
                    <div class="rounded-xl border border-dashed border-gray-border relative mt-[-1px]"
                        *ngFor="let segment of flight.flightStopSegments; let i = index">
                        <div class="flex justify-between px-3 pt-3 pb-4 items-center w-full mobile:flex-col">
                            <div class="flex items-center w-[30%] mobile:w-full">
                                <img loading="lazy" class="w-8 h-8 object-contain mr-3 mobile:h-6 mobile:w-6"
                                    [src]="segment.airline_logo" alt="airline_logo">
                                <div>
                                    <div class="font-semibold text-lg mobile:text-base">{{segment.airlineName}}</div>
                                    <div class="text-gray mobile:text-sm"><span>{{segment.airlineCode}} -
                                            {{segment.flightNumber}} </span>
                                        <p class="text-sm"
                                            [ngClass]="cabinClassSearch == segment.cabinClass ? '' : 'bonton-red-text'">
                                            {{segment.cabinClass}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-between items-center w-[70%] mobile:w-full mobile:pr-0 pr-20">
                                <div class="flex flex-col w-[150px] mobile:w-full">
                                    <div class="flex gap-2 items-center">
                                        <div class="font-semibold text-xl mobile:text-base text-gray-400">{{segment.originCityCode}}</div>
                                        <div class="text-gray text-lg mobile:text-base"> {{segment.depTime | date:'HH:mm'}}</div>
                                    </div>
                                    <span class="text-sm font-medium mobile:text-sm">
                                        {{segment.depTime | date: 'EEE, dd-MM-yyyy'}}</span>
                                    <span class="text-gray text-sm mobile:text-xs">{{segment.originTerminal}}
                                        {{segment.originTerminal? '-':''}} {{segment.originAirportName}}
                                        {{segment.originCityName}}{{segment.originCountryName? ',':''}}
                                        {{segment.originCountryName}}
                                    </span>
                                </div>
                                <div class="flex items-center justify-center">
                                    <span class="border border-dashed w-16 gray-border mobile:hidden"></span>
                                    <span
                                        class="text-md mx-2 mobile:mx-0 mobile:text-xs mobile:w-[50px] mobile:text-center">{{segment.duration}}</span>
                                    <span class="border border-dashed w-16 gray-border mobile:hidden"></span>
                                </div>
                                <div class="flex flex-col w-[150px] mobile:w-full">
                                    <div class="flex gap-2 items-center">
                                    <div
                                        class="font-semibold text-xl mobile:text-base text-gray-400">{{segment.destinationCityCode}}<div
                                            class="text-gray text-lg mobile:text-base"> {{segment.arrTime | date:
                                            'HH:mm'}}</div></div>
                                    </div>            
                                    <span class="text-sm font-medium mobile:text-sm">
                                        {{segment.arrTime | date: 'EEE, dd-MM-yyyy'}}</span>
                                    <span class="text-gray text-sm mobile:text-xs">{{segment.destinationTerminal}}
                                        {{segment.destinationTerminal? '-':''}} {{segment.destinationAirportName}}
                                        {{segment.destinationCityName}}{{segment.destinationCountryName? ',':''}}
                                        {{segment.destinationCountryName}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="absolute bottom-[-10px] left-0 w-full text-center z-10 mobile:truncate"
                            *ngIf="i !== (flight.flightStopSegments.length - 1)">
                            <span class="light-blue-bg rounded-3xl px-10 text-gray text-sm mobile:px-2" matTooltip="{{isSamePlanes(segment, flight.flightStopSegments[i+1])
                                ? 'No plane change require'
                                : 'Change of planes'}}・{{flight.flightStopSegments[i+1].layover}} Layover in
                                {{segment.destinationCityName}}">
                                {{isSamePlanes(segment, flight.flightStopSegments[i+1])
                                ? 'No plane change require'
                                : 'Change of planes'}}・{{flight.flightStopSegments[i+1].layover}} Layover in
                                {{segment.destinationCityName}}</span>
                        </div>
                    </div>
                </div>

                <!-- <div [class.hidden]="flight.tab !== 1">
                    <table mat-table [dataSource]="dataSource"
                        class="light-black border-collapse border border-gray-border">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element" class="border border-gray-border min-w-50 max-w-50">
                                {{element.name|| ''}}
                            </td>
                            <td mat-footer-cell *matFooterCellDef
                                class="border border-gray-border font-semibold min-w-50 max-w-50">
                                <div>Total Fare</div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="number">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element"
                                class="border border-gray-border min-w-50 max-w-50 text-right">
                                <span>₹ {{element.number|| ''}}</span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef
                                class="border border-gray-border font-semibold min-w-50 max-w-50 text-right">
                                <div>₹ {{Sum('number')|| '0' }}</div>
                            </td>
                        </ng-container>

                        <tr class="h-10 border border-gray-border" mat-row *matRowDef="let row; columns: columns;"></tr>
                        <tr class="h-10 border border-gray-border" mat-footer-row *matFooterRowDef="columns"></tr>
                    </table>
                </div> -->

                <div [class.hidden]="flight.tab !== 2">
                    <div class="mb-2" *ngFor="let segment of flight.flightStopSegments; let i = index">
                        <div class="flex items-center">
                            <img loading="lazy" class="w-7 h-7 mobile:h-6 mobile:w-6 object-contain"
                                [src]="segment.airline_logo" alt="airline_logo"><span
                                class="ml-3 mobile:text-base font-semibold">{{segment.originCityName |
                                uppercase}} -
                                {{segment.destinationCityName | uppercase}}</span>
                        </div>
                        <table cellPadding="10px" class="w-full mt-1">
                            <tr class="font-semibold mobile:text-md">
                                <td>
                                    Baggage Type
                                </td>
                                <td>
                                    Check-In
                                </td>
                                <td>
                                    Cabin
                                </td>
                            </tr>
                            <tr class="mobile:text-sm">
                                <td>
                                    Adult
                                </td>
                                <td>
                                    {{segment.adultBaggage || '-'}}
                                </td>
                                <td>
                                    {{segment.adultCabinBaggage || '-'}}
                                </td>
                            </tr>
                            <tr class="mobile:text-sm" *ngIf="flight && flight.childCount > 0">
                                <td>
                                    Child
                                </td>
                                <td>
                                    {{segment.childBaggage || '-'}}
                                </td>
                                <td>
                                    {{segment.childCabinBaggage || '-'}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="text-[11px] text-[#808080]">The baggage information is just for reference. Please Check
                        with airline before check-in.</div>
                </div>

                <div [class.hidden]="flight.tab !== 3" class="max-h-80 overflow-y-auto">
                    <!-- <div [innerHTML]="flight.fareRules" *ngIf="!isFareRuleLoading" class="mobile:text-base">
                    </div> -->

                    <div [innerHTML]="flight.fareRuleData" *ngIf="flight.fareRuleData" class="mobile:text-base"></div>

                    <span class="text-blue text-lg  underline cursor-pointer"
                        (click)="loadFareRules(flight, false, 'section1'+index);" *ngIf="flight.isMoreShowFare">more
                        details</span>

                    <div class="p-4 border rounded-lg mt-4" *ngIf="flight.fareRuleData">
                        <div class="flex items-center mb-[10px]">
                            <mat-icon class="text-2xl mr-1 icon-size-4 bonton-red-text"
                                svgIcon="mat_outline:report_problem"></mat-icon>
                            <span class="bonton-red-text text-[17px] font-semibold">Important :</span>
                        </div>
                        <div>
                            <ul class="list-[circle] mx-4">
                                <li class="mb-[5px] text-gray font-semibold">*MENTIONED FEE ARE INDICATIVE PER PAX AND
                                    PER SECTOR.</li>
                                <li class="mb-[5px]">APART FROM AIRLINE CHARGES,GST+RAF+ APPLICABLE CHARGES IF ANY, WILL
                                    BE CHARGED.</li>
                                <li class="mb-[5px]">FOR DOMESTIC BOOKINGS, PASSENGERS ARE REQUIRED TO SUBMIT REISSUE
                                    REQUEST AT LEAST 4 HOURS BEFORE THE AIRLINES REISSUE POLICY.</li>
                                <li>FOR INTERNATIONAL BOOKINGS, PASSENGERS ARE REQUIRED TO SUBMIT THE REISSUE REQUEST AT
                                    LEAST 6 HOURS BEFORE THE REISSUE POLICY.</li>
                            </ul>
                        </div>
                    </div>

                    <div [innerHTML]="flight.newFare" *ngIf="flight.newFare" class="mobile:text-base mt-3"
                        [id]="'section1'+ index"></div>

                    <div *ngIf="isFareRuleLoading" class="py-7 font-semibold text-center mobile:text-base text-lg">
                        Loading...</div>
                    <div *ngIf="!flight.fareRules && !isFareRuleLoading"
                        class="flex flex-row h-full w-full justify-center items-center">
                        <div class="flex flex-col items-center">
                            <span class="font-medium mobile:text-base">Fare Rules not available</span>
                            <div class="flex flex-row space-x-1 items-center primary-text text-sm">
                                <span>Try Again</span>
                                <mat-icon class="cursor-pointer icon-size-4"
                                    (click)="loadFareRules(flight)">refresh</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- <div class="flex flex-col overflow-x-auto max-w-full" *ngIf="flight?.showFare">
            <table mat-table [dataSource]="flight?.moreFlights?.data" class="light-black !border-0">

                <ng-container matColumnDef="fareClassString">
                    <th mat-header-cell *matHeaderCellDef
                        class="font-semibold min-w-30 max-w-30 text-md leading-normal hover-bg">Fare Type</th>
                    <td mat-cell *matCellDef="let element" class="min-w-30 max-w-30 leading-normal relative">
                        <span class="font-bold">{{element?.fareClassString|| '-'}}</span>
                        <div *ngIf="user.is_admin" class="absolute top-0 left-0 triangle text-center opacity-50"
                            [style]="'border-top: 20px solid '+ element.provider_color +' ;'">
                            <div class="mt-[-21px] ml-[3px] text-[10px] white-text">{{element?.provider_id}}</div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cabinBaggage">
                    <th mat-header-cell *matHeaderCellDef
                        class="font-semibold min-w-24 max-w-24 text-md leading-normal hover-bg">Cabin</th>
                    <td mat-cell *matCellDef="let element" class="min-w-24 max-w-24 text-md font-medium leading-normal">
                        <span [matTooltip]="getTooltipFair(element.cabinBaggage)"
                            [innerHTML]="element?.cabinBaggage || '-'"></span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="checkinBaggage">
                    <th mat-header-cell *matHeaderCellDef
                        class="font-semibold min-w-24 max-w-24 text-md leading-normal hover-bg">Check In</th>
                    <td mat-cell *matCellDef="let element" class="min-w-24 max-w-24 text-md font-medium leading-normal">
                        <span [matTooltip]="getTooltipFair(element.checkinBaggage)"
                            [innerHTML]="element?.checkinBaggage || '-'"></span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cancellation">
                    <th mat-header-cell *matHeaderCellDef
                        class="font-semibold min-w-40 max-w-40 text-md leading-normal hover-bg">Cancellation</th>
                    <td mat-cell *matCellDef="let element" class="min-w-40 max-w-40 text-md font-medium leading-normal">
                        <span>{{element?.cancellation|| '-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="dateChange">
                    <th mat-header-cell *matHeaderCellDef
                        class="font-semibold min-w-40 max-w-40 text-md leading-normal hover-bg">Date Change</th>
                    <td mat-cell *matCellDef="let element" class="min-w-40 max-w-40 text-md font-medium leading-normal">
                        <span>{{element?.dateChange|| '-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="fareRule">
                    <th mat-header-cell *matHeaderCellDef
                        class="font-semibold min-w-18 max-w-18 text-md leading-normal hover-bg">Fare Rule</th>
                    <td mat-cell *matCellDef="let element"
                        class="min-w-20 max-w-20 text-md primary-text cursor-pointer leading-normal text-center"
                        (click)="fareRule(flight.destination,flight.origin,element)">
                        <span class="underline font-semibold">view</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="bookNow">
                    <th mat-header-cell *matHeaderCellDef
                        class="font-semibold min-w-40 max-w-40 text-md leading-normal hover-bg text-right"> </th>
                    <td mat-cell *matCellDef="let element"
                        class="min-w-40 max-w-40 text-md font-medium leading-normal text-right">
                        
                        <div class="mt-1" *ngIf="element.isHold && bontonPanel.isB2B()">
                            <span class="text-xs border p-1 rounded-md">Hold Available</span>
                        </div>
                        <div class="flex flex-col items-end py-4">
                            <span *ngIf="offervalue" class="text-gray text-md leading-none pb-1">Offer
                                {{element?.currency || 'INR'}}
                                {{element?.purchasePrice}}</span>
                            <span class="text-lg font-semibold">{{element?.currency || 'INR'}}
                                {{element.salePrice}}
                            </span>

                            <ng-container *ngIf="!authService.isAutoLogin">
                                <button
                                    class="primary-bg px-4 rounded-lg max-w-[125px] white-text tracking-wide mobile:hidden"
                                    mat-flat-button (click)="booking(element)">
                                    Book Now
                                </button>

                                <button class="fuse-mat-button-large small-blue mobile:flex hidden px-[10px]"
                                    mat-flat-button (click)="booking(element)">
                                    <span class="white-text tracking-wide">Book Now</span>
                                </button>
                            </ng-container>
                        </div>
                    </td>
                </ng-container>

                <tr class="bg-[#EDEDED] h-10" mat-header-row *matHeaderRowDef="columns"></tr>
                <tr class="rounded-md" mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div> -->

    </div>
</div>