<div class="flex flex-col max-w-240 md:min-w-140 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-120 " [formGroup]="formGroup" *ngIf="!readonly else detailView">

        <div class="flex flex-row gap-3">
            <mat-form-field class="w-1/5">
                <mat-label>Prefix</mat-label>
                <input matInput formControlName="prefix" required>
            </mat-form-field>

            <mat-form-field class="w-2/5">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="first_name" required>
            </mat-form-field>

            <mat-form-field class="w-2/5">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="last_name" required>
            </mat-form-field>
        </div>

        <div class="flex flex-row gap-3">
            <mat-form-field class="w-[30%]">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option *ngFor="let ct of genderList" [value]="ct">{{ ct }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-[35%]">
                <mat-label>Cabin Baggage</mat-label>
                <input matInput formControlName="cabin_baggage" required>
            </mat-form-field>

            <mat-form-field class="w-[35%]">
                <mat-label>Checkin Baggage</mat-label>
                <input matInput formControlName="checkin_baggage" required>
            </mat-form-field>
        </div>

        <mat-form-field class="flex-grow">
            <mat-label>Ticket Number</mat-label>
            <input matInput formControlName="ticket_number" required>
        </mat-form-field>
    </form>

    <ng-template #detailView>
        <div class="grid grid-cols-3 gap-6 mb-3 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col " *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                </div>
                <span class="text-base truncate" [matTooltip]="filed.value">{{filed.value || '--'}}</span>
            </div>
        </div>
    </ng-template>

    <div class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3" *ngIf="!readonly">
        <!-- Discard -->
        <button mat-stroked-button (click)="matDialogRef.close()">
            Close
        </button>
        <!-- Save as draft -->
        <button mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="formGroup.invalid || disableBtn">
            Save
        </button>
    </div>
</div>