<div class="flex flex-col max-w-100 md:min-w-100 max-h-[95vh] -m-6">
    <div
        class="flex px-5 pt-4 pb-3 z-10 items-center bg-primary justify-between flex-row sticky text-lg font-medium border-b-2">
        <span class=" text-white">Reject Reason</span>
        <mat-icon svgIcon="close" class="cursor-pointer text-white" (click)="matDialogRef.close()"></mat-icon>
    </div>
    <div class="flex items-center justify-center p-3">
        <form class="flex flex-col gap-0 mt-2" [formGroup]="rejectForm">
            <div class="flex flex-row">
                <div class="w-[362px]">
                    <mat-form-field class="w-full">
                        <mat-label>Reason</mat-label>
                        <textarea id="reject_reason" class="mt-1" matInput [formControlName]="'reject_reason'"
                            matTextareaAutosize matAutosizeMinRows="5"></textarea>
                        <mat-error *ngIf="rejectForm.get('reject_reason').hasError('required')">
                            Reject reason is required.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex items-center justify-end mt-4 sm:mt-0 pb-1 space-x-3">
                <button mat-flat-button [color]="'primary'" (click)="saveDetail()"
                    [disabled]="rejectForm.invalid">
                    <span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
