<div class="flex flex-col max-w-240 md:min-w-120 max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{title}} Reshuffle</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <mat-tab-group class="mt-1 lead_tab" [animationDuration]="'0'" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Mode 1" [aria-label]="'Mode 1'">
            <form class="flex flex-col flex-auto" [formGroup]="mode1Form">
                <mat-form-field class="flex-grow">
                    <mat-label>From RM</mat-label>
                    <mat-select formControlName="FromId" required (selectionChange)="fromRMChanged($event.value)">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching employee found'" [formControlName]="'fromfilter'">
                            </ngx-mat-select-search>
                        </mat-option>
                        <ng-container *ngFor="let ct of fromList">
                            <mat-option [value]="ct" *ngIf="mode1Form.get('ToId').value !== ct.id">
                                {{ct.employee_name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <div class="flex flex-row justify-end items-end mt-[-17px] mb-2">
                    <ng-container *ngIf="this.record == 'Lead'">
                        <span class="px-2">New: {{mode1leadStatusFromCount?.newCount?
                            mode1leadStatusFromCount?.newCount: 0 }}</span>
                        <span class="px-2">Live: {{mode1leadStatusFromCount?.liveCount ?
                            mode1leadStatusFromCount?.liveCount : 0}}</span>
                        <span class="px-2">Converted: {{mode1leadStatusFromCount?.convertedCount ?
                            mode1leadStatusFromCount?.convertedCount: 0}}</span>
                        <span class="px-2">Dead: {{mode1leadStatusFromCount?.deadCount ?
                            mode1leadStatusFromCount?.deadCount : 0}}</span>
                    </ng-container>

                    <ng-container *ngIf="this.record == 'Agent'">
                        <span class="px-2">New: {{mode1agentStatusFromCount?.newCount ?
                            mode1agentStatusFromCount?.newCount: 0}}</span>
                        <span class="px-2">Active: {{mode1agentStatusFromCount?.activeCount?
                            mode1agentStatusFromCount?.activeCount: 0 }}</span>
                        <span class="px-2">Inactive: {{mode1agentStatusFromCount?.inactiveCount ?
                            mode1agentStatusFromCount?.inactiveCount : 0}}</span>
                    </ng-container>
                </div>

                <mat-form-field class="flex-grow">
                    <mat-label>To RM</mat-label>
                    <mat-select formControlName="ToId" required (selectionChange)="toRMChanged($event.value)">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching employee found'" [formControlName]="'tofilter'">
                            </ngx-mat-select-search>
                        </mat-option>
                        <ng-container *ngFor="let ct of toList">
                            <mat-option [value]="ct" *ngIf="mode1Form.get('FromId').value !== ct.id">
                                {{ct.employee_name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <div class="flex flex-row justify-end items-end mt-[-17px] mb-2">
                    <ng-container *ngIf="this.record == 'Lead'">
                        <span class="px-2">New: {{mode1leadStatusToCount?.newCount ? mode1leadStatusToCount?.newCount :
                            0}}</span>
                        <span class="px-2">Live: {{mode1leadStatusToCount?.liveCount ? mode1leadStatusToCount?.liveCount
                            : 0}}</span>
                        <span class="px-2">Converted: {{mode1leadStatusToCount?.convertedCount ?
                            mode1leadStatusToCount?.convertedCount : 0}}</span>
                        <span class="px-2">Dead: {{mode1leadStatusToCount?.deadCount ? mode1leadStatusToCount?.deadCount
                            : 0}}</span>
                    </ng-container>

                    <ng-container *ngIf="this.record == 'Agent'">
                        <span class="px-2">New: {{mode1agentStatusToCount?.newCount ?
                            mode1agentStatusToCount?.newCount: 0}}</span>
                        <span class="px-2">Active: {{mode1agentStatusToCount?.activeCount?
                            mode1agentStatusToCount?.activeCount: 0 }}</span>
                        <span class="px-2">Inactive: {{mode1agentStatusToCount?.inactiveCount ?
                            mode1agentStatusToCount?.inactiveCount : 0}}</span>
                    </ng-container>
                </div>

                <mat-form-field class="flex-grow" *ngIf="this.record == 'Agent'">
                    <mat-label>Status</mat-label>
                    <mat-select required formControlName="Status">
                        <mat-option *ngFor="let s of statusType" [value]="s.value">
                            {{ s.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="flex-grow" *ngIf="this.record == 'Lead'">
                    <mat-label>Status</mat-label>
                    <mat-select required formControlName="Status">
                        <mat-option *ngFor="let s of statusTypeLead" [value]="s.value">
                            {{ s.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <div class="flex flex-col justify-end items-end mt-[-17px] mb-2">
                    <span>Count : 1</span>
                </div> -->

                <mat-form-field class="flex-grow">
                    <mat-label>No Of {{this.record == 'Agent' ? 'Agent' : 'Lead'}}</mat-label>
                    <input matInput required type="number" formControlName="noofAgent" />
                </mat-form-field>

                <mat-checkbox class="-ml-2" [color]="'primary'" formControlName="IncludeWLAgents" *ngIf="this.record == 'Agent'">
                    <span>Include WL Agents</span>
                </mat-checkbox>
            </form>

            <div class="flex flex-col justify-end items-end ">
                <div class="flex items-center ">
                    <button class="sm:mx-3 max-sm:mx-3" mat-stroked-button (click)="matDialogRef.close()">
                        <span>Cancel</span>
                    </button>
                    <button class="order-first sm:order-last" type="submit" mat-flat-button [color]="'primary'"
                        (click)="Submit()">
                        Confirm
                    </button>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Mode 2" [aria-label]="'Mode 2'">
            <form class="flex flex-col flex-auto" [formGroup]="mode2Form">
                <mat-form-field class="flex-grow" *ngIf="this.record == 'Agent'">
                    <mat-label>Status</mat-label>
                    <mat-select required formControlName="Status" (selectionChange)="mode2StatusChanged($event.value)">
                        <mat-option *ngFor="let s of statusType" [value]="s.value">
                            {{ s.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="flex-grow" *ngIf="this.record == 'Lead'">
                    <mat-label>Status</mat-label>
                    <mat-select required formControlName="Status" (selectionChange)="mode2StatusChanged($event.value)">
                        <mat-option *ngFor="let s of statusTypeLead" [value]="s.value">
                            {{ s.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="flex flex-col justify-end items-end mt-[-17px] mb-2">
                    <ng-container *ngIf="this.record == 'Lead'">
                        <span>Count: {{finalmode2statusToCount}}</span>
                    </ng-container>

                    <ng-container *ngIf="this.record == 'Agent'">
                        <span>Count: {{finalagentmode2statusToCount}}</span>
                    </ng-container>
                </div>

                <mat-form-field class="flex-grow">
                    <mat-label>To RM</mat-label>
                    <mat-select formControlName="ToId" required (selectionChange)="mode2toRMChanged($event.value)">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching employee found'" [formControlName]="'tofilter2'">
                            </ngx-mat-select-search>
                        </mat-option>
                        <ng-container *ngFor="let ct of toList2">
                            <mat-option [value]="ct">
                                {{ct.employee_name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <div class="flex flex-row justify-end items-end mt-[-17px] mb-3">
                    <ng-container *ngIf="this.record == 'Lead'">
                        <span class="px-2">New: {{mode2leadStatusToCount?.newCount ? mode2leadStatusToCount?.newCount :
                            0}}</span>
                        <span class="px-2">Live: {{mode2leadStatusToCount?.liveCount ? mode2leadStatusToCount?.liveCount
                            : 0}}</span>
                        <span class="px-2">Converted: {{mode2leadStatusToCount?.convertedCount ?
                            mode2leadStatusToCount?.convertedCount : 0}}</span>
                        <span class="px-2">Dead: {{mode2leadStatusToCount?.deadCount ? mode2leadStatusToCount?.deadCount
                            : 0}}</span>
                    </ng-container>

                    <ng-container *ngIf="this.record == 'Agent'">
                        <span class="px-2">New: {{mode2agentStatusToCountNew?.newCount ?
                            mode2agentStatusToCountNew?.newCount: 0}}</span>
                        <span class="px-2">Active: {{mode2agentStatusToCountNew?.activeCount?
                            mode2agentStatusToCountNew?.activeCount: 0 }}</span>
                        <span class="px-2">Inactive: {{mode2agentStatusToCountNew?.inactiveCount ?
                            mode2agentStatusToCountNew?.inactiveCount : 0}}</span>
                    </ng-container>
                </div>

                <mat-form-field class="flex-grow">
                    <mat-label>No Of {{this.record == 'Agent' ? 'Agent' : 'Lead'}}</mat-label>
                    <input matInput required type="number" formControlName="noofAgent" />
                </mat-form-field>

                <mat-checkbox class="-ml-2" [color]="'primary'" formControlName="IncludeWLAgents" *ngIf="this.record == 'Agent'">
                    <span>Include WL Agents</span>
                </mat-checkbox>
            </form>

            <div class="flex flex-col justify-end items-end ">
                <div class="flex items-center ">
                    <button class="sm:mx-3 max-sm:mx-3" mat-stroked-button (click)="matDialogRef.close()">
                        <span>Cancel</span>
                    </button>
                    <button class="order-first sm:order-last" type="submit" mat-flat-button [color]="'primary'"
                        (click)="Submit()">
                        Confirm
                    </button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
