<div class="flex flex-col max-w-240 md:min-w-100 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-10 px-6 bg-primary">
        <div class="text-lg font-medium text-white">File Logs</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <div class="p-6">
        <div *ngFor="let data of dataList" class="flex flex-row items-center gap-2 mb-2">
            <div class="w-2 h-2 max-w-2 min-w-2 max-h-2 min-h-2 bg-primary rounded" style="margin: 6px auto auto auto;"></div>
            <div class="flex flex-col w-full">
                <span class="text-parimary">{{data.key}}</span>
                <a class="text-blue-500 cursor-pointer" [href]="data.value" target="_blank">{{data.value}}</a>
            </div>
        </div>
    </div>

</div>