<div class="flex flex-col flex-auto min-w-0 overflow-hidden">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-5 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div class="cursor-pointer" [routerLink]="kycprofileRoute">
                    <a class="whitespace-nowrap text-primary-500">Documents</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500">{{
                        readonly ? "Detail" : record.id ? "Modify" : "Entry"
                    }}</a>
                </div>
            </div>
        </div>

        <button
            mat-raised-button
            color="primary"
            [disabled]="formGroup.invalid || disableBtn"
            (click)="submit()"
        >
            {{ btnTitle }}
        </button>
    </div>

    <div class="flex-auto px-10 xl:px-40">
        <form
            *ngIf="!readonly; else detailView"
            class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden"
            [formGroup]="formGroup"
        >
            <div class="flex flex-row space-x-3">
                <mat-form-field class="flex-grow">
                    <mat-label>Document Of</mat-label>
                    <mat-select
                        *ngIf="!readonly"
                        formControlName="document_of"
                        required
                        (selectionChange)="changeDocument()"
                    >
                        <mat-option
                            *ngFor="let ct of DocumentOfList"
                            [value]="ct"
                            >{{ ct }}</mat-option
                        >
                    </mat-select>
                    <input
                        *ngIf="readonly"
                        [readonly]="readonly"
                        matInput
                        required
                        formControlName="document_of"
                    />
                </mat-form-field>

                <mat-form-field
                    class="flex-grow"
                    [class.hidden]="
                        formGroup.get('document_of').value !== 'Agent'
                    "
                >
                    <mat-label>Agent</mat-label>
                    <mat-select
                        *ngIf="!readonly"
                        formControlName="document_of_id"
                        [compareWith]="compareWith"
                        (selectionChange)="changeKYCProfile()"
                        [required]="
                            formGroup.get('document_of').value == 'Agent'
                        "
                    >
                        <mat-option>
                            <ngx-mat-select-search
                                placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching Agent found'"
                                [formControlName]="'agentfilter'"
                            >
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                            *ngFor="let ct of AgentList | async"
                            [value]="ct"
                        >
                            <span
                                >{{ ct.code }} - {{ ct.agency_name }}
                                <span> ({{ ct.master_agent_name }})</span></span
                            >
                            <div class="-mt-2">
                                <span class="text-secondary text-sm">{{
                                    ct.email_address
                                }}</span>
                            </div></mat-option
                        >
                    </mat-select>
                    <input
                        *ngIf="readonly"
                        [readonly]="readonly"
                        matInput
                        required
                        formControlName="document_user_name"
                    />
                </mat-form-field>

                <mat-form-field
                    class="flex-grow"
                    [class.hidden]="
                        formGroup.get('document_of').value !== 'Employee'
                    "
                >
                    <mat-label>Employee</mat-label>
                    <mat-select
                        *ngIf="!readonly"
                        formControlName="document_of_id"
                        [compareWith]="compareWith"
                        (selectionChange)="changeKYCProfile()"
                        [required]="
                            formGroup.get('document_of').value == 'Employee'
                        "
                    >
                        <mat-option>
                            <ngx-mat-select-search
                                placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching employee found'"
                                [formControlName]="'empfilter'"
                            >
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                            *ngFor="let ct of employeeList | async"
                            [value]="ct"
                            >{{ ct.employee_name }}</mat-option
                        >
                    </mat-select>
                    <input
                        *ngIf="readonly"
                        [readonly]="readonly"
                        matInput
                        required
                        formControlName="document_user_name"
                    />
                </mat-form-field>

                <mat-form-field
                    class="flex-grow"
                    [class.hidden]="
                        formGroup.get('document_of').value !== 'Supplier'
                    "
                >
                    <mat-label>Supplier</mat-label>
                    <mat-select
                        *ngIf="!readonly"
                        formControlName="document_of_id"
                        [compareWith]="compareWith"
                        (selectionChange)="changeKYCProfile()"
                        [required]="
                            formGroup.get('document_of').value == 'Supplier'
                        "
                    >
                        <mat-option>
                            <ngx-mat-select-search
                                placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching supplier found'"
                                [formControlName]="'supplierfilter'"
                            >
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                            *ngFor="let ct of SupplierList | async"
                            [value]="ct"
                            >{{ ct.company_name }}</mat-option
                        >
                    </mat-select>
                    <input
                        *ngIf="readonly"
                        [readonly]="readonly"
                        matInput
                        required
                        formControlName="document_user_name"
                    />
                </mat-form-field>
            </div>
        </form>

        <ng-template #detailView>
            <div
                class="grid grid-cols-5 gap-2 mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden"
            >
                <div class="flex flex-col mb-3" *ngFor="let filed of fieldList">
                    <div class="flex flex-row space-x-2">
                        <span class="text-md font-semibold text-secondary">{{
                            filed.name
                        }}</span>
                        <mat-icon
                            *ngIf="filed.show_info"
                            [matTooltip]="filed.info_tooltip"
                            >info</mat-icon
                        >
                    </div>
                    <span
                        class="text-base truncate"
                        [matTooltip]="filed.value"
                        >{{ filed.value || "--" }}</span
                    >
                </div>
            </div>
        </ng-template>

        <div class="flex flex-col gap-2 mt-4" *ngFor="let data of DocList">
            <div class="pl-1">
                {{ data.group }}
            </div>
            <div class="grid grid-cols-4 gap-4">
                <div
                    class="bg-card flex gap-3 flex-row justify-between w-full rounded-lg p-4 border-2"
                    *ngFor="let sub of data.docs"
                >
                    <div class="flex flex-col justify-start w-full">
                        <span class="flex justify-start gap-1">
                            <span>{{ sub.document_name }}</span>
                            <span class="text-secondary text-sm self-center">{{
                                replacestar(sub.file_extentions)
                            }}</span>
                            <span class="text-secondary text-sm self-center">{{
                                sub.is_required == true
                                    ? "(Required)"
                                    : "(Optional)"
                            }}</span>
                        </span>
                        <div class="flex flex-row gap-1 text-sm">
                            <span class="text-secondary"
                                >Maximun size ({{ sub.maximum_size }}kb)</span
                            >
                        </div>
                    </div>
                    <div class="flex flex-row justify-end items-center">
                        <div class="flex flex-row gap-1">
                            <div [hidden]="true">
                                <input
                                    type="file"
                                    name="documentUpload"
                                    [accept]="replacestar(sub.file_extentions)"
                                    #document
                                    (change)="
                                        onProfileInput($event, sub, data.group)
                                    "
                                />
                            </div>
                            <button
                                type="button"
                                [matTooltip]="'Download Document'"
                                mat-icon-button
                                (click)="ShowDocument(sub)"
                                *ngIf="
                                    sub?.File?.fileName &&
                                    sub?.File?.fileName !== ''
                                "
                            >
                                <mat-icon
                                    class="text-blue-500"
                                    svgIcon="heroicons_mini:arrow-down-tray"
                                ></mat-icon>
                            </button>
                            <button
                                type="button"
                                (click)="document.click()"
                                [matTooltip]="'Upload Document'"
                                mat-icon-button
                            >
                                <mat-icon
                                    svgIcon="heroicons_mini:arrow-up-tray"
                                ></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
