<div class="flex flex-col pt-5 max-w-[1200px] min-w-[1200px] m-auto" *ngIf="record">
    <div>
        <div class="flex flex-col mb-4">
            <span class="text-2xl font-semibold">{{
                record?.product_name
                }}</span>
            <div class="font-medium flex items-center my-1">
                <span>{{ record.no_of_nights }} Nights |
                    {{ record.no_of_days }} Days</span><span
                    class="h-[6px] w-[6px] block rounded-full bg-black mx-2"></span>
                <span class="secondary-text pr-1" *ngFor="let ct of DisplayDetails.CitiesList; let index = index">({{
                    ct.no_of_night
                    }}N) in {{ ct.city }}
                    {{ index != DisplayDetails.CitiesList.length - 1 ? "|" : "" }}
                </span>
            </div>
        </div>
        <div class="images mb-10">
            <div class="img space-x-4 h-60 flex mb-4">
                <img [src]="img" class="rounded-xl w-[33%] object-fill" *ngFor="let img of getImages(0, 3)" />
            </div>
            <div class="img space-x-4 h-44 flex">
                <div *ngFor="
                        let img of getImages(3, 8);
                        let index = index
                    " class="w-[20%] h-44">
                    <img [src]="img" class="rounded-xl h-44 object-fill w-full" />
                </div>
                <div class="relative h-44 flex items-center justify-center rounded-xl w-[20%] overflow-hidden cursor-pointer"
                    [ngClass]="{
                        onshadow: getImages(8).length > 1
                    }" (click)="allImages(DisplayDetails.SecondImageList)" *ngIf="getImages(8).length > 0">
                    <img [src]="getImages(8)[0]" class="h-44 object-fill" />
                    <span *ngIf="getImages(8).length > 1" class="z-10 absolute text-xl font-semibold text-white">View
                        All</span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex w-full">
        <div class="left w-[69%] mr-[2%]">
            <div *ngIf="DisplayDetails.FixedDepatureList.length > 0"
                class="px-5 py-4 bg-card rounded-lg overflow-hidden mb-5  ">
                <div class="text-xl font-semibold pb-3 text-secondary">
                    Fixed Depature
                </div>
                <div class="flex space-x-4 overflow-y-auto">
                    <div class="p-2 border rounded-md min-w-56 cursor-pointer" [ngClass]="
                            DepatureformGroup.get('date').value.id == fl.id
                                ? 'primary-border shadow-lg'
                                : 'border-gray-border'
                        " *ngFor="let fl of DisplayDetails.FixedDepatureList" (click)="changeFixedDepature(fl)">
                        <span class="font-medium pb-2 text-lg">{{
                            fl.departure_date | date : "dd MMM yyyy EEEE"
                            }}</span>
                        <div class="flex justify-between pt-2">
                            <div class="flex flex-col">
                                <span class="text-md">Depature Time</span>
                                <span class="font-medium">{{
                                    fl.departure_date | date : "hh:mm a"
                                    }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-5 py-4 bg-card rounded-lg overflow-hidden mb-7  ">
                <div class="text-xl font-semibold pb-3 text-secondary">
                    Day Wise Itinerary
                </div>
                <div class="accordian">
                    <div class="col">
                        <div class="tabs">
                            <div class="tab pl-22 relative" *ngFor="
                                    let fl of DisplayDetails.ItineraryList;
                                    let index = index
                                ">
                                <div class="absolute left-0 top-4 flex">
                                    <div class="w-16 flex flex-col">
                                        <span class="text-primary-500 font-semibold">Day {{ fl.day_no }}</span>
                                        <span class="text-primary-500 font-medium text-xs">{{
                                            deppDate
                                            .plus({ days: index })
                                            .toFormat("dd-MM-yyyy")
                                            }}</span>
                                    </div>
                                    <span
                                        class="block w-4 h-4 primary-bg rounded-full border-2 bg-[#1e293b] border-[#365a57] outline-2 outline outline-[#365a57] ng-star-inserted"></span>
                                </div>
                                <div class="border-b border-gray-border">
                                    <input type="checkbox" [id]="'chck' + index" class="hidden"
                                        [checked]="fl.checked" />
                                    <label class="tab-label flex flex-col relative" [for]="'chck' + index">
                                        <span class="text-lg font-medium text-secondary">
                                            {{ fl.day_itinerary_highlight }}
                                        </span>
                                        <span class="font-medium pb-2 secondary-text">{{ fl.city }}</span>

                                        <mat-icon class="acc-arrow absolute right-3 top-3 text-[30px] font-light"
                                            [style.transform]="
                                                fl.checked
                                                    ? 'rotate(90deg)'
                                                    : ''
                                            ">keyboard_arrow_down</mat-icon>
                                    </label>
                                    <div class="tab-content flex space-x-4">
                                        <ngx-slick-carousel class="carousel h-48 max-w-56 min-w-56 accourdian_slide"
                                            #slickModal="slick-carousel" [config]="slideConfig" *ngIf="fl.image.length > 0">
                                            <div ngxSlickItem *ngFor="let slide of fl.image" class="slide rounded-xl">
                                                <img [src]="slide.imageUrl" alt=""
                                                    class="min-h-48 max-h-48 max-w-56 min-w-56 rounded-xl" />
                                            </div>
                                        </ngx-slick-carousel>
                                        <div class="secondary-text" style="white-space: pre-line"
                                            [innerHTML]="fl.day_itinerary"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="DisplayDetails.FlightsList.length > 0" class="py-4 bg-card rounded-lg overflow-hidden mb-7  ">
                <div class="text-xl font-semibold px-4 pb-3 text-secondary border-b">
                    Flight
                </div>
                <div class="w-full relative">
                    <div>
                        <div class="flex flex-col" *ngFor="
                                    let dts of DisplayDetails.FlightsList;
                                    let index = index
                                ">
                            <div
                                class="bg-primary my-3 text-lg text-white py-2 pl-8 pr-6 ml-[-20px] w-fit rounded-full">
                                {{ dts?.key }}
                            </div>
                            <div class="rounded-xl mx-5 px-4 pt-3 pb-1 border border-gray-border relative mb-3"
                                *ngFor="let dt of dts.value">
                                <div class="pb-4">
                                    Flight from {{ dt?.departure_city}} to
                                    {{ dt?.arrival_city }}
                                    <span class="font-semibold">{{
                                        dt?.duration
                                        }}</span>
                                </div>
                                <div class="flex justify-between items-center w-full">
                                    <div class="flex items-center w-[30%]">
                                        <img class="w-8 h-8 object-contain mr-3" [src]="dt?.logo" alt="" />
                                        <div>
                                            <div class="font-semibold text-lg">
                                                {{ dt?.airline_name }}
                                            </div>
                                            <!-- <div class="secondary-text">6E - X - 5317</div> -->
                                        </div>
                                    </div>
                                    <div class="flex justify-between items-center w-[70%] pr-10">
                                        <div class="flex flex-col w-[110px]">
                                            <span class="font-semibold text-xl">{{
                                                dt?.departure_airport_code
                                                }}</span>
                                            <span class="text-sm font-medium">{{
                                                dt?.departure_date_time
                                                | date : "hh:mma"
                                                }}</span>
                                            <span class="secondary-text text-sm">{{
                                                dt?.departure_date_time
                                                | date
                                                : "ccc, dd MMM"
                                                }}</span>
                                        </div>
                                        <div class="flex flex-col gap-2">
                                            <div class="min-w-30 justify-center text-sm flex">
                                                {{ dt?.duration }}
                                            </div>
                                            <div class="flex mx-7 items-center z-[1]">
                                                <span
                                                    class="block w-2 h-2 primary-bg rounded-full border border-white outline-1 outline outline-[#234977] ng-star-inserted"></span>
                                                <span
                                                    class="border-dashed border-b border-gray-border min-w-30 relative flex justify-center items-center">
                                                    <mat-icon
                                                        class="absolute top-[-11px] rotate-90 orange-text z-10">flight</mat-icon>
                                                </span>
                                                <span
                                                    class="block w-2 h-2 primary-bg rounded-full border border-white outline-1 outline outline-[#234977] ng-star-inserted"></span>
                                            </div>
                                            <div class="min-w-30 justify-center text-sm flex h-[18px!]"></div>
                                        </div>

                                        <div class="flex flex-col w-[150px]">
                                            <span class="font-semibold text-xl">{{
                                                dt?.arrival_airport_code
                                                }}</span>
                                            <span class="text-sm font-medium">{{
                                                dt?.arrival_date_time
                                                | date : "hh:mma"
                                                }}</span>
                                            <span class="secondary-text text-sm">{{
                                                dt?.arrival_date_time
                                                | date
                                                : "ccc, dd MMM"
                                                }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex justify-between items-center pb-1 pt-2">
                                    <div class="flex items-center">
                                        <div class="flex items-center">
                                            <mat-icon
                                                class="secondary-text material-symbols-outlined icon-size-4">luggage</mat-icon>
                                            <span class="secondary-text text-md font-medium leading-none pt-1">{{
                                                dt?.checkin_baggage
                                                }}</span>
                                        </div>
                                        <div class="flex items-center ml-2 mr-4">
                                            <mat-icon
                                                class="secondary-text material-symbols-outlined icon-size-4">local_mall</mat-icon>
                                            <span class="secondary-text text-md pl-1 font-medium leading-none pt-1">{{
                                                dt?.cabin_baggage
                                                }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="DisplayDetails.HotelsList.length > 0" class=" py-4 bg-card rounded-lg overflow-hidden mb-7  ">
                <div class="text-xl font-semibold px-4 pb-3 text-secondary border-b">
                    Hotel
                </div>
                <div class="w-full relative">
                    <div>
                        <div *ngFor="let htf of DisplayDetails.HotelsList; let index = index">
                            <div
                                class="bg-primary my-3 text-lg text-white py-2 pl-8 pr-6 ml-[-20px] w-fit rounded-full">
                                {{ htf.key }}
                            </div>
                            <div class="mx-5 px-4 pt-3 pb-1 relative" *ngFor="let ht of htf.value">
                                <div class="flex space-x-4">
                                    <!-- <div>
                                            <img src="assets/images/temp_images/holiday/goa.jpg"
                                                class="object-cover w-52 rounded-lg" alt="">
                                        </div> -->

                                    <div class="tab-content flex space-x-4">
                                        <ngx-slick-carousel class="carousel h-40 max-w-56 min-w-56"
                                            #slickModal="slick-carousel" [config]="slideConfig">
                                            <!-- <div ngxSlickItem *ngFor="
                                                        let slide of ht.images
                                                    " class="slide rounded-xl">
                                                    <div *ngIf="
                                                            ht.images.length > 0
                                                        ">
                                                        <img [src]="slide" alt=""
                                                            class="min-h-48 max-h-48 max-w-56 min-w-56 rounded-xl" />
                                                    </div>
                                                </div> -->

                                            <div *ngIf="ht.images.length === 0">
                                                <img class="min-h-40 max-h-40 max-w-56 min-w-56 rounded-xl" [src]="
                                                            'assets/icons/hotel.svg'
                                                        " alt="" />
                                            </div>
                                        </ngx-slick-carousel>
                                    </div>

                                    <div class="flex flex-col w-[calc(100%-235px)]">
                                        <div class="flex items-center">
                                            <span class="text-2xl font-semibold mr-3">{{ ht.inclusion }}</span>
                                            <div *ngFor="let star of getStar(ht.star_rating)">
                                                <mat-icon class="mr-[2px] text-[#FFC24A] icon-size-5">star</mat-icon>
                                            </div>
                                        </div>
                                        <div class="text-sm secondary-text">{{ht.hotel_address}}</div>
                                        <div class="flex flex-row space-x-2 items-center py-1">
                                            <mat-icon class="icon-size-4 text-white"
                                                svgIcon="mat_outline:calendar_today"></mat-icon>
                                            <span class="secondary-text">{{ht.fromDate}} - {{ht.toDate}}</span>
                                            <span class="secondary-text"> | Nights: {{ht.no_of_nights}}</span>
                                        </div>
                                        <div class="dark:dark bg-gray-200 p-3 rounded-lg mt-2">
                                            <div class="font-semibold">Room Type: {{ht.room_category}}</div>
                                            <span class="mb-1 text-sm block font-medium">Meal Plan: {{ ht.meal_plan
                                                }}</span>
                                            <!-- <div class="font-semibold">Description:</div> -->
                                            <span class="flex flex-row">
                                                <span class="text-sm font-medium">
                                                    {{ ht.description}}</span>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="DisplayDetails.TransferList.length > 0" class="py-4 bg-card rounded-lg overflow-hidden mb-7  ">
                <div class="text-xl font-semibold px-4 pb-3 text-secondary border-b">
                    Transport
                </div>
                <div class="w-full relative">

                    <div class="overflow-y-auto">
                        <div *ngFor="
                                    let dtg of DisplayDetails.TransferList;
                                    let index = index
                                " class="flex flex-col gap-4">
                            <div
                                class="bg-primary my-3 text-lg text-white py-2 pl-8 pr-6 ml-[-20px] w-fit rounded-full">
                                {{ dtg.key }}
                            </div>
                            <div class="mx-5 px-4 pt-1 pb-1 relative" *ngFor="let dt of dtg.value">
                                <div class="flex flex-row">
                                    <img src="/assets/icons/cari.png" class="h-24 w-44 object-contain" />
                                    <div class="flex flex-col pl-12">
                                        <span class="font-semibold text-lg">{{ dt.inclusion }}</span>
                                        <span class="pt-1">{{ dt.description }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="DisplayDetails.ActivityList.length > 0" class="py-4 bg-card rounded-lg overflow-hidden mb-7  ">
                <div class="text-xl font-semibold px-4 pb-3 text-secondary border-b">
                    Activity
                </div>

                <div class="w-full relative">

                    <div class="overflow-y-auto">
                        <div class="flex flex-col gap-4"
                            *ngFor="let actg of DisplayDetails.ActivityList;let index = index">
                            <div
                                class="bg-primary my-3 text-lg text-white py-2 pl-8 pr-6 ml-[-20px] w-fit rounded-full">
                                {{ actg.key }}
                            </div>
                            <div class="mx-5 px-4 pt-3 pb-1 relative" *ngFor="let act of actg.value">
                                <div class="flex items-start">
                                    <div class="tab-content flex space-x-4">
                                        <ngx-slick-carousel class="carousel h-24 max-w-40 min-w-40"
                                            #slickModal="slick-carousel" [config]="slideConfig">
                                            <!-- <div ngxSlickItem *ngFor="
                                                        let slide of act.images
                                                    " class="slide rounded-xl">
                                                    <div *ngIf="
                                                            act.images.length >
                                                            0
                                                        ">
                                                        <img [src]="slide" alt=""
                                                            class="min-h-40 max-h-40 max-w-50 min-w-50 rounded-xl" />
                                                    </div>
                                                </div> -->

                                            <div *ngIf="act.images.length === 0">
                                                <img class="min-h-10 max-h-10 max-w-40 min-w-40 rounded-xl"
                                                    [src]="'assets/icons/hiking.svg'" alt="" />
                                            </div>
                                        </ngx-slick-carousel>
                                    </div>

                                    <div class="pl-6">
                                        <span class="text-xl font-semibold block">{{ act.inclusion }}</span>
                                        <span class="secondary-text pt-3 block">{{ act.description }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- <div *ngIf="DisplayDetails.OtherInclusionList.length > 0"
                class="py-4 bg-card rounded-lg overflow-hidden mb-7  ">
                <div class="text-xl font-semibold px-4 pb-3 text-secondary border-b">
                    Other
                </div>
                <div class="w-full relative">

                    <div class="flex flex-col overflow-y-auto">
                        <div class="flex flex-col" *ngFor="let act of DisplayDetails.OtherInclusionList">
                            <div class="bg-primary my-3 text-lg text-white py-2 pl-8 pr-6 ml-[-20px] w-fit rounded-full">
                                {{ act.key }}
                            </div>
                            <div *ngFor="let inc of act.value" class="flex flex-col mx-5 px-4 pt-2 pb-1 space-y-1">
                                <div class="text-lg font-semibold">{{ inc.inclusion }}</div>
                                <div class="secondary-text">{{ inc.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div *ngIf="DisplayDetails.CommonInclusionsList"
                class="flex flex-col  bg-card rounded-lg overflow-hidden mb-7  ">
                <div class="pt-4 px-5">

                    <div class="text-xl font-semibold pb-2 text-secondary">
                        Inclusions
                    </div>
                    <div *ngFor="let ex of DisplayDetails.CommonInclusionsList">
                        <span class="flex py-[2px] text-lg"><span
                                class="min-h-[7px] min-w-[7px] max-h-[7px] max-w-[7px] block rounded-full bg-white mx-2 mt-[10px]"></span><span
                                class="secondary-text pl-2">{{ ex.inclusion }}</span></span>
                    </div>
                </div>

                <div class="w-full relative pb-4">
                    <div class="flex flex-col overflow-y-auto">
                        <div class="flex flex-col" *ngFor="let act of DisplayDetails.OtherInclusionList">
                            <div
                                class="bg-primary my-3 text-lg text-white py-2 pl-8 pr-6 ml-[-20px] w-fit rounded-full">
                                {{ act.key }}
                            </div>
                            <div *ngFor="let inc of act.value" class="flex flex-col mx-5 px-4 pt-2 pb-1 space-y-1">
                                <div class="text-lg font-semibold">{{ inc.inclusion }}</div>
                                <div class="secondary-text">{{ inc.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col py-4 px-5 bg-card rounded-lg overflow-hidden mb-7  ">
                <div class="text-xl font-semibold pb-2 text-secondary">
                    Exclusions
                </div>
                <div *ngFor="let ex of DisplayDetails.ExclusionsList">
                    <span class="flex py-[2px] text-lg"><span
                            class="min-h-[7px] min-w-[7px] max-h-[7px] max-w-[7px] block rounded-full bg-white mx-2 mt-[10px]"></span><span
                            class="secondary-text pl-2">{{ ex.exclusion }}</span></span>
                </div>
            </div>

            <div class="flex flex-col py-4 px-5 bg-card rounded-lg overflow-hidden mb-7  "
                *ngIf="DisplayDetails.TermsAndConditionsList.lenght > 0">
                <div class="text-xl font-semibold pb-2 text-secondary">
                    Terms & Conditions
                </div>
                <div *ngFor="let te of DisplayDetails.TermsAndConditionsList">
                    <span class="flex py-[2px] text-lg"><span
                            class="min-h-[7px] min-w-[7px] max-h-[7px] max-w-[7px] block rounded-full bg-white mx-2 mt-[10px]"></span><span
                            class="secondary-text pl-2">{{ te.special_note }}</span></span>
                </div>
            </div>
        </div>
        <div class="right w-[29%]">
            <div class="py-4 bg-card rounded-lg overflow-hidden mb-7  ">
                <div class="text-xl mx-5 font-semibold pb-2 text-secondary">
                    Booking Process
                </div>

                <form [formGroup]="DepatureformGroup">
                    <div class="p-3 dark:dark bg-gray-200 text-primary-500 primary-border my-3 mx-5 rounded-xl border">
                        <span class="text-black dark:text-primary-500">Select your date</span>
                        <mat-select *ngIf="DisplayDetails.FixedDepatureList.length > 0"
                            (selectionChange)="changeFixedDepature($event.value)" class="font-semibold text-lg"
                            formControlName="date">
                            <mat-option *ngFor="let fl of DisplayDetails.DateList" [value]="fl">
                                <div class="font-semibold text-base">
                                    {{
                                    fl.departure_date
                                    | date : "dd MMM yyyy EEEE"
                                    }}
                                </div>
                            </mat-option>
                        </mat-select>
                        <div class="w-full flex items-center justify-between"
                            *ngIf="DisplayDetails.FixedDepatureList.length < 1">
                            <input class="w-full font-semibold text-lg" matInput [matDatepicker]="picker"
                                [min]="minDate" (click)="picker.open()" formControlName="depDate" required
                                (dateChange)="depDates()" readonly />
                            <mat-datepicker-toggle matSuffix [for]="picker"
                                class="text-primary-500"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </div>
                </form>

                <div (click)="editPax()"
                    class="flex flex-row items-center justify-between p-3 dark:dark bg-gray-200 primary-border my-3 mx-5 rounded-xl border cursor-pointer">
                    <div class="flex flex-col">
                        <span class=" text-black dark:text-primary-500">Pax</span>
                        <span class="text-lg text-primary-500 font-semibold">{{adult}} Adults, {{child}}
                            Child</span>
                    </div>
                    <div class="text-primary-500 font-semibold">Edit</div>
                </div>

                <div class="border-t-2 border-border-gray-border mt-5">
                    <div class="mx-5 flex items-center justify-between py-2">
                        <div class="text-primary-500 text-lg font-medium">
                            Total Amount:
                        </div>
                        <div class="text-right">
                            <div class="font-semibold text-primary-500 text-xl">
                                {{record.currency}} {{ ((record.purchase_price / record.total_pax) ||
                                0).toFixed(0)}}
                            </div>
                            <div class="text-secondary -m-1 text-sm mr-1">
                                Per Person
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="mx-5 mt-3">
                    <button mat-flat-button style="border: 1px solid #0d9488;"
                        class=" w-full min-h-13 rounded-lg  space-x-2"
                        (click)="downloadQuotation()">
                        <mat-icon svgIcon="heroicons_outline:arrow-down-tray" class="text-green-500"></mat-icon>
                        <span class="text-primary-500 font-semibold text-lg">Download Quotation</span>
                    </button>
                </div>

                <div class="mx-5 mt-3">
                    <button class="bg-primary rounded-md py-4 fuse-mat-button-large px-7 w-full" (click)="bookNow()">
                        <span class="text-white text-lg tracking-wide font-semibold">BOOK NOW</span>
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</div>