<div class="flex flex-col flex-auto min-w-0 overflow-hidden">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-5 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div class="cursor-pointer" [routerLink]="flightRoute">
                    <a class="whitespace-nowrap text-primary-500">Flight Details</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Details</a>
                </div>
            </div>
        </div>

        <button mat-raised-button color="primary" (click)="close()">
            Close
        </button>
    </div>

    <div class="m-8">
        <div class="m-auto max-w-[1200px]">
            <div class="pb-2 primeng-alert" *ngIf="mainDataAll && mainDataAll.another_flight_code">
                <p-messages severity="info">
                    <ng-template pTemplate>
                        <div class="ml-2 flex items-center font-semibold text-[14px] leading-5">
                            <mat-icon svgIcon="heroicons_outline:information-circle" class="pr-1"></mat-icon>
                            This booking is associated with {{mainDataAll?.another_flight_sagement}} on
                            {{mainDataAll?.another_flight_departure_date | date: 'dd-MM-yyyy HH:mm:ss'}} PNR :
                            {{mainDataAll?.another_flight_pnr}}
                        </div>
                        <button mat-raised-button (click)="viewData(mainDataAll)">View</button>
                    </ng-template>
                </p-messages>
            </div>

            <div class="pb-2 primeng-alert" *ngIf="mainDataAll && mainDataAll?.insurance_id">
                <p-messages severity="info">
                    <ng-template pTemplate>
                        <div class="ml-2 flex items-center font-semibold text-[14px] leading-5">
                            <mat-icon svgIcon="heroicons_outline:information-circle" class="pr-1"></mat-icon>
                            This booking is associated with Insurance {{mainDataAll?.insurance_ref_no}}
                        </div>
                        <button mat-raised-button (click)="goToData()">View</button>
                    </ng-template>
                </p-messages>
            </div>

            <div class="mb-6 flex ">
                <div class="w-2/3 bg-card rounded-2xl p-6 h-fit">
                    <div>
                        <div class="flex flex-col gap-2.5 mb-3 w-full">
                            <div class="flex gap-2 justify-end w-full">
                                <!-- <button *ngIf="mainData?.payment_method == 'Online' && mainData?.payment_method == 'Online'" class="text-default font-normal px-4 py-1 rounded-[14px] bg-[#0D9488]" (click)="checkStatus()">
                                    <span class="text-white">Check Status</span>
                                </button> -->
                                <div *ngIf="Status === 'Confirmed'"
                                    class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(1,175,71,0.1)] flex items-center border green-border">
                                    <mat-icon class="green-text text-2xl">check_circle</mat-icon>
                                    <span class="text-md font-semibold ml-2 leading-none">Your Ticket is
                                        Confirmed</span>
                                </div>
                                <div *ngIf="Status === 'Pending' || Status === 'Waiting for Payment' || Status === 'Confirmation Pending' || Status === 'Offline Pending'"
                                    class="pl-2 pr-3 py-1 rounded-lg  flex items-center border light-border">
                                    <mat-icon class="secondary-text text-2xl">watch_later</mat-icon>
                                    <span class="text-md font-semibold ml-2 leading-none theme-black-text">Your Ticket
                                        Process is Pending</span>
                                </div>
                                <div *ngIf="Status === 'Payment Failed'"
                                    class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border bonton-red-border">
                                    <mat-icon class="text-2xl bonton-red-text">warning</mat-icon>
                                    <span class="text-md font-semibold ml-2 leading-none">Your Ticket is Failed</span>
                                </div>
                                <div *ngIf="Status === 'Booking Failed' || Status === 'Cancelled' || Status === 'Partially Cancelled' || Status === 'Hold' || Status === 'Hold Released' "
                                    class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border bonton-red-border">
                                    <mat-icon class="text-2xl bonton-red-text">warning</mat-icon>
                                    <span class="text-md font-semibold ml-2 leading-none">Your Ticket is
                                        {{Status}}</span>
                                </div>
                                <div *ngIf="Status === 'Rejected'"
                                    class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border bonton-red-border">
                                    <mat-icon class="text-2xl bonton-red-text">warning</mat-icon>
                                    <span class="text-md font-semibold ml-2 leading-none">Your Ticket is Rejected
                                    </span>
                                </div>
                                 <div *ngIf="Status === 'Hold Failed'"
                                    class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border bonton-red-border">
                                    <mat-icon class="text-2xl bonton-red-text">warning</mat-icon>
                                    <span class="text-md font-semibold ml-2 leading-none">Hold Failed</span>
                                </div>
                                <!-- <div *ngIf="Status === 'Partially Cancelled'"
                                    class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border bonton-red-border">
                                    <mat-icon class="text-2xl bonton-red-text">warning</mat-icon>
                                    <span class="text-md font-semibold ml-2 leading-none">Your Ticket is
                                        {{Status}}</span>
                                </div>
                                <div *ngIf="Status === 'Hold'"
                                    class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(99,77,228,0.1)] flex items-center border bonton-red-border">
                                    <mat-icon class="text-2xl bonton-red-text">warning</mat-icon>
                                    <span class="text-md font-semibold ml-2 leading-none">Your Ticket is
                                        {{Status}}</span>
                                </div> -->
                            </div>
                            <div class="flex">

                                <div *ngIf="mainDataAll?.is_print_button_show"
                                    class="px-2 py-1 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer"
                                    (click)="print('agent')">
                                    <div>
                                        <img src="assets/icons/voucher.svg" alt="">
                                    </div>
                                    <span class="text-md leading-none ml-2">Voucher</span>
                                </div>

                                <div *ngIf="mainDataAll?.is_invoice_button_show" [matMenuTriggerFor]="optionMenu" 
                                    class="px-2 py-1 mx-2 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer"
                                    >
                                    <mat-icon class="material-symbols-outlined secondary-text text-xl">print</mat-icon>
                                    <span  class="text-md leading-none ml-2">Invoice</span>
                                </div>
                                <mat-menu #optionMenu>
                                    <button mat-menu-item (click)="invoice('INR')">
                                        <!-- <mat-icon class="mat-18">info</mat-icon> -->
                                        <span style="font-weight: 600">Invoice 1</span>
                                    </button>
                                    <button mat-menu-item (click)="invoice('DMCC')">
                                        <!-- <mat-icon class="mat-18">info</mat-icon> -->
                                        <span style="font-weight: 600">Invoice 2</span>
                                    </button>
                                </mat-menu>
                                <!-- *ngIf="Status === 'Confirmed'" -->
                                <div class="flex space-x-3 mr-2">
                                    <div (click)="amendment()"
                                        class="px-2 py-1 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer">
                                        <div>
                                            <img src="assets/icons/amendment.svg" alt="">
                                        </div>
                                        <span class="text-md leading-none ml-2">Amendment</span>
                                    </div>
                                </div>

                                <div class="px-2 py-1 mr-2 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer "
                                    (click)="logs()">
                                    <div>
                                        <img src="assets/icons/logs.svg" alt="">
                                    </div>
                                    <span class="text-md leading-none ml-2">Logs</span>
                                </div>

                                <div class="px-2 py-1 mr-2 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer "
                                    (click)="fileLogs()">
                                    <div>
                                        <img src="assets/icons/logs.svg" alt="">
                                    </div>
                                    <span class="text-md leading-none ml-2">File Logs</span>
                                </div>
                                
                                <div class="px-2 py-1 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer"
                                    (click)="fareRules()" *ngIf="mainDataAll && mainDataAll?.is_farerule_show">
                                    <div>
                                        <img src="assets/icons/logs.svg" alt="">
                                    </div>
                                    <span class="text-md leading-none ml-2">Fare Rules</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Booking By--->
                    <div class="border rounded-2xl overflow-hidden mb-5">
                        <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px] text-lg">Booking By</div>
                        <div class="grid p-5 xl:grid-cols-3 grid-cols-2 gap-4 overflow-hidden  ">
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Agent Name</span>
                                <div class="truncate">
                                    <span class="text-base truncate cursor-pointer border-b border-gray-500"
                                        (click)="agentInfo(mainDataAll)"
                                        [matTooltip]="bookingBy?.agent_name">{{bookingBy?.agent_name || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Type</span>
                                <div class="truncate">
                                    <span class="text-base truncate" [matTooltip]="bookingBy?.type">{{bookingBy?.type ||
                                        ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Agent Contact Number</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="bookingBy?.agent_contact">{{bookingBy?.agent_contact || '
                                        -'}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Agent Email</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="bookingBy?.agent_email">{{bookingBy?.agent_email || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">RM</span>
                                <div class="truncate">
                                    <span class="text-base truncate" [matTooltip]="bookingBy?.rm">{{bookingBy?.rm || '
                                        -'}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">B2B Partner</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [ngClass]="bookingBy?.b2b_partner ? 'cursor-pointer border-b border-gray-500' : ''"
                                        [matTooltip]="bookingBy?.b2b_partner"
                                        (click)="bookingBy?.b2b_partner ? B2BPartnerInfo() : null">{{bookingBy?.b2b_partner
                                        || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">B2C Customer</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="bookingBy?.b2c_customer">{{bookingBy?.b2c_customer || '
                                        -'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Booking Details--->
                    <div class="border rounded-2xl overflow-hidden mb-5">
                        <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px] text-lg">Booking Details</div>
                        <div class="grid p-5 xl:grid-cols-3 grid-cols-2 gap-4 overflow-hidden  ">
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Reference Number</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.booking_ref_no">{{mainDataAll?.booking_ref_no || '
                                        -'}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PNR</span>
                                <div class="truncate flex gap-2">
                                    <span class="text-base truncate" [matTooltip]="mainDataAll?.pnr">{{mainDataAll?.pnr
                                        || ' - '}}</span>
                                    <img class="w-4 cursor-pointer" (click)="pnr(mainDataAll,'PNR')"
                                        src="assets/icons/edit.svg" alt="">
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">GDS PNR</span>
                                <div class="truncate flex gap-2">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.gds_pnr">{{mainDataAll?.gds_pnr || ' - '}}</span>
                                    <img (click)="pnr(mainDataAll,'GDS PNR')" class="w-4 cursor-pointer"
                                        src="assets/icons/edit.svg" alt="">
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Booking Date</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.bookingDate">{{(mainDataAll?.bookingDate | date:
                                        'dd-MM-yyyy HH:mm:ss') || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Departure Date</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.departuteDate">{{(mainDataAll?.departuteDate | date:
                                        'dd-MM-yyyy HH:mm:ss') || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Supplier</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.supplier_name">{{mainDataAll?.supplier_name
                                        || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Supplier Ref. No.</span>
                                <div class="truncate flex gap-2">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.supplier_ref_no">{{mainDataAll?.supplier_ref_no
                                        || ' - '}}</span>
                                    <img (click)="pnr(mainDataAll,'Supplier Ref. No.')" class="w-4 cursor-pointer"
                                        src="assets/icons/edit.svg" alt="">
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">From</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.from_code">{{mainDataAll?.from_code || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">To</span>
                                <div class="truncate">
                                    <span class="text-base truncate" [matTooltip]="mainDataAll?.to">{{mainDataAll?.to ||
                                        ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Trip Type / Fare Type</span>
                                <div class="truncate flex gap-2">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.tripType">{{mainDataAll?.tripType || ' - '}} /
                                    </span><span
                                        [ngClass]="mainDataAll?.fareType == 'Refundable' ? 'text-green-600':'text-red-600'"
                                        [matTooltip]="mainDataAll?.fareType">{{mainDataAll?.fareType || ' - '}}</span>
                                    <img class="w-4 cursor-pointer" src="assets/icons/edit.svg" alt=""
                                        (click)="refundable(mainDataAll)">
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Travel Type</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.travel_type">{{mainDataAll?.travel_type
                                        || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Cabin</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.cabin_class">{{mainDataAll?.cabin_class
                                        || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Pax</span>
                                <div class="truncate flex  gap-2">
                                    <span class="text-base truncate" [matTooltip]="mainDataAll?.pax">{{mainDataAll?.pax
                                        || ' - '}}
                                    </span>
                                </div>

                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Device</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.device">{{mainDataAll?.device || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">IP Address</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainDataAll?.ip_address">{{mainDataAll?.ip_address
                                        || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Booking From</span>
                                <div class="truncate">
                                    <span class="text-base truncate">{{mainDataAll?.is_manual_entry ? 'Import' :
                                        'Online'}}</span>
                                </div>
                            </div>

                            <div class="flex flex-col" *ngIf="Status === 'Hold' || Status === 'Hold Released'">
                                <span class="text-md font-semibold text-secondary">Hold Expiry Date</span>
                                <div class="truncate">
                                    <span class="text-base truncate">{{mainDataAll?.hold_ticket_expiry}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Payment--->
                    <div class="border rounded-2xl overflow-hidden mb-5">
                        <div class="dark:bg-[#364459] bg-gray-200 px-5 py-[10px]  justify-between flex items-center">
                            <span class="text-lg">Payment</span>
                            <!-- <button (click)="refund()"
                                *ngIf="Status === 'Payment Failed' || Status === 'Rejected' || Status === 'Booking Failed'"
                                class="text-default font-normal px-4 py-1 rounded-[14px] bg-[#0D9488]">
                                <span class="text-white">Refund</span>
                            </button> -->
                        </div>
                        <div class="grid p-5 xl:grid-cols-3 grid-cols-2 gap-4 overflow-hidden  ">
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">MOP</span>
                                <div class="truncate">
                                    <span class="text-base truncate" [matTooltip]="paymentBy?.mop">{{paymentBy?.mop || '
                                        - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Wallet</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.wallet">{{paymentBy?.wallet || ' 0 '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Amount</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_amount">{{paymentBy?.pg_amount || ' 0 '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Charges</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_charge">{{paymentBy?.pg_charge ?
                                        paymentBy?.pg_charge.toFixed(2) : ' 0 ' }}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Settlement</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_settlement">{{paymentBy?.pg_settlement ?
                                        paymentBy?.pg_settlement.toFixed(2) : ' 0 ' }}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Name</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_name">{{paymentBy?.pg_name || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Ref.No</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_ref_no">{{paymentBy?.pg_ref_no || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Payment Method</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_payment">{{paymentBy?.pg_payment || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Status</span>
                                <div class="truncate flex gap-2">
                                    <span class="text-base truncate"
                                        [ngClass]="paymentBy?.pg_status == 'Confirm' ? 'text-green-500' : 'text-red-500'"
                                        [matTooltip]="paymentBy?.pg_status">{{paymentBy?.pg_status || ' - '}}</span>
                                    <img *ngIf="mainDataAll?.payment_method == 'Online' || mainDataAll?.payment_method == 'Partial'"
                                        (click)="checkStatus()" class="w-5 cursor-pointer"
                                        src="assets/icons/refresh.svg" alt="" matTooltip="Check Status">
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">PG Error</span>
                                <div class="truncate">
                                    <span class="text-base truncate"
                                        [matTooltip]="paymentBy?.pg_error">{{paymentBy?.pg_error || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Refund Status</span>
                                <div class="truncate">
                                    <span class="text-base truncate" [matTooltip]="paymentBy?.refund_status">
                                        {{paymentBy?.refund_status || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Refund Amount</span>
                                <div class="truncate">
                                    <span class="text-base truncate">{{paymentBy?.refund_amount || ' 0 '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Refund Date Time</span>
                                <div class="truncate">
                                    <span class="text-base truncate">{{(paymentBy?.refund_datetime |
                                        date:'dd-MM-yyyy HH:mm:ss') || ' - '}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Refund Reason</span>
                                <div class="truncate">
                                    <span class="text-base truncate" [matTooltip]="paymentBy?.refund_reason">
                                        {{paymentBy?.refund_reason || ' - '}}</span>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="" *ngIf="segmentList.length > 0">
                        <!-- segmentList[i].isReturn && !segmentList[i-1]?.isReturn? 'mt-5':'mt-[-1px]' -->
                        <div [ngClass]="(segmentList[i].isReturn && !segmentList[i-1]?.isReturn) || (segmentList[i-1]?.trip_indicator !== segmentList[i]?.trip_indicator)? 'mt-5':'mt-[-1px]'"
                            class="rounded-xl border border-gray-border relative "
                            *ngFor="let segment of segmentList; let i = index; let last = last">
                            <div class="rounded-xl relative"
                                [ngClass]="segment.cancelled === 2? 'border bonton-red-border bg-[rgba(255,0,0,0.11)]':'border border-[#0f172a99]-border'">
                                <div class="relative flex pt-5 px-5 pb-7 border-b border-dashed border-gray-border">
                                    <div class="flex  items-center mr-6">
                                        <div class="absolute right-3 top-3"
                                            *ngIf="segmentList[i-1]?.trip_indicator !== segmentList[i]?.trip_indicator">
                                            <span [matTooltip]="getTooltip(segment.remark)"
                                                [matTooltipClass]="'custom-tooltip'" *ngIf="segment.cancelled === 1"
                                                class="px-2 py-[2px] rounded-sm text-orange-500 bg-[#0f172a] flex items-center border orange-border orange-text text-xs font-semibold">Partially
                                                Cancelled</span>
                                            <span [matTooltip]="getTooltip(segment.remark)"
                                                [matTooltipClass]="'custom-tooltip'" *ngIf="segment.cancelled === 2"
                                                class="px-2 py-[2px] rounded-sm text-red-500 bg-[#0f172a] flex items-center border bonton-red-border bonton-red-text text-xs font-semibold">Cancelled</span>
                                        </div>
                                        <img class="w-12 h-12 object-contain mr-3" [src]="segment.airline_logo"
                                            alt="Logo">

                                        <div>
                                            <div class=" text-md font-medium">{{segment.airlineName}}</div>
                                            <div class="text-sm font-medium">{{segment.airlineCode}}
                                                -{{segment.flightNumber}}</div>
                                        </div>
                                    </div>
                                    <div class="border-r border-gray-border h-full w-1"></div>
                                    <div class="pl-6">
                                        <div class="flex items-center">
                                            <span class="font-semibold text-lg flex items-end">
                                                <span class="text-secondary">{{segment.originAirportCode}}</span>
                                                <mat-icon class="text-default mx-3 text-2xl">arrow_forward</mat-icon>
                                                <span class="text-secondary">{{segment.destinationAirportCode}}</span>
                                            </span>
                                            <span class="secondary-text pl-5">
                                                {{segment.depTime | date: 'EEE, dd MMM yy'}}
                                            </span>
                                            <mat-icon *ngIf="Status != 'Cancelled'" svgIcon="heroicons_solid:pencil"
                                                class="ml-2 min-h-4 h-4 w-4 cursor-pointer hover:text-gray-500"
                                                (click)="segmentChange(segment, 'Edit')"></mat-icon>
                                            <mat-icon *ngIf="segment.layover != '' && Status != 'Cancelled'"
                                                svgIcon="heroicons_solid:trash"
                                                class="ml-2 min-h-4 h-4 w-4 cursor-pointer hover:text-gray-500"
                                                (click)="segmentDelete(segment)"></mat-icon>
                                        </div>
                                        <!-- <div class="light-text text-md pt-1">{{flightData.oneway.airlineRemark}}</div>  -->
                                    </div>
                                </div>
                                <div class="pt-6 px-7 pb-5 flex items-center">
                                    <div class="flex items-center w-full">
                                        <div class="flex flex-col">
                                            <span class="text-xl font-semibold text-secondary">{{segment.depTime |
                                                date:'HH:mm' }}</span>
                                            <span class="text-md font-medium">
                                                {{segment.depTime | date: 'EEE, dd MMM yy'}}
                                            </span>
                                            <span class="text-md primary-text font-medium"
                                                *ngIf="segment.originTerminal">{{segment.originTerminal}} -
                                                {{segment.originAirportName}}, {{segment.originCityName}}</span>
                                        </div>
                                        <div class="flex mx-7 items-center z-[1] min-w-[45%] relative">
                                            <span
                                                class="block w-2 h-2 primary-bg rounded-full border border-white outline-1 outline outline-[#234977] ng-star-inserted"></span>
                                            <span
                                                class="border-dashed border-b border-gray-border min-w-[95%] relative flex justify-center items-center">
                                                <mat-icon
                                                    class="absolute top-[-11px] rotate-90 orange-text z-10">flight</mat-icon>
                                            </span>
                                            <span
                                                class="block w-2 h-2 primary-bg rounded-full border border-white outline-1 outline outline-[#234977] ng-star-inserted"></span>
                                            <div
                                                class="absolute w-full flex flex-col items-center h-[70px] justify-around text-xs">
                                                <span class="secondary-text font-medium">{{segment.duration}}</span>
                                                <span class="secondary-text font-medium">{{segment.cabinClass}}</span>
                                            </div>
                                        </div>
                                        <div class="flex flex-col">
                                            <span class="text-xl font-semibold text-secondary">{{segment.arrTime |
                                                date:'HH:mm'}}</span>
                                            <span class="text-md font-medium">
                                                {{segment.arrTime | date: 'EEE, dd MMM yy' }}</span>
                                            <span class="text-md primary-text font-medium"
                                                *ngIf="segment.destinationCityName">{{segment.destinationTerminal}}
                                                -
                                                {{segment.destinationAirportName}},
                                                {{segment.destinationCityName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="absolute bottom-[-10px] left-0 w-full text-center z-10"
                                *ngIf="i !== (segmentList.length - 1) && segmentList[i+1].layover">
                                <span class="dark bg-primary-600 rounded-3xl px-10 py-1 secondary-text text-sm">
                                    {{isSamePlanes(segment, segmentList[i+1])
                                    ? 'No plane change require'
                                    : 'Change of planes'}}・{{segmentList[i+1].layover}} Layover in
                                    {{segment.destinationCityName}}</span>
                            </div>
                            <div (click)="segmentChange(segment, 'Add')"
                                class="absolute bottom-[-15px] left-0 h-7 rounded-md m-auto bg-[#94a3b8] w-16 right-0  text-center z-10 hover:bg-gray-500 cursor-pointer"
                                *ngIf="((i !== (segmentList.length - 1) && !segmentList[i+1].layover) || last) && Status != 'Cancelled'">
                                <mat-icon svgIcon="heroicons_solid:plus-small"
                                    class=" h-7 w-7 min-w-7 dark:text-[#0f172a] text-[#ffffff] "></mat-icon>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="overflow-hidden w-1/3 ml-3 h-fit">
                    <div class="pb-1 info relative flex flex-col mb-5 overflow-hidden rounded-2xl bg-card"
                        *ngFor="let pdv of priceDetails; let i = index">
                        <div *ngFor="let pd of pdv.value">
                            <div *ngIf="pd.is_header"
                                class="w-full text-lg font-medium px-4 py-3 dark:bg-primary bg-gray-200 border-b border-gray-border">
                                {{pd.key}}</div>
                            <div *ngIf="!pd.is_header">
                                <div [ngClass]="{'text-default': pd.is_bold, 'text-default': pd.is_main, 'text-default': (!pd.is_bold && !pd.is_main)}"
                                    class="flex justify-between w-full px-4 py-2"
                                    *ngIf="pd.key != '---' && pd.key != 'Total Amount'">
                                    <span [ngClass]="(pd.is_bold || pd.is_main)? 'font-semibold':''"
                                        class="flex items-center">{{pd.key}}</span>
                                    <span [ngClass]="(pd.is_bold || pd.is_main)? 'font-semibold':''"
                                        class="relative top-[2px]">{{pd.value}}</span>
                                </div>
                                <span *ngIf="pd.key === '---'"
                                    class="py-1 mx-4 block border-b border-dashed border-gray-border"></span>
                                <div *ngIf="pd.key === 'Total Amount'"
                                    class="px-4 text-default py-4 mt-1 border-t border-gray-border flex justify-between  font-semibold text-xl">
                                    <span>{{pd.key}}</span>
                                    <span>{{pd.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="flex flex-0 items-center justify-between h-16 px-6  bg-primary">
                        <div class="text-xl font-medium">Price information</div>
                    </div>
                    <div *ngFor="let pd of priceDetail">
                        <div [ngClass]="pd.is_bold? 'font-semibold text-default':'secondary-text'"
                            class="flex justify-between w-full px-4 py-2"
                            *ngIf="pd.key != '---' && pd.key != 'Total Amount'">
                            <span class="flex items-center">{{pd.key}}</span>
                            <span class="relative top-[2px]">{{pd.value}}</span>
                        </div>
                        <span *ngIf="pd.key === '---'"
                            class="py-1 mx-4 block border-b border-dashed border-gray-border"></span>
                        <div *ngIf="pd.key === 'Total Amount'"
                            class="px-4 py-4 mt-1 border-t border-gray-border flex justify-between primary-text font-semibold text-xl">
                            <span>{{pd.key}}</span>
                            <span>{{pd.value}}</span>
                        </div>
                    </div> -->

                </div>
            </div>

            <div class="rounded-md overflow-hidden border-gray-border border mb-5"
                *ngIf="bookingBy?.type == 'B2B Partner' || bookingBy?.type == 'B2C'">
                <div class="text-lg  pb-3 dark:bg-card bg-gray-200  border-gray-bg py-3 pl-3">{{bookingBy?.type}} Detail
                </div>
                <div class="overflow-x-auto white-bg">
                    <div class=" overflow-x-auto dark:bg-transparent bg-white">
                        <div class="w-full flex text-secondary  pl-4 border-b">
                            <div class="w-1/3 py-2 min-w-50">Name</div>
                            <div class="w-1/3 py-2 min-w-24">Email</div>
                            <div class="w-1/3 py-2 min-w-40">Mobile</div>
                        </div>
                        <div class="w-full flex pl-4 border-b">
                            <div class="w-1/3 py-2 min-w-50">{{bookingBy?.type == 'B2C' ? bookingBy?.b2c_customer :
                                bookingBy?.b2b_partner }}</div>
                            <div class="w-1/3 py-2 min-w-24">{{bookingBy?.type == 'B2C' ? bookingBy?.b2c_customer_email
                                : bookingBy?.b2b_partner_email}}</div>
                            <div class="w-1/3 py-2 min-w-40">{{bookingBy?.type == 'B2C' ? bookingBy?.b2c_customer_mobile
                                : bookingBy?.b2b_partner_mobile}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full">
                <div class="text-3xl font-extrabold tracking-tight">Traveller Information</div>

                <div class="flex flex-col mt-5 mb-7 overflow-x-hidden overflow-y-auto border rounded-2xl"
                    style="max-height: 40% !important">
                    <div
                        class="flex flex-row border-b-2 max-h-10 min-h-10 items-center  dark:bg-card bg-gray-200 sticky top-0 text-lg px-4">
                        Customer Details</div>
                    <div
                        class="flex flex-row border-b-2 max-h-10 min-h-10 items-center text-secondary sticky top-0  dark:bg-transparent bg-white">
                        <div class="w-[25px]"></div>
                        <div class="w-[25px]"></div>
                        <div class="w-[250px] px-4">Name</div>
                        <div class="w-[110px] px-4">Gender</div>
                        <div class="w-[140px] px-4">Pax Type</div>
                        <div class="w-[200px] px-4">Ticket Number</div>
                        <div class="w-[200px] px-4">Checkin Baggage</div>
                        <div class="w-[190px] px-4">Cabin Baggage</div>
                    </div>
                    <div class="flex flex-row border-b-2 max-h-36 min-h-10 items-center overflow-hidden dark:bg-transparent bg-white"
                        *ngFor="let data of customerDataList"
                        [ngClass]="data.cancelled === 2 ? 'bg-[rgba(255,0,0,0.11)] pointer-events-none' : ''">
                        <div class="pl-2 flex cursor-pointer">
                            <mat-icon class="w-[10px] min-w-[17px] text-[#1674e6]"
                                svgIcon="heroicons_outline:exclamation-circle" (click)="info(data)"></mat-icon>
                        </div>
                        <div class="pl-2 cursor-pointer">
                            <mat-icon class="w-[10px] min-w-[17px] mt-[3px] text-[#1674e6]"
                                svgIcon="heroicons_outline:pencil-square" (click)="pax(data)"></mat-icon>
                        </div>
                        <div class="w-[250px] px-4 flex flex-col gap-3">
                            <span>{{ data.name || ' - '}} <p class="text-secondary text-sm">{{data.email}}</p>
                                <p class="text-sm text-[#156cd6]">{{data.contact}}</p>
                            </span>
                            <span [matTooltip]="getTooltip(data.remark)" [matTooltipClass]="'custom-tooltip'"
                                *ngIf="data.cancelled === 1"
                                class="text-orange-500 text-sm font-semibold leading-3">Partially Cancelled</span>
                            <span [matTooltip]="getTooltip(data.remark)" [matTooltipClass]="'custom-tooltip'"
                                *ngIf="data.cancelled === 2"
                                class="text-red-500 text-sm font-semibold leading-3">Cancelled</span>
                        </div>
                        <div class="w-[110px] px-4 truncate">{{ data.gender }}</div>
                        <div class="w-[140px] px-4 truncate">{{ data.pax_type }}</div>
                        <div class="w-[200px] px-4 truncate">{{ data.ticket_number || ' - '}}</div>
                        <div class="w-[200px] px-4 truncate">
                            <ng-container *ngIf="data.checkin_baggage; else noBaggage">
                                <mat-icon class="material-symbols-outlined text-default text-xl relative top-1">luggage</mat-icon>
                                {{data.checkin_baggage}}
                            </ng-container>
                            <ng-template #noBaggage>-</ng-template>
                        </div>
                        <div class="w-[190px] px-4 truncate">
                            <ng-container *ngIf="data.cabin_baggage; else noCabinBaggage">
                                <mat-icon class="material-symbols-outlined text-default text-xl ml-1 relative top-1">local_mall</mat-icon>
                                {{data.cabin_baggage}}
                            </ng-container>
                            <ng-template #noCabinBaggage>-</ng-template>
                        </div>
                    </div>
                </div>

                <div *ngIf="baggageDataList && baggageDataList.length > 0"
                    class="flex flex-col mt-7 overflow-x-hidden overflow-y-auto rounded-2xl border"
                    style="max-height: 40% !important">
                    <div
                        class="flex flex-row border-b-2 max-h-10 min-h-10 items-center bg-card sticky top-0 text-lg px-4">
                        SSR Details</div>
                    <div class="flex flex-row border-b-2 max-h-10 min-h-10 items-center text-secondary sticky top-0">
                        <div class="w-1/5 px-4">Passenger Name</div>
                        <div class="w-1/5 px-4">Sector</div>
                        <div class="w-1/5 px-4">SSR Type</div>
                        <div class="w-1/5 px-4">SSR Info</div>
                        <div class="w-1/5 px-4">SSR Amount</div>
                    </div>
                    <div class="flex flex-row border-b-2 max-h-30 min-h-10 items-center overflow-hidden"
                        *ngFor="let data of baggageDataList">
                        <div class="w-1/5 px-4 flex flex-row gap-3">{{ data.passanger_name || ' - ' }}</div>
                        <div class="w-1/5 px-4">{{ data.sector || ' - '}}</div>
                        <div class="w-1/5 px-4">{{ data.ssr_type || ' - '}}</div>
                        <div class="w-1/5 px-4">{{ data.ssr_info || ' - '}}</div>
                        <div class="w-1/5 px-4">{{ data?.ssr_amount || '0'}}</div>
                    </div>
                </div>

                <div>
                    <app-account-details [accounts]="bookingDetail"></app-account-details>
                </div>

                <div *ngIf="amendmentsDataList?.length > 0"
                    class="flex flex-col mt-7 overflow-x-hidden overflow-y-auto rounded-2xl border"
                    style="max-height: 40% !important">
                    <div
                        class="flex flex-row border-b-2 max-h-10 min-h-10 items-center bg-card sticky top-0 text-lg px-4">
                        Amendment Details</div>
                    <div
                        class="flex flex-row border-b-2 max-h-10 min-h-10 items-center text-secondary sticky top-0 pl-4">
                        <div class="w-[20%] pr-4">Ref No.</div>
                        <div class="w-[17%] pr-4">Type</div>
                        <div class="w-[12%] pr-4">Status</div>
                        <div class="w-[17%] pr-4">Request Time</div>
                        <div class="w-[17%] pr-4">Confirmation Time</div>
                        <div class="w-[17%] pr-4">Agent Remark</div>
                    </div>
                    <div class="flex flex-row border-b-2 max-h-30 min-h-10 items-center overflow-hidden pl-4"
                        *ngFor="let data of amendmentsDataList">
                        <!-- <div class="tbl-grid gridwidth grid items-center gap-4 cursor-pointer">
                            <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="optionMenu"
                                class="sticky left-0 bg-gray-50 dark:bg-gray-900"
                                style="border-radius: 0%; width: 100%">
                                <mat-icon> more_vert </mat-icon>
                            </button>
                            <mat-menu #optionMenu class="info_amendment">
                                <button mat-menu-item (click)="view(data)">
                                    <mat-icon class="mat-18">info</mat-icon>
                                    <span style="font-weight: 600">Info</span>
                                </button>
                                <mat-divider></mat-divider>
                                        <button mat-menu-item (click)="invoice(data.invoice_id, 'Invoice')" *ngIf="data.invoice_id">
                                            <mat-icon svgIcon="heroicons_outline:arrow-down-tray"></mat-icon>
                                            <span style="font-weight: 600">{{data.amendment_type == 'Meal Quotation(SSR)' || data.amendment_type == 'Baggage Quotation(SSR)' ||
                                            data.amendment_type == 'Correction Quotation' || data.amendment_type == 'Reissue Quotation' || data.amendment_type == 'Wheel Chair Request' ? 'Debit note' : 'Credit note'}}</span>
                                        </button>
                                        <button mat-menu-item (click)="invoice(data.saleinvoice_id,'Sale Invoice')" *ngIf="data.saleinvoice_id">
                                            <mat-icon svgIcon="heroicons_outline:arrow-down-tray"></mat-icon>
                                            <span style="font-weight: 600">Sale Invoice</span>
                                        </button>
                            </mat-menu>
                        </div>
                        <div class=" pr-4 flex flex-row gap-3">
                            <div class="w-5 cursor-pointer" [matTooltip]="data.invoice_type">
                                <img *ngIf="data.invoice_id && data.amendment_status == 'Completed'"
                                    src="assets/icons/voucher.svg" alt="" (click)="invoice(data.invoice_id)">
                            </div>
                        </div> -->
                        <div class="w-[20%] pr-4 truncate gap-3 underline hover:text-primary-200 cursor-pointer"
                            (click)="view(data)">{{
                            data.ref_no || ' - ' }}</div>
                        <div class="w-[17%] pr-4">{{ data.amendment_type || ' - '}}</div>
                        <div class="w-[12%] pr-4">
                            <div class="rounded-lg text-white px-2 max-w-fit text-md font-medium"
                                [ngClass]="getStatusColorForAgent(data.status_for_agent)">
                                {{data.status_for_agent}}
                            </div>
                        </div>
                        <div class="w-[17%] pr-4">{{ (data.amendment_request_time | date: 'dd-MM-yyyy HH:mm:ss')
                            || ' - '}}
                        </div>
                        <div class="w-[17%] pr-4">{{ (data.amendment_confirmation_time | date: 'dd-MM-yyyy HH:mm:ss')
                            || ' - '}}
                        </div>
                        <div class="w-[17%] pr-4">{{ data.agent_remark || ' - '}}</div>

                    </div>
                </div>

            </div>
        </div>
    </div>


</div>