<div class="flex flex-col flex-auto min-w-0 overflow-hidden">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-5 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div class="cursor-pointer" [routerLink]="gropInqueryRoute">
                    <a class="whitespace-nowrap text-primary-500">Group Inquiry</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Details</a>
                </div>
            </div>
        </div>

        <button mat-raised-button color="primary" (click)="close()">
            Close
        </button>
    </div>

    <div class="m-8">
        <div class="flex m-auto max-w-[1200px]">
            <div class="bg-card rounded-2xl p-6 h-fit" [ngClass]="priceDetails?.length > 0 ? 'w-2/3' : 'w-full'">
                <div>
                    <div class="flex justify-between mb-3">
                        <div>
                            <div class="flex space-x-3  mr-3" *ngIf="Status === 'Confirmed'">
                                <div
                                    class="px-2 py-1 border border-gray-border rounded-lg flex items-center secondary-text">
                                    <mat-icon
                                        class="material-symbols-outlined secondary-text pr-1 text-xl">print</mat-icon>
                                    <span class="text-md leading-none">Print Invoice</span>
                                </div>
                                <div
                                    class="px-2 py-1 border border-gray-border rounded-lg flex items-center secondary-text">
                                    <mat-icon
                                        class="material-symbols-outlined secondary-text pr-1 text-xl">mail</mat-icon>
                                    <span class="text-md leading-none">Email</span>
                                </div>
                                <div
                                    class="px-2 py-1 border border-gray-border rounded-lg flex items-center secondary-text">
                                    <mat-icon
                                        class="material-symbols-outlined secondary-text pr-1 text-xl">download</mat-icon>
                                    <span class="text-md leading-none">Downlod</span>
                                </div>
                                <div
                                    class="px-2 py-1 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer">
                                    <span class="text-md leading-none">Amendment Request</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div *ngIf="Status === 'Confirmed'"
                                class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(1,175,71,0.1)] flex items-center border green-border">
                                <mat-icon class="green-text text-2xl">check_circle</mat-icon>
                                <span class="text-md font-semibold ml-2 leading-none">Your Group Inquiry is Confirmed</span>
                            </div>
                            <div *ngIf="Status === 'Pending' || Status === 'Waiting for Payment' || Status === 'Quotation Sent' || Status === 'Confirmation Pending' || Status === 'Offline Pending' || Status === 'Partially Cancelled' || Status === 'Hold'"
                                class="pl-2 pr-3 py-1 rounded-lg  flex items-center border light-border">
                                <mat-icon class="secondary-text text-2xl">watch_later</mat-icon>
                                <span class="text-md font-semibold ml-2 leading-none theme-black-text">Your Group Inquiry is Pending</span>
                            </div>
                            <div *ngIf="Status === 'Payment Failed' || Status === 'Booking Failed' || Status === 'Cancelled'"
                                class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border bonton-red-border">
                                <mat-icon class="text-2xl bonton-red-text">warning</mat-icon>
                                <span class="text-md font-semibold ml-2 leading-none">Your Group Inquiry is Failed</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="border rounded-2xl p-5 mb-8" *ngIf="mainData">
                    <div class="grid  xl:grid-cols-3 grid-cols-2 gap-4  overflow-hidden  ">
                        <div class="contents mb-3 ">
                            <div class="flex flex-col ">
                                <span class="text-md font-semibold text-secondary">Ref.No <mat-icon
                                        class="icon-size-3 cursor-pointer ml-1" [matTooltip]="'Copy Link'"
                                        (click)="copyLink(mainData.booking_ref_no)">content_copy</mat-icon></span>

                                <div class="relative">
                                    <span class="text-base truncate"
                                        [matTooltip]="mainData.booking_ref_no">{{mainData.booking_ref_no || ' - '}}</span>

                                </div>
                            </div>

                            <div class="flex flex-col">
                                <span class="text-md font-semibold text-secondary">PNR</span>
                                <span class="text-base truncate" [matTooltip]="mainData.pnr">{{mainData.pnr || ' - '}}</span>
                            </div>

                            <div class="flex flex-col">
                                <span class="text-md font-semibold text-secondary">GDS PNR</span>
                                <span class="text-base truncate" [matTooltip]="mainData.gds_pnr">{{mainData.gds_pnr || ' - '}}</span>
                            </div>

                            <div class="flex flex-col">
                                <span class="text-md font-semibold text-secondary">Trip Type / Fare Type</span>
                                <div class="text-base truncate"><span [matTooltip]="mainData.tripType">
                                {{mainData.tripType || ' - '}} / </span><span
                                        [ngClass]="mainData.fareType == 'Refundable' ? 'text-green-600':'text-red-600'"
                                        [matTooltip]="mainData.fareType">{{mainData.fareType || ' - '}}</span></div>
                            </div>

                            <div class="flex flex-col">
                                <span class="text-md font-semibold text-secondary">Departure Date</span>
                                <span class="text-base truncate">{{(mainData.depTime| date:'dd-MM-yyyy HH:mm:ss') || '
                                    - '}}</span>
                            </div>

                            <div class="flex flex-col">
                                <span class="text-md font-semibold text-secondary">Pax info.</span>
                                <span class="text-base truncate">{{mainData.adults || ' 0 '}} Adult / {{mainData.child || ' 0 '}} Child / {{mainData.infants || ' 0 '}} Infant</span>
                            </div>

                            <div class="flex flex-col">
                                <span class="text-md font-semibold text-secondary">Booking Date</span>
                                <span class="text-base truncate">{{(mainData.bookingDate | date:'dd-MM-yyyy HH:mm:ss') || ' - '}}</span>
                            </div>

                            <div class="flex flex-col">
                                <span class="text-md font-semibold text-secondary">Supplier Name</span>
                                <span class="text-base truncate"
                                    [matTooltip]="mainData.supplier_name">{{mainData.supplier_name || ' - '}}</span>
                            </div>

                            <div class="flex flex-col">
                                <span class="text-md font-semibold text-secondary">Agent Name</span>
                                <span
                                    class="text-base truncate w-min cursor-pointer"
                                    [matTooltip]="mainData.agent_name">{{mainData.agent_name || ' - '}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="" *ngIf="segmentList.length > 0">
                    <div [ngClass]="segmentList[i].isReturn && !segmentList[i-1]?.isReturn? 'mt-5':'mt-[-1px]'"
                        class="rounded-xl border border-gray-border relative "
                        *ngFor="let segment of segmentList; let i = index; let last = last">
                        <div class="rounded-xl relative"
                            [ngClass]="segment.cancelled === 2? 'border bonton-red-border bg-[rgba(255,0,0,0.11)]':'border border-[#0f172a99]-border'">
                            <div class="relative flex pt-5 px-5 pb-7 border-b border-dashed border-gray-border">
                                <div class="flex  items-center mr-6">
                                    <div class="absolute right-3 top-3"
                                    *ngIf="segmentList[i-1]?.trip_indicator !== segmentList[i]?.trip_indicator">
                                        <span [matTooltip]="getTooltip(segment.remark)"
                                            [matTooltipClass]="'custom-tooltip'" *ngIf="segment.cancelled === 1"
                                            class="px-2 py-[2px] rounded-sm text-orange-500 bg-[#0f172a] flex items-center border orange-border orange-text text-xs font-semibold">Partially Cancelled</span>
                                        <span [matTooltip]="getTooltip(segment.remark)"
                                            [matTooltipClass]="'custom-tooltip'" *ngIf="segment.cancelled === 2"
                                            class="px-2 py-[2px] rounded-sm text-red-500 bg-[#0f172a] flex items-center border bonton-red-border bonton-red-text text-xs font-semibold">Cancelled</span>
                                    </div>
                                    <img class="w-12 h-12 object-contain mr-3" [src]="segment.airline_logo" alt="Logo">

                                    <div>
                                        <div class=" text-md font-medium">{{segment.airlineName}}</div>
                                        <div class="text-sm font-medium">{{segment.airlineCode}} -{{segment.flightNumber}}</div>
                                    </div>
                                </div>
                                <div class="border-r border-gray-border h-full w-1"></div>
                                <div class="pl-6">
                                    <div class="flex items-center">
                                        <span class="font-semibold text-lg flex items-end">
                                            <span class="text-secondary">{{segment.originAirportCode}}</span>
                                            <mat-icon class="text-white mx-3 text-2xl">arrow_forward</mat-icon>
                                            <span class="text-secondary">{{segment.destinationAirportCode}}</span>
                                        </span>
                                        <span class="secondary-text pl-5">
                                            {{segment.depTime | date: 'EEE, dd MMM yy'}}
                                        </span>
                                        <mat-icon *ngIf="segment.layover != ''"
                                            svgIcon="heroicons_solid:trash"
                                            class="ml-2 min-h-4 h-4 w-4 cursor-pointer hover:text-gray-500"
                                            ></mat-icon>
                                    </div>
                                    <!-- <div class="light-text text-md pt-1">{{flightData.oneway.airlineRemark}}</div>  -->
                                </div>
                            </div>
                            <div class="pt-6 px-7 pb-5 flex items-center">
                                <div class="flex items-center w-full">
                                    <div class="flex flex-col">
                                        <span class="text-xl font-semibold text-secondary">{{segment.depTime |
                                            date:'HH:mm' }}</span>
                                        <span class="text-md font-medium">
                                            {{segment.depTime | date: 'EEE, dd MMM yy'}}
                                        </span>
                                        <span class="text-md primary-text font-medium"
                                            *ngIf="segment.originTerminal">{{segment.originTerminal}} -
                                            {{segment.originAirportName}}, {{segment.originCityName}}</span>
                                    </div>
                                    <div class="flex mx-7 items-center z-[1] min-w-[45%] relative">
                                        <span
                                            class="block w-2 h-2 primary-bg rounded-full border border-white outline-1 outline outline-[#234977] ng-star-inserted"></span>
                                        <span
                                            class="border-dashed border-b border-gray-border min-w-[95%] relative flex justify-center items-center">
                                            <mat-icon
                                                class="absolute top-[-11px] rotate-90 orange-text z-10">flight</mat-icon>
                                        </span>
                                        <span
                                            class="block w-2 h-2 primary-bg rounded-full border border-white outline-1 outline outline-[#234977] ng-star-inserted"></span>
                                        <div
                                            class="absolute w-full flex flex-col items-center h-[70px] justify-around text-xs">
                                            <span class="secondary-text font-medium">{{segment.duration}}</span>
                                            <span class="secondary-text font-medium">{{segment.cabinClass}}</span>
                                        </div>
                                    </div>
                                    <div class="flex flex-col">
                                        <span class="text-xl font-semibold text-secondary">{{segment.arrTime |
                                            date:'HH:mm'}}</span>
                                        <span class="text-md font-medium">
                                            {{segment.arrTime | date: 'EEE, dd MMM yy' }}</span>
                                        <span class="text-md primary-text font-medium"
                                            *ngIf="segment.destinationCityName">{{segment.destinationTerminal}}
                                            -
                                            {{segment.destinationAirportName}},
                                            {{segment.destinationCityName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="absolute bottom-[-10px] left-0 w-full text-center z-10"
                            *ngIf="i !== (segmentList.length - 1) && segmentList[i+1].layover">
                            <span class="dark bg-primary-600 rounded-3xl px-10 py-1 secondary-text text-sm">
                                {{isSamePlanes(segment, segmentList[i+1])
                                ? 'No plane change require'
                                : 'Change of planes'}}・{{segmentList[i+1].layover}} Layover in
                                {{segment.destinationCityName}}</span>
                        </div>
                        <!-- <div (click)="segmentChange(segment, 'Add')"
                            class="absolute bottom-[-15px] left-0 h-7 rounded-md m-auto bg-[#94a3b8] w-16 right-0  text-center z-10 hover:bg-gray-500 cursor-pointer"
                            *ngIf="(i !== (segmentList.length - 1) && !segmentList[i+1].layover) || last">
                            <mat-icon svgIcon="heroicons_solid:plus-small"
                                class=" h-7 w-7 min-w-7 text-[#0f172a] "></mat-icon>
                        </div> -->
                    </div>

                </div>


            </div>

            <div class="overflow-hidden w-1/3 ml-3 h-fit" *ngIf="priceDetails?.length > 0">
                <div class="pb-1 info relative flex flex-col mb-5 overflow-hidden rounded-2xl bg-card" *ngFor="let pdv of priceDetails; let i = index">
                    <div *ngFor="let pd of pdv.value">
                        <div *ngIf="pd.is_header" class="w-full text-lg font-medium px-4 py-3 bg-primary border-b border-gray-border">{{pd.key}}</div>
                        <div *ngIf="!pd.is_header">
                            <div [ngClass]="{'text-white': pd.is_bold, 'text-white': pd.is_main, 'text-white': (!pd.is_bold && !pd.is_main)}" class="flex justify-between w-full px-4 py-2" *ngIf="pd.key != '---' && pd.key != 'Total Amount'">
                                <span [ngClass]="(pd.is_bold || pd.is_main)? 'font-semibold':''" class="flex items-center">{{pd.key}}</span>
                                <span [ngClass]="(pd.is_bold || pd.is_main)? 'font-semibold':''" class="relative top-[2px]">{{pd.value}}</span>
                            </div>
                            <span *ngIf="pd.key === '---'"  class="py-1 mx-4 block border-b border-dashed border-gray-border"></span>
                            <div *ngIf="pd.key === 'Total Amount'" class="px-4 text-white py-4 mt-1 border-t border-gray-border flex justify-between  font-semibold text-xl">
                                <span>{{pd.key}}</span>
                                <span>{{pd.value}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="flex flex-0 items-center justify-between h-16 px-6  bg-primary">
                    <div class="text-xl font-medium">{{priceInfoStatus}}</div>
                </div>
                <div *ngFor="let pd of priceDetails">
                    <div [ngClass]="pd.is_bold? 'font-semibold text-white':'secondary-text'"
                        class="flex justify-between w-full px-4 py-2"
                        *ngIf="pd.key != '---' && pd.key != 'Total Amount'">
                        <span class="flex items-center">{{pd.key}}</span>
                        <span class="relative top-[2px]">{{pd.value}}</span>
                    </div>
                    <span *ngIf="pd.key === '---'"
                        class="py-1 mx-4 block border-b border-dashed border-gray-border"></span>
                    <div *ngIf="pd.key === 'Total Amount'"
                        class="px-4 py-4 mt-1 border-t border-gray-border flex justify-between primary-text font-semibold text-xl">
                        <span>{{pd.key}}</span>
                        <span>{{pd.value}}</span>
                    </div>
                </div> -->

            </div>
        </div>
    </div>


</div>