<form [formGroup]="formGroup" class="p-5">
    <div class="grid grid-cols-12 gap-4">
        <mat-form-field class="col-span-6" *ngIf="data?.item_name?.includes('B2C')">
            <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500">B2C Portal URL</mat-label>
            <input matInput formControlName="b2c_portal_url">
            <mat-hint>Ex: bontonholidays.com</mat-hint>
        </mat-form-field>

        <mat-form-field class="col-span-6" *ngIf="data?.item_name?.includes('B2B')">
            <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500">Partner Panel URL</mat-label>
            <input matInput formControlName="partner_panel_url">
            <mat-hint>Ex: partner.bontonholidays.com</mat-hint>
        </mat-form-field>

        <mat-form-field class="col-span-6">
            <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500">Api URL</mat-label>
            <input matInput formControlName="api_url">
            <mat-hint>Ex: api.partner.bontonholidays.com</mat-hint>
        </mat-form-field>
    </div>

    <div class="py-3 text-[18px] font-bold">App Details</div>

    <div class="grid grid-cols-2 gap-4 h-full">
        <mat-form-field>
            <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500 relative">
                App Name
                <i class="material-icons text-[15px] absolute right-[-26px] top-1/2 -translate-y-1/2 cursor-pointer"
                matTooltip="Name displayed under your app in device">info_outline</i>
            </mat-label>
            <input matInput formControlName="app_name"
            [placeholder]="'Enter Your App Name'">
            <mat-hint>Ex:Bonton</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500 relative">
                <ng-container *ngIf="data?.item_name?.toLowerCase().includes('android')">Play Store App Name</ng-container>
                <ng-container *ngIf="data?.item_name?.toLowerCase().includes('ios')">App Store Name</ng-container>
                <i class="material-icons text-[15px] absolute right-[-26px] top-1/2 -translate-y-1/2 cursor-pointer"
                [matTooltip]="data?.item_name?.toLowerCase().includes('android') ? 'Name displyed in google play store':'Name displyed in apple store'">
                info_outline
                </i>
            </mat-label>
            <input matInput formControlName="store_app_name"
            [placeholder]="data?.item_name?.toLowerCase().includes('android') ? 'Enter Your App Name On Play Store':'Enter Your App Store Name'">
            <mat-hint>Ex: Bonton Holidays:B2B Travel App</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500 relative">
                Support Email
                <i class="material-icons text-[15px] absolute right-[-26px] top-1/2 -translate-y-1/2 cursor-pointer"
                matTooltip="Support Email for play store. It will be used to raise any queries by the users of app">info_outline</i>
            </mat-label>
            <input matInput formControlName="support_email"
            [placeholder]="'Enter Your Support Email'">
            <mat-hint>Ex: support@gmail.com</mat-hint>
            <mat-error *ngIf="formGroup.get('support_email').hasError('invalidEmail')">
                Please enter a valid email address.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="pb-3 text-[18px] font-bold pt-4">Firebase Integration</div>

    <div class="grid grid-cols-2 gap-4 h-full">
        <mat-form-field>
            <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500 relative">
                Gmail Id
                <i class="material-icons text-[15px] absolute right-[-26px] top-1/2 -translate-y-1/2 cursor-pointer"
                matTooltip="For firebase integration">info_outline</i>
            </mat-label>
            <input matInput formControlName="gmail_id" placeholder="Enter Your Gmail">
        </mat-form-field>

        <mat-form-field>
            <mat-label class="font-medium dark:text-[#ADB3BB] text-gray-500">Password</mat-label>
            <input matInput formControlName="password" placeholder="Enter Your Password">
        </mat-form-field>
    </div>
</form>

<div
    class="footer h-[5rem] sticky bottom-0 z-99 border-t bg-white dark:bg-gray-800 dark:border-[#324154] border-gray-200 p-5 flex justify-end items-center gap-3">
    <button  mat-stroked-button (click)="onPrevious()">
        Previous
    </button>

    <button [disabled]="!formGroup.valid" mat-flat-button (click)="onMobileAppDomainFormVerify()"
        [color]="'primary'" class="flex items-center min-w-[100px]">
        Next
    </button>
</div>