<div class="flex flex-col max-w-240 md:min-w-180 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-120" [formGroup]="formGroup"
        *ngIf="!readonly else detailView">

        <div class="flex flex-row gap-3">
            <mat-form-field class="flex-grow">
                <mat-label>Company Name</mat-label>
                <input [readonly]="readonly" matInput type="text" required formControlName="company_name">
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>E-Mail Address</mat-label>
                <input [readonly]="readonly" type="text" matInput required formControlName="email_address"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                <mat-error
                    *ngIf="this.formGroup.get('email_address').value && !isValidEmail(this.formGroup.get('email_address').value)">
                    Please enter a valid email address.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-row gap-3">
            <mat-form-field class="flex-grow">
                <mat-label>Domestic Charge</mat-label>
                <input [readonly]="readonly" matInput type="number" required formControlName="dom_charge">
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>International Charge</mat-label>
                <input [readonly]="readonly" type="number" matInput required formControlName="int_charge">
            </mat-form-field>
        </div>
        <div class="flex flex-row gap-3">
            <mat-form-field class="flex-grow">
                <mat-label>Mobile Code</mat-label>
                <mat-select formControlName="mobile_code" required *ngIf="!readonly">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" (input)="filterMobileCode($event.target.value)"
                            noEntriesFoundLabel="'no matching Mobile Code found'"
                            [formControlName]="'mobileCodefilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of MobileCodeList | async" [value]="ct.mobile_code">{{ct.mobile_code}} -
                        {{ct.country_code}} </mat-option>
                </mat-select>
                <input *ngIf="readonly" [readonly]="readonly" matInput required formControlName="mobile_code">
            </mat-form-field>

            <!-- <mat-form-field class="flex-grow">
                <mat-label>API For</mat-label>
                <mat-select *ngIf="!readonly" required formControlName="api_for">
                    <mat-option *ngFor="let s of api_for" [value]="s.value">
                        {{s.viewValue}}
                    </mat-option>
                </mat-select>
                <input *ngIf="readonly" matInput [readonly]="readonly" formControlName="api_for" required>
            </mat-form-field> -->

              <mat-form-field class="flex-grow">
                <mat-label>Services</mat-label>
                <mat-select [formControl]="api_for" multiple>
                  <mat-select-trigger>
                    {{ api_for.value?.[0] || '' }}
                    <span *ngIf="(api_for.value?.length || 0) > 1" class="example-additional-selection">
                      (+{{ (api_for.value?.length || 0) - 1 }} {{ api_for.value?.length === 2 ? 'other' : 'others' }})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping }}</mat-option>
                </mat-select>
              </mat-form-field>
              
              

            <mat-form-field class="flex-grow">
                <mat-label>Mobile Number</mat-label>
                <input [readonly]="readonly" matInput type="number" required formControlName="mobile_number">
            </mat-form-field>
        </div>

        <div class="flex flex-row gap-3">
            <mat-form-field class="flex-grow">
                <mat-label>City</mat-label>
                <mat-select formControlName="city_id" required *ngIf="!readonly">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="'no matching city found'"
                            [formControlName]="'cityfilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of cityList" [value]="ct.id">{{ct.display_name}}</mat-option>
                </mat-select>
                <input *ngIf="readonly" [readonly]="readonly" matInput required formControlName="city_id">
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Priority</mat-label>
                <input [readonly]="readonly" matInput type="number" required formControlName="priority">
            </mat-form-field>
            
         

            <mat-form-field class="flex-grow">
                <mat-label>Transaction currency</mat-label>
                <mat-select required *ngIf="!readonly" formControlName="transaction_currency_id">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search"
                            noEntriesFoundLabel="'no matching currency found'" [formControlName]="'currencyfilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of CurrencyList" [value]="ct.id">{{ct.currency_short_code}}</mat-option>
                </mat-select>
                <input *ngIf="readonly" [readonly]="readonly" matInput required
                    formControlName="transaction_currency_id">
            </mat-form-field>
        </div>
    </form>

    <ng-template #detailView>
        <div class="grid grid-cols-4 gap-4 mb-3 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col " *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                    <!-- <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon> -->
                </div>
                <span class="text-base truncate" [matTooltip]="filed.value">{{filed.value || '--'}}</span>
            </div>
        </div>
    </ng-template>

    <div class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3 pt-3">
        <!-- Discard -->
        <!-- <button mat-stroked-button (click)="matDialogRef.close()">
            Close
        </button> -->
        <!-- Save as draft -->
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()"
            [disabled]="disableBtn">
            {{btnLabel}}
        </button>
    </div>
</div>