<form class=" p-8 pb-4  overflow-hidden" [formGroup]="formGroup" #formDirective="ngForm">
    <div class="flex items-center gap-2">
        <mat-form-field class="w-[20%]">
            <mat-label>Payment Gateway</mat-label>
            <mat-select formControlName="psp_id" required [compareWith]="customCompareFn">
                <mat-option>
                    <ngx-mat-select-search placeholderLabel="Search"
                        noEntriesFoundLabel="'no matching payment gateway found'" [formControl]="pgFilter">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let item of filteredPgList | async" [value]="item">
                    {{item.provider}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-[20%]">
            <mat-label>Mode</mat-label>
            <mat-select formControlName="mode" required>
                <mat-option>
                    <ngx-mat-select-search placeholderLabel="Search"
                        noEntriesFoundLabel="'no matching payment gateway found'" [formControl]="modeFilter">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let item of filteredModeList | async" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-[54%]">
            <mat-label>Description</mat-label>
            <input [readonly]="readonly" matInput required formControlName="description" />
        </mat-form-field>

        <button class="ml-1 w-[6%]"  mat-stroked-button color="primary" *ngIf="!readonly" [disabled]="formGroup.invalid"
            (click)="submit(formDirective)">
            {{formGroup.get('id')?.value ? 'Save': 'Add'}}
        </button>

    </div>
</form>

   <!----------------Table----------------->
   <div class="table-container paginator-bottom  p-8 pb-4 pt-2">
    <p-table #datatable [value]="tableList" [sortField]="sortColumn" [sortOrder]="-1"
        [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
        [loading]="istableDataLoading" styleClass="p-datatable-gridlines p-datatable-sm">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="w-5 text-center left-[-1px]" pFrozenColumn>#</th>
                <th class="min-w-[200px] dark:bg-[#1e293b]" pSortableColumn="psp_id" pResizableColumn>
                    PSP <p-sortIcon field="psp_id" />
                </th>
                <th pSortableColumn="mode" pResizableColumn>
                    Mode <p-sortIcon field="mode" />
                </th>
                <th class="w-full" pSortableColumn="description" pResizableColumn>
                    Description <p-sortIcon field="description" />
                </th>
            </tr>

            <!-- <tr *ngIf="isFilterShow">
                <th class="left-[-1px]" pFrozenColumn></th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="profile_name" placeholder="Search by Profile Name"
                        ariaLabel="Filter Profile Name" />
                </th>
                <th>
                </th>>
            </tr> -->
        </ng-template>

        <ng-template pTemplate="body" let-element let-columns="columns" let-i="rowIndex">
            <tr>
                <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                    <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                        <mat-icon> more_vert </mat-icon>
                    </span>

                    <mat-menu #optionMenu>
                        <button mat-menu-item (click)="edit(element)">
                            <mat-icon class="mat-18">edit</mat-icon>
                            <span style="font-weight: 600">Edit</span>
                        </button>
                        <button mat-menu-item (click)="deleteRow(element, i)">
                            <mat-icon class="mat-18">delete</mat-icon>
                            <span style="font-weight: 600">Delete</span>
                        </button>
                    </mat-menu>
                </td>
                <td>{{element?.psp_name || "-"}}</td>
                <td>{{element?.mode || "-"}}</td>
                <td>{{element?.description || "-"}}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr class="h-14">
                <td colspan="6" class="text-center font-semibold text-lg">
                    No Data Found!
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>