<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <div class="text-3xl font-extrabold tracking-tight">
            {{ module_name }}
        </div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <ng-container *ngIf="tabNameStr == 'Inbox'">
                    <input matInput [formControl]="searchInputControlInbox" [autocomplete]="'off'"
                        [placeholder]="'Search'">
                </ng-container>
                <ng-container *ngIf="tabNameStr == 'Partners'">
                    <input matInput [formControl]="searchInputControlpartners" [autocomplete]="'off'"
                        [placeholder]="'Search'">
                </ng-container>
            </mat-form-field> -->

            <div class="flex ctm_search" *ngIf="tabNameStr == 'Inbox'">
                <input #inboxRef matInput [formControl]="searchInputControlInbox" [autocomplete]="'off'"
                    [placeholder]="'Search'" (keyup.enter)="inboxRefresh(inboxRef.value)" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="inboxRefresh(inboxRef.value)"></mat-icon>
            </div>

            <div class="flex ctm_search" *ngIf="tabNameStr == 'Partners'">
                <input #partnerRef matInput [formControl]="searchInputControlpartners" [autocomplete]="'off'"
                    [placeholder]="'Search'" (keyup.enter)="partnersRefresh(partnerRef.value)" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="partnersRefresh(partnerRef.value)"></mat-icon>
            </div>
            
            <div class="flex ctm_search" *ngIf="tabNameStr == 'Potential'">
                <input #potentialRef matInput [formControl]="searchInputControlpotential" [autocomplete]="'off'"
                    [placeholder]="'Search'" (keyup.enter)="potentialRefresh(potentialRef.value)" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="potentialRefresh(potentialRef.value)"></mat-icon>
            </div> 

            <!------global filter------>
            <button *ngIf="this.tabNameStr == 'Inbox'" class="ml-4 rounded-full" mat-flat-button [color]="'primary'"
                matTooltip="Advanced Filter" [disabled]="isLoading" (click)="isFilterShowInbox  = !isFilterShowInbox">
                <img *ngIf="!isFilterShowInbox" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg"
                    alt="c">
                <img *ngIf="isFilterShowInbox" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg"
                    alt="c">
            </button>

            <button *ngIf="this.tabNameStr == 'Partners'" class="ml-4 rounded-full" mat-flat-button [color]="'primary'"
                matTooltip="Advanced Filter" [disabled]="isLoading"
                (click)="isFilterShowPartners  = !isFilterShowPartners ">
                <img *ngIf="!isFilterShowPartners" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg"
                    alt="c">
                <img *ngIf="isFilterShowPartners " class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg"
                    alt="c">
            </button>

            <button *ngIf="this.tabNameStr == 'Potential'" class="ml-4 rounded-full" mat-flat-button [color]="'primary'"
                matTooltip="Advanced Filter" [disabled]="isLoading"
                (click)="isFilterShowPotential  = !isFilterShowPotential ">
                <img *ngIf="!isFilterShowPotential" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg"
                    alt="c">
                <img *ngIf="isFilterShowPotential " class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg"
                    alt="c">
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openTabFiterDrawer()"
                matTooltip="Saved Filter">
                <img class="w-6 h-auto cursor-pointer" src="assets/icons/common-filter.svg" alt="">
            </button>

            <ng-container *ngIf="tabNameStr == 'Inbox'">
                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="refreshItemsTab('Inbox')" matTooltip="Refresh">
                    <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="tabNameStr == 'Partners'">
                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="refreshItemsTab('Partners')" matTooltip="Refresh">
                    <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="tabNameStr == 'Potential'">
                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="refreshItemsTab('Potential')" matTooltip="Refresh">
                    <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
                </button>
            </ng-container>
        </div>
    </div>

    <mat-tab-group class="custom-tab lead_tab" [animationDuration]="'0'" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Inbox" [aria-label]="'Inbox'" *ngIf="getTabsPermission('inbox')">
            <ng-container *ngIf="tabNameStr == 'Inbox'">
                <inbox-agent #inbox [(isFilterShowInbox)]="isFilterShowInbox"></inbox-agent>
            </ng-container>
        </mat-tab>
        <mat-tab label="Partners" [aria-label]="'Partners'" *ngIf="getTabsPermission('partners')">
            <ng-container *ngIf="tabNameStr == 'Partners'">
                <app-partners #partners [(isFilterShowPartners)]="isFilterShowPartners"></app-partners>
            </ng-container>
        </mat-tab>
        <mat-tab label="Potential" [aria-label]="'Potential'" *ngIf="getTabsPermission('potential')">
            <ng-container *ngIf="tabNameStr == 'Potential'">
                <app-potential-lead #potentialLead [(isFilterShowPotential)]="isFilterShowPotential"></app-potential-lead>
            </ng-container>
        </mat-tab>
    </mat-tab-group>
</div>
