<div class="flex flex-col max-w-256 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium  text-white">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-120 pb-5" [formGroup]="formGroup" *ngIf="!readonly else detailView"
        >
        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Hotel Name</mat-label>
                <input matInput [readonly]="readonly" formControlName="hotel_name" required>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>City</mat-label>
                <mat-select *ngIf="!readonly" formControlName="city_id" required>
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search"
                            noEntriesFoundLabel="'no matching product found'" [formControlName]="'cityFilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of CitytList | async" [value]="ct.id">{{ct.display_name}}</mat-option>
                </mat-select>
                <input *ngIf="readonly" [readonly]="readonly" matInput required formControlName="city_id">
            </mat-form-field>
        </div>

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Star Category</mat-label>
                <input matInput type="number" [readonly]="readonly" formControlName="star_category" required>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Location</mat-label>
                <input matInput [readonly]="readonly" formControlName="location" required>
            </mat-form-field>
        </div>

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Longitude</mat-label>
                <input matInput [readonly]="readonly" type="number" formControlName="longitude">
            </mat-form-field>
            
            <mat-form-field class="flex-grow">
                <mat-label>Latitude</mat-label>
                <input matInput [readonly]="readonly" type="number" formControlName="latitude">
            </mat-form-field>

        </div>

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Contact Number</mat-label>
                <input matInput [readonly]="readonly" type="number" formControlName="contact_number" required>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>E-mail</mat-label>
                <input matInput [readonly]="readonly" type="email" formControlName="email_address">
            </mat-form-field>
        </div>

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Booking Policy</mat-label>
                <input matInput [readonly]="readonly" type="email" formControlName="booking_policy">
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Cancellation Policy</mat-label>
                <input matInput [readonly]="readonly" formControlName="cancellation_policy" required>
            </mat-form-field>
        </div>

        <div class="flex flex-row space-x-3">

            <mat-form-field class="flex-grow">
                <mat-label>Hotel Amenities</mat-label>
                <input matInput [readonly]="readonly" formControlName="hotel_amenities">
            </mat-form-field>
        </div>

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Hotel Address</mat-label>
                <textarea matInput [readonly]="readonly" formControlName="hotel_address" required></textarea>
            </mat-form-field>
        </div>

    </form>

    <ng-template #detailView>

        <div class="grid grid-cols-5 gap-2 mb-8 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col mb-3" *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                    <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon>
                </div>
                <span class="text-base truncate" [matTooltip]="filed.value">{{filed.value || '--'}}</span>
            </div>
        </div>
    </ng-template>


    <div *ngIf="!readonly" class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <!-- Discard -->
        <button mat-stroked-button (click)="matDialogRef.close()">
            Close
        </button>
        <!-- Save as draft -->
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()"
            [disabled]="formGroup.invalid || disableBtn">
            {{btnLabel}}
        </button>
    </div>
</div>