<div class="flex flex-col max-w-256 md:min-w-128 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-120 pb-5" [formGroup]="formGroup" *ngIf="!readonly else detailView">

        <mat-form-field class="flex-grow">
            <mat-label>Vehicle Name</mat-label>
            <input matInput [readonly]="readonly" formControlName="vehicle_name" required>
        </mat-form-field>

        <mat-form-field class="flex-grow">
            <mat-label>Transfer Type</mat-label>
            <mat-select *ngIf="!readonly" required formControlName="vehicle_type">
                <mat-option *ngFor="let s of vehicle_types" [value]="s.value">
                    {{s.viewValue}}
                </mat-option>
            </mat-select>
            <input *ngIf="readonly" matInput [readonly]="readonly" formControlName="vehicle_type" required>
        </mat-form-field>

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>With Baggage Capacity</mat-label>
                <input matInput type="number" [readonly]="readonly" formControlName="with_baggage_capacity" required>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Without Baggage Capacity</mat-label>
                <input matInput type="number" [readonly]="readonly" formControlName="without_baggage_capacity" required>
            </mat-form-field>
        </div>

        <div class="flex flex-row space-x-3">
            <mat-form-field class="flex-grow">
                <mat-label>Short Description</mat-label>
                <textarea matInput [readonly]="readonly" formControlName="short_description"></textarea>
            </mat-form-field>
    
            <mat-form-field class="flex-grow">
                <mat-label>Special Notes</mat-label>
                <textarea matInput [readonly]="readonly" formControlName="special_notes"></textarea>
            </mat-form-field>
        </div>

        <div class="flex flex-row space-x-3">
            <mat-slide-toggle class="ml-1" formControlName="is_ac_vehicle" [disabled]="readonly">
              <span class="pl-1">Is Ac Vehicle</span>
            </mat-slide-toggle>
        </div>

    </form>

    <ng-template #detailView>

        <div class="grid grid-cols-5 gap-2 mb-8 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col mb-3" *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                    <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon>
                </div>
                <span class="text-base truncate" [matTooltip]="filed.value">{{filed.value || '--'}}</span>
            </div>
        </div>
    </ng-template>


    <div *ngIf="!readonly" class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <!-- Discard -->
        <button mat-stroked-button (click)="matDialogRef.close()">
            Close
        </button>
        <!-- Save as draft -->
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
            {{btnLabel}}
        </button>
    </div>
</div>