
<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>

    <div class="w-full">
        <div class="flex flex-col w-[100%] gap-2 m-auto">
            <!-- header -->
            <div class="flex flex-row justify-between border-b-2 border-gray-border px-5 py-4 h-15">
                <span class=" text-xl font-semibold">{{modalData?.title ? modalData.title : "No Title"}}</span>
                <mat-icon svgIcon="close" class=" icon-size-6 cursor-pointer "
                (click)="settingsDrawer.close()"></mat-icon>
            </div>

            <!-- body -->
            <div style="height: calc(100vh - 130px)" class="overflow-auto px-5 py-2"  >
                <!-- Create-edit form -->
                <div class="flex flex-wrap bg-card overflow-hidden" *ngIf="modalType == 'edit' || modalType == 'create'">
                    <form class="flex flex-col gap-1 flex-auto px-0 pt-0" [formGroup]="formGroup">
                        <mat-form-field class="flex-grow">
                            <mat-label>Cashback For</mat-label>
                            <mat-select formControlName="cashback_for">
                                <mat-option *ngFor="let item of cashforList" [value]="item.label">{{ item.label}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-grow" *ngIf="this.formGroup.get('cashback_for').value == 'Agent'">
                            <mat-label>Agent</mat-label>
                            <mat-select formControlName="cashback_for_id" required [compareWith]="compareWith">
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Search"
                                        noEntriesFoundLabel="'no matching agent found'" [formControlName]="'agentfilter'">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let ct of agentList" [value]="ct.id">
                                    <span><span *ngIf="ct.code">{{ ct.code }} - </span>{{ ct.agency_name }}<span
                                            *ngIf="ct.master_agent_name"> ({{ ct.master_agent_name }})</span></span>
                                    <div class="-mt-2">
                                        <span class="text-secondary text-sm">{{
                                            ct.email_address
                                            }}</span>
                                    </div>
                                </mat-option>
                            </mat-select>
                    </mat-form-field>
        
                    <mat-form-field class="flex-grow" *ngIf="this.formGroup.get('cashback_for').value !== 'Agent'">
                        <mat-label>Company</mat-label>
                        <mat-select formControlName="cashback_for_id" required [compareWith]="compareWith">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search"
                                    noEntriesFoundLabel="'no matching company found'" [formControlName]="'companyfilter'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let ct of companyList" [value]="ct.company_id">
                                <span>{{ ct.company_name }}</span>
                            </mat-option>
                        </mat-select>
                     </mat-form-field>
            
                        <mat-form-field class="flex-grow">
                            <mat-label>Transaction Type</mat-label>
                            <mat-select formControlName="transaction_type">
                                <mat-option *ngFor="let item of transactionTypeList" [value]="item.value">{{ item.label}}</mat-option>
                            </mat-select>
                        </mat-form-field>
            
                        <div class="mb-1">From Amount*
                        </div>
                        <mat-form-field class="flex-grow">
                            <input appOnlyFloat  matInput type="number" formControlName="from_amount"  />
                            <mat-error *ngIf="formGroup.get('from_amount')?.hasError('invalidRange')">
                                "From" value must be less than "To" value.
                            </mat-error>
                        </mat-form-field>

                        <div class="mb-1">To Amount *</div>
                        <mat-form-field class="flex-grow">
                            <input appOnlyFloat matInput type="number" formControlName="to_amount" />
                            <mat-error *ngIf="formGroup.get('to_amount')?.hasError('invalidRange')">
                                "To" value must be greater than "From" value.
                            </mat-error>
                        </mat-form-field>
            
                        <div class="mb-1">Fix Cashback *</div>
                        <mat-form-field class="flex-grow">
                            <input appOnlyFloat matInput type="number" formControlName="fix_cashback" />
                        </mat-form-field>
            
                        <div class="mb-1">From Range *</div>
                        <mat-form-field class="flex-grow">
                            <input appOnlyFloat matInput type="number" formControlName="from_range"/>
                        </mat-form-field>
            
                        <div class="mb-1">To Range *</div>
                        <mat-form-field class="flex-grow">
                            <input appOnlyFloat matInput type="number" formControlName="to_range"/>
                        </mat-form-field>
            
                        <div class="mb-1">Minimum Amount *</div>
                        <mat-form-field class="flex-grow">
                            <input appOnlyFloat matInput type="number" formControlName="minimum_amount"/>
                        </mat-form-field>
                    </form>
                </div>

                <!--  read-only component for Info  -->
                <app-cashback-read *ngIf="modalType == 'readOnly'" [record]="record"></app-cashback-read>
            </div>

            <!-- footer -->
            <div class="justify-end items-center flex sticky bottom-0 border-t-2 border-gray-border white-bg px-5 py-2 h-15">
                <button class="mr-2" mat-stroked-button (click)="closeSidebar()">Close</button>
            
                <button mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="formGroup.invalid">
                    {{btnLabel}}
                </button>
            </div>
        </div>
    </div>
</fuse-drawer>