<div class="flex flex-col gap-3">
    <div class="font-bold text-xl">Domain Pointing</div>
    <div class="dark:bg-[#2C394E8A] bg-slate-100 p-3 rounded-[5px] flex items-center gap-3 dark:text-[#9CADD3] text-[#526fab] text-[12px]">
        <img src="assets/icons/verify-info.svg" alt="Info Icon" class="w-[20px] h-[19px]">
        To learn more about domain pointing and the domain panel, please click on <span
            class="underline text-primaryColor cursor-pointer" (click)="getHelp()">Get help</span>
    </div>

    <div class="border dark:border-[#32415470] rounded-[12px] p-4">
        <div *ngFor="let data of domainPointingData">
            <div class="flex items-center gap-3 pb-2">
                <img *ngIf="!data?.pointed && !isLoading" src="assets/icons/danger-icon.svg" alt="Info Icon"
                    class="w-[20px] h-[19px]">
                <img *ngIf="isLoading" src="assets/images/gif/loader-round-2.gif" alt="Loader Icon" class="w-[20px] h-[19px] translate-y-[1px]">
                <i *ngIf="data?.pointed && !isLoading"
                    class="material-icons text-[20px] text-primaryColor text-medium">check</i>
                <span class="font-normal text-[14px]">
                    {{data?.domain || "-"}} <span *ngIf="data?.pointed_ip" class="text-sm text-[#9CADD3]">({{data?.pointed_ip}})</span>
                </span>
            </div>
        </div>
    </div>

    <div class="footer h-[5rem] p-5 flex justify-end items-center gap-3">

        <button mat-stroked-button (click)="onPreviousPage()">
            Previous
        </button>

        <button *ngIf="!isDomainFalse" mat-flat-button [color]="'primary'" class="flex items-center min-w-[100px]"
            (click)="stepTwoCompleted()">
            Next
        </button>

        <button *ngIf="isDomainFalse" mat-flat-button [color]="'primary'" class="flex items-center min-w-[100px]"
            (click)="onDomainVerify()" [disabled]="isLoading">
            Verify
        </button>
    </div>
</div>