<div class="flex flex-col max-w-240 md:min-w-192 max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium dark:text-white">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current dark:text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-120" [formGroup]="formGroup"
        *ngIf="!readonly; else detailView">
        <div class="flex flex-row space-x-3">
            <!-- <mat-form-field class="flex-grow" >
            <mat-label>Lead Type</mat-label>
            <input type="text" matInput formControlName="country" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #autoo="matAutocomplete">
                <mat-option *ngFor="let ltl of leadTypeList | async" [value]="ltl">{{ ltl.viewValue }}</mat-option>
            </mat-autocomplete>
        </mat-form-field> -->

            <mat-form-field class="flex-grow">
                <mat-label>Lead Type</mat-label>
                <mat-select formControlName="lead_type" required>
                    <mat-option *ngFor="let lt of leadTypeList" [value]="lt.value">{{ lt.viewValue }}</mat-option>
                </mat-select>
                <mat-error *ngIf="formGroup.get('lead_type').hasError('required')">
                    Lead Type is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>City</mat-label>
                <mat-select formControlName="city_id">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="'no matching city found'"
                            formControlName="cityfilter">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of cityList" [value]="ct.id">{{ ct.display_name }}</mat-option>
                </mat-select>
                <input matInput type="text" formControlName="city_name" *ngIf="readonly" [readonly]="readonly" />
            </mat-form-field>
        </div>

        <div class="flex flex-row">
            <mat-form-field class="flex-grow">
                <mat-label>Agency Name</mat-label>
                <input matInput type="text" formControlName="agency_name" [readonly]="readonly" />
                <mat-error *ngIf="formGroup.get('agency_name').hasError('required')">
                    Agency Name is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex flex-row space-x-2">
            <mat-form-field class="flex-grow">
                <mat-label>Contact Person Name</mat-label>
                <input matInput [readonly]="readonly" type="text" formControlName="contact_person_name" />
                <mat-error *ngIf="formGroup.get('contact_person_name').hasError('required')">
                    Contact Person Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Contact Person Email</mat-label>
                <input matInput formControlName="contact_person_email" required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
                <mat-error *ngIf="formGroup.get('contact_person_email').hasError('required')">
                    Email Address is required
                </mat-error>
                <mat-error
                    *ngIf="this.formGroup.get('contact_person_email').value && !isValidEmail(this.formGroup.get('contact_person_email').value)">
                    Please enter a valid email address.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="flex-grow w-8">
                <mat-label>Mobile Code</mat-label>
                <mat-select formControlName="mobile_code" required *ngIf="!readonly">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" (input)="filterMobileCode($event.target.value)"
                            noEntriesFoundLabel="'no matching Mobile Code found'"
                            [formControlName]="'mobilefilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of MobileCodeList | async" [value]="ct.mobile_code">{{ct.mobile_code}} -
                        {{ct.country_code}} </mat-option>
                </mat-select>
                <input *ngIf="readonly" [readonly]="readonly" matInput required formControlName="mobile_code">
            </mat-form-field>

            <mat-form-field class="flex-grow w-16">
                <mat-label>Mobile Number</mat-label>
                <input matInput type="number" (keypress)="numberOnly($event)" autocomplete="off" required formControlName="contact_person_mobile">
                <mat-error *ngIf="formGroup.get('contact_person_mobile').hasError('required')">
                    Mobile No. is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-row">
            <mat-checkbox class="example-margin ml-[-8px]" formControlName="Is_Email_Whatsapp">Send Email and WhatsApp</mat-checkbox>
        </div>
    </form>

    <ng-template #detailView>
        <div class="grid grid-cols-5 gap-4 mb-8 p-6 pb-4 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col mb-3" *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                    <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon>
                </div>
                <span class="text-base truncate" [matTooltip]="filed.value">{{filed.value || '--'}}</span>
            </div>
        </div>
    </ng-template>


    <div *ngIf="!readonly" class="flex items-center justify-end mt-4 sm:mt-1 pr-6 pb-4 space-x-3">
        <button mat-stroked-button (click)="matDialogRef.close()"> Close </button>
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
            {{btnLabel}}
        </button>
    </div>
</div>
