<fuse-drawer class="w-screen min-w-screen sm:w-200 sm:min-w-200 z-999" fixed [mode]="'over'" [name]="'amendmentInfoDrawer'"
    [position]="'right'" #amendmentInfoDrawer>
        <div class="flex flex-col w-full overflow-auto max-h-[calc(100vh-60px)] bg-card">
            <div class="flex flex-row sticky top-0 items-center px-5 border-b h-13 min-h-13 dark:text-white bg-white dark:bg-card">
                <div class="text-lg font-medium tracking-tight">{{title}}</div>
                <button class="ml-auto" mat-icon-button (click)="amendmentInfoDrawer.close()">
                    <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </button>
            </div>

            <div class="px-5">
                <div class="text-lg font-semibold pt-3 text-primary">Agent Info</div>
                <div class="flex flex-wrap pt-2 pb-2 bg-card rounded-2xl">
                    <div class="flex flex-col mb-3" *ngFor="let af of agentInfoList"
                    [ngClass]="af.name == 'Name' ? 'w-1/2' : 'w-1/4'">
                        <div class="flex flex-row space-x-2">
                            <span class=" text-md font-semibold text-secondary">{{af.name}}</span>
                        </div>
                        <span class="text-base truncate" [matTooltip]="af.value">{{af.value || '--'}}</span>
                    </div>
                </div>
                <div class="border border-dashed"></div>

                <div class="text-lg font-semibold pt-4 text-primary">Amendment Info</div>
                <div class="flex flex-wrap pt-2 pb-2 bg-card rounded-2xl ">
                    <div class="flex flex-col mb-3 truncate"
                        [ngClass]="af.name == 'Remark' ? 'w-full' : af.name == 'Agent Remark' ? 'w-full' : 'w-1/4'"
                        *ngFor="let af of amendmentInfoList">
                        <div class="flex flex-row space-x-2">
                            <span class=" text-md font-semibold text-secondary">{{af.name}}</span>
                        </div>
                        <div class="truncate" *ngIf="af.value && !af.toFlight">
                            <span class="text-base truncate" [ngClass]="af.classes" [matTooltip]="af.value">{{af.value || '--'}}</span>
                        </div>
                        <span class="cursor-pointer truncate hover:text-primary-200" *ngIf="af.toFlight && af.name === 'Air Booking No'"
                            (click)="flightDetails()">{{af.value || ' 0 '}}</span>
                        <!-- <span class="text-base"  [matTooltip]="af.value">
                            <span *ngIf="af.value == 0">{{af.value || ' 0 '}}</span>
                        </span> -->
                    </div>
                </div>
                <div *ngIf="paxInfoList && paxInfoList?.length > 0">
                    <div class="border border-dashed"></div>
                    <div class="text-lg font-semibold pt-4 text-primary">Pax Info</div>
                    <div class="pt-2 pb-2">
                        <div class="flex flex-wrap bg-card rounded-2xl" *ngFor="let paxl of paxInfoList">
                            <div class="flex flex-col w-1/4 mb-3" *ngFor="let pax of paxl">
                                <ng-container *ngIf="!pax.toCorrection">
                                    <div class="flex flex-row space-x-2">
                                        <span class=" text-md font-semibold text-secondary">{{pax.name}}</span>
                                    </div>
                                    <span class="text-base truncate" [matTooltip]="pax.value">{{pax.value || '--'}}</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="recordList && recordList?.amendment_info?.status_for_agent !== 'Inprocess' && recordList?.amendment_info?.status_for_agent !== 'Request Sent to Supplier'">
                        <div class="border border-dashed"></div>
                        <div class="text-lg font-semibold pt-4 text-primary">{{titleCharge}}</div>
                        <div class="flex flex-wrap pt-2 pb-2 bg-card rounded-2xl">
                            <div class="flex flex-col mb-3 w-1/4" *ngFor="let af of chargesList">
                                <div class="flex flex-row space-x-2">
                                    <span class=" text-md font-semibold text-secondary">{{af.name}}</span>
                                </div>
                                <span class="text-base truncate">{{af.value || ' 0 '}}</span>
                            </div>
                        </div>
                    </ng-container>
                    
                    <div *ngIf="recordList.paymentbyInfo">
                        <div class="border border-dashed"></div>
                        <div class="text-lg font-semibold pt-4 text-primary">Payment Info</div>
                        <div class="flex flex-wrap pt-2 pb-2 bg-card rounded-2xl">
                            <div class="flex flex-col mb-3 w-1/4" *ngFor="let af of paymentInfoList">
                                <div class="flex flex-row space-x-2">
                                    <span class=" text-md font-semibold text-secondary">{{af.name}}</span>
                                </div>
                                <span class="text-base truncate" [matTooltip]="af.value">{{(af.value || af.value == 0) ? af.value :
                                    '--'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="flex items-center justify-end pt-4 px-5 h-15 sm:mt-0 pb-4 space-x-3 fixed bottom-0 w-full pr-4 dark:bg-[#1e293b] bg-white border-t m-auto">
            <div class="w-1/2 flex justify-end">
                <ng-container
                    *ngIf="recordList && (recordList?.amendment_info?.status_for_agent == 'Inprocess' || recordList?.amendment_info?.status_for_agent !== 'Request Sent to Supplier')">
                    <button mat-stroked-button (click)="sendMail()">
                        Send Mail To Supplier
                    </button>
                </ng-container>
        
                <ng-container *ngIf="recordList && (recordList?.amendment_info?.status_for_agent == 'Inprocess' || recordList?.amendment_info?.status_for_agent == 'Quotation Received'
                || recordList?.amendment_info?.status_for_agent == 'Quotation Confirmed' || recordList?.amendment_info?.status_for_agent == 'Request Sent')">
                    <button class="ml-3" [color]="'primary'" mat-flat-button (click)="updateCharge()">
                        Update Charges
                    </button>
                </ng-container>
            </div>
        </div>
</fuse-drawer>