.break-lines {
    max-width: 20rem;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
}

// :host ::ng-deep .mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix .mat-mdc-floating-label {
//     left: 9px !important;
//     top:-9px !important;
//     display: inline;
//     padding-left: 9px;
//     padding-right: 8px;
//     width:auto !important;
// }



