<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">
            {{ module_name }}
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!------Global Search------>
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'"
                    (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="refreshItems()"></mat-icon>
            </div>

            <!------Global filter------>
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'"
                (click)="_filterService.openDrawer(filter_table_name, primengTable,selectedColumns)"
                matTooltip="Saved Filter" [disabled]="isLoading">
                <img class="w-6 h-auto cursor-pointer" src="assets/icons/common-filter.svg" alt="">
            </button>

            <!-- Select Columns Button and Select Box Code -->
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Select more columns"
                [disabled]="isLoading" (click)="op.toggle($event)">
                <img class="w-5 cursor-pointer ml-1 pt-1" src="assets/icons/column.svg" alt="c">
            </button>
            <p-overlayPanel #op [dismissable]="false">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="overlay-panel"
                    [style]="{'max-width': '220px'}" display="chip" placeholder="Choose Columns"
                    (onChange)="onSelectedColumnsChange()" (onPanelHide)="op.hide()" [appendTo]="'body'"  />
            </p-overlayPanel>

            <!------Refresh------>
            <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Refresh" [disabled]="isLoading"
                (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <!---- Modal Filter -->
            <!-- <button class="ml-4" mat-flat-button [color]="'primary'" (click)="filterDialog()">
                <mat-icon class="w-10 h-10">filter_alt</mat-icon>
                <span class="">Filter</span>
            </button> -->

            <!--- Add  -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="create()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [columns]="selectedColumns" [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1"
            [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
            [loading]="isLoading" [paginator]="true" [rows]="appConfig.pageSize" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="appConfig.pageSizeOptions" [lazy]="true" (onLazyLoad)="refreshItems($event)"
            [scrollable]="true" [scrollHeight]="scrollHeight" [showCurrentPageReport]="true" [showPageLinks]="false"
            [showJumpToPageDropdown]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['file_url', 'document_of', 'is_audited', 'document_user_name', 'kyc_profile_name', 'kyc_profile_doc_name', 'audit_by_name', 'entry_date_time']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="left-[-1px] text-center w-1 dark:bg-gray-800" *ngIf="isDisplayHashCol()" pFrozenColumn>#
                    </th>

                    <th *ngFor="let col of columns; let isLast = last" [pSortableColumn]="col.field" pResizableColumn
                        [ngClass]="{ 'w-full': isLast}" [class]="col.class">
                        {{ col.header }}
                        <p-sortIcon [field]="col?.field" />
                    </th>               
                </tr>

                <tr *ngIf="isFilterShow">
                    <th class="left-[-1px] bg-gray-50 dark:bg-gray-800" pFrozenColumn></th>
                    <th *ngFor="let col of columns">
                        <ng-container *ngIf="!col?.isHideFilter">
                            <!-- Text -->
                            <p-columnFilter *ngIf="(col.type == types.text  || col.type == types.link)" [type]="'text'"
                                [field]="col.field" [placeholder]="'Search by '+ col.header"
                                [ariaLabel]="'Filter '+ col.header" matchMode="contains" />


                            <p-columnFilter *ngIf="col.type == types.select && col.field == 'document_of' "
                                [field]="col.field" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="selectMasterList"
                                        (onChange)="filter($event.value)" placeholder="Select Document Of"
                                        [showClear]="true" appendTo="body">
                                        <ng-template let-option pTemplate="item">
                                            <p>{{option.value}}</p>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>

                            <ng-container *ngIf="col.type == types.select && col.field == 'is_audited' ">
                                <p-columnFilter field="status_filter" matchMode="equals" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="statusList"
                                            (onChange)="filter($event.value)" placeholder="Select Status"
                                            [showClear]="true" appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <p>{{option.value}}</p>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </ng-container>

                            <p-columnFilter class="searchableDropdown"
                                *ngIf="col.type == types.select && col.field == 'kyc_profile_doc_name' "
                                [field]="col.field" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [options]="documentList"
                                        [(ngModel)]="selectedDocument" optionLabel="document_name" [filter]="true"
                                        filterBy="document_name" (onChange)="filter($event.value)" [showClear]="true"
                                        appendTo="body" placeholder="Select a Document">
                                        <ng-template let-doc pTemplate="item">
                                            <div class="flex align-items-center gap-2">
                                                <div [value]="doc.document_name">{{ doc.document_name }}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>

                            <!--date picker-->
                            <p-columnFilter *ngIf="col.type == types.date" type="date" [field]="col.field">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" [ngModel]="value"
                                        appendTo="body" placeholder="Search by Signup">
                                    </p-calendar>
                                </ng-template>
                            </p-columnFilter>

                            <!--date range picker-->
                            <ng-container *ngIf="col.type == types.dateTime && col.field == 'entry_date_time'">
                                <p-columnFilter *ngIf="(_filterService.selectionDateDropdown$ | async) != 'custom_date_range'" [field]="col.field"
                                    matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                            [options]="_filterService.dateRangeList" optionLabel="label" placeholder="Select Option"
                                            appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <div (click)="_filterService.onOptionClick(option, primengTable, col.field)">
                                                    <div>{{option.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            
                                <ng-container *ngIf="(_filterService.selectionDateDropdown$ | async) == 'custom_date_range'">
                                    <div class="relative inline-block">
                                        <p-columnFilter [field]="col.field" matchMode="custom" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-calendar selectionMode="range" [ngModel]="value"
                                                    (ngModelChange)="onDateRangeChange($event, filter)" [readonlyInput]="true" dateFormat="dd-mm-yy"
                                                    appendTo="body" placeholder="📅 Search by Date Range">
                                                </p-calendar>
                                            </ng-template>
                                        </p-columnFilter>
                                        <mat-icon class="icon-size-4 cursor-pointer absolute"
                                            style="top:50%; transform: translatey(-50%); right: 25px;"
                                            (click)="_filterService.onOptionClick('', '', '')">cancel</mat-icon>
                                    </div>
                                </ng-container>
                            </ng-container>
                            
                            <ng-container *ngIf="col.type == types.dateTime && col.field == 'reject_date_time' ">
                                <p-columnFilter *ngIf="(_filterService.selectionDateDropdownTwo$ | async) != 'custom_date_range'"
                                    field="reject_date_time" matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                            [options]="_filterService.dateRangeList" optionLabel="label" placeholder="Select Option"
                                            appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <div (click)="_filterService.onOptionClickTwo(option, primengTable, 'reject_date_time')">
                                                    <div>{{option.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            
                                <ng-container *ngIf="(_filterService.selectionDateDropdownTwo$ | async) == 'custom_date_range'">
                                    <div class="relative inline-block">
                                        <p-columnFilter field="reject_date_time" matchMode="custom" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-calendar selectionMode="range" [ngModel]="value"
                                                    (ngModelChange)="onDateRangeChange($event, filter)" [readonlyInput]="true" dateFormat="dd-mm-yy"
                                                    appendTo="body" placeholder="📅 Search by Date Range">
                                                </p-calendar>
                                            </ng-template>
                                        </p-columnFilter>
                                        <mat-icon class="icon-size-4 cursor-pointer absolute"
                                            style="top:50%; transform: translatey(-50%); right: 25px;"
                                            (click)="_filterService.onOptionClickTwo('', '', '')">cancel</mat-icon>
                                    </div>
                                </ng-container>
                            </ng-container>

                        </ng-container>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-columns="columns">
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn
                        *ngIf="isDisplayHashCol()">
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="view(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600;">Info</span>
                            </button>
                            <button *ngIf="!element.is_audited" mat-menu-item (click)="Audit(element)">
                                <mat-icon class="mat-18">check_circle</mat-icon>
                                <span style="font-weight: 600;">Audit</span>
                            </button>
                            <button *ngIf="!element.is_rejected" mat-menu-item (click)="Reject(element)">
                                <mat-icon class="mat-18">close</mat-icon>
                                <span style="font-weight: 600;">Reject</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td *ngFor="let col of columns" [ngClass]="col.class">
                        <ng-container
                            *ngIf="(col.type === types.text || col.type === types.select) && col.field != 'is_audited'">
                            {{ element[col.field] || '-' }}
                        </ng-container>

                        <ng-container *ngIf="col.type == types.link">
                            <mat-icon svgIcon="heroicons_outline:arrow-down-tray"
                                class="rounded-full cursor-pointer text-blue-600 p-0.5"
                                (click)="downloadfile(element['file_url'])" [matTooltip]="'Download'"></mat-icon>
                        </ng-container>

                        <ng-container *ngIf="col.type == types.dateTime">
                            {{isValidDate(element[col.field])? (element[col.field] | date: col.dateFormat): "-"}}
                        </ng-container>

                        <ng-container *ngIf="col.type === types.select && col.field == 'is_audited'">
                            <div *ngIf="element['is_audited']" class="flex items-center cursor-pointer"
                                [matTooltip]="'Audit'">
                                <div class="text-green-600">Audited</div>
                            </div>

                            <div *ngIf="!element['is_audited'] && !element['is_rejected']"
                                class="flex items-center cursor-pointer" [matTooltip]="'Pending'">
                                <div class="text-orange-500">Audit Pending</div>
                            </div>

                            <div *ngIf="element['is_rejected']" class="flex items-center cursor-pointer">
                                <div class="flex items-center space-x-1">
                                    <mat-icon class="icon-size-4" svgIcon="mat_outline:info"
                                        [matTooltip]="element['rejection_note']"></mat-icon>
                                    <div class="text-red-600">Rejected</div>
                                </div>
                            </div>
                        </ng-container>
                    </td>                
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14" *ngIf="selectedColumns?.length">
                    <td [attr.colspan]="displayColCount()" class="text-center font-semibold text-lg">{{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="text-center mt-5" *ngIf="selectedColumns && !selectedColumns?.length"> No column to display! Please
        Select a column
    </div>
</div>