<div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden dark:bg-transparent">

    <p-overlayPanel #op>
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="overlay-panel"
            [style]="{'max-width': '220px'}" display="chip" placeholder="Choose Columns"
            (onChange)="onColumnsChange()" />
    </p-overlayPanel>

<div class="table-container paginator-bottom">
    <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
        columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
        [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
        [lazy]="true" (onLazyLoad)="refreshItems($event)" [scrollable]="true" [scrollHeight]="scrollHeightWTab"
        [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" [globalFilterFields]=""
        styleClass="p-datatable-gridlines p-datatable-sm">

        <ng-template pTemplate="header">
            <tr>
                <th class="w-5 text-center left-[-1px]" pFrozenColumn>#</th>
                <th pSortableColumn="lead_status" pResizableColumn pResizableColumn alignFrozen="left" pFrozenColumn class="dark:bg-[#1e293b]"
                    [frozen]="frozenObj?.lead_status" [ngClass]="{'left-0': !frozenObj?.lead_status}">
                    Status <p-sortIcon field="lead_status" />
                    <span class="float-right" (click)="isFrozenColumn('lead_status');$event.stopPropagation()">
                        <i *ngIf="!frozenObj?.lead_status" class="pi pi-lock-open icon-size-3"></i>
                        <i *ngIf="frozenObj?.lead_status" class="pi pi-lock icon-size-3"></i>
                    </span>
                </th>
                <th pSortableColumn="agency_name" pResizableColumn>
                    Agency <p-sortIcon field="agency_name" />
                </th>
                <th pSortableColumn="contact_person_email" pResizableColumn>
                    Email <p-sortIcon field="contact_person_email" />
                </th>
                <th pSortableColumn="contact_person_mobile" pResizableColumn>
                    Mobile <p-sortIcon field="contact_person_mobile" />
                </th>
                <th class="min-w-[150px]" pSortableColumn="last_call_date_time" pResizableColumn>
                    Last Status Date <p-sortIcon field="last_call_date_time" />
                </th>
                <th pSortableColumn="last_call_feedback" pResizableColumn>
                    Last Remark <p-sortIcon field="last_call_feedback" />
                </th>
                <th pSortableColumn="lead_source" pResizableColumn>
                    Source <p-sortIcon field="lead_source" />
                </th>
            </tr>

            <tr *ngIf="isFilterShowArchive">
                <th class=" left-[-1px]" pFrozenColumn></th>
                <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.lead_status" class="min-w-[110px]">
                    <!-- <p-columnFilter field="lead_status" type="text" placeholder="Search by Status"
                        ariaLabel="Filter Status"></p-columnFilter> -->
                    <p-columnFilter field="lead_status" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="statusList"
                                (onChange)="filter($event.value)" placeholder="Select Status" [showClear]="true"
                                appendTo="body">
                                <ng-template let-option pTemplate="item">
                                    <p>{{option}}</p>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="agency_name" placeholder="Search by Agency"
                        ariaLabel="Filter Agency" />
                </th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="contact_person_email" placeholder="Search by Email"
                        ariaLabel="Filter Email" />
                </th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="contact_person_mobile" placeholder="Search by Mobile"
                        ariaLabel="Filter Mobile" />
                </th>
                <th>
                    <!-- <p-columnFilter field="last_call_date_time" type="date">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" appendTo="body"
                                [ngModel]="value" placeholder="Search by Last Status Date">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter> -->

                    <p-columnFilter *ngIf="(_filterService.selectionDateDropdown$ | async) != 'custom_date_range'" 
                    field="last_call_date_time" matchMode="custom" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                [options]="_filterService.dateRangeList" optionLabel="label"
                                placeholder="Select Option" appendTo="body">
                                <ng-template let-option pTemplate="item">
                                    <div (click)="_filterService.onOptionClick(option, primengTable, 'last_call_date_time')">
                                        <div>{{option.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>

                    <ng-container *ngIf="(_filterService.selectionDateDropdown$ | async) == 'custom_date_range'">
                        <div class="relative inline-block">
                            <p-columnFilter field="last_call_date_time" matchMode="custom" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-calendar selectionMode="range" [ngModel]="value"
                                        (ngModelChange)="onDateRangeChange($event, filter)" [readonlyInput]="true"
                                        dateFormat="dd-mm-yy" appendTo="body" placeholder="📅 Search by Date Range">
                                    </p-calendar>
                                </ng-template>
                            </p-columnFilter>
                            <mat-icon class="icon-size-4 cursor-pointer absolute"
                                style="top:50%; transform: translatey(-50%); right: 25px;"
                                (click)="_filterService.onOptionClick('', '', '')">cancel</mat-icon>
                        </div>
                    </ng-container>
                </th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="last_call_feedback" placeholder="Search by Last Remark"
                        ariaLabel="Filter Last Remark" />
                </th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="lead_source" placeholder="Search by Source"
                        ariaLabel="Filter Source"/>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-element let-i="rowIndex">
            <tr>
                <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                    <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                        <mat-icon> more_vert </mat-icon>
                    </span>

                    <mat-menu #optionMenu>
                        <button mat-menu-item (click)="statusChangedLog(element)">
                            <mat-icon class="mat-18">event_note</mat-icon>
                            <span style="font-weight: 600">Status Changed Log</span>
                        </button>
                        <button mat-menu-item (click)="deadLeadToLiveLead(element)"
                            *ngIf="element.lead_status == 'Dead'">
                            <mat-icon svgIcon="heroicons_outline:document-minus"></mat-icon>
                            <span style="font-weight: 600">Dead Lead To Live Lead</span>
                        </button>
                    </mat-menu>
                </td>
                <td class="min-w-[110px]" alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.lead_status">
                    <span [ngClass]="getStatusColor(element.lead_status)">{{(element.lead_status) || '-'}}</span>
                </td>

                <td>
                    {{element.agency_name || '-'}}
                </td>

                <td>
                    {{element.contact_person_email || '-'}}
                </td>

                <td>
                    {{element.contact_person_mobile || '-'}}
                </td>

                <td>
                    {{(element.last_call_date_time | date: 'dd-MM-yyyy') || "-"}}
                </td>

                <td>
                    {{element.last_call_feedback || '-'}}
                </td>

                <td class="w-full">
                    {{element.lead_source || '-'}}
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr class="h-14">
                <td colspan="10" class="text-center font-semibold text-lg">
                    {{getNodataText()}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>