<!-- Two Factor Authentication -->
<div class="flex flex-col gap-4 " id="two-factor">
    <div class="flex items-center justify-between border-b dark:border-[#374252] pb-4 -mx-6 px-6">
        <div class="flex items-center">
            <h1 class="text-3xl font-semibold text-[#0B0D0E] font-Inter dark:text-white">Two-factor Authentication</h1>
            <!-- <button class="bg-red-100 text-[#B45437] font-medium font-Inter py-1 px-3 ml-2 rounded-md text-sm">
                DISABLE
            </button>
            <button *ngIf="false"
                class="white-bg primary-text font-medium font-Inter py-1 px-3 ml-2 rounded-md text-sm ">
                ENABLED
            </button> -->
        </div>
        <!-- <i class="material-icons cursor-pointer font-thin">close</i> -->
        <button *ngIf="twoFaAuthenticationService.isTfaEnabled" mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-[#374252] dark:text-white"
                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <div class="body">
        <p class="text-[#48505C] mb-6 font-normal text-lg dark:text-[#E5E1E1]">
            Enable two-factor authentication to add an extra layer of security. A second login step can keep your
            account secure, even if your password is compromised. To enable it, all you need is a smart phone.
        </p>

        <div class="space-y-2">
            <h1 class="text-xl font-medium text-[#0B0D0E] dark:text-white font-Inter mb-4">Two-Factor Method</h1>

            <div class="flex items-center justify-between pt-2 pl-0 pr-4 pb-4 border-b border-stone-200 dark:border-[#374252]"
                *ngFor="let method of twoFaAuthenticationService.twoFactorMethod; let i = index">
                <div class="flex space-x-3">
                    <div class="text-blue-500 dark:text-[#687798]">
                        <img [src]="method.iconDark" alt="Bonton Logo" class="mx-auto w-7 h-7 pt-1" />
                    </div>
                    <div>
                        <h2 class="font-medium font-Inter text-xl text-[#24282E] dark:text-white">
                            {{ method.title }}
                            <button *ngIf="method.is_enabled"
                                class="font-Inter py-1 px-3 ml-0.5 rounded-md text-sm text-[#2AB775] border border-[#2AB775] cursor-default">
                                CONFIGURED
                            </button>
                        </h2>
                        <p class="text-base font-Inter font-normal text-[#24282E] dark:text-[#879FC1] pt-1">
                            {{ method.content }}
                        </p>
                    </div>
                </div>

                <div class="flex flex-col">
                    <ng-container *ngIf="!method.is_enabled; else disableButtons">
                        <button class="px-8 min-w-26 min-h-8 font-semibold text-base" mat-flat-button
                            [color]="'primary'" (click)="authenticationEnabled(method)">
                            Enable
                        </button>

                        <!-- <button (click)="authenticationEnabled(method.tfa_type)"
                            class="font-medium font-Inter py-1 px-3 ml-2 rounded-md text-base text-[#234977] w-24 border bottom-2 border-[#E7EBEE] bg-[#F3F5F7]">
                            Enable
                        </button> -->
                    </ng-container>

                    <ng-template #disableButtons>
                        <button
                            class="px-7 min-w-24 min-h-8 font-semibold text-base text-[#B43737] bg-[#FFEDED]"
                            mat-flat-button (click)="authenticationDisabled(method)">
                            Disable
                        </button>

                        <button *ngIf="!method.is_selected" (click)="switchAuthentication(method)"
                            class="font-Inter font-semibold text-base p-1 mt-3 rounded-full text-[#000000] dark:text-[#ffffff] min-w-24 min-h-9 border border-[#0D9488]">
                            Selected
                        </button>
                    </ng-template>

                    <button *ngIf="method.is_selected"
                        class="flex items-center font-semibold text-base font-Inter p-1 px-2 mt-3 rounded-full text-[#0D9488] min-w-24 min-h-8 border border-[#0D9488] cursor-default">
                        <mat-icon svgIcon="heroicons_solid:check-circle"
                            class="icon-size-6 text-[#0D9488] pr-1"></mat-icon>
                        Selected
                    </button>

                    <!-- <button *ngIf="method.is_selected"
                        class="flex items-center font-medium font-Inter p-1 ml-2 mt-3 rounded-md text-base text-[#234977] w-24 border border-[#CDDAEA] bg-[#EBF4FF] cursor-default">
                        <mat-icon svgIcon="heroicons_solid:check-circle"
                            class="icon-size-6 text-[#234977] pr-1"></mat-icon>
                        Selected
                    </button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Note Section -->
    <p class="text-sm pb-2">
        <span class="font-Inter font-semibold text-lg dark:text-white">Note :</span>
        <span class="font-Inter text-lg pl-1 dark:text-[#E5E1E1]">
            Activating two-factor authentication will sign you out of all other sessions.
        </span>
    </p>
</div>