<div class="flex flex-col max-w-240 md:min-w-120 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">Update Charge</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <div class="px-5 py-2 mt-2">
        <form [formGroup]="formGroup" class="flex flex-col">

            <div class="w-full">
                <mat-form-field class="w-full">
                    <mat-label>Supplier</mat-label>
                    <mat-select formControlName="supplier_id" required [compareWith]="compareWith" (selectionChange)="SupplierChange()">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching agent found'" [formControlName]="'agentfilter'">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let ct of SupplierList | async" [value]="ct">{{ ct.company_name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex gap-2">
                <mat-form-field class="w-1/2">
                    <mat-label>ROE</mat-label>
                    <input matInput type="number" readonly required formControlName="roe">
                </mat-form-field>

                <mat-form-field class="w-1/2">
                    <mat-label>Per Person Charge</mat-label>
                    <input matInput type="number" required formControlName="per_person_charge">
                </mat-form-field>
            </div>

        </form>
    </div>

    <div class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <button mat-stroked-button (click)="matDialogRef.close()">Close</button>
        <button mat-flat-button [color]="'primary'" (click)="Submit()" >
            Update
        </button>
    </div>
</div>