<div class="flex flex-col flex-auto min-w-0">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-5 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div class="cursor-pointer" [routerLink]="destinationListRoute">
                    <a class="whitespace-nowrap text-primary-500"
                        >Destination</a
                    >
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500">{{
                        readonly ? "Detail" : record.id ? "Modify" : "Entry"
                    }}</a>
                </div>
            </div>
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    {{ title }}
                </h2>
            </div>
        </div>
    </div>

    <div class="flex-auto px-20">
        <form
            #formElementMain
            class="flex flex-col mx-5 xl:mx-60 p-8 pb-4 rounded-2xl shadow overflow-hidden"
            [formGroup]="formGroup"
        >
            <div class="flex flex-row space-x-3 items-center">
                <mat-form-field class="w-100">
                    <mat-label>Destination Name</mat-label>
                    <input
                        matInput
                        formControlName="destination_name"
                        [readonly]="readonly"
                        required
                    />
                </mat-form-field>

                <mat-slide-toggle
                    color="primary"
                    formControlName="is_enable"
                    *ngIf="!readonly"
                >
                    <span class="pl-1">Is Enable</span></mat-slide-toggle
                >

                <button
                    mat-flat-button
                    [color]="'primary'"
                    (click)="submit()"
                    *ngIf="!readonly"
                    [disabled]="disableBtn"
                >
                    {{ btnLabel }}
                </button>
            </div>
        </form>

        <mat-tab-group
            *ngIf="formGroup.get('id').value"
            class="sm:px-2"
            mat-stretch-tabs="false"
            [animationDuration]="'0'"
        >
            <mat-tab label="Destination City">
                <ng-template matTabContent>
                    <div class="flex flex-col mt-4 overflow-hidden">
                        <form
                            class="flex flex-col mt-4 overflow-hidden"
                            [formGroup]="destinationCityFormGroup"
                            *ngIf="formGroup.get('id').value && !readonly"
                        >
                            <div class="flex flex-row space-x-3 items-center">
                                <mat-form-field class="w-120">
                                    <mat-label>City</mat-label>
                                    <mat-select
                                        formControlName="destination_city_id"
                                        [compareWith]="compareWith"
                                        required
                                    >
                                        <mat-option>
                                            <ngx-mat-select-search
                                                placeholderLabel="Search"
                                                noEntriesFoundLabel="'no matching city found'"
                                                [formControlName]="'cityfilter'"
                                            >
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option
                                            *ngFor="let ct of cityList | async"
                                            [value]="ct"
                                            >{{ ct.display_name }}</mat-option
                                        >
                                    </mat-select>
                                    <input
                                        matInput
                                        type="text"
                                        required
                                        *ngIf="readonly"
                                        [readonly]="readonly"
                                        formControlName="destination_city_name"
                                    />
                                </mat-form-field>

                                <button
                                    mat-stroked-button
                                    color="primary"
                                    *ngIf="!readonly"
                                    [disabled]="
                                        destinationCityFormGroup.invalid
                                    "
                                    (click)="SaveDestinationCity()"
                                >
                                    Save Destination City
                                </button>
                            </div>
                        </form>

                        <div class="flex flex-col space-y-2">
                            <div
                                class="flex flex-row space-x-2 panel cursor-pointer items-center"
                                *ngFor="let dt of destinationCityList"
                            >
                                <div class="flex flex-row space-x-1">
                                    <mat-icon
                                        (click)="removeDestinationCity(dt)"
                                        *ngIf="!readonly"
                                        class="icon-size-4 text-red-500 only-show-on-hover"
                                        matTooltip="Remove Note"
                                        >delete</mat-icon
                                    >
                                </div>
                                <mat-icon class="icon-size-4"
                                    >radio_button_checked
                                </mat-icon>
                                <span>
                                    {{ dt.destination_city_id.display_name }}
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>

            <mat-tab label="Product Exclusion">
                <ng-template matTabContent>
                    <div class="flex flex-col my-4">
                        <form
                            class="flex flex-row space-x-4 items-center"
                            [formGroup]="productExclusionFormGroup"
                            *ngIf="!readonly"
                        >
                            <mat-form-field class="flex-grow">
                                <mat-label class="text-sm"
                                    >Product Exclusions</mat-label
                                >
                                <input
                                    matInput
                                    formControlName="exclusion"
                                    required            
                                />
                            </mat-form-field>

                            <button
                                mat-stroked-button
                                color="primary"
                                *ngIf="!readonly"
                                [disabled]="productExclusionFormGroup.invalid"
                                (click)="SaveProductExclusions()"
                            >
                                Save Product Exclusions
                            </button>
                        </form>

                        <div class="flex flex-col space-y-2">
                            <div
                                class="flex flex-row space-x-2 panel cursor-pointer items-center"
                                *ngFor="let note of productExclusions"
                            >
                                <div class="flex flex-row space-x-1">
                                    <mat-icon
                                        (click)="
                                            modifyDestintionExclusion(note)
                                        "
                                        *ngIf="!readonly"
                                        class="icon-size-4 text-secondary only-show-on-hover"
                                        matTooltip="Modify Note"
                                        >edit</mat-icon
                                    >
                                    <mat-icon
                                        (click)="removeProductExclusion(note)"
                                        *ngIf="!readonly"
                                        class="icon-size-4 text-red-500 only-show-on-hover"
                                        matTooltip="Remove Note"
                                        >delete</mat-icon
                                    >   
                                </div>
                                <mat-icon class="icon-size-4"
                                    >radio_button_checked</mat-icon
                                >
                                <span
                                    [ngClass]="{ 'opacity-50': !note.id }"
                                    [matTooltip]="
                                        !note.id
                                            ? 'This exclusion not saved, click here to save'
                                            : ''
                                    "
                                    (click)="saveDefault(note)"
                                    >{{ note.exclusion }}</span
                                >
                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
