<div class="flex flex-col flex-auto overflow-hidden -m-6 min-w-80 max-w-80">
    <div class="flex flex-0 justify-between h-13 pr-0 sm:pr-0 pl-0 sm:pl-0">
        <div class="text-xl font-bold tracking-tight pt-[15px] pl-3">{{title}}</div>
        <div class="mt-2 mr-2">
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current notranslate dark:text-white mat-icon-no-color"
                    [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="min-h-[145px]">
        <div class="w-[100%] pt-5 pl-3 pb-0">
            <div class="flex flex-row w-full justify-between">
                <label class="text-base dark:text-white text-black font-medium">{{dataList[0]}}</label>
                <div>
                    <!-- [ngClass]="{'text-blue-600 cursor-pointer': ListItem['isInvoice'] && ListItem['receipt_status'] === 'Confirmed',
                    'text-blue-100 cursor-not-allowed opacity-20': !ListItem['isInvoice']}"
                    (click)="ListItem['isInvoice'] && ListItem['receipt_status'] === 'Confirmed' ? downloadInvoice(ListItem['id']) : null"-->
                    <span class="text-left justify-left mr-4">
                        <a href="assets/file/BuildMyBrandBrochureIndia.pdf" target="_blank">
                            <mat-icon svgIcon="heroicons_outline:arrow-down-tray" class="text-blue-600"></mat-icon>
                        </a>
                    </span>

                    <!-- <div
                    class="flex bg-card border dark:bg-[#364459] items-center py-1 px-[10px] rounded-md mb-5 justify-between">
                    <span class="mr-4 ml-1 dark:text-white text-black">Download Sample File</span>
                    <a href="assets/file/ImportLeads.csv">
                        <mat-icon svgIcon="heroicons_outline:arrow-down-tray" class="text-blue-500"></mat-icon>
                    </a>
                </div> -->

                    <!-- <button mat-flat-button
                        [disabled]="!dataList[0]?.whatsapp"
                        [ngClass]="!dataList[0]?.whatsapp ? 'bg-gray-700 opacity-70 dark:text-white text-black cursor-not-allowed' : 'cursor-pointer'"
                        class="rounded-lg font-normal dark:text-white text-black text-lg text-center justify-center items-center mr-3 bg-[#2B3E5B]">
                        <div class="flex flex-row pt-2 pb-2 pr-2">
                            <div>
                                <img class="" src="assets/images/crm/send.png" class="pr-2" alt="Send image">
                            </div>
                            <span class="text-white  font-medium text-base">Send</span>
                        </div>
                    </button>
                    <button mat-flat-button
                        [disabled]="!dataList[0]?.email"
                        [ngClass]="!dataList[0]?.email ? 'bg-gray-700 opacity-70 dark:text-white text-black cursor-not-allowed' : 'cursor-pointer'"
                        class="rounded-lg font-normal dark:text-white text-black text-lg text-center justify-center items-center bg-[#2B3E5B]">
                        <div class="flex flex-row pt-2 pb-2 pr-2">
                            <div>
                                <img class="" src="assets/images/crm/email.png" class="pr-2" alt="Email image">
                            </div>
                            <span class="text-white  font-medium text-base">Email
                            </span>
                        </div>
                    </button> -->
                </div>
            </div>
        </div>
        <div class="w-[100%] pt-3 pl-3 pb-0">
            <div class="flex flex-row w-full justify-between">
                <label class="text-base dark:text-white text-black font-medium">{{dataList[1]}}</label>
                <div>
                    <span class="text-left justify-left mr-4">
                        <a href="assets/file/BuildMyBrandBrochureInternational.pdf" target="_blank">
                            <mat-icon svgIcon="heroicons_outline:arrow-down-tray" class="text-blue-600"></mat-icon>
                        </a>
                    </span>
                    <!-- <button mat-flat-button
                        [disabled]="!dataList[1]?.whatsapp"
                        [ngClass]="!dataList[1]?.whatsapp ? 'bg-gray-700 opacity-70 dark:text-white text-black cursor-not-allowed' : 'cursor-pointer'"
                        class="rounded-lg font-normal dark:text-white text-black text-lg text-center justify-center items-center mr-3 bg-[#2B3E5B]">
                        <div class="flex flex-row pt-2 pb-2 pr-2">
                            <div>
                                <img class="" src="assets/images/crm/send.png" class="pr-2" alt="Send image">
                            </div>
                            <span class="text-white  font-medium text-base">Send</span>
                        </div>
                    </button>
                    <button mat-flat-button
                        [disabled]="!dataList[1]?.email"
                        [ngClass]="!dataList[1]?.email ? 'bg-gray-700 opacity-70 dark:text-white text-black cursor-not-allowed' : 'cursor-pointer'"
                        class="rounded-lg font-normal dark:text-white text-black text-lg text-center justify-center items-center bg-[#2B3E5B]">
                        <div class="flex flex-row pt-2 pb-2 pr-2">
                            <div>
                                <img class="" src="assets/images/crm/email.png" class="pr-2" alt="Email image">
                            </div>
                            <span class="text-white font-medium text-base">Email</span>
                        </div>
                    </button> -->
                </div>
            </div>
        </div>
        <div class="w-[100%] pt-3 pl-3 pb-0">
            <div class="flex flex-row w-full justify-between">
                <label class="text-base dark:text-white text-black font-medium">{{dataList[2]}}</label>
                <div>
                    <span class="text-left justify-left mr-4">
                        <a href="assets/file/BoostMyBrandBrochure.pdf" target="_blank">
                            <mat-icon svgIcon="heroicons_outline:arrow-down-tray" class="text-blue-600"></mat-icon>
                        </a>
                    </span>
                    <!-- <button mat-flat-button
                        class="rounded-lg font-normal dark:text-white text-black text-lg text-center justify-center items-center mr-3 bg-[#2B3E5B]">
                        <div class="flex flex-row pt-2 pb-2 pr-2">
                            <div>
                                <img class="" src="assets/images/crm/send.png" class="pr-2" alt="Send image">
                            </div>
                            <span class="text-white  font-medium text-base">Send</span>
                        </div>
                    </button>
                    <button mat-flat-button
                        class="rounded-lg font-normal dark:text-white text-black text-lg text-center justify-center items-center bg-[#2B3E5B]">
                        <div class="flex flex-row pt-2 pb-2 pr-2">
                            <div>
                                <img class="" src="assets/images/crm/email.png" class="pr-2" alt="Email image">
                            </div>
                            <span class="text-white  font-medium text-base">Email</span>
                        </div>
                    </button> -->
                </div>
            </div>
        </div>

        <div class="w-[100%] pt-3 pl-3 pb-3">
            <div class="flex flex-row w-full justify-between">
                <label class="text-base dark:text-white text-black font-medium">{{dataList[3]}}</label>
                <div>
                    <span class="text-left justify-left mr-4">
                        <a href="assets/file/BontonCompanyProfile.pdf" target="_blank">
                            <mat-icon svgIcon="heroicons_outline:arrow-down-tray" class="text-blue-600"></mat-icon>
                        </a>
                    </span>
                    <!-- <button mat-flat-button
                        class="rounded-lg font-normal dark:text-white text-black text-lg text-center justify-center items-center mr-3 bg-[#2B3E5B]">
                        <div class="flex flex-row pt-2 pb-2 pr-2">
                            <div>
                                <img class="" src="assets/images/crm/send.png" class="pr-2" alt="Send image">
                            </div>
                            <span class="text-white  font-medium text-base">Send</span>
                        </div>
                    </button>
                    <button mat-flat-button
                        class="rounded-lg font-normal dark:text-white text-black text-lg text-center justify-center items-center bg-[#2B3E5B]">
                        <div class="flex flex-row pt-2 pb-2 pr-2">
                            <div>
                                <img class="" src="assets/images/crm/email.png" class="pr-2" alt="Email image">
                            </div>
                            <span class="text-white  font-medium text-base">Email</span>
                        </div>
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>
