<div class="table-container paginator-bottom">
    <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
        columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
        [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
        [lazy]="true" (onLazyLoad)="refreshItems($event)" [scrollable]="true" [scrollHeight]="scrollHeightWTab"
        [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" [globalFilterFields]=""
        styleClass="p-datatable-gridlines p-datatable-sm">

        <ng-template pTemplate="header">
            <tr>
                <th class="w-5 text-center left-[-1px]" pFrozenColumn>#</th>
                <th pSortableColumn="item_code" pResizableColumn pResizableColumn alignFrozen="left" pFrozenColumn class="dark:bg-[#1e293b]"
                    [frozen]="frozenObj?.item_code" [ngClass]="{'left-0': !frozenObj?.item_code}">
                    Item Code <p-sortIcon field="item_code" />
                    <span class="float-right" (click)="isFrozenColumn('item_code');$event.stopPropagation()">
                        <i *ngIf="!frozenObj?.item_code" class="pi pi-lock-open icon-size-3"></i>
                        <i *ngIf="frozenObj?.item_code" class="pi pi-lock icon-size-3"></i>
                    </span>
                </th>
                <th pSortableColumn="item_name" pResizableColumn>
                    Item <p-sortIcon field="item_name" />
                </th>
                <th pSortableColumn="product_name" pResizableColumn>
                    Product <p-sortIcon field="product_name" />
                </th>
                <th pSortableColumn="agentCode" pResizableColumn>
                    Agent Code <p-sortIcon field="agentCode" />
                </th>
                <th pSortableColumn="agency_name" pResizableColumn>
                    Agency Name <p-sortIcon field="agency_name" />
                </th>
                <th pSortableColumn="block_date_time" pResizableColumn>
                    Block Date <p-sortIcon field="block_date_time" />
                </th>
                <th pSortableColumn="expiry_date" pResizableColumn>
                    Expiry Date <p-sortIcon field="expiry_date" />
                </th>
            </tr>

            <tr *ngIf="isFilterShowBlocked">
                <th class=" left-[-1px]" pFrozenColumn></th>
                <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.item_code" class="min-w-[110px]">
                    <p-columnFilter field="item_code" type="text" placeholder="Search by Item code" ariaLabel="Filter Item code"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="item_name" placeholder="Search by Item"
                        ariaLabel="Filter Item" />
                </th>
                <th>
                    <p-columnFilter type="text" matchMode="contains" field="product_name" placeholder="Search by Product"
                        ariaLabel="Filter Product" />
                </th>
                <th>
                    <p-columnFilter type="numeric" field="agentCode" placeholder="Search by Agent Code"
                        ariaLabel="Filter Agent Code" />
                </th>
                <th>
                    <!-- <p-columnFilter type="text" matchMode="contains" field="agency_name" placeholder="Search by Agency Name"
                        ariaLabel="Filter Agency Name" /> -->
                    <p-columnFilter class="searchableDropdown" field="agency_name" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown class="filter-dropdown" [options]="agentList" optionLabel="agent_info"
                                [filter]="true" filterBy="agent_info" [(ngModel)]="selectedAgent"
                                (onFilter)="getAgent($event?.filter)" (onChange)="filter($event.value)"
                                [showClear]="true" appendTo="body" placeholder="Select Agent">
                                <ng-template let-agent pTemplate="item">
                                    <div class="flex align-items-center gap-1">
                                        <div [value]="agent.id">
                                            <div class="m-0">
                                                {{agent.code}} - {{agent.agency_name}}
                                                <div class="text-sm text-slate-500">{{agent.email_address}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="block_date_time" type="date">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" appendTo="body"
                                [ngModel]="value" placeholder="Search by Block Date">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="expiry_date" type="date">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" appendTo="body"
                                [ngModel]="value" placeholder="Search by Expiry Date">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-element let-i="rowIndex" >
            <tr>
                <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                    <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                        <mat-icon> more_vert </mat-icon>
                    </span>

                    <mat-menu #optionMenu>
                        <button mat-menu-item (click)="viewDetail(element)">
                            <mat-icon class="mat-18">info</mat-icon>
                            <span style="font-weight: 600">Info</span>
                        </button>
                        <button mat-menu-item (click)="unBlocked(element,i)">
                            <mat-icon class="mat-18">history</mat-icon>
                            <span style="font-weight: 600">Un-Block</span>
                        </button>
                        <button mat-menu-item (click)="wlSetting(element)">
                            <mat-icon class="mat-18">schedule</mat-icon>
                            <span style="font-weight: 600">WL Settings</span>
                        </button>
                        <button mat-menu-item (click)="updateExpiryDate(element)">
                            <mat-icon class="mat-18">how_to_reg</mat-icon>
                            <span style="font-weight: 600">Update Expiry Date</span>
                        </button>
                        <!-- <button mat-menu-item (click)="link(ListItem)">
                            <mat-icon class="mat-18">how_to_reg</mat-icon>
                            <span style="font-weight: 600">Link</span>
                        </button> -->
                    </mat-menu>
                </td>
                <td class="text-left min-w-[140px]" alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.item_code">
                    {{element.item_code || '0'}}
                </td>
                <td>
                    {{element.item_name || '-'}}
                </td>
                <td>
                    {{element.product_name || '-'}}
                </td>
                <td>
                    {{element.agentCode || '0'}}
                </td>
                <td>
                    {{element.agency_name || '-'}}
                </td>
                <td>
                    {{(element.block_date_time | date: 'dd-MM-yyyy') || "-"}}
                </td>
                <td class="w-full">
                    {{(element.expiry_date | date: 'dd-MM-yyyy') || "-"}}
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr class="h-14">
                <td colspan="8" class="text-center font-semibold text-lg">
                    {{getNodataText()}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
