<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>

    <div class="flex flex-col w-full overflow-auto bg-card">

        <div class="flex flex-row items-center px-6 h-13 min-h-13 dark:text-white">
            <div class="text-lg font-medium tracking-tight">{{title}}</div>
            <button class="ml-auto" mat-icon-button (click)="settingsDrawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>

        <form class="flex flex-col flex-auto px-6 pt-3 overflow-y-auto" style="max-height: calc(100vh - 116px);"
            [formGroup]="formGroup" *ngIf="create">
            <mat-form-field class="w-full">
                <mat-label>Campaign Name</mat-label>
                <input matInput required formControlName="campaign_name" />
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Campaign Type</mat-label>
                <mat-select required formControlName="referral_link_for">
                    <mat-option *ngFor="let trip of linkList" [value]="trip.value">
                        {{ trip.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Compaign Code</mat-label>
                <input matInput required formControlName="referral_code" />
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Relationship Manager</mat-label>
                <mat-select formControlName="relationship_manager_id">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="'no matching rm found'"
                            [formControlName]="'rmfilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of rmList" [value]="ct.id">{{ct.employee_name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full ">
                <mat-label>Remark</mat-label>
                <textarea matInput [formControlName]="'remark'" class="min-h-5"></textarea>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="start_date" />
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </form>

        <form class="flex flex-col flex-auto px-6 pt-4 overflow-y-auto" style="max-height: calc(100vh - 116px);"
            [formGroup]="formGroup" *ngIf="edit">
            <mat-form-field class="w-full">
                <mat-label>Campaign Name</mat-label>
                <input matInput required formControlName="campaign_name" />
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Relationship Manager</mat-label>
                <mat-select formControlName="relationship_manager_id">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="'no matching rm found'"
                            [formControlName]="'rmfilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of rmList" [value]="ct.id">{{ct.employee_name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full ">
                <mat-label>Remark</mat-label>
                <textarea matInput [formControlName]="'remark'" class="min-h-10"></textarea>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="start_date" />
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </form>

        <div
            class="h-16 flex items-center justify-end pt-4 sm:mt-0 pb-4 space-x-3 bottom-0 absolute w-full pr-5 dark:bg-[#1e293b] bg-white border-t m-auto">
            <button mat-stroked-button (click)="settingsDrawer.close()">Close</button>
            <button mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
                {{ btnLabel }}
            </button>
        </div>
    </div>
</fuse-drawer>