<div class="flex flex-col max-w-120 md:min-w-120 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary ">
        <div class="text-lg font-medium text-white">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-96 pb-5" [formGroup]="formGroup"
        *ngIf="!readonly else detailView">
        <div class="flex flex-col">
            <mat-form-field class="flex-grow">
                <mat-label>Company From</mat-label>
                <mat-select formControlName="company_id" required (selectionChange)="onCompanyFromChange($event.value)">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search"
                            noEntriesFoundLabel="'no matching company found'" [formControlName]="'companyfilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of fromCompanyList" [value]="ct.company_id">
                        <span>{{ ct.company_name }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Company To</mat-label>
                <mat-select formControlName="to_company_id" required>
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search"
                            noEntriesFoundLabel="'no matching company found'" [formControlName]="'tocompanyfilter'">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ct of filteredToCompanyList" [value]="ct.company_id">
                        <span>{{ ct.company_name }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="flex-grow">
                <mat-label>Markup Percentage</mat-label>
                <input matInput type="text" formControlName="markup_percentage" (keypress)="numberOnly($event)"/>
            </mat-form-field>
        </div>
    </form>

    <ng-template #detailView>
        <div class="grid grid-cols-3 gap-2 mb-8 p-8 pb-0 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col mb-3" *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                    <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon>
                </div>
                <span class="text-base truncate" [matTooltip]="filed.value">{{filed.value || '--'}}</span>
            </div>
        </div>
    </ng-template>

    <div *ngIf="!readonly" class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <!-- Discard -->
        <button mat-stroked-button (click)="matDialogRef.close()">
            Close
        </button>
        <!-- Save as draft -->
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
            {{btnLabel}}
        </button>
    </div>
</div>
