<div class="flex flex-col flex-auto min-w-0 overflow-hidden">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-5 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div class="cursor-pointer" [routerLink]="holidayRoute">
                    <a class="whitespace-nowrap text-primary-500">Holiday Details</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Details</a>
                </div>
            </div>
        </div>

        <button mat-raised-button color="primary" (click)="close()">
            Close
        </button>
    </div>

    <div class="m-8">
        <div class="m-auto max-w-[1200px]">
            <div class="mb-6 flex ">

                <div class="w-2/3  h-fit">
                    <div class="bg-card rounded-2xl p-6">
                        <div class="w-full mb-3">
                            <div class="flex justify-between ">
                                <div class="flex">
                                    <div class="px-2 py-1 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer"
                                        (click)="getCopy('agent')">
                                        <mat-icon class="primary-text pr-1 text-xl"
                                            svgIcon="heroicons_outline:document-text"></mat-icon>
                                        <span class="text-md leading-none ml-1">Your Copy</span>
                                    </div>

                                    <div class="px-2 py-1 mx-2 border border-gray-border rounded-lg flex items-center secondary-text cursor-pointer"
                                        (click)="getCopy('customer')">
                                        <mat-icon class="primary-text pr-1 text-xl"
                                            svgIcon="heroicons_outline:document-text"></mat-icon>
                                        <span class="text-md leading-none ml-1">Customer Copy</span>
                                    </div>
                                </div>
                                <div>
                                    <div *ngIf="bookingDetail?.lead_status === 'Confirmed' || bookingDetail?.lead_status == 'Token Payment Success' || bookingDetail?.lead_status === 'Completed'"
                                        class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(1,175,71,0.1)] flex items-center border green-border">
                                        <mat-icon class="green-text text-2xl">check_circle</mat-icon>
                                        <span
                                            class="text-md font-semibold ml-2 leading-none">{{bookingDetail?.lead_status}}</span>
                                    </div>

                                    <div *ngIf="bookingDetail?.lead_status === 'Waiting for Token Payment'"
                                        class="pl-2 pr-3 py-1 rounded-lg  flex items-center border light-border">
                                        <mat-icon class="secondary-text text-2xl">watch_later</mat-icon>
                                        <span
                                            class="text-md font-semibold ml-2 leading-none theme-black-text">{{bookingDetail?.lead_status}}</span>
                                    </div>

                                    <div *ngIf="bookingDetail?.lead_status === 'New'"
                                        class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border bonton-red-border">
                                        <!-- <mat-icon class="text-2xl bonton-red-text">warning</mat-icon> -->
                                        <img class="w-auto" src="assets/icons/new.svg">
                                        <span
                                            class="text-md font-semibold ml-2 leading-none">{{bookingDetail?.lead_status}}</span>
                                    </div>

                                    <div *ngIf="bookingDetail?.lead_status === 'Cancelled' || bookingDetail?.lead_status === 'Rejected' || bookingDetail?.lead_status === 'Token Payment Failed'"
                                        class="pl-2 pr-3 py-1 rounded-lg bg-[rgba(255,0,0,0.1)] flex items-center border bonton-red-border">
                                        <mat-icon class="text-2xl bonton-red-text">warning</mat-icon>
                                        <span
                                            class="text-md font-semibold ml-2 leading-none">{{bookingDetail?.lead_status}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" p-5 mobile:p-3  border-gray-border border rounded-lg">
                            <div class="mb-3 text-2xl font-semibold ">{{bookingDetail?.product_name}}
                            </div>
                            <div class="pb-3 flex mobile:flex-col">
                                <div class="w-[50%]">
                                    <div class="text-md font-semibold text-secondary">Ref.No</div>
                                    <div class="text-base truncate pt-[2px]">{{bookingDetail?.reference_no || '-'}}
                                    </div>
                                </div>
                                <div class="w-[50%] mobile:pt-2">
                                    <div class="text-md font-semibold text-secondary">Destination</div>
                                    <div class="text-base truncate pt-[2px]">{{bookingDetail?.destination || '-'}}</div>
                                </div>
                            </div>
                            <div class="pb-3 flex">
                                <div class="w-[50%]">
                                    <div class="text-md font-semibold text-secondary">Duration</div>
                                    <div class="text-base truncate pt-[2px]">{{bookingDetail?.no_of_nights || '0'}}
                                        Night<span> / {{bookingDetail?.no_of_days || '0'}} Day</span></div>
                                </div>
                                <div class="w-[50%]">
                                    <div class="text-md font-semibold text-secondary">Inquiry Date</div>
                                    <div class="text-base truncate pt-[2px]">{{(bookingDetail?.entry_date_time |
                                        date:'dd-MM-yyyy HH:mm') || '-'}}</div>
                                </div>
                            </div>
                            <div class="pb-3 flex">
                                <div class="w-[50%]">
                                    <div class="text-md font-semibold text-secondary">Tour Start Date</div>
                                    <div class="text-base truncate pt-[2px]">{{bookingDetail?.start_date |
                                        date:'dd-MM-yyyy HH:mm'}}
                                    </div>
                                </div>
                                <div class="w-[50%]">
                                    <div class="text-md font-semibold text-secondary">Tour End Date</div>
                                    <div class="text-base truncate pt-[2px]">{{(bookingDetail?.end_date |
                                        date:'dd-MM-yyyy HH:mm') || '-'}}</div>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="w-[50%]">
                                    <div class="text-md font-semibold text-secondary">Pax</div>
                                    <div class="text-base truncate pt-[2px]">{{bookingDetail?.no_of_adult || '0'}}
                                        Adult<span> / {{bookingDetail?.no_of_child || '0'}} Child</span></div>
                                </div>
                                <div class="w-[50%]">
                                    <div class="text-md font-semibold text-secondary">Nationality</div>
                                    <div class="text-base truncate pt-[2px]">{{bookingDetail?.nationality || '-'}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 p-5 mobile:p-3  border-gray-border border rounded-lg">
                            <div class="flex">
                                <div class="w-[33%]">
                                    <div class="text-md font-semibold text-secondary">Lead Pax Name</div>
                                    <div class="text-base truncate pt-[2px]">{{bookingDetail?.lead_name || '-'}}</div>
                                </div>
                                <div class="w-[33%]">
                                    <div class="text-md font-semibold text-secondary">Lead Pax Email</div>
                                    <div class="text-base truncate pt-[2px]">{{bookingDetail?.lead_email || '-'}}</div>
                                </div>
                                <div class="w-[33%]">
                                    <div class="text-md font-semibold text-secondary">Lead Pax Contact No.</div>
                                    <div class="text-base truncate pt-[2px]">{{bookingDetail?.lead_mobile || '-'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="bookingDetail?.lead_status === 'Rejected'"
                        class="bg-card px-5 py-3 mt-5 rounded-xl text-red-500 border-red-500 border">
                        <div class=""><strong>Reject Reson : </strong> {{bookingDetail?.reject_reason}}</div>
                    </div>
                </div>

                <!-------Right-------->
                <div class="  overflow-hidden w-1/3 ml-3 h-fit">
                    <div class="pb-1 info relative flex flex-col mb-5 overflow-hidden rounded-2xl bg-card">
                        <div
                            class="w-full text-lg font-medium px-4 py-3 border-b border-gray-border dark:bg-primary bg-gray-200">
                            Fare Information</div>
                        <mat-divider></mat-divider>
                        <div class="pt-3">
                            <div *ngFor="let category of bookingDetail?.pax_category_price | keyvalue">
                                <div class="justify-between px-4 flex  "
                                    [ngClass]="category.value.pax > 0 ? 'pb-3' : ''" *ngIf="category.value.pax > 0">
                                    <div>{{ category.value.category }} ( {{ category.value.price / category.value.pax }}
                                        x {{ category.value.pax }})</div>
                                    <div>{{bookingDetail?.currency_symbol }} {{ category.value.price }}</div>
                                </div>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="flex justify-between px-4 py-3">
                            <div class=" ">Taxes & Service Fees</div>
                            <div class=" ">{{bookingDetail?.currency_symbol }}
                                {{bookingDetail?.markup || '0'}}</div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="flex justify-between px-4 py-3">
                            <div class="">Total Amount</div>
                            <div class="">{{bookingDetail?.currency_symbol }}
                                {{bookingDetail?.total_price || '0'}}</div>
                        </div>
                        <!-- <mat-divider></mat-divider>
                            <div class="flex justify-between px-4 py-3">
                                <div class=" ">Token Amount</div>
                                <div class=" ">{{bookingDetail?.currency_symbol }}
                                    {{bookingDetail?.token_amount || '0'}}</div>
                            </div> -->
                    </div>
                    <div class="flex gap-3"
                        *ngIf="bookingDetail?.lead_status == 'New' || bookingDetail?.lead_status === 'Token Payment Success'">
                        <button class="w-1/2" mat-flat-button [color]="'primary'" (click)="status(bookingDetail, 1)">
                            Complete
                        </button>
                        <button class="w-1/2" mat-stroked-button (click)="Rejected(bookingDetail, 3)">
                            Reject
                        </button>
                        <!-- Save as draft -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>