<div class="flex flex-col flex-auto overflow-hidden bg-card shadow rounded-2xl -m-6 min-w-[935px] max-w-[935px]">
    <div class="xl:min-h-[390px] xl:max-h-[390px] min-h-[390px] max-h-[390px] overflow-y-auto">
        <div class="flex flex-raw overflow-hidden overflow-x-auto border rounded-[10px] mt-6 mb-2 ml-7 mr-4">
            <div class="w-full pb-2 field-blue-bg dark:bg-[#2A374A] bg-gray-200">
                <div class="flex items-center space-x-4 pt-4 pl-4 pr-4">
                    <div class="relative rounded-full">
                        <ng-container *ngIf="dataList?.dp">
                            <img src={{dataList?.dp}} class="rounded-full h-18 w-18 object-cover" alt="">
                        </ng-container>

                        <ng-container *ngIf="!dataList?.dp">
                            <img src="assets/images/logo/default_profile_icon.jpeg"
                                class="rounded-full h-18 w-18 object-cover" alt="">
                        </ng-container>
                    </div>

                    <div class="pl-2">
                        <div class="text-2xl font-semibold">{{dataList?.agency_name || '-'}}</div>
                        <div class="text-lg">
                            <span
                                class="text-lg font-normal text-secondary dark:text-[#687798]">{{dataList?.contactPersonName
                                || '-'}}</span>
                        </div>
                    </div>
                </div>

                <div class="pt-2 pb-2 pl-4 pr-4 space-x-6 overflow-hidden w-full flex-row flex mt-1">
                    <div class="flex flex-col w-[36%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Email Address</span>
                        <span class="text-base truncate dark:text-white text-black">{{dataList?.emailAddress ? dataList?.emailAddress : "
                            -"}}</span>
                    </div>

                    <div class="flex flex-col w-[24%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Mobile Number</span>
                        <span class="text-base truncate dark:text-white text-black">
                            {{dataList?.mobileNumber ? '+' + dataList.mobileCode + ' ' + dataList.mobileNumber : '-'}}
                        </span>
                    </div>

                    <div class="flex flex-col w-[24%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">KYC</span>
                        <span class="text-base truncate dark:text-white text-black">
                            <span *ngIf="dataList?.kyc" class="border-b-2 solid border-gray-600"
                                (click)="kycViewDetails(dataList)">View Details</span>
                            <span *ngIf="!dataList?.kyc"> - </span>
                        </span>
                    </div>

                    <div class="flex flex-col w-[16%]">
                        <span class="text-md font-medium text-secondary dark:text-[#687798]">Base Currency</span>
                        <span class="text-base truncate dark:text-white text-black">{{dataList?.baseCurrency ? dataList?.baseCurrency :
                            "-"}}</span>
                    </div>
                </div>

                <div class="pt-2 pb-2 pl-4 pr-4 space-x-6 overflow-hidden w-full flex-row flex">
                    <div class="flex flex-col w-[36%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Wallet Balance</span>
                        <span class="text-base truncate dark:text-white text-black">
                            {{dataList?.walletBalance ? dataList.baseCurrency + ' ' + dataList.walletBalance.toFixed(2) : '0'}}
                        </span>
                    </div>

                    <div class="flex flex-col w-[24%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Wallet Credit</span>
                        <span class="text-base truncate dark:text-white text-black">
                            {{dataList?.walletCredit ? dataList.baseCurrency + ' ' + dataList.walletCredit.toFixed(2) : '0'}}
                        </span>
                    </div>

                    <div class="flex flex-col w-[24%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Relationship
                            Manager</span>
                        <span class="text-base truncate dark:text-white text-black">{{dataList?.relationshipManager ?
                            dataList?.relationshipManager : " -"}}</span>
                    </div>

                    <div class="flex flex-col w-[16%]">
                        <span class="text-md font-medium text-secondary dark:text-[#687798]">Last Login Date</span>
                        <span class="text-base truncate dark:text-white text-black">{{(dataList?.lastLoginDate | date:'dd-MM-yyyy') ||
                            '-'}}</span>
                    </div>
                </div>

                <div class="pt-2 pb-2 pl-4 pr-4 space-x-6 overflow-hidden w-full flex-row flex">
                    <div class="flex flex-col w-[36%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Last Transaction
                            Date</span>
                        <span class="text-base truncate dark:text-white text-black">{{(dataList?.lastTransactionDate |
                            date:'dd-MM-yyyy') || '-'}}</span>
                    </div>

                    <div class="flex flex-col w-[24%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Register Date</span>
                        <span class="text-base truncate dark:text-white text-black">{{(dataList?.registerDate | date:'dd-MM-yyyy') || "
                            -"}}</span>
                    </div>

                    <div class="flex flex-col w-[24%]">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">City</span>
                        <span class="text-base truncate dark:text-white text-black"> {{ dataList?.city && dataList?.country ? dataList?.city + ', ' + dataList?.country :
                            dataList?.city || dataList?.country || '-' }}</span>
                    </div>
                    <div class="flex flex-col w-[16%]"></div>
                </div>
                <div class="flex flex-col pt-4 pb-2 pl-4 pr-4">
                    <span class="text-md font-medium text-secondary dark:text-[#687798]">Address</span>
                    <span class="text-base w-full dark:text-white text-black">
                        {{ dataList?.address1 && dataList?.address2 ? dataList?.address1 + ' ' + dataList?.address2 :
                        dataList?.address1 || dataList?.address2 || '-' }}
                    </span>
                </div>
            </div>
        </div>
        <!-- <ng-container *ngIf="dataList && !dataList.length">
            <div class="p-8 sm:p-16 border-t text-3xl tracking-tight text-center pt-20">
                No data to display
            </div>
        </ng-container> -->
    </div>
</div>
