.domain-var-dialog {
    overflow: auto;
    max-width: 1260px !important;
    min-width: 900px !important;

}

@media screen and (max-width: 1260px) {
    .domain-var-dialog {
        overflow: auto;
        max-width: 90vw !important;
        min-width: 900px;
    }
}