<div class="flex flex-raw overflow-hidden overflow-x-auto m-0">
    <div class="w-[100%] px-0 mt-[-5px] field-blue-bg">
        <div class="grid py-0 xl:grid-cols-3 grid-cols-3 gap-4 overflow-hidden">
            <div class="flex flex-col">
                <span class="text-base font-medium text-secondary dark:text-[#687798]">Agency Name</span>
                <span class="text-[15px] truncate dark:text-white text-black">{{record?.agencyName ? record?.agencyName : " -"}}</span>
            </div>
            <div class="flex flex-col">
                <span class="text-base font-medium text-secondary dark:text-[#687798]">Policy</span>
                <div class="text-base truncate">
                    <span class="text-[15px] truncate dark:text-white text-black">{{record?.policy ? record?.policy : '-'}}</span>
                </div>
            </div>
            <div class="flex flex-col">
                <span class="text-base font-medium text-secondary dark:text-[#687798]">Mobile Number</span>
                <!-- <span class="text-[15px] truncate dark:text-white text-black" [matTooltip]="record?.contact_person_mobile_code ? '+' + record?.contact_person_mobile_code + ' ' + record?.contact_person_mobile : (record?.contact_person_mobile ? record?.contact_person_mobile : '-')">
                    {{ record?.contact_person_mobile_code ? '+' + record?.contact_person_mobile_code : '' }}
                    {{ record?.contact_person_mobile ? record?.contact_person_mobile : '-' }}
                </span> -->
                <span class="text-[15px] truncate dark:text-white text-black">
                    {{ record?.mobile ? record?.mobile : '-' }}
                </span>
            </div>
        </div>
        <div class="grid py-2 xl:grid-cols-3 grid-cols-3 gap-4 overflow-hidden">
            <div class="flex flex-col">
                <span class="text-base font-medium text-secondary dark:text-[#687798]">Credit Amount</span>
                <span class="text-[15px] truncate dark:text-white text-black">{{record?.creditLimit ? record?.creditLimit : '-'}}</span>
            </div>
            <div class="flex flex-col">
                <span class="text-base font-medium text-secondary dark:text-[#687798]">Due Date</span>
                <span class="text-[15px] truncate dark:text-white text-black">{{(record?.dueDate | date:'dd-MM-yyyy') || ' - '}}</span>
            </div>
            <div class="flex flex-col">
                <span class="text-base font-medium text-secondary dark:text-[#687798]">Expiry Date</span>
                <span class="text-[15px] truncate dark:text-white text-black">{{(record?.expiryDate | date:'dd-MM-yyyy') || ' - '}}</span>
            </div>
        </div>
    </div>
</div>
