<div class="flex flex-col flex-auto min-w-0">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-5 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div class="cursor-pointer" [routerLink]="HotelListRoute">
                    <a class="whitespace-nowrap text-primary-500">Hotel</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">{{
                        readonly ? "Detail" : record.id ? "Modify" : "Entry"
                        }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-auto px-20">
        <form class="flex flex-col mx-5 xl:mx-60 p-8 pb-4 rounded-2xl shadow overflow-hidden" [formGroup]="hotelForm">
            <div class="flex flex-row space-x-3">
                <mat-form-field class="flex-grow">
                    <mat-label>Hotel Name</mat-label>
                    <input matInput required formControlName="hotel_name" [readonly]="readonly" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city_id" *ngIf="!readonly" required [compareWith]="compareWith">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching city found'" [formControlName]="'cityFilter'">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let ct of CitytList " [value]="ct.id">{{ ct.display_name }}</mat-option>
                    </mat-select>
                    <input matInput type="text" *ngIf="readonly" [readonly]="readonly" formControlName="city_name" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Location</mat-label>
                    <input matInput required formControlName="location" [readonly]="readonly" />
                </mat-form-field>
            </div>

            <div class="flex flex-row space-x-3 items-center">
                <mat-form-field class="flex-grow">
                    <mat-label>Longitude</mat-label>
                    <input matInput type="number" formControlName="longitude" [readonly]="readonly" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Latitude</mat-label>
                    <input matInput type="number" formControlName="latitude" [readonly]="readonly" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Contact Number</mat-label>
                    <input matInput type="number" required formControlName="contact_number" [readonly]="readonly" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" formControlName="email_address" [readonly]="readonly" />
                </mat-form-field>
            </div>

            <div class="flex flex-row space-x-3 items-center">
                <mat-form-field class="flex-grow">
                    <mat-label>Hotel Address</mat-label>
                    <textarea matInput required formControlName="hotel_address" [readonly]="readonly"></textarea>
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Booking Policy</mat-label>
                    <textarea matInput formControlName="booking_policy" [readonly]="readonly"></textarea>
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Cancellation Policy</mat-label>
                    <textarea matInput required formControlName="cancellation_policy" [readonly]="readonly"></textarea>
                </mat-form-field>
            </div>
            <div class="flex flex-row space-x-3 items-center">
                <mat-form-field class="flex-grow">
                    <mat-label>Hotel Amenities</mat-label>
                    <mat-chip-grid #AmenitiesListExclusions>
                        <mat-chip *ngFor="let ex of AmenitiesKeys" [selectable]="true" [removable]="!readonly"
                            (removed)="removeAmenities(ex)">
                            {{ ex }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input matInput required [readonly]="readonly" [matChipInputFor]="AmenitiesListExclusions"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="AddAmenities($event)" />
                    </mat-chip-grid>
                </mat-form-field>
            </div>

            <div class="flex flex-row space-x-3 items-center justify-between">
                <div class="flex flex-row gap-2">
                    <div>Star Category :</div>
                    <mat-icon [svgIcon]="
                            ic.isselect
                                ? 'heroicons_solid:star'
                                : 'heroicons_outline:star'
                        " class="text-primary-500 cursor-pointer" (click)="readonly ? null : selectStar(ic)"
                        *ngFor="let ic of iconList"></mat-icon>
                </div>
                <button mat-raised-button color="primary"  (click)="SubmitHotel()"
                    *ngIf="!readonly">
                    {{ btnTitle }} 
                </button>
            </div>
        </form>

        <mat-tab-group *ngIf="hotelForm.get('id').value" class="sm:px-2" mat-stretch-tabs="false"
            [animationDuration]="'0'">
            <mat-tab label="Hotel Rooms">
                <ng-template matTabContent>
                    <div class="flex flex-col mt-4">
                        <form [formGroup]="hotelRoomsFrom" *ngIf="!readonly">
                            <div class="flex flex-row space-x-3 w-full items-center">
                                <mat-form-field class="w-72">
                                    <mat-label class="text-sm">Room Name</mat-label>
                                    <input matInput required formControlName="room_name" />
                                </mat-form-field>

                                <mat-form-field class="w-50">
                                    <mat-label class="text-sm">Bed Type</mat-label>
                                    <mat-select formControlName="bed_type" required>
                                        <mat-option *ngFor="let ct of BedTypeList" [value]="ct">{{ ct }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="w-50">
                                    <mat-label class="text-sm">Room Size</mat-label>
                                    <input matInput required formControlName="room_size" />
                                </mat-form-field>

                                <div class="flex flex-row space-x-3">
                                    <mat-slide-toggle class="ml-1" formControlName="is_breakfast_included"
                                        color="primary" [disabled]="readonly">
                                        <span class="pl-1">Is Breakfast Included</span>
                                    </mat-slide-toggle>
                                </div>

                                <div class="flex flex-row space-x-3">
                                    <mat-slide-toggle class="ml-1" formControlName="is_dinner_included" color="primary"
                                        [disabled]="readonly">
                                        <span class="pl-1">Is Dinner Included</span>
                                    </mat-slide-toggle>
                                </div>
                            </div>
                            <div class="flex flex-row space-x-3 w-full items-center">
                                <mat-form-field class="w-100">
                                    <mat-label>Room Inclusions</mat-label>
                                    <mat-chip-grid #RoomInclusions>
                                        <mat-chip *ngFor="
                                                let ex of RoomInclusionsKeys
                                            " [selectable]="true" [removable]="true"
                                            (removed)="removeRoomInclusions(ex)">
                                            {{ ex }}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                        <input matInput required [matChipInputFor]="RoomInclusions"
                                            [matChipInputSeparatorKeyCodes]="
                                                separatorKeysCodes1
                                            " [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="
                                                AddRoomInclusions($event)
                                            " />
                                    </mat-chip-grid>
                                </mat-form-field>

                                <mat-form-field class="w-100">
                                    <mat-label>Room Amenities</mat-label>
                                    <mat-chip-grid #RoomAmenities>
                                        <mat-chip *ngFor="let ex of RoomAmenitiesKeys" [selectable]="true"
                                            [removable]="true" (removed)="removeRoomAmenities(ex)">
                                            {{ ex }}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                        <input matInput required [matChipInputFor]="RoomAmenities"
                                            [matChipInputSeparatorKeyCodes]="
                                                separatorKeysCodes2
                                            " [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="
                                                AddRoomAmenities($event)
                                            " />
                                    </mat-chip-grid>
                                </mat-form-field>

                                <button mat-stroked-button color="primary"
                                    (click)="AddHotelRoom()">
                                    {{ HotelRoomsaddbtn }} 
                                </button>
                            </div>
                        </form>

                        <div class="flex flex-col mt-4 border p-4 mb-3 rounded-md" *ngFor="let pc of HotelRoomsList">
                            <div class="flex flex-row text-base space-x-4 items-start panel cursor-pointer mb-1">
                                <div class="flex flex-row space-x-1 items-start pt-1">
                                    <mat-icon (click)="editRoom(pc)" *ngIf="!readonly"
                                        class="icon-size-4 text-secondary only-show-on-hover"
                                        matTooltip="Modify Room">edit</mat-icon>
                                    <mat-icon (click)="removeRoom(pc)" *ngIf="!readonly"
                                        class="icon-size-4 text-red-500 only-show-on-hover"
                                        matTooltip="Remove Room">delete</mat-icon>
                                </div>
                                <div class="flex flex-col gap-1">
                                    <div class="flex flex-row gap-4">
                                        <div class="w-50 flex flex-col">
                                            <span class="truncate" [matTooltip]="
                                                    pc.room_name +
                                                    ' (' +
                                                    pc.room_size +
                                                    ')'
                                                ">
                                                {{
                                                pc.room_name +
                                                " (" +
                                                pc.room_size +
                                                ")"
                                                }}</span>
                                            <span class="text-secondary text-sm">Type: {{ pc.bed_type }}</span>
                                        </div>
                                        <div class="w-36 flex flex-col justify-center">
                                            <span class="truncate flex justify-center w-full">
                                                Breakfast Included</span>
                                            <span class="flex justify-center w-full">
                                                <mat-icon svgIcon="mat_outline:done" class="text-green-500" *ngIf="
                                                        pc.is_breakfast_included
                                                    "></mat-icon>
                                                <mat-icon svgIcon="mat_outline:clear" class="text-red-500" *ngIf="
                                                        !pc.is_breakfast_included
                                                    "></mat-icon>
                                            </span>
                                        </div>
                                        <div class="w-36 flex flex-col justify-center">
                                            <span class="truncate flex justify-center w-full">
                                                Dinner Included</span>
                                            <span class="flex justify-center w-full">
                                                <mat-icon svgIcon="mat_outline:done" class="text-green-500" *ngIf="
                                                        pc.is_dinner_included
                                                    "></mat-icon>
                                                <mat-icon svgIcon="mat_outline:clear" class="text-red-500" *ngIf="
                                                        !pc.is_dinner_included
                                                    "></mat-icon>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-2">
                                        <span class="">Room Inclusions :</span>
                                        <span
                                            class="px-3 border border-primary rounded-full text-sm font-light h-6 !py-[3px]"
                                            *ngFor="
                                                let room of getroominclusions(
                                                    pc.room_inclusions
                                                )
                                            ">{{ room }}</span>
                                    </div>
                                    <div class="flex flex-row gap-2">
                                        <span class="">Room Amenities :</span>
                                        <span
                                            class="px-3 border border-primary rounded-full text-sm font-light h-6 !py-[3px]"
                                            *ngFor="
                                                let room of getroominclusions(
                                                    pc.room_amenities
                                                )
                                            ">{{ room }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col px-30 py-4">
                                <p *ngIf="pc?.isHotelTariff" class="text-primary mb-3 font-semibold text-base">
                                    Add Hotel Tariff in Hotel Room
                                    {{ pc.room_name }}
                                </p>

                                <form [formGroup]="hotelTariffForm" *ngIf="pc?.isHotelTariff">
                                    <div class="flex flex-row space-x-3 w-full items-center">
                                        <mat-form-field class="w-80">
                                            <mat-label class="text-sm">Supplier</mat-label>
                                            <mat-select formControlName="supplier_id" required
                                                [compareWith]="compareWith">
                                                <mat-option>
                                                    <ngx-mat-select-search placeholderLabel="Search"
                                                        noEntriesFoundLabel="'no matching supplier found'"
                                                        [formControlName]="
                                                            'supplierfilter'
                                                        ">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="
                                                        let ct of SupplierList
                                                            | async
                                                    " [value]="ct">{{
                                                    ct.company_name
                                                    }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field class="w-60">
                                            <mat-label class="text-sm">From Date - To Date</mat-label>
                                            <mat-date-range-input [rangePicker]="picker"
                                                (click)="onRangeInputClicked()">
                                                <input matStartDate formControlName="from_date" placeholder="From Date"
                                                    readonly required />
                                                <input matEndDate formControlName="to_date" placeholder="To Date"
                                                    readonly required />
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-date-range-picker #picker></mat-date-range-picker>
                                        </mat-form-field>

                                        <mat-form-field class="w-30">
                                            <mat-label class="text-sm">Single Sharing</mat-label>
                                            <input matInput required type="number" formControlName="single_sharing" />
                                        </mat-form-field>
                                        <mat-form-field class="w-30">
                                            <mat-label class="text-sm">Double Sharing</mat-label>
                                            <input matInput required type="number" formControlName="double_sharing" />
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-row space-x-3 w-full items-center">
                                        <mat-form-field class="w-30">
                                            <mat-label class="text-sm">Triple Sharing</mat-label>
                                            <input matInput required type="number" formControlName="triple_sharing" />
                                        </mat-form-field>
                                        <mat-form-field class="w-30">
                                            <mat-label class="text-sm">Child With Bed</mat-label>
                                            <input matInput required type="number" formControlName="child_with_bed" />
                                        </mat-form-field>
                                        <mat-form-field class="w-30">
                                            <mat-label class="text-sm">Child With No Bed</mat-label>
                                            <input matInput required type="number"
                                                formControlName="child_with_no_bed" />
                                        </mat-form-field>

                                        <button mat-stroked-button color="primary" [disabled]="hotelTariffForm.invalid"
                                            (click)="AddHotelTariff(pc)">
                                            {{ HotelTariffaddbtn }}
                                        </button>
                                    </div>
                                </form>

                                <div class="flex flex-col" *ngIf="!pc?.isHotelTariff">
                                    <div class="flex flex-row space-x-3 items-center panel cursor-pointer mb-1"
                                        (click)="showAddHotelTariff(pc)" *ngIf="!readonly">
                                        <div class="flex flex-row space-x-2 items-center">
                                            <mat-icon class="icon-size-4 text-primary"
                                                matTooltip="Add Hotel Tariff">add</mat-icon>
                                        </div>
                                        <span class="text-primary">Add Hotel Tariff</span>
                                    </div>
                                </div>

                                <div class="flex flex-col overflow-auto bg-transparent" *ngIf="
                                        HotelTariffList.length >= 1 &&
                                        GetResult(pc.id)
                                    ">
                                    <div class="flex flex-row border-2 w-fit">
                                        <div
                                            class="text-sm text-secondary w-10 border-r-2 p-2 flex items-center justify-center sticky left-0 z-10 bg-gray-900">
                                            #
                                        </div>
                                        <div class="text-sm text-secondary w-50 border-r-2 p-2">
                                            Supplier
                                        </div>
                                        <div class="text-sm text-secondary w-28 border-r-2 p-2">
                                            From Date
                                        </div>
                                        <div class="text-sm text-secondary w-28 border-r-2 p-2">
                                            To Date
                                        </div>
                                        <div class="text-sm text-secondary border-r-2 p-2 w-28 flex justify-center">
                                            Single Sharing
                                        </div>
                                        <div class="text-sm text-secondary border-r-2 p-2 w-28 flex justify-center">
                                            Double Sharing
                                        </div>
                                        <div class="text-sm text-secondary border-r-2 p-2 w-28 flex justify-center">
                                            Triple Sharing
                                        </div>
                                        <div class="text-sm text-secondary border-r-2 p-2 w-28 flex justify-center">
                                            Child With Bed
                                        </div>
                                        <div class="text-sm text-secondary p-2 w-32 flex justify-center">
                                            Child With No Bed
                                        </div>
                                    </div>
                                    <div *ngFor="let dt of HotelTariffList">
                                        <div class="flex flex-row border-x-2 border-b-2 w-fit text-sm"
                                            *ngIf="dt.room_id == pc.id">
                                            <div
                                                class="w-10 border-r-2 p-1 flex justify-center items-center sticky left-0 z-10 bg-gray-900">
                                                <mat-icon class="cursor-pointer" *ngIf="!readonly" [matMenuTriggerFor]="
                                                        menuOpt
                                                    ">more_vert</mat-icon>
                                                <mat-menu #menuOpt>
                                                    <button mat-menu-item (click)="
                                                            editHotelTariff(
                                                                dt,
                                                                pc
                                                            )
                                                        ">
                                                        <mat-icon class="mat-18">edit</mat-icon>
                                                        <span style="
                                                                font-weight: 600;
                                                            ">Edit</span>
                                                    </button>
                                                    <button mat-menu-item (click)="
                                                            removeHotelTariff(
                                                                dt
                                                            )
                                                        ">
                                                        <mat-icon class="mat-18">delete</mat-icon>
                                                        <span style="
                                                                font-weight: 600;
                                                            ">Delete</span>
                                                    </button>
                                                </mat-menu>
                                            </div>
                                            <div class="w-50 border-r-2 p-2 truncate" [matTooltip]="dt.supplier_name">
                                                {{ dt.supplier_name }}
                                            </div>
                                            <div class="w-28 border-r-2 p-2">
                                                {{
                                                dt.from_date
                                                | date : "dd-MM-YYYY"
                                                }}
                                            </div>
                                            <div class="w-28 border-r-2 p-2">
                                                {{
                                                dt.to_date
                                                | date : "dd-MM-YYYY"
                                                }}
                                            </div>
                                            <div class="border-r-2 p-2 w-28 flex justify-center">
                                                {{ dt.single_sharing }}
                                            </div>
                                            <div class="border-r-2 p-2 w-28 flex justify-center">
                                                {{ dt.double_sharing }}
                                            </div>
                                            <div class="border-r-2 p-2 w-28 flex justify-center">
                                                {{ dt.triple_sharing }}
                                            </div>
                                            <div class="border-r-2 p-2 w-28 flex justify-center">
                                                {{ dt.child_with_bed }}
                                            </div>
                                            <div class="p-2 w-32 flex justify-center">
                                                {{ dt.child_with_no_bed }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row h-40 justify-center items-center text-secondary font-semibold"
                            *ngIf="HotelRoomsList.length < 1">
                            No data to display
                        </div>
                    </div>
                </ng-template>
            </mat-tab>

            <mat-tab label="Image">
                <ng-template matTabContent>
                    <div class="flex flex-col mt-3">
                        <div class="flex flex-row justify-between items-center pb-3">
                            <p class="text-primary text-lg font-semibold">
                                Cover Photo
                            </p>
                        </div>
                        <div [hidden]="true">
                            <input type="file" accept="image/*" name="profile2" #coverinput
                                (change)="onProfileInputforcoverphoto($event)" />
                        </div>
                        <div class="h-56 w-56 bg-card flex rounded-md justify-center items-center"
                            *ngIf="!profile_picture">
                            <div class="flex flex-col items-center justify-center">
                                <button type="button" (click)="coverinput.click()" class="text-blue-500"
                                    mat-icon-button>
                                    <mat-icon svgIcon="mat_outline:add"></mat-icon>
                                </button>
                                <span class="text-sm">Cover Photo</span>
                                <span class="text-secondary text-xs">Max size 2 MB</span>
                                <span class="text-secondary text-xs">(225px ✕ 225px)</span>

                            </div>
                        </div>
                        <div class="h-56 w-56 rounded-md overflow-hidden panel2 relative" *ngIf="profile_picture">
                            <div class="absolute bottom-24 left-[93px] only-show-on-hover">
                                <button mat-icon-button [matTooltip]="'Remove Cover Photo'" (click)="
                                        RemoveImage(
                                            { id: profile_pictureid },
                                            'Cover Photo'
                                        )
                                    " *ngIf="!readonly">
                                    <mat-icon class="text-red-600" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                </button>
                            </div>
                            <img class="w-full h-full object-cover cursor-pointer" [src]="profile_picture"
                                alt="User avatar" />
                        </div>

                        <p class="text-primary text-lg font-semibold my-4">
                            Gallery Photos
                        </p>
                        <div
                            class="grid xl:grid-cols-8 lg:grid-cols-6 md:grid-cols-4 grid-cols-3 items-start w-fit ">
                            <div class="flex flex-col gap-3 " *ngFor="let img of ImageList">
                                <div class="relative h-36 w-36 rounded-md overflow-hidden panel2">
                                    <div class="absolute bottom-11 left-13 only-show-on-hover">
                                        <button mat-icon-button [matTooltip]="'Remove'" (click)="
                                        RemoveImage(img, 'Gallery')
                                    " *ngIf="!readonly">
                                            <mat-icon class="text-red-600" [svgIcon]="
                                            'heroicons_outline:trash'
                                        "></mat-icon>
                                        </button>
                                    </div>
                                    <img class="w-full h-full object-cover cursor-pointer" [src]="img.image" alt="" />
                                </div>
                            </div>

                            <div [hidden]="true">
                                <input type="file" accept="image/*" name="profile" #galleryInput
                                    (change)="onProfileInput($event)" />
                            </div>

                            <div class="h-36 w-36 bg-card flex flex-col rounded-md justify-center items-center mx-3"
                                *ngIf="!readonly">
                                <button [matTooltip]="'Add Gallery Image'" type="button" (click)="galleryInput.click()"
                                    class="text-blue-500" mat-icon-button>
                                    <mat-icon svgIcon="mat_solid:add"></mat-icon>
                                </button>
                                <span class="text-secondary text-xs">Max size 2 MB</span>
                                <span class="text-secondary text-xs">(225px ✕ 225px)</span>

                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>