<div class="flex flex-col max-w-120 md:min-w-120 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium dark:text-white">{{ title }}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current dark:text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-96 " [formGroup]="formGroup">
        <mat-form-field class="flex-grow">
            <mat-label>Link Url</mat-label>
            <input matInput formControlName="link_url"/>
        </mat-form-field>
    </form>

    <div class="flex items-center justify-end pt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <!-- Discard -->
        <button mat-stroked-button (click)="matDialogRef.close()">Close</button>
        <!-- Save as draft -->
        <button mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
            {{ btnLabel }}
        </button>
    </div>
</div>
