<div
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent container mx-auto">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">
            {{ module_name }}
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- Global Search -->
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'"
                    (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"
                    (click)="refreshItems()"></mat-icon>
            </div>

            <!-- Column Filter -->
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="this.isFilterShow = !this.isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'"
                (click)="_filterService.openDrawer(filter_table_name, primengTable, _selectedColumns)"
                matTooltip="Saved Filter" [disabled]="isLoading">
                <img class="w-6 h-auto cursor-pointer" src="assets/icons/common-filter.svg" alt="">
            </button>

            <!-- Select Columns Button and Select Box Code -->
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Select more columns"
                [disabled]="isLoading" (click)="op.toggle($event)">
                <img class="w-5 cursor-pointer ml-1 pt-1" src="assets/icons/column.svg" alt="c">
            </button>
            <p-overlayPanel #op>
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="overlay-panel"
                    [style]="{'max-width': '220px'}" display="chip" placeholder="Choose Columns" />
            </p-overlayPanel>

            <!-- Refresh items -->
            <button class="ml-4" mat-flat-button [disabled]="isLoading" (click)="refreshItems()" [color]="'primary'"
                matTooltip="Refresh">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <!-- Modal Filter -->
            <!-- <button class="ml-4" mat-flat-button [color]="'primary'" (click)="filter()">
                <mat-icon class="w-10 h-10">filter_alt</mat-icon>
                <span class="">Filter</span>
            </button> -->

            <!-- Excel -->
            <button mat-raised-button [color]="'primary'" [matMenuTriggerFor]="menu" class="ml-4">
                <mat-icon class="icon-size-6">more_vert</mat-icon>
            </button>
            <mat-menu #menu>
                <button mat-menu-item (click)="exportExcel()">
                    <mat-icon>arrow_downward</mat-icon>
                    <span>Export Excel</span>
                </button>
                <button mat-menu-item (click)="reShuffle()">
                    <mat-icon svgIcon="heroicons_outline:arrows-right-left"></mat-icon>
                    <span style="font-weight: 600">Reshuffle</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <!-- -------Table ------------- -->
    <div class="table-container paginator-bottom">
        <p-table #datatable [columns]="selectedColumns" [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1"
            [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
            [loading]="isLoading" [paginator]="true" [rows]="appConfig.pageSize" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="appConfig.pageSizeOptions" [lazy]="true" (onLazyLoad)="refreshItems($event)"
            [scrollable]="true" [scrollHeight]="scrollHeight" [showCurrentPageReport]="true" [showPageLinks]="false"
            [showJumpToPageDropdown]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['agent_code', 'agency_name', 'status','relation_manager_name', 'email_address', 'mobile_number', 'currency', 'entry_date_time']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="  text-center left-[-1px]" pFrozenColumn>#</th>
                    <th class="min-w-[110px] dark:bg-[#1e293b]" pSortableColumn="agent_code" pResizableColumn
                        alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.agent_code"
                        [ngClass]="{'left-0': !frozenObj?.agent_code}">
                        Code <p-sortIcon field="agent_code" />
                        <span class="float-right" (click)="isFrozenColumn('agent_code');$event.stopPropagation()">
                            <i *ngIf="!frozenObj?.agent_code" class="pi pi-lock-open icon-size-3"></i>
                            <i *ngIf="frozenObj?.agent_code" class="pi pi-lock icon-size-3"></i>
                        </span>
                    </th>
                    <th class="min-w-[180px] dark:bg-[#1e293b]" pSortableColumn="agency_name" pResizableColumn
                        alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.agency_name"
                        [ngClass]="{'left-0': !frozenObj?.agency_name}">
                        Agency <p-sortIcon field="agency_name" />
                        <span class="float-right" (click)="isFrozenColumn('agency_name');$event.stopPropagation()">
                            <i *ngIf="!frozenObj?.agency_name" class="pi pi-lock-open icon-size-3"></i>
                            <i *ngIf="frozenObj?.agency_name" class="pi pi-lock icon-size-3"></i>
                        </span>
                    </th>
                    <th pSortableColumn="status" pResizableColumn>
                        Status <p-sortIcon field="status" />
                    </th>
                    <th pSortableColumn="relation_manager_name" pResizableColumn>
                        RM <p-sortIcon field="relation_manager_name" />
                    </th>
                    <th pSortableColumn="email_address" pResizableColumn>
                        Email <p-sortIcon field="email_address" />
                    </th>
                    <th pSortableColumn="mobile_number" pResizableColumn>
                        Mobile <p-sortIcon field="mobile_number" />
                    </th>
                    <th pSortableColumn="currency" pResizableColumn>
                        Currency <p-sortIcon field="currency" />
                    </th>
                    <th class="min-w-[200px]" pSortableColumn="entry_date_time" pResizableColumn
                        [ngClass]="{'w-full': !columns || (columns && !columns.length) }">
                        Signup <p-sortIcon field="entry_date_time" />
                    </th>

                    <th [pSortableColumn]="col.field" pResizableColumn *ngFor="let col of columns; let isLast = last"
                        [ngClass]="col.field === 'balance' ? 'text-right' : (isLast ? 'w-full' : '')">
                        {{col.header}} <p-sortIcon [field]="col.field" />
                    </th>
                </tr>

                <tr *ngIf="isFilterShow">
                    <th class="left-[-1px]" pFrozenColumn></th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.agent_code">
                        <p-columnFilter type="numeric" field="agent_code" placeholder="Search by Code"
                            ariaLabel="Filter Code" />
                    </th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.agency_name">
                        <p-columnFilter type="text" matchMode="contains" field="agency_name"
                            placeholder="Search by Agency" ariaLabel="Filter Agency" />
                    </th>
                    <th>
                        <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="statusList"
                                    (onChange)="filter($event.value)" placeholder="Select Status" appendTo="body"
                                    [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.value}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter class="searchableDropdown" field="rm_id_filters" matchMode="equals"
                            [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [options]="employeeList"
                                    [(ngModel)]="selectedEmployee" optionLabel="employee_name" [filter]="true"
                                    filterBy="employee_name" (onChange)="filter($event.value)" [showClear]="true"
                                    appendTo="body" placeholder="Select a RM">
                                    <ng-template let-employee pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div [value]="employee.id">{{ employee.employee_name }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="email_address"
                            placeholder="Search by Email" ariaLabel="Filter Email" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="mobile_no"
                            placeholder="Search by Mobile" ariaLabel="Filter Mobile" />
                    </th>
                    <th>
                        <p-columnFilter class="searchableDropdown" field="currency" matchMode="equals"
                            [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [options]="currencyListAll"
                                    [(ngModel)]="selectedCurrency" optionLabel="currency_short_code" [filter]="true"
                                    filterBy="currency_short_code" (onChange)="filter($event.value)" [showClear]="true"
                                    appendTo="body" placeholder="Select a Currency">
                                    <ng-template let-currency pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div>{{ currency.currency_short_code }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="entry_date_time" type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" appendTo="body"
                                    [ngModel]="value" placeholder="Search by Signup">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th *ngFor="let col of columns">
                        <!--    <p-columnFilter  field="city_id_filer" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown"
                                    [options]="cityList"
                                    [ngModel]="value"
                                    [filter]="true"
                                    filterBy="display_name"
                                    optionLabel="display_name"
                                    (onFilter)="getCityList($event?.filter)"
                                    (onChange)="filter($event.value?.id)"
                                    [showClear]="true"
                                    appendTo="body"
                                    placeholder="Select a City">
                                    <ng-template let-city pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div [value]="city.id">{{ city.display_name }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th> -->
                        <!-- <th>
                        <p-columnFilter field="web_last_login_time" type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" appendTo="body" showClear="true"
                                   [ngModel]="value" placeholder="Search by Last Login">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>
                    </th> -->


                        <p-columnFilter *ngIf="col.field == 'is_blocked'" field="is_blocked" matchMode="contains"
                            [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="blockList"
                                    (onChange)="filter($event.value)" placeholder="Select Block" [showClear]="true"
                                    appendTo="body">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>

                        <p-columnFilter *ngIf="col.field == 'pan_number'" matchMode="contains" type="text"
                            field="pan_number" placeholder="Search by PAN Number" ariaLabel="Filter PAN Number" />

                        <p-columnFilter *ngIf="col.field == 'gst_number'" type="text" matchMode="contains"
                            field="gst_number" placeholder="Search by GST Number" ariaLabel="Filter GST Number" />

                        <p-columnFilter class="searchableDropdown" *ngIf="col.field == 'markup_profile_name'"
                            field="markup_id_filter" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [options]="markupList" [(ngModel)]="selectedMarkup"
                                    optionLabel="profile_name" [filter]="true" filterBy="profile_name"
                                    (onFilter)="getMarkupProfileList($event?.filter)" (onChange)="filter($event.value)"
                                    [showClear]="true" appendTo="body" placeholder="Select Markup Profile">
                                    <ng-template let-employee pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div [value]="employee.id">{{ employee.profile_name }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>

                        <p-columnFilter class="searchableDropdown" *ngIf="col.field == 'kyc_profile_name'"
                            field="kyc_id_fliters" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [options]="kycListAll" optionLabel="profile_name"
                                    [filter]="true" filterBy="profile_name" [(ngModel)]="selectedKycProfile"
                                    (onChange)="filter($event.value)" [showClear]="true" appendTo="body"
                                    placeholder="Select Kyc Profile">
                                    <ng-template let-currency pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div>{{ currency.profile_name }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>


                        <p-columnFilter *ngIf="col.field == 'balance'" type="numeric" field="balance"
                            placeholder="Search by Balance" ariaLabel="Filter Balance" />

                        <p-columnFilter *ngIf="col.field == 'subagent_count'" type="numeric" field="subagent_count"
                            placeholder="Search by Sub Agent Count" ariaLabel="Filter Sub Agent Count" />

                        <p-columnFilter *ngIf="col.field == 'web_last_login_time'" field="web_last_login_time"
                            type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" [ngModel]="value" dateFormat="dd-mm-yy"
                                    appendTo="body" placeholder="Search by Last Login">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>


                        <p-columnFilter *ngIf="col.field == 'is_wl'" field="is_wl" matchMode="equals"
                            [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="blockList"
                                    (onChange)="filter($event.value)" placeholder="Select WL" [showClear]="true"
                                    appendTo="body">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>

                        <p-columnFilter *ngIf="col.field == 'is_test'" field="is_test" matchMode="equals"
                            [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="blockList"
                                    (onChange)="filter($event.value)" placeholder="Select Test" [showClear]="true"
                                    appendTo="body">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>

                        <p-columnFilter *ngIf="col.field == 'city_name'" type="text" matchMode="contains"
                            field="city_name" placeholder="Search by City Name" ariaLabel="Filter City Name" />

                        <p-columnFilter *ngIf="col.field == 'first_transaction_date_time'" field="first_transaction_date_time"
                            type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" [ngModel]="value" dateFormat="dd-mm-yy"
                                    appendTo="body" placeholder="Search by First Transaction">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>

                        <p-columnFilter *ngIf="col.field == 'first_login_date_time'" field="first_login_date_time"
                            type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" [ngModel]="value" dateFormat="dd-mm-yy"
                                    appendTo="body" placeholder="Search by First Login">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>

                        <p-columnFilter *ngIf="col.field == 'agent_assign_by'" matchMode="contains" type="text" field="agent_assign_by"
                            placeholder="Search by Assign By" ariaLabel="Filter Assign By" />

                        <p-columnFilter *ngIf="col.field == 'agent_assign_by_date'" field="agent_assign_by_date"
                            type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" [ngModel]="value" dateFormat="dd-mm-yy"
                                    appendTo="body" placeholder="Search by Assign By Date">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-columns="columns">
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>

                            <button mat-menu-item (click)="edit(element)">
                                <mat-icon class="mat-18 icon-size-5">edit</mat-icon>
                                <span style="font-weight: 500">Modify</span>
                            </button>
                            <button mat-menu-item (click)="changeEmail(element)">
                                <mat-icon svgIcon="heroicons_outline:envelope" class="icon-size-5"></mat-icon>
                                <span style="font-weight: 500;">Change Email</span>
                            </button>
                            <button mat-menu-item (click)="changeNumber(element)">
                                <mat-icon svgIcon="heroicons_outline:device-phone-mobile"
                                    class="icon-size-5"></mat-icon>
                                <span style="font-weight: 500;">Change Number</span>
                            </button>
                            <button mat-menu-item (click)="relationahipManager(element)">
                                <mat-icon class="mat-18 icon-size-5">groups</mat-icon>
                                <span style="font-weight: 500">Change RM</span>
                            </button>
                            <button mat-menu-item (click)="setCurrency(element)">
                                <mat-icon [svgIcon]="'heroicons_outline:currency-rupee'" class="icon-size-5"></mat-icon>
                                <span style="font-weight: 500">Change Currency</span>
                            </button>
                            <button mat-menu-item (click)="setMarkupProfile(element)">
                                <mat-icon class="mat-18 icon-size-5">person</mat-icon>
                                <span style="font-weight: 500">Change Markup</span>
                            </button>

                            <mat-divider></mat-divider>

                            <button mat-menu-item (click)="setKYCVerify(element)">
                                <mat-icon class="mat-18 icon-size-5">fingerprint</mat-icon>
                                <span style="font-weight: 500">{{
                                    element["is_kyc_completed"]
                                    ? "KYC"
                                    : "KYC"
                                    }}</span>
                            </button>
                            <button mat-menu-item (click)="setBlockUnblock(element)">
                                <mat-icon class="mat-18 icon-size-5">{{
                                    element.is_blocked
                                    ? "highlight_off"
                                    : "check_circle"
                                    }}</mat-icon>
                                <span style="font-weight: 500">{{
                                    element.is_blocked
                                    ? "Unblock"
                                    : "Block"
                                    }}</span>
                            </button>
                            <button mat-menu-item (click)="resetPassword(element)">
                                <mat-icon class="mat-18 icon-size-5">lock</mat-icon>
                                <span style="font-weight: 500;">Reset Password</span>
                            </button>
                            <button mat-menu-item (click)="wallettransfer(element)">
                                <mat-icon class="mat-18 icon-size-5">sync_alt</mat-icon>
                                <span style="font-weight: 500">Wallet Transfer</span>
                            </button>
                            <button mat-menu-item (click)="delete(element)">
                                <mat-icon class="mat-18 icon-size-5">delete</mat-icon>
                                <span style="font-weight: 500">Remove All Sub Agent</span>
                            </button>

                            <mat-divider></mat-divider>

                            <button mat-menu-item (click)="autologin(element)">
                                <mat-icon class="mat-18 icon-size-5">login</mat-icon>
                                <span style="font-weight: 500">Login B2B Portal</span>
                            </button>

                            <!-- <button mat-menu-item (click)="view(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600">Info</span>
                            </button> -->
                            <!-- <button mat-menu-item (click)="viewNew(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600">Info New</span>
                            </button> -->

                            <!-- <button mat-menu-item (click)="delete(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                                <span style="font-weight: 600">Delete</span>
                            </button> -->
                            <!-- <mat-divider></mat-divider>
                            <button mat-menu-item (click)="statusChangedLog(element)">
                                <mat-icon class="mat-18">event_note</mat-icon>
                                <span style="font-weight: 600">Status Changed Log</span>
                            </button> -->
                            <!-- <button mat-menu-item>
                                <mat-icon class="mat-18">login</mat-icon>
                                <span style="font-weight: 600">Agent Login</span>
                            </button> -->

                            <!-- <button mat-menu-item (click)="kycProfile(element)">
                                <mat-icon class="mat-18">beenhere</mat-icon>
                                <span style="font-weight: 600">Set KYC Profile</span>
                            </button> -->
                            <!-- <button mat-menu-item (click)="resetPassword(element)">
                                <mat-icon class="mat-18">lock</mat-icon>
                                <span style="font-weight: 600">Reset Password</span>
                            </button> -->
                            <!-- <button *ngIf="!element.is_email_verified" mat-menu-item (click)="setEmailVerify(element)">
                                <mat-icon class="mat-18">verified</mat-icon>
                                <span style="font-weight: 600">Verify Email</span>
                            </button>
                            <button *ngIf="!element.is_mobile_verified" mat-menu-item
                                (click)="setMobileVerify(element)">
                                <mat-icon class="mat-18">verified</mat-icon>
                                <span style="font-weight: 600">Verify Mobile</span>
                            </button>
                            <button mat-menu-item *ngIf="!element.is_wl" (click)="convertWl(element)">
                                <mat-icon class="mat-18">sync_alt</mat-icon>
                                <span style="font-weight: 600">Convert to WL</span>
                            </button>
                            <button mat-menu-item (click)="relationahipManagerLog(element)">
                                <mat-icon class="mat-18">groups</mat-icon>
                                <span style="font-weight: 600">Relationship Manager Log</span>
                            </button> -->
                        </mat-menu>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.agent_code" class="cursor-pointer "
                        (click)="view(element)">
                        <div [matTooltip]=" element['is_kyc_completed'] ? 'KYC Complete': 'KYC Pending'"
                            class="w-2 h-2 rounded-full inline-block me-1"
                            [ngClass]="element['is_kyc_completed'] ? 'bg-green-500' : 'bg-red-500'">
                        </div>
                        <span class="border-b w-fit border-gray-500">{{element.agent_code || "-"}}</span>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.agency_name" class="cursor-pointer"
                        (click)="view(element)">
                        <div class="border-b w-fit border-gray-500">{{element.agency_name || "-"}}</div>
                        <div class="text-red-500 text-xs" *ngIf="element['is_blocked']">
                            Blocked
                        </div>
                    </td>
                    <td [ngClass]="getStatusColor(element.status)">{{element.status}}</td>
                    <td>{{element.relation_manager_name || "-"}}</td>
                    <td>
                        <span class="flex items-center gap-1">
                            <mat-icon class="text-green-600 icon-size-4 " [matTooltip]="'Verified'"
                                *ngIf="element['is_email_verified']">verified
                            </mat-icon>
                            <mat-icon class="text-yellow-600 icon-size-4 " [matTooltip]="'Verification Pending'"
                                *ngIf="!element['is_email_verified'] ">warning
                            </mat-icon>
                            {{element.email_address || "-"}}
                        </span>
                    </td>
                    <td>
                        <span class="flex items-center gap-1">
                            <mat-icon class="text-green-600 icon-size-4" [matTooltip]="'Verified'"
                                *ngIf="element['is_mobile_verified']">verified
                            </mat-icon>
                            <mat-icon class="text-yellow-600 icon-size-4" [matTooltip]="'Verification Pending'"
                                *ngIf="!element['is_mobile_verified'] ">warning
                            </mat-icon>
                            {{element.mobile_number || "-"}}
                        </span>
                    </td>
                    <td>{{element.currency || "-"}}</td>
                    <td>
                        {{(element.entry_date_time | date: "dd-MM-yyyy") || "-"}}
                    </td>
                    <td *ngFor="let col of columns"
                        [ngClass]="col.field == 'balance' ? 'text-right' : col.field == 'subagent_count' ? 'text-center' :''">
                        <ng-container
                            *ngIf="col.field == 'is_blocked' || col.field == 'is_wl' || col.field == 'is_test'">
                            {{element[col.field] ? 'Yes' : 'No' }}
                        </ng-container>

                        <ng-container *ngIf="col.field == 'balance'" class="text-right">
                            {{element[col.field] ? element[col.field].toFixed(2) : element[col.field] }}
                        </ng-container>

                        <ng-container *ngIf="col.field == 'web_last_login_time' || col.field == 'first_transaction_date_time' || col.field == 'first_login_date_time' || col.field == 'agent_assign_by_date'">
                            {{(element[col.field] | date : "dd-MM-yyyy") || '-'}}
                        </ng-container>

                        <ng-container *ngIf="col.field == 'subagent_count'">
                            {{element[col.field] || '0'}}
                        </ng-container>

                        <ng-container *ngIf="col.field == 'agent_assign_by'">
                            {{element[col.field] || 'System'}}
                        </ng-container>

                        <ng-container
                            *ngIf="col.field !== 'is_blocked' && col.field !== 'is_wl' && col.field !== 'is_test' && col.field !== 'balance' && col.field !== 'subagent_count' && col.field !== 'web_last_login_time' && col.field != 'first_transaction_date_time' && col.field !== 'first_login_date_time' && col.field !== 'agent_assign_by_date' && col.field !== 'agent_assign_by'">
                            {{element[col.field] ? element[col.field] : "-" }}
                        </ng-container>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14">
                    <!-- {{13 + selectedColumns?.length}} -->
                    <td [attr.colspan]="13 + selectedColumns?.length" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<app-change-email-number></app-change-email-number>