<div class="flex flex-col max-w-240 md:min-w-140 max-h-screen -m-6 dark:bg-[#0f172a]">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium text-white">Documents</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <mat-divider class="mb-2"></mat-divider>

    <div *ngIf="dataList.length > 0" class="flex flex-col w-full max-h-[480px] overflow-y-auto px-4">
        <div *ngFor="let dataRecords of dataList">
            <div class="pb-1 pt-2">
                <div class="text-xl leading-none">{{ dataRecords.key }}</div>

                <span class="text-secondary leading-none text-sm pb-[2px] opacity-80">
                    At least one document is required.
                </span>
            </div>
            <div *ngFor="let dataRecord of dataRecords.value">
                <div class="flex flex-col dark:bg-[#1e293b] bg-gray-200 px-4 mb-3 justify-between shadow rounded-xl overflow-hidden border-l-4"
                    [ngClass]="getColor(dataRecord)">
                    <div class="flex flex-row items-center justify-between overflow-hidden">
                        <div class="py-4 flex flex-col items-start justify-between second-color overflow-hidden">
                            <div class="flex flex-col font-medium tracking-tight leading-6 truncate">
                                <div class="flex flex-row space-x-2 items-center">
                                    <span class="text-lg">{{
                                        dataRecord.document_name
                                        }}</span>
                                    <span *ngIf="dataRecord.is_required" class="text-gray-500">Required</span>
                                </div>
                                <div *ngIf="dataRecord.is_rejected" class="flex-row space-x-2 max-w-80 truncate">
                                    <span class="text-sm dark:text-white text-black whitespace-nowrap">Reason :</span>
                                    <span class="text-sm text-secondary truncate" [matTextSuffix]="dataRecord.rejection_note">{{ dataRecord.rejection_note }}</span>
                                </div>
                                <!-- <div class="leading-5">
                                    <p class="text-secondary text-xs ">(Max size {{dataRecord.maximum_size}} KB)</p>
                                    <p class="text-sm text-secondary">Support for {{dataRecord.file_extentions}} only </p>
                                </div> -->
                            </div>
                        </div>

                        <div class="flex flex-row items-end justify-center space-x-1">
                            <a target="_blank" [href]="dataRecord.file_url">
                                <button mat-icon-button [matTooltip]="'Download'" [disabled]="!dataRecord.file_url">
                                    <mat-icon class="icon-size-6" [ngClass]="
                                            dataRecord.file_url
                                                ? 'text-primary'
                                                : ''
                                        " [svgIcon]="'heroicons_outline:download'"></mat-icon>
                                </button>
                            </a>
                            <div [hidden]="true">
                                <input type="file" name="documentUpload" #document (change)="
                                        uploadDocument(dataRecord, $event)
                                    " />
                            </div>
                            <button [disabled]="dataRecord.is_audited" (click)="document.click()"
                                [matTooltip]="'Upload'" mat-icon-button>
                                <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:upload'"></mat-icon>
                            </button>

                            <button mat-icon-button [disabled]="!dataRecord.file_url" (click)="$event.stopPropagation()"
                                [matMenuTriggerFor]="optionMenu" class="sticky left-0 bg-text"
                                style="border-radius: 0%; width: 100%">
                                <mat-icon> more_vert </mat-icon>
                            </button>
                            <mat-menu #optionMenu>
                                <button *ngIf="!dataRecord.is_audited" mat-menu-item (click)="Audit(dataRecord)">
                                    <mat-icon class="mat-18">check_circle</mat-icon>
                                    <span style="font-weight: 600">Audit</span>
                                </button>
                                <button *ngIf="!dataRecord.is_rejected" mat-menu-item (click)="Reject(dataRecord)">
                                    <mat-icon class="mat-18">close</mat-icon>
                                    <span style="font-weight: 600">Reject</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="dataList.length > 0"
        class="flex flex-row items-center justify-center space-x-5 max-sm:space-x-0 p-4">
        <div class="flex flex-row items-center space-x-2">
            <div class="h-[10px] w-[10px] bg-gray-500 rounded-full"></div>
            <div>Upload Pending</div>
        </div>
        <div class="flex flex-row items-center space-x-2">
            <div class="h-[10px] w-[10px] bg-blue-500 rounded-full"></div>
            <div>Audit Pending</div>
        </div>
        <div class="flex flex-row items-center space-x-2">
            <div class="h-[10px] w-[10px] bg-green-500 rounded-full"></div>
            <div>Audited</div>
        </div>
        <div class="flex flex-row items-center space-x-2">
            <div class="h-[10px] w-[10px] bg-red-500 rounded-full"></div>
            <div>Rejected</div>
        </div>
    </div>

    <ng-container *ngIf="dataList.length < 1">
        <div class="flex-grow flex flex-row items-center justify-center">
            <div>
                <span class="text-secondary font-semibold text-xl">{{
                    getNodataText()
                    }}</span>
            </div>
        </div>
    </ng-container>
</div>