<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden  dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">
            {{ module_name }}
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" (click)="refreshItems()"></mat-icon>
            </div>
            
            <!------global filter------>
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!------Refresh------>
            <button class="ml-4" mat-flat-button [color]="'primary'" [disabled]="isLoading" (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

            <!------Create------->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="create()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>

             <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'"  [disabled]="isLoading" (click)="_filterService.openDrawer(filter_table_name, primengTable)">
                <mat-icon [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                <span class="ml-2 mr-1">Filter</span>
            </button>
        </div>
    </div>

    <!----------------Table----------------->

    <div class="table-container paginator-bottom">
        <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
            columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
            [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
            [lazy]="true" (onLazyLoad)="refreshItems($event)" [scrollable]="true" [scrollHeight]="scrollHeight"
            [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['booking_ref_number', 'status', 'dec_agent_id', 'agent_name','operation_person','sales_person','entry_date_time']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header">
                <tr>
                    <th class="  text-center left-[-1px]" pFrozenColumn>#</th>
                    <th class="min-w-[150px] dark:bg-[#1e293b]" pSortableColumn="booking_ref_number" pResizableColumn pResizableColumn
                        alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.booking_ref_number"
                        [ngClass]="{'left-0': !frozenObj?.booking_ref_number}">
                        Booking Ref <p-sortIcon field="booking_ref_number" />
                        <span class="float-right"
                            (click)="isFrozenColumn('booking_ref_number');$event.stopPropagation()">
                            <i *ngIf="!frozenObj?.booking_ref_number" class="pi pi-lock-open icon-size-3"></i>
                            <i *ngIf="frozenObj?.booking_ref_number" class="pi pi-lock icon-size-3"></i>
                        </span>
                    </th>
                    <th pSortableColumn="status" pResizableColumn>
                        Status <p-sortIcon field="status" />
                    </th>
                    <th pSortableColumn="dec_agent_id" pResizableColumn>
                        Agent Code <p-sortIcon field="dec_agent_id" />
                    </th>
                    <th pSortableColumn="agent_name" pResizableColumn>
                        Agency Name <p-sortIcon field="agent_name" />
                    </th>
                    <th pSortableColumn="operation_person" pResizableColumn>
                        Operation Person <p-sortIcon field="operation_person" />
                    </th>
                    <th pSortableColumn="sales_person" pResizableColumn>
                        RM <p-sortIcon field="sales_person" />
                    </th>
                    <th class="w-full min-w-[200px]" pSortableColumn="entry_date_time" pResizableColumn>
                        Entry Date <p-sortIcon field="entry_date_time" />
                    </th>
                </tr>

                <tr *ngIf="isFilterShow">
                    <th class=" left-[-1px]" pFrozenColumn></th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="booking_ref_number" placeholder="Search by Booking Ref."
                            ariaLabel="Filter Booking Ref." />
                    </th>
                    <th>
                        <!-- <p-columnFilter type="text" matchMode="contains" field="status" placeholder="Search by Status"
                            ariaLabel="Filter Status" /> -->
                        <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="statusList"
                                    (onChange)="filter($event.value)" placeholder="Select Status" [showClear]="true" appendTo="body">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="numeric" field="dec_agent_id" placeholder="Search by Agent Code"
                            ariaLabel="Filter Agent Code" />
                    </th>
                    <th>
                        <!-- <p-columnFilter type="text" matchMode="contains" field="agent_name" placeholder="Search by Agent Name"
                            ariaLabel="Filter Agent Name" /> -->
                        <p-columnFilter class="searchableDropdown" field="dec_agent_id" matchMode="equals"
                            [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [options]="agentList" optionLabel="agent_info"
                                    [filter]="true" filterBy="agent_info" [(ngModel)]="selectedAgent"
                                    (onFilter)="getAgent($event?.filter)" (onChange)="filter($event.value?.id)"
                                    [showClear]="true" appendTo="body" placeholder="Select Agent">
                                    <ng-template let-agent pTemplate="item">
                                        <div class="flex align-items-center gap-1">
                                            <div [value]="agent.id">
                                                <div class="m-0">
                                                    {{agent.code}} - {{agent.agency_name}}
                                                    <div class="text-sm text-slate-500">{{agent.email_address}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="operation_person" placeholder="Search by Operation Person"
                            ariaLabel="Filter Operation Person" />
                    </th>
                    <th>
                        <!-- <p-columnFilter type="text" matchMode="contains" field="sales_person" placeholder="Search by RM"
                            ariaLabel="Filter RM" /> -->
                        <p-columnFilter class="searchableDropdown" field="sales_person_flitres" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown" [options]="employeeList"
                                    [(ngModel)]="selectedEmployee" optionLabel="employee_name" [filter]="true"
                                    filterBy="employee_name" (onFilter)="getRelationManagerList($event?.filter)"
                                    (onChange)="filter($event.value?.employee_name)" [showClear]="true" appendTo="body"
                                    placeholder="Select a RM">
                                    <ng-template let-employee pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div [value]="employee.id">{{ employee.employee_name }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                         </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="entry_date_time" type="date">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" [ngModel]="value"
                                    appendTo="body" placeholder="Search by Signup">
                                </p-calendar>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element>
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="view(element)"
                                *ngIf="element?.visa_status !== 'Payment Confirmed'">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600">Info</span>
                            </button>
                            <button mat-menu-item (click)="edit(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600">Edit</span>
                            </button>
                            <button mat-menu-item (click)="delete(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                                <span style="font-weight: 600">Delete</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item (click)="OperationPerson(element)">
                                <mat-icon class="mat-18">person</mat-icon>
                                <span style="font-weight: 600">Operation Person</span>
                            </button>
                            <button mat-menu-item (click)="StatusChangeLog(element)">
                                <mat-icon svgIcon="feather:file-text"></mat-icon>
                                <span style="font-weight: 600">Status Change Log</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.booking_ref_number">
                        {{element.booking_ref_number || '-'}}
                    </td>
                    <td>
                        <span [ngClass]="getStatusColor(element.status)">{{element.status || '-'}}</span>
                    </td>
                    <td>
                        {{element.dec_agent_id || '-'}}
                    </td>
                    <td>
                        {{element.agent_name || '-'}}
                    </td>
                    <td>
                        {{element.operation_person || '-'}}
                    </td>
                    <td>
                        {{element.sales_person || '-'}}
                    </td>
                    <td>
                        {{(element.entry_date_time | date:'dd-MM-yyyy HH:mm:ss') || '-'}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14">
                    <td colspan="8" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>