
<div class="mx-auto container" *ngIf="!loading">
    <div class="w-full sticky top-[10px] z-49">
        <div class="dark:bg-[#064e48] bg-[#5eb5ad] rounded-md flex justify-between px-4 py-5 white-text items-center">
            <div class="lg:font-semibold lg:text-2xl text-base font-medium">Review your Booking</div>
            <div>
                <div class="md:text-base text-sm font-medium flex">
                    <div class="items-center gap-2  flex">
                        <span>{{cabDisplayData?.from}}</span>
                        <mat-icon *ngIf="cabDisplayData?.to" class="text-white icon-size-4"
                            svgIcon="heroicons_outline:arrow-right"></mat-icon>
                        <span>{{cabDisplayData?.to}}</span>
                    </div>
                    <span class="border-r border-gray-border mx-2"></span>
                    {{cabDisplayData?.trip_type}}
                </div>
            </div>
            <!-- <div class="flex justify-end text-md">
                <span>{{cabDisplayData?.departure_date | date:'dd-MM-yyyy'}} </span>
                <span class="text-end" *ngIf="cabDisplayData?.return_date"> - {{cabDisplayData?.return_date | date:'dd-MM-yyyy'}}</span>
            </div> -->
        </div>
    </div>
    
    <div class="pt-10 w-full">
        <div class=" lg:flex lg:flex-row lg:gap-3 gap-2 flex-col justify-center">
        
            <div class="flex flex-col lg:w-[69%] w-full">
                <div class="rounded-lg shadow-md bg-white dark:bg-gray-800 mb-5 relative">
                    <div class="p-4 flex justify-between">
                        <div><img class="w-auto" src="assets/icons/no-cars.svg"></div>
                        <div class="px-4 w-[100%]">
                            <div class="text-[#19191A] text-xl font-semibold dark:text-slate-300">{{cabDisplayData?.car_name}}</div>
                            <div class="text-gray font-medium text-md mb-2 dark:text-slate-200">{{cabDisplayData?.car_type}} -
                                {{cabDisplayData?.is_air_conditioner ? 'Ac' :
                                'Non/Ac'}} - {{cabDisplayData?.passenger_capacity}} Seats - {{cabDisplayData?.included_km}} kms included
                            </div>
                            <div class="border-t border-gray-border dark:border-gray-300 w-full pt-2">
                                <!-- <div class="text-[#19191A] text-base font-semibold mt-2 mb-1">Large Car</div> -->
                                <div class="grid grid-cols-2 gap-1">
                                    <div class="flex gap-2 items-center">
                                        <img class="icon-size-4" src="assets/icons/gray-location.svg">
                                        <span class="text-gray font-medium text-base w-24">Extra km fare</span>
                                        <span class="text-[#1C1C1C] font-medium text-base dark:text-slate-300">{{cabDisplayData?.extra_km_fare}}</span>
                                    </div>
                                    <div class="flex gap-2 items-center">
                                        <img class="icon-size-4" src="assets/icons/gray-timer-plus.svg">
                                        <span class="text-gray font-medium text-base w-24">Extra time fare</span>
                                        <span class="text-[#1C1C1C] font-medium text-base dark:text-slate-300">{{cabDisplayData?.extra_time_fare}}</span>
                                    </div>
                                    <div class="flex gap-2 items-center">
                                        <img class="icon-size-4" src="assets/icons/gray-petrol-pump.svg">
                                        <span class="text-gray font-medium text-base w-24">Fuel type</span>
                                        <span class="text-[#1C1C1C] font-medium text-base dark:text-slate-300">{{cabDisplayData?.fuel_type}}</span>
                                    </div>
                                    <div class="flex gap-2 items-center">
                                        <img class="icon-size-4" src="assets/icons/gray-cancellation.svg">
                                        <span class="text-gray font-medium text-base w-24 dark:text-slate-300">Cancellation</span>
                                        <span
                                            class="primary-text font-medium text-base cursor-pointer underline" (click)="viewPolicy()">View Policy</span>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="flex gap-5">
                    <div class="rounded-lg shadow-md bg-white dark:bg-gray-800 mb-5 relative p-5 w-1/2" *ngIf="cabDisplayData?.inclusion?.length > 0">
                        <div class="bg-[#01AF47] w-1 h-6 absolute top-5 left-0 text-xl"></div>
                        <div class="font-bold text-xl text-[#1C1C1C] dark:text-white pb-2">Inclusions</div>
                        <ul class="flex gap-2" *ngFor="let data of cabDisplayData?.inclusion">
                            <mat-icon class="icon-size-4 text-[#01AF47]" svgIcon="heroicons_outline:check"></mat-icon>
                            <li class="font-medium text-base text-[#1C1C1C] dark:text-gray-200"
                                [ngClass]="i === cabDisplayData.exclusion?.length - 1 ? 'mb-0' : 'mb-2'">{{data.inclusion}}</li>
                        </ul>
                    </div>
        
                    <div class="rounded-lg shadow-md bg-white dark:bg-gray-800 mb-5 relative p-5 w-1/2" *ngIf="cabDisplayData?.exclusion?.length > 0">
                        <div class="bg-[red] w-1 h-6 absolute top-5 left-0 text-xl"></div>
                        <div class="font-bold text-xl text-[#1C1C1C] pb-2 dark:text-white">Exclusions</div>
                        <ul class="flex gap-2" *ngFor="let data of cabDisplayData?.exclusion; let i = index">
                            <mat-icon class="icon-size-4 text-[#FF3C43]" svgIcon="heroicons_outline:x-mark"></mat-icon>
                            <li class="font-medium text-base text-[#1C1C1C] dark:text-gray-200"
                                [ngClass]="i === cabDisplayData?.exclusion?.length - 1 ? 'mb-0' : 'mb-2'">{{data.exclusion}}</li>
                        </ul>
                    </div>
                </div>
        
                <!-- <form class="" [formGroup]="formGroup">
                    <div class="flex gap-5">
                        <div class="rounded-lg shadow-md bg-white mb-5 relative p-5 w-full">
                            <div class="bg-[#01AF47] w-1 h-6 absolute top-5 left-0 text-xl"></div>
                            <div class="font-bold text-xl text-[#1C1C1C] pb-2 ">Pickup Address</div>
                            <div class="mb-3 ">
                                <div class="text-lg font-medium text-[#1C1C1C] pb-1">Pick-up Address <span
                                        class="text-md font-medium text-[#8F8989]">(This will help our driver reach you on
                                        time)</span></div>
                                <div class="flex border-[#D0D0D0] border rounded py-2.5 px-4 relative ">
                                    <textarea class="pl-6 w-full" rows="1" formControlName="pick_up_address" matInput
                                        placeholder="Enter text..."></textarea>
                                    <img src="assets/icons/cabs-location.svg" class="w-auto"
                                        style="position: absolute; left: 10px; top: 11px; color: gray;">
                                </div>
                                <div *ngIf="formGroup.controls['pick_up_address'].invalid && formGroup.controls['pick_up_address'].touched"
                                    class="text-red-500 text-sm">
                                    Pickup address is required.
                                </div>
                            </div>
        
                            <div *ngIf="localStoreData?.trip_type != 'Hourly Rental'">
                                <div class="text-lg font-medium text-[#1C1C1C] pb-1">Drop-off Address <span
                                        class="text-md font-medium text-[#8F8989]">(This will help our driver reach you on
                                        time)</span></div>
                                <div class="flex border-[#D0D0D0] border rounded py-2.5 px-4 relative">
                                    <textarea class="pl-6 w-full" rows="1" formControlName="drop_off_address" matInput
                                        placeholder="Enter text..."></textarea>
                                    <img src="assets/icons/cabs-location.svg" class="w-auto"
                                        style="position: absolute; left: 10px; top: 11px; color: gray;">
                                </div>
                                <div *ngIf="formGroup.controls['drop_off_address'].invalid && formGroup.controls['drop_off_address'].touched"
                                    class="text-red-500 text-sm">
                                    Drop-off address is required.
                                </div>
                            </div>
        
                        </div>
                    </div>
        
                    <div class="rounded-lg shadow-md bg-white mb-5 relative p-5 w-full">
                        <div class="bg-[#01AF47] w-1 h-6 absolute top-5 left-0 text-xl"></div>
                        <div class="font-bold text-xl text-[#1C1C1C] pb-2">Traveller details</div>
        
        
                        <div class="flex gap-4 pb-3">
                            <div class="w-1/3">
                                <div class="text-base font-medium text-[#696969] pb-1">Gender</div>
                                <div class="flex border-[#D0D0D0] border rounded py-2.5 px-4 gap-4">
                                    <mat-select class="white-text" formControlName="gender" #Gender>
                                        <mat-option *ngFor="let s of genderList" [value]="s">{{ s }}</mat-option>
                                    </mat-select>
                                    <mat-icon (click)="this.Gender.open()" svgIcon="heroicons_mini:chevron-down"
                                        class="cursor-pointer"></mat-icon>
                                </div>
                            </div>
        
                            <div class="w-2/3">
                                <div class="text-base font-medium text-[#696969] pb-1">Full Name</div>
                                <div class="flex border-[#D0D0D0] border rounded py-3 px-4 gap-4 w-full">
                                    <input matInput type="text" class="w-full" placeholder="Full Name"
                                        [formControlName]="'lead_pax_name'">
                                </div>
                                <div *ngIf="formGroup.controls['lead_pax_name'].invalid && formGroup.controls['lead_pax_name'].touched"
                                    class="text-red-500 text-sm">
                                    Full Name is required and must be at least 3 characters.
                                </div>
                            </div>
                        </div>
        
                        <div class="flex gap-4 pb-3">
                            <div class="w-1/2">
                                <div class="text-base font-medium text-[#696969] pb-1">Email Address</div>
                                <div class="flex border-[#D0D0D0] border rounded py-3 px-4 gap-4 w-full">
                                    <input matInput class="w-full" type="text" placeholder="Email Address"
                                        [formControlName]="'lead_pax_email'">
                                </div>
                                <div *ngIf="formGroup.controls['lead_pax_email'].invalid && formGroup.controls['lead_pax_email'].touched"
                                    class="text-red-500 text-sm">
                                    Enter a valid email address.
                                </div>
                            </div>
        
                            <div class="w-1/2">
                                <div class="text-base font-medium text-[#696969] pb-1">Contact Number</div>
                                <div class="flex border-[#D0D0D0] border rounded py-2.5 px-4 gap-4">
                                    <div class="">
                                        <mat-select class="white-text" formControlName="nationality" #mobile_code>
                                            <mat-option>
                                                <ngx-mat-select-search placeholderLabel="Search Country Code"
                                                    noEntriesFoundLabel="'no matching Mobile Code found'"
                                                    formControlName="mobile_code_filter">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let ct of mobileCodeList" [value]="ct.mobile_code">
                                                <div class="flex flex-col justify-center">
                                                    <span class="font-medium">{{ct.country_code}} - {{ct.mobile_code}}</span>
                                                </div>
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="w-[1px] h-6 bg-[#D0D0D0]"></div>
                                    <div class="w-full">
                                        <input id="mobile" matInput type="text" placeholder="Mobile Number" class="w-full"
                                            [formControlName]="'lead_pax_contact'" (keypress)="numberOnly($event)">
                                    </div>
                                </div>
                                <div *ngIf="formGroup.controls['lead_pax_contact'].invalid && formGroup.controls['lead_pax_contact'].touched"
                                    class="text-red-500 text-sm">
                                    Enter a valid mobile number.
                                </div>
                            </div>
                        </div>
        
                        <div class="w-full ">
                            <div class="text-base font-medium text-[#696969] pb-1">Inquiry Remark</div>
                            <div class="flex border-[#D0D0D0] border rounded py-3 px-4 gap-4 w-full">
                                <input matInput class="w-full" type="text" placeholder="Inquiry Remark"
                                    [formControlName]="'inquiry_remark'">
                            </div>
                        </div>
                    </div>
                </form> -->
        
                <div class="rounded-lg shadow-md bg-[#EBF4FF] dark:bg-gray-800 mb-5 relative p-5 w-full"
                    *ngIf="cabDisplayData?.instruction?.length > 0">
                    <div class="bg-[#234977] w-1 h-6 absolute top-5 left-0 text-xl"></div>
                    <div class="font-bold text-xl text-[#1C1C1C] pb-2 dark:text-white">Instruction </div>
                    <div class="flex gap-2" *ngFor="let data of cabDisplayData?.instruction; let i = index;"
                        [ngClass]="i === cabDisplayData.instruction?.length - 1 ? 'mb-0' : 'mb-3'">
                        <div class="w-1.5 h-1.5 max-h-1.5 min-h-1.5 min-w-1.5 max-w-1.5 mt-2 bg-[#234977] rounded-full"></div>
                        <ul class="gap-2">
                            <li class="font-semibold text-[15px] text-[#234977] dark:text-gray-400 pb-1">{{data.title}}</li>
                            <li class="font-normal text-sm text-[#1C1C1C] dark:text-gray-200">{{data.instruction}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="lg:w-[29%] w-full ml-0">
                <div class="info relative flex flex-col mb-5 bg-white dark:bg-gray-800 rounded-md round-shadow">
                    <span class="text-xl font-semibold px-4 py-3 border-b border-gray-border dark:border-gray-300">Price Information</span>
                    <div class="px-4 py-3 border-b border-dashed border-gray-border dark:border-gray-300">
                        <div class="flex justify-between">
                            <span class="flex items-center text-gray">Base fare</span>
                            <span class="text-black font-medium relative top-[2px] dark:text-white">{{cabDisplayData?.inr_currency}}
                                {{cabDisplayData?.base_fare}}</span>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="px-4 py-3 flex bg-[#EFF6FF] dark:bg-gray-900 rounded justify-between primary-text font-semibold text-xl">
                            <span>Total Amount</span>
                            <span>{{cabDisplayData?.inr_currency}} {{cabDisplayData?.total_price}}</span>
                        </div>
                    </div>
                </div>
        
                <!-- <button mat-flat-button (click)="inquiry()"
                    class="w-full text-white min-h-13 rounded-lg items-center gap-2 flex justify-center space-x-2 video-help-button ">
                    <mat-icon class="icon-size-4" svgIcon="heroicons_solid:phone"></mat-icon>
                    <span class=" font-semibold text-lg uppercase">Inquiry Now</span>
                </button> -->
            </div>
        </div>
    </div>
</div>
