<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">
            {{ module_name }}
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Global Search -->
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search">
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'" (keyup.enter)="refreshItems()" />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" (click)="refreshItems()"></mat-icon>
            </div>

            <!------global filter------>
            <button class="ml-4 rounded-full" mat-flat-button [color]="'primary'" matTooltip="Advanced Filter"
                [disabled]="isLoading" (click)="isFilterShow = !isFilterShow;">
                <img *ngIf="!isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-add.svg" alt="c">
                <img *ngIf="isFilterShow" class="w-5 cursor-pointer pt-1" src="assets/icons/filter-remove.svg" alt="c">
            </button>

            <!------Refresh------>
            <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Refresh" [disabled]="isLoading"
                (click)="refreshItems()">
                <mat-icon class="icon-size-4.5" svgIcon="feather:refresh-ccw"></mat-icon>
            </button>

             <!------Create------->
             <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Add New Record" (click)="create()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>

            <!------Common Filter------->
            <button class="ml-4" mat-flat-button [color]="'primary'" matTooltip="Add New Record" (click)="_filterService.openDrawer(filter_table_name, primengTable)">
                <mat-icon [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                <span class="ml-2 mr-1">Filter</span>
            </button>
        </div>
    </div>

    <!----------------Table----------------->
    <div class="table-container paginator-bottom">
        <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
            columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
            [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
            [lazy]="true" (onLazyLoad)="refreshItems($event)" [scrollable]="true" [scrollHeight]="scrollHeight"
            [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['product_name', 'count_to_length', 'one_time_cost', 'product_expiry', 'amc_amount', 'max_installment']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header">
                <tr>
                    <th class="  text-center left-[-1px]" pFrozenColumn>#</th>
                    <th class="min-w-[185px] dark:bg-[#1e293b]" pSortableColumn="product_name" pResizableColumn alignFrozen="left"
                    pFrozenColumn [frozen]="frozenObj?.product_name" [ngClass]="{'left-0': !frozenObj?.product_name}">
                    Product Name <p-sortIcon field="product_name" />
                        <span class="float-right" (click)="isFrozenColumn('product_name');$event.stopPropagation()">
                            <i *ngIf="frozenObj?.product_name" class="pi pi-lock icon-size-3"></i>
                            <i *ngIf="!frozenObj?.product_name" class="pi pi-lock-open icon-size-3"></i>
                        </span>
                    </th>
                    <th pResizableColumn class="text-center">Items </th>
                    <th class="text-right" pSortableColumn="one_time_cost" pResizableColumn>
                        One Time Cost <p-sortIcon field="one_time_cost" />
                    </th>
                    <th pSortableColumn="product_expiry" pResizableColumn>
                        Expiry <p-sortIcon field="product_expiry" />
                    </th>
                    <!-- <th class="text-center" pSortableColumn="is_amc_required" pResizableColumn>
                        AMC Required <p-sortIcon field="is_amc_required" />
                    </th> -->
                     <!-- <th class="text-right" pSortableColumn="amc_amount" pResizableColumn>
                        AMC Amount <p-sortIcon field="amc_amount" />
                    </th> -->
                    <th class="w-full" pSortableColumn="max_installment" pResizableColumn>
                        Max Installment <p-sortIcon field="max_installment" />
                    </th>
                </tr>

                <tr *ngIf="isFilterShow">
                    <th class=" left-[-1px]"></th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.product_name">
                        <p-columnFilter type="text" matchMode="contains" field="product_name" placeholder="Search by Product Name"
                            ariaLabel="Filter Product Name" />
                    </th>
                    <th>
                    </th>
                    <th>
                        <p-columnFilter type="numeric" field="one_time_cost" placeholder="Search by One Time Cost"
                            ariaLabel="Filter One Time Cost" />
                    </th>
                    <th>
                        <p-columnFilter type="text" matchMode="contains" field="product_expiry" placeholder="Search by Expiry"
                            ariaLabel="Filter Expiry" />
                    </th>
                    <!-- <th>
                        <p-columnFilter field="is_amc_required" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown class="filter-dropdown"
                                            [(ngModel)]="selectedAction"
                                            [options]="actionList"
                                            (onChange)="filter($event.value)"
                                            placeholder="Select AMC Required"
                                             appendTo="body"
                                            [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p>{{option.label}}</p>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th> -->
                     <!-- <th>
                        <p-columnFilter type="numeric" field="amc_amount" placeholder="Search by AMC Amount"
                            ariaLabel="Filter AMC Amount" />
                    </th> -->
                    <th>
                        <p-columnFilter type="numeric" field="max_installment" placeholder="Search by Max Installment"
                            ariaLabel="Filter Max Installment" />
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element>
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="edit(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                                <span style="font-weight: 600">Edit</span>
                            </button>
                            <button mat-menu-item (click)="delete(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                                <span style="font-weight: 600">Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.product_name">{{element.product_name}}</td>
                    <td class="text-center">
                        <a (click)="opanItemListDialog(element)" class="border-b border-gray-500 cursor-pointer">
                            {{element.count_to_length}}
                        </a>
                    </td>
                    <td class="text-right">{{element.one_time_cost}}</td>
                    <td>{{element.product_expiry}}</td>
                    <!-- <td class="text-center">
                        <mat-icon class="text-green-600" *ngIf="element.is_amc_required">done</mat-icon>
                        <mat-icon class="text-red-600" *ngIf="!element.is_amc_required">clear</mat-icon>
                    </td> -->
                     <!-- <td class="text-right">{{element.amc_amount}}</td> -->
                    <td>
                        <div class="pl-[60px]">{{element.max_installment}}</div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14">
                    <td colspan="8" class="text-center font-semibold text-lg">
                        {{getNodataText()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
