<div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden dark:bg-transparent">

    <p-overlayPanel #op>
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="overlay-panel"
            [style]="{'max-width': '220px'}" display="chip" placeholder="Choose Columns"
            (onChange)="onColumnsChange()" />
    </p-overlayPanel>

    <div class="table-container paginator-bottom">
        <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
            [columns]="selectedColumns" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"
            [loading]="isLoading" [paginator]="true" [rows]="appConfig.pageSize" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="appConfig.pageSizeOptions" [lazy]="true" (onLazyLoad)="refreshItemsRejected($event)"
            [scrollable]="true" [scrollHeight]="scrollHeightWTab" [showCurrentPageReport]="true" [showPageLinks]="false"
            [showJumpToPageDropdown]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['reference_number', 'request_date_time', 'recharge_for_name', 'recharge_amount','mop','filename', 'rejected_by_name','rejected_date_time','user_remark']"
            styleClass="p-datatable-gridlines p-datatable-sm">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="left-[-1px] text-center w-1 dark:bg-gray-800" *ngIf="isDisplayHashCol()" pFrozenColumn>#
                    </th>

                    <th *ngFor="let col of columns; let isLast = last" [pSortableColumn]="col.field" pResizableColumn
                        [ngClass]="{ 'w-full': isLast && (selectedColumns[selectedColumns?.length-1]?.field !='recharge_amount')}"
                        [class]="col.class">
                        {{ col.header }}
                        <p-sortIcon [field]="col?.field" />
                    </th>
                    <th class="w-full" *ngIf="(selectedColumns[selectedColumns?.length-1]?.field =='recharge_amount')">
                    </th>
                </tr>

                <tr *ngIf="isFilterShowReject">
                    <th class="left-[-1px] bg-gray-50 dark:bg-gray-800" pFrozenColumn></th>
                    <th *ngFor="let col of columns">
                        <ng-container *ngIf="!col?.isHideFilter">
                            <!-- Text -->
                            <p-columnFilter *ngIf="(col.type == types.text  || col.type == types.link)" [type]="'text'"
                                [field]="col.field" [placeholder]="'Search by '+ col.header"
                                [ariaLabel]="'Filter '+ col.header" matchMode="contains" />


                            <!--2 digit point number-->
                            <p-columnFilter *ngIf="col.type == types.number" [type]="'numeric'" [field]="col.field"
                                [matchMode]="'equals'" [placeholder]="'Search by '+ col.header"
                                [ariaLabel]="'Filter '+ col.header" locale="en-US" minFractionDigits="2"
                                maxFractionDigits="2">
                            </p-columnFilter>

                            <!--date picker-->
                            <p-columnFilter *ngIf="col.type == types.date" type="date" [field]="col.field">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" [ngModel]="value"
                                        appendTo="body" placeholder="Search by Signup">
                                    </p-calendar>
                                </ng-template>
                            </p-columnFilter>

                            <!--date range picker-->
                            <ng-container *ngIf="col.type == types.dateTime">
                                <p-columnFilter
                                    *ngIf="(_filterService.selectionDateDropdown$ | async) != 'custom_date_range'"
                                    [field]="col.field" matchMode="custom" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown #dateRangeDropdown class="filter-dropdown" [ngModel]="value"
                                            [options]="_filterService.dateRangeList" optionLabel="label"
                                            placeholder="Select Option" appendTo="body">
                                            <ng-template let-option pTemplate="item">
                                                <div
                                                    (click)="_filterService.onOptionClick(option, primengTable, col.field)">
                                                    <div>{{option.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                                <ng-container
                                    *ngIf="(_filterService.selectionDateDropdown$ | async) == 'custom_date_range'">
                                    <div class="relative inline-block">
                                        <p-columnFilter [field]="col.field" matchMode="custom" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-calendar selectionMode="range" [ngModel]="value"
                                                    (ngModelChange)="onDateRangeChange($event, filter)"
                                                    [readonlyInput]="true" dateFormat="dd-mm-yy" appendTo="body"
                                                    placeholder="📅 Search by Date Range">
                                                </p-calendar>
                                            </ng-template>
                                        </p-columnFilter>
                                        <mat-icon class="icon-size-4 cursor-pointer absolute"
                                            style="top:50%; transform: translatey(-50%); right: 25px;"
                                            (click)="_filterService.onOptionClick('', '', '')">cancel</mat-icon>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="col.type == types.select && col.field == 'recharge_for_name'">
                                <p-columnFilter class="searchableDropdown" field="agent_code_filter" matchMode="equals"
                                    [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown class="filter-dropdown" [options]="agentList"
                                            [(ngModel)]="selectedEmployee" optionLabel="agent_info" [filter]="true"
                                            filterBy="agent_info" (onFilter)="getAgentList($event?.filter)"
                                            (onChange)="filter($event.value)" [showClear]="true" appendTo="body"
                                            placeholder="Select a Agent">
                                            <ng-template let-employee pTemplate="item">
                                                <div class="flex align-items-center gap-1">
                                                    <div class="m-0">
                                                        {{employee.code}} - {{employee.agency_name}}
                                                        <div class="text-sm text-slate-500">{{employee.email_address}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </ng-container>

                            <p-columnFilter class="searchableDropdown"
                                *ngIf="col.type == types.select && col.field == 'mop'" [field]="col.field"
                                matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [options]="mopList" [(ngModel)]="selectedMop"
                                        optionLabel="mop" [filter]="true" filterBy="mop"
                                        (onFilter)="getMopList($event?.filter)" (onChange)="filter($event.value)"
                                        [showClear]="true" appendTo="body" placeholder="Select a MOP">
                                        <ng-template let-option pTemplate="item">
                                            <div>{{ option.mop }}</div>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>

                            <p-columnFilter class="searchableDropdown"
                                *ngIf="col.type == types.select && col.field == 'psp_name'" [field]="col.field"
                                matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown class="filter-dropdown" [options]="pspList" [(ngModel)]="selectedPsp"
                                        optionLabel="provider" [filter]="true" filterBy="provider"
                                        (onFilter)="getPspList($event?.filter)" (onChange)="filter($event.value)"
                                        [showClear]="true" appendTo="body" placeholder="Select a PSP">
                                        <ng-template let-option pTemplate="item">
                                            <div>{{ option.provider }}</div>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>

                        </ng-container>
                    </th>
                    <th class="w-full" *ngIf="(selectedColumns[selectedColumns?.length-1]?.field =='recharge_amount')">
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-columns="columns">
                <tr>
                    <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn
                        *ngIf="isDisplayHashCol()">
                        <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                            <mat-icon> more_vert </mat-icon>
                        </span>

                        <mat-menu #optionMenu>
                            <button mat-menu-item (click)="view(element)">
                                <mat-icon class="mat-18">info</mat-icon>
                                <span style="font-weight: 600">Info</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td *ngFor="let col of columns" [ngClass]="col.class">
                        <ng-container *ngIf="(col.type === types.text || col.type === types.select)">
                            <span [ngClass]="col.isCustomColor ? getStatusColor(element[col.field]) : ''">
                                {{ element[col.field] || '-' }}
                            </span>
                        </ng-container>

                        <ng-container *ngIf="col.type === types.link && col.field === 'filename'">
                            <span class="text-center justify-center">
                                <mat-icon [attr.disabled]="!element['filename'] ? true : null"
                                    svgIcon="heroicons_outline:arrow-down-tray" [ngClass]="!element['filename'] 
                                        ? 'rounded-full cursor-not-allowed text-blue-400 p-0.5' 
                                        : 'rounded-full cursor-pointer text-blue-600 p-0.5'"
                                    (click)="!element['filename'] ? null : downloadfile(element['filename'])"
                                    [matTooltip]="!element['filename'] ? 'No File' : 'Download'">
                                </mat-icon>
                            </span>
                        </ng-container>


                        <ng-container *ngIf="col.type == types.number">
                            <span *ngIf="col.field === 'recharge_amount'">
                                {{ element.recharge_amount ? (element.recharge_amount | indianNumber) : (0 |
                                indianNumber) }}
                            </span>
                            <span *ngIf="col.field !== 'recharge_amount'">
                                {{ element[col.field] ? (element[col.field]).toFixed(col?.fixVal || 0) :
                                (0).toFixed(col?.fixVal || 0) }}
                            </span>
                        </ng-container>

                        <ng-container *ngIf="col.type == types.dateTime">
                            {{isValidDate(element[col.field])? (element[col.field] | date: col.dateFormat): "-"}}
                        </ng-container>
                    </td>
                    <td class="w-full" *ngIf="(selectedColumns[selectedColumns?.length-1]?.field =='recharge_amount')">
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr class="h-14" *ngIf="selectedColumns?.length">
                    <td [attr.colspan]="displayColCount()" class="text-center font-semibold text-lg">
                        {{getNodataTextRejected()}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="text-center mt-5" *ngIf="selectedColumns && !selectedColumns?.length"> No column to display! Please
        Select a column
    </div>
</div>