<div class="table-container paginator-bottom">
    <p-table #datatable [value]="dataList" [sortField]="sortColumn" [sortOrder]="-1" [resizableColumns]="true"
        columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}" [loading]="isLoading" [paginator]="true"
        [rows]="appConfig.pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="appConfig.pageSizeOptions"
        [lazy]="true" (onLazyLoad)="refreshItems($event)" [scrollable]="true" [scrollHeight]="scrollHeightWTab"
        [showCurrentPageReport]="true" [showPageLinks]="false" [showJumpToPageDropdown]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" [globalFilterFields]=""
        styleClass="p-datatable-gridlines p-datatable-sm">

        <ng-template pTemplate="header">
            <tr>
                <th class="w-5 text-center left-[-1px]" pFrozenColumn>#</th>
                <th pSortableColumn="agent_id" pResizableColumn pResizableColumn alignFrozen="left" pFrozenColumn
                    class="dark:bg-[#1e293b]" [frozen]="frozenObj?.agent_id"
                    [ngClass]="{'left-0': !frozenObj?.agent_id}">
                    Item Code <p-sortIcon field="agent_id" />
                    <span class="float-right" (click)="isFrozenColumn('agent_id');$event.stopPropagation()">
                        <i *ngIf="!frozenObj?.agent_id" class="pi pi-lock-open icon-size-3"></i>
                        <i *ngIf="frozenObj?.agent_id" class="pi pi-lock icon-size-3"></i>
                    </span>
                </th>
                <th pSortableColumn="domain_name" pResizableColumn>
                    Domain Name <p-sortIcon field="domain_name" />
                </th>
                <th pSortableColumn="ip_address" pResizableColumn>
                    IP Address <p-sortIcon field="ip_address" />
                </th>
                <th pSortableColumn="ssl_expire_date_time" pResizableColumn>
                    SSL Expiry Date <p-sortIcon field="ssl_expire_date_time" />
                </th>
                <th class="w-full" pSortableColumn="is_domain_pointed" pResizableColumn>
                    Is Pointing <p-sortIcon field="is_domain_pointed" />
                </th>

            </tr>

            <tr *ngIf="isFilterShowPending">
                <th class=" left-[-1px]" pFrozenColumn></th>
                <th alignFrozen="left" pFrozenColumn [frozen]="frozenObj?.item_code" class="min-w-[110px]">
                    <p-columnFilter field="item_code" type="text" placeholder="Search by Item code"
                        ariaLabel="Filter Item code"></p-columnFilter>
                </th>
                <th>
                    <!-- <p-columnFilter type="text" matchMode="contains" field="item_name" placeholder="Search by Name"
                        ariaLabel="Filter Item" /> -->
                    <p-columnFilter field="item_name" matchMode="in" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" [options]="globalSearchService.itemList"
                                optionLabel="itemInfo" placeholder="Search by Name" (onChange)="filter($event.value)"
                                appendTo="body">
                                <ng-template let-item pTemplate="item">
                                    <div>
                                        {{item.itemInfo}}
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <!-- <p-columnFilter type="text" matchMode="contains" field="product_name"
                        placeholder="Search by Product" ariaLabel="Filter Product" /> -->
                    <p-columnFilter field="product_name" matchMode="in" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" [options]="globalSearchService.productList"
                                optionLabel="productInfo" placeholder="Search by Name" (onChange)="filter($event.value)"
                                appendTo="body">
                                <ng-template let-product pTemplate="item">
                                    <div>
                                        {{product.productInfo}}
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <!-- <p-columnFilter type="text" matchMode="contains" field="product_status" placeholder="Search by Status"
                        ariaLabel="Filter Status" /> -->
                    <p-columnFilter field="product_status" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown class="filter-dropdown" [ngModel]="value" [options]="statusList"
                                (onChange)="filter($event.value)" placeholder="Select Status" [showClear]="true"
                                appendTo="body">
                                <ng-template let-option pTemplate="item">
                                    <p>{{option}}</p>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="numeric" field="agentCode" placeholder="Search by Agent Code"
                        ariaLabel="Filter Agent Code" />
                </th>
                <th>
                    <!-- <p-columnFilter type="text" matchMode="contains" field="agency_name" placeholder="Search by Agency Name"
                        ariaLabel="Filter Agency Name" /> -->
                    <p-columnFilter class="searchableDropdown" field="agency_name" matchMode="equals"
                        [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown class="filter-dropdown" [options]="agentList" optionLabel="agent_info"
                                [filter]="true" filterBy="agent_info" [(ngModel)]="selectedAgent"
                                (onFilter)="getAgent($event?.filter)" (onChange)="filter($event.value)"
                                [showClear]="true" appendTo="body" placeholder="Select Agent">
                                <ng-template let-agent pTemplate="item">
                                    <div class="flex align-items-center gap-1">
                                        <div [value]="agent.id">
                                            <div class="m-0">
                                                {{agent.code}} - {{agent.agency_name}}
                                                <div class="text-sm text-slate-500">{{agent.email_address}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="integration_start_date_time" type="date">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" appendTo="body"
                                [ngModel]="value" placeholder="Search by Start Int. Date">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="entry_date_time" type="date">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar (onSelect)="filter($event)" dateFormat="dd-mm-yy" appendTo="body"
                                [ngModel]="value" placeholder="Search by Entry Date">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-element let-i="rowIndex">
            <tr>
                <td class="bg-gray-50 dark:bg-gray-900 left-[-1px]" alignFrozen="left" pFrozenColumn>
                    <span [matMenuTriggerFor]="optionMenu" class="flex align-middle cursor-pointer">
                        <mat-icon> more_vert </mat-icon>
                    </span>

                    <mat-menu #optionMenu>
                        <button mat-menu-item (click)="viewDetail(element)">
                            <mat-icon class="mat-18">info</mat-icon>
                            <span style="font-weight: 600">Info</span>
                        </button>
                    </mat-menu>
                </td>
                <td>{{ element.agent_id || '-' }}</td>
                <td>{{ element.domain_name || '-' }}</td>
                <td>{{ element.ip_address || '-' }}</td>
                <td>{{element.ssl_expire_date_time ? (element.ssl_expire_date_time | date: 'yyyy-MM-dd HH:mm:ss'):'-' }}</td>
                <td>{{ element.is_domain_pointed ? 'Yes' : 'No' }}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr class="h-14">
                <td colspan="9" class="text-center font-semibold text-lg">
                    {{getNodataText()}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>