<div class="flex flex-col flex-auto overflow-hidden bg-card shadow rounded-2xl -m-6 min-w-80 max-w-80">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-4 bg-primary">
        <div class="text-lg font-medium text-white pr-2">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current notranslate text-white mat-icon-no-color"
                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <div class="xl:min-h-[350px] xl:max-h-[350px] min-h-[350px] max-h-[350px] overflow-y-auto">
        <div class="flex flex-raw overflow-hidden overflow-x-auto rounded-[10px] mt-4 mr-4 ml-4">
            <div class="w-[100%]">
                <form class="flex flex-col flex-auto overflow-hidden" [formGroup]="formGroup">
                    <div class="px-[2px]">
                        <!-- <mat-form-field class="flex-grow w-full pr-1">
                            <mat-label class="text-base font-medium dark:text-[#687798]">Date</mat-label>
                            <input matInput [readonly]="readonly" [matDatepicker]="joiningpicker" [min]="todayDateTime"
                                placeholder="Choose a date" formControlName="date" />
                            <mat-datepicker-toggle matSuffix [for]="joiningpicker"></mat-datepicker-toggle>
                            <mat-datepicker #joiningpicker></mat-datepicker>
                            <mat-error *ngIf="formGroup.get('date').hasError('required')">
                                Date is required
                            </mat-error>
                        </mat-form-field> -->

                        <div class="flex flex-row">
                            <mat-form-field class="flex-grow">
                                <mat-label class="text-base font-medium dark:text-[#687798]">Amount</mat-label>
                                <input matInput required type="number" (keypress)="numberOnly($event)"
                                    formControlName="amount">
                                <mat-error *ngIf="formGroup.get('amount').hasError('required')">
                                    Amount is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row">
                            <mat-form-field class="flex-grow">
                                <mat-label class="text-base font-medium dark:text-[#687798]">MOP</mat-label>
                                <mat-select class="w-full flex-grow" formControlName="mop" required>
                                    <mat-option *ngFor="let service of serviceForList" [value]="service">{{ service
                                        }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formGroup.get('mop').hasError('required')">
                                    MOP is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row">
                            <mat-form-field class="flex-grow">
                                <mat-label class="text-base font-medium dark:text-[#687798]">Remark</mat-label>
                                <textarea matInput rows="3" formControlName="remark"></textarea>
                                <!-- <mat-error *ngIf="formGroup.get('remark').hasError('required')">
                                    Remark is required
                                </mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="!readonly" class="flex items-center justify-end mt-4 sm:mt-1 pr-6 py-3 space-x-3">
        <button mat-stroked-button (click)="matDialogRef.close()"> Close </button>
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
            {{btnLabel}}
        </button>
    </div>
</div>
