<div class="flex flex-col max-w-140 md:min-w-100 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
        <div class="text-lg font-medium truncate text-white" [ngClass]="!readonly? '' : 'max-w-64'">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-120" [formGroup]="formGroup" *ngIf="!readonly else detailView">

        <mat-form-field class="flex-grow">
            <mat-label>Event Name</mat-label>
            <input [readonly]="readonly" matInput required formControlName="event_name">
        </mat-form-field>

        <mat-form-field class="flex-grow">
            <mat-label>Event Description</mat-label>
            <textarea matInput [readonly]="readonly" formControlName="event_description"></textarea>
        </mat-form-field>
    </form>

    <ng-template #detailView>
        <div class="grid grid-cols-2 max-w-140 gap-6 mb-3 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
            <div class="flex flex-col " *ngFor="let filed of fieldList">
                <div class="flex flex-row space-x-2">
                    <span class=" text-md font-semibold text-secondary">{{filed.name}}</span>
                    <!-- <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip">info</mat-icon> -->
                </div>
                <span class="text-base" [matTooltip]="filed.value">{{filed.value || '--'}}</span>
            </div>
        </div>
    </ng-template>


    <div class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <!-- Discard -->
        <!-- <button mat-stroked-button (click)="matDialogRef.close()">
            Close
        </button> -->
        <!-- Save as draft -->
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()"
            [disabled]="disableBtn">
            {{btnLabel}}
        </button>
    </div>
</div>