<div class="flex flex-col max-w-240 md:min-w-100 max-h-screen -m-6">

    <ng-container *ngIf="isDefault">
        <!-- Header -->
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary">
            <div class="text-lg font-medium text-white">Status Update</div>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>

        <form class="flex flex-col flex-auto px-6 pt-6 overflow-y-auto max-h-120 pb-5" [formGroup]="formGroup">
            <mat-form-field class="flex-grow">
                <mat-label>Status</mat-label>
                <mat-select class="w-full flex-grow" formControlName="status" required>
                    <mat-option *ngFor="let s of statusList" [value]="s">{{ s }}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </ng-container>

    <div class="p-6 gap-3 flex" *ngIf="!isDefault">
        <div class="bg-primary rounded-full w-10 h-10 flex justify-center items-center">
            <mat-icon class="text-white" svgIcon="heroicons_outline:exclamation-triangle"></mat-icon>
        </div>
        <div>
            <div class="text-xl leading-6 font-medium">Status Update</div>
            <div class=" text-secondary">Are you sure to Status Update?</div>
        </div>
    </div>

    <div class="flex items-center justify-end mt-4 sm:mt-0 pr-6 pb-4 space-x-3">
        <!-- Discard matDialogRef.close()-->
        <button mat-stroked-button (click)="close()">
            Close
        </button>
        <!-- Save as draft -->
        <button mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="formGroup.invalid">
            {{btnLabel}}
        </button>
    </div>
</div>