.active-circle {
    width:22px;
    height:22px;
    border-radius:50%;
    background: #0D9488;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.active-circle::before {
    content:"";
    position: absolute;
    width: 30px;
    height:30px;
    left:50%;
    top:50%;
    border: 1px solid #0D9488;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.non-active-circle {
    width:22px;
    height:22px;
    border-radius:50%;
    background: #35455F;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}

.completed-circle {
    width:22px;
    height:22px;
    border-radius:50%;
    background: #0D9488;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

