<section class="flex flex-col gap-3">
    <div class="header h-[5rem] border-b border-[#324154] p-5 pt-3 pb-6 flex items-center justify-center gap-3">
        <div class="stepper flex flex-col items-center"
            *ngFor="let item of stepperData; let idx = index; let isLast = last">
            <div class="flex items-center">
                <div class="flex flex-col relative gap-2 items-center">
                     <!-- Step Circle -->
                    <div class="mr-2 outline-none" [ngClass]="{
                        'active-circle':item.isActive,
                        'non-active-circle':!item.isActive && !item.isCompleted,
                        'completed-circle': item.isCompleted,
                        'completed-active-circle': item.isActive && item.isCompleted
                    }" 
                    (click)="onStepper(item)">
                        <span *ngIf="!item.isCompleted">{{item.step}}</span>
                        <span *ngIf="item.isCompleted"><i class="material-icons text-base translate-y-[2px]">check</i></span>
                    </div>

                    <!-- Step Label -->
                    <div class="text-primary absolute bottom-[-26px] text-[14px]"
                        [ngStyle]="{ 'min-width': item.minWidth + 'rem' }"
                        [ngClass]="{'text-primary': item.isActive, 'text-white': item.isCompleted, 'text-[#5A7290]': !item.isActive && !item.isCompleted}"
                        >
                        {{item.name}}
                    </div>
                </div>

                <!-- Step Divider -->
                <div *ngIf="!isLast" class="stepper-line w-[146px] border px-2"></div>
            </div>
        </div>

        <button type="button" mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1" class="absolute right-[12px]">
            <mat-icon class="text-current text-[#374252] dark:text-white"
                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <div class="body p-5">
        <app-manage-domain-first-step [hidden]="(activeStepperId == 2) || (activeStepperId == 3)" 
        #firstStepForm 
        [data]="record" 
        [wlSettingData]="wlSettingData"
        (stepCompleted)="onStepComplete(1)">
        </app-manage-domain-first-step>

        <app-verify-domain-second-step *ngIf="activeStepperId === 2" 
        [data]="record"
        (stepCompleted)="onStepComplete(2)"
        (previousPage)="onPreviousPage(1)"> 
        </app-verify-domain-second-step>

        <app-verify-ssl-third-step *ngIf="activeStepperId === 3"
         (stepCompleted)="onStepComplete(3)"
         (previousPage)="onPreviousPage(2)">
        </app-verify-ssl-third-step>
    </div>

    <div *ngIf="activeStepperId === 1" class="footer h-[5rem] border-t border-[#324154] p-5 flex justify-end items-center">
        <button mat-flat-button [color]="'primary'" class="flex items-center min-w-[100px]" (click)="onVerify()">
            Next 
        </button>
    </div>
</section>