<div class="flex flex-col max-w-120 md:min-w-120 max-h-screen -m-6">
    <div class="min-h-15 flex px-5 pt-0.5 items-center justify-between text-xl font-semibold border-b-2">
        <span class=" dark:text-white">Agents</span>
        <mat-icon svgIcon="close" class="cursor-pointer dark:text-white" (click)="matDialogRef.close()"></mat-icon>
    </div>

    <div class="flex flex-col p-5 pt-3 gap-1 max-h-100 overflow-y-auto">
        <div class="flex flex-col border-b" *ngFor="let dt of agentsList">
            <div class="pt-1">
                {{dt.name}}
            </div>
            <div class="text-sm text-secondary pb-2">
                {{dt.email}}
            </div>
        </div>
    </div>
</div>