<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>

    <div class="w-full">
        <div class="flex flex-col w-[100%] gap-2 m-auto">
            <div class="flex flex-row justify-between border-b-2 border-gray-border px-5 py-4 h-15">
                <span class=" text-xl font-semibold">Agents</span>
                <mat-icon svgIcon="close" class=" icon-size-6 cursor-pointer "
                    (click)="closeBtn()"></mat-icon>
            </div>

            <!-- <mat-form-field class="justify-center items-center w-full px-4 mt-3">
                <mat-icon class="icon-size-5 !light-text" matPrefix
                    [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
                <input [formControl]="searchInputControl" matInput class="text-md !light-text" [autocomplete]="'off'"
                    [placeholder]="'Search'" />
            </mat-form-field> -->
            <div class="flex ctm_search dark:bg-[#0f172a] m-3">
                <input matInput class="w-[88%]"  [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'"  />
                <mat-icon class="icon-size-5 " matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" ></mat-icon>
            </div>

            <div class="flex flex-col px-5 pb-5 gap-1 overflow-auto" style="height: calc(100vh - 185px)">
                <div class="flex flex-col border-b" *ngFor="let dt of filteredAgentsList">
                    <div class="pt-1">
                        {{dt.agent_code}} - {{dt.name}}
                    </div>
                    <div class="text-sm text-secondary pb-2">
                        {{dt.email}}
                    </div>
                </div>

                <div *ngIf="filteredAgentsList.length == 0" class="text-center text-xl m-auto">
                    No data to display!
                </div>
            </div>

        </div>
    </div>
</fuse-drawer>