<div class="flex flex-col flex-auto overflow-hidden bg-card shadow rounded-2xl -m-6">
    <!-- <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-4 bg-primary">
        <div class="text-lg font-medium text-white">{{title}}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div> -->
    <div class="border-b mb-[6px]">
        <!-- <div class="flex flex-raw overflow-hidden overflow-x-auto border rounded-[10px] m-4">
            <div class="w-[100%] px-4 field-blue-bg dark:bg-[#2A374A] bg-gray-200 ">
                <div class="grid py-2 xl:grid-cols-3 grid-cols-3 gap-4 overflow-hidden">
                    <div class="flex flex-col">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Agency Name</span>
                        <span class="text-[15px] truncate dark:text-white text-black"
                            [matTooltip]="record?.name">{{record?.name ? record?.name : "
                            -"}}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Policy</span>
                        <div class="text-base truncate">
                            <span class="text-[15px] truncate dark:text-white text-black"
                                [matTooltip]="record?.policy">{{record?.policy ?
                                record?.policy : '-'}}</span>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Mobile Number</span>
                        <span class="text-[15px] truncate dark:text-white text-black" [matTooltip]="record?.mobile">
                            {{ record?.mobile ? record?.mobile : '-' }}
                        </span>
                    </div>
                </div>
                <div class="grid py-2 xl:grid-cols-3 grid-cols-3 gap-4 overflow-hidden">
                    <div class="flex flex-col">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Credit Amount</span>
                        <span class="text-[15px] truncate dark:text-white text-black"
                            [matTooltip]="record?.creditLimit">{{record?.creditLimit ?
                            record?.creditLimit : '-'}}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Due Date</span>
                        <span class="text-[15px] truncate dark:text-white text-black"
                            [matTooltip]="record?.dueDate">{{(record?.dueDate |
                            date:'dd-MM-yyyy') || ' - '}}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-base font-medium text-secondary dark:text-[#687798]">Expiry Date</span>
                        <span class="text-[15px] truncate dark:text-white text-black"
                            [matTooltip]="record?.expiryDate">{{(record?.expiryDate |
                            date:'dd-MM-yyyy') || ' - '}}</span>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="flex flex-raw overflow-hidden overflow-x-auto rounded-[10px] mt-4 ml-4 mr-4">
            <div class="w-[100%]">
                <form class="flex flex-col flex-auto overflow-hidden " [formGroup]="formGroup">
                    <div class="px-[2px]">
                        <div class="flex flex-row w-1/3">
                            <mat-form-field class="flex-grow">
                                <mat-label class="text-base font-medium dark:text-[#687798]">Review</mat-label>
                                <mat-select formControlName="feedback">
                                    <mat-option *ngFor="let lt of feedbackList" [value]="lt.value">{{
                                        lt.viewValue}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formGroup.get('feedback').hasError('required')">
                                    Review is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-row">
                            <mat-form-field class="flex-grow">
                                <mat-label class="text-base font-medium dark:text-[#687798]">Remark</mat-label>
                                <textarea matInput rows="1" formControlName="rm_remark"></textarea>
                                <mat-error *ngIf="formGroup.get('rm_remark').hasError('required')">
                                    Remark is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-row mt-[-9px]" [ngClass]="this.formGroup.get('is_call_rescheduled').value == true ? 'border-b' : ''">
                            <mat-checkbox formControlName="is_call_rescheduled">
                                <div class="text-base dark:text-white text-black relative"><span>Reschedule</span></div>
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="px-1 pt-3" *ngIf="this.formGroup.get('is_call_rescheduled').value == true">
                        <!-- <div class="flex flex-row w-full">
                            <div class="w-[70%]">
                                <mat-form-field class="w-[404px]">
                                    <mat-label class="text-base font-medium dark:text-[#687798]">Assign</mat-label>
                                    <mat-select formControlName="call_assign_to">
                                        <mat-option>
                                            <ngx-mat-select-search placeholderLabel="Search"
                                                noEntriesFoundLabel="'no matching agent found'" [formControlName]="'assignfilter'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let lt of dataList" [value]="lt.id">
                                            <span>{{ lt.employee_name }}</span>
                                            <div class="-mt-2">
                                                <span class="text-secondary text-sm">{{lt.personal_email}}</span>
                                            </div>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                            <div class="w-[30%]">
                                <mat-form-field class="flex-grow w-[180px]">
                                    <mat-label class="text-base font-medium dark:text-[#687798]">Purpose</mat-label>
                                    <mat-select formControlName="call_purpose">
                                        <mat-option *ngFor="let lt of purposeList" [value]="lt.value">{{ lt.viewValue
                                            }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formGroup.get('call_purpose').hasError('required')">
                                        Purpose is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="flex flex-row w-full">
                            <div class="flex flex-row">
                                <mat-form-field class="flex-grow w-[205px]">
                                    <mat-label class="text-base font-medium dark:text-[#687798]">Date</mat-label>
                                    <input matInput [readonly]="readonly" [matDatepicker]="joiningpicker"
                                        [min]="todayDateTime" placeholder="Choose a date"
                                        formControlName="schedule_date" />
                                    <mat-datepicker-toggle matSuffix [for]="joiningpicker"></mat-datepicker-toggle>
                                    <mat-datepicker #joiningpicker></mat-datepicker>
                                    <mat-error *ngIf="formGroup.get('schedule_date').hasError('required')">
                                        Date is required
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="flex-grow w-[205px] pl-2 pr-3">
                                    <ngx-mat-timepicker color="primary" #entryPicker></ngx-mat-timepicker>
                                    <mat-label class="text-base font-medium dark:text-[#687798]">Time</mat-label>
                                    <input matInput [readonly]="readonly" format="24" formControlName="schedule_time"
                                        [ngxMatTimepicker]="entryPicker" readonly />
                                    <mat-icon matSuffix (click)="entryPicker.open()">
                                        watch_later
                                    </mat-icon>
                                    <mat-error *ngIf="formGroup.get('schedule_time').hasError('required')">
                                        Time is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div> -->

                        <div class="flex flex-row w-full">
                            <div class="flex flex-row w-full">
                                <mat-form-field class="w-[380px]">
                                    <mat-label class="text-base font-medium dark:text-[#687798]">Assign</mat-label>
                                    <mat-select formControlName="call_assign_to">
                                        <mat-option>
                                            <ngx-mat-select-search placeholderLabel="Search"
                                                noEntriesFoundLabel="'no matching agent found'"
                                                [formControlName]="'assignfilter'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let lt of dataList" [value]="lt.id">
                                            <span>{{ lt.employee_name }}</span>
                                            <div class="-mt-2">
                                                <span class="text-secondary text-sm">{{lt.personal_email}}</span>
                                            </div>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="flex-grow w-[180px] pl-2">
                                    <mat-label class="text-base font-medium dark:text-[#687798]">Purpose</mat-label>
                                    <mat-select formControlName="call_purpose">
                                        <mat-option *ngFor="let lt of purposeList" [value]="lt.value">{{ lt.viewValue
                                            }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formGroup.get('call_purpose').hasError('required')">
                                        Purpose is required
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="flex-grow w-[205px] pl-2">
                                    <mat-label class="text-base font-medium dark:text-[#687798]">Date</mat-label>
                                    <input matInput [readonly]="readonly" [matDatepicker]="joiningpicker"
                                        [min]="todayDateTime" placeholder="Choose a date" formControlName="schedule_date" />
                                    <mat-datepicker-toggle matSuffix [for]="joiningpicker"></mat-datepicker-toggle>
                                    <mat-datepicker #joiningpicker></mat-datepicker>
                                    <mat-error *ngIf="formGroup.get('schedule_date').hasError('required')">
                                        Date is required
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="flex-grow w-[205px] pl-2">
                                    <ngx-mat-timepicker color="primary" #entryPicker></ngx-mat-timepicker>
                                    <mat-label class="text-base font-medium dark:text-[#687798]">Time</mat-label>
                                    <input matInput [readonly]="readonly" format="24" formControlName="schedule_time"
                                        [ngxMatTimepicker]="entryPicker" readonly />
                                    <mat-icon matSuffix (click)="entryPicker.open()">
                                        watch_later
                                    </mat-icon>
                                    <mat-error *ngIf="formGroup.get('schedule_time').hasError('required')">
                                        Time is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="w-full">
                            <div class="flex flex-row">
                                <mat-form-field class="flex-grow">
                                    <mat-label class="text-base font-medium dark:text-[#687798]">Remark</mat-label>
                                    <textarea matInput rows="1" formControlName="reschedule_remark"></textarea>
                                    <mat-error *ngIf="formGroup.get('reschedule_remark').hasError('required')">
                                        Remark is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="!readonly" class="flex items-center justify-end mt-4 sm:mt-1 pr-6 py-3 space-x-3">
        <button mat-stroked-button (click)="matDialogRef.close()"> Close </button>
        <button *ngIf="!readonly" mat-flat-button [color]="'primary'" (click)="submit()" [disabled]="disableBtn">
            {{btnLabel}}
        </button>
    </div>
</div>
