<div class="flex flex-col pt-3">
    <div class="flex justify-between">
        <div class="text-xl font-bold text-[#0D9488] pt-[7px]">Filters</div>
        <button mat-icon-button [tabIndex]="-1" (click)="_filterService.closeDrawer()">
            <mat-icon class="text-current notranslate dark:text-white mat-icon-no-color"
                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <div class="flex flex-0 justify-between pb-2">
        <div class="text-base font-bold dark:text-white pt-[2px]">ABC</div>
        <a href="#" class="mat-flat-button" color="primary">
            <span class="text-sm font-medium text-blue-500 underline pr-[0px]">Save Changes</span>
        </a>
    </div>
    <mat-divider></mat-divider>
    <div class="w-full pt-0 pb-0">
        <ng-container *ngFor="let item of _filterService.filter_grid_array?.filters">
            <div class="flex flex-row w-full justify-between">
                <label class="text-base dark:text-white font-noraml text-black pt-[14px]">{{item.filter_name}}</label>
                <div>
                    <span class="text-left justify-left mt-3 flex">
                        <img class="w-4 cursor-pointer" src="assets/icons/common-filter-edit.svg" alt="edit">
                        <img class="w-4 cursor-pointer ml-4" src="assets/icons/common-filter-copy.svg" alt="copy">
                        <img class="w-4 cursor-pointer ml-4" src="assets/icons/common-filter-delete.svg" alt="delete">
                    </span>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- <mat-divider></mat-divider> -->
     <div class="pe-5">
         <div class="flex items-center justify-center text-center h-16 sm:mt-0 pb-4 bottom-0 absolute w-full dark:bg-[#0F172A] bg-white m-auto pe-7 border-t">
             <button mat-flat-button [color]="'primary'" (click)="submit()" class="w-full" [disabled]="disableBtn">
                Create New Filter
             </button>
         </div>
     </div>
</div>