<div class="flex flex-col flex-auto min-w-0">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-5 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div class="cursor-pointer" [routerLink]="employeeListRoute">
                    <a class="whitespace-nowrap text-primary-500">Employee</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">{{
                        readonly ? "Detail" : record.id ? "Modify" : "Entry"
                        }}</a>
                </div>
            </div>
        </div>

        <div class="flex items-center gap-2">
            <button mat-stroked-button (click)="close()">Close</button>
            <button *ngIf="!readonly" mat-raised-button color="primary" [disabled]="disableBtn" (click)="submit()">
                {{ btnTitle }}
            </button>
        </div>
    </div>

    <div class="flex-auto px-10 xl:px-40">
        <form *ngIf="!readonly; else detailView"
            class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden" [formGroup]="formGroup">
            <div class="flex flex-row space-x-5 mb-3">
                <div class="flex-0 w-22 h-22 rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover cursor-pointer" *ngIf="profile_picture"
                        [matMenuTriggerFor]="imgMenu" [src]="profile_picture" alt="User avatar" />
                    <mat-icon *ngIf="!profile_picture"
                        class="w-full h-full object-cover dark:text-white text-primary cursor-pointer"
                        [svgIcon]="'heroicons_solid:user-circle'" [matMenuTriggerFor]="imgMenu">
                    </mat-icon>
                    <div [hidden]="true">
                        <input type="file" accept="image/*" name="profile" #profileInput
                            (change)="onProfileInput($event)" />
                    </div>
                    <div>

                        <mat-menu #imgMenu>
                            <button mat-menu-item (click)="profileInput.click()">
                                Upload Photo
                            </button>
                            <button mat-menu-item (click)="removePhoto()">
                                Remove Photo
                            </button>
                        </mat-menu>
                    </div>
                </div>

                <mat-form-field class="flex-grow">
                    <mat-label>Name</mat-label>
                    <input matInput [readonly]="readonly" required [formControlName]="'employee_name'" />
                </mat-form-field>
            </div>

            <div class="flex flex-row space-x-3">
                <mat-form-field class="flex-grow">
                    <mat-label>Birth Date</mat-label>
                    <input matInput [readonly]="readonly" required [matDatepicker]="picker" placeholder="Choose a date"
                        formControlName="birth_date" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option *ngFor="let ct of genderList" [value]="ct">{{ ct }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Designation</mat-label>
                    <mat-select formControlName="designation_id">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching designation found'"
                                [formControlName]="'designationfilter'">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let ct of designationList" [value]="ct.id">
                            <span>{{ ct.designation }}</span>
                            <div class="-mt-2">
                                <span class="text-sm text-secondary">{{
                                    ct.department_name
                                    }}</span>
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex flex-row space-x-3">
                <mat-form-field class="flex-grow">
                    <mat-label>Company Email</mat-label>
                    <input matInput [readonly]="readonly" email required [formControlName]="'company_email'" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Company Number</mat-label>
                    <input type="number" matInput required [formControlName]="'company_number'" />
                </mat-form-field>
            </div>

            <div class="flex flex-row space-x-3">
                <mat-form-field class="flex-grow">
                    <mat-label>Personal Email</mat-label>
                    <input matInput [readonly]="readonly" email required [formControlName]="'personal_email'" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Personal Number</mat-label>
                    <input matInput [readonly]="readonly" type="number" required
                        [formControlName]="'personal_number'" />
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Emergency Number</mat-label>
                    <input matInput [readonly]="readonly" type="number" required
                        [formControlName]="'emergency_number'" />
                </mat-form-field>
            </div>

            <div class="flex flex-row space-x-3">
                <mat-form-field class="flex-grow">
                    <mat-label>Joining Date</mat-label>
                    <input matInput [readonly]="readonly" required [matDatepicker]="joiningpicker"
                        placeholder="Choose a date" formControlName="joining_date" />
                    <mat-datepicker-toggle matSuffix [for]="joiningpicker"></mat-datepicker-toggle>
                    <mat-datepicker #joiningpicker></mat-datepicker>
                </mat-form-field>

                <ngx-mat-timepicker color="primary" #entryPicker></ngx-mat-timepicker>
                <ngx-mat-timepicker color="primary" #exitPicker></ngx-mat-timepicker>

                <mat-form-field class="flex-grow">
                    <mat-label>Shift Start Time</mat-label>
                    <input matInput [readonly]="readonly" format="24" formControlName="shift_start_time"
                        [ngxMatTimepicker]="entryPicker" readonly />
                    <mat-icon matSuffix (click)="entryPicker.open()">
                        watch_later
                    </mat-icon>
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>Shift End Time</mat-label>
                    <input matInput [readonly]="readonly" format="24" formControlName="shift_end_time"
                        [ngxMatTimepicker]="exitPicker" readonly />
                    <mat-icon matSuffix (click)="exitPicker.open()">
                        watch_later
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="flex flex-row space-x-3">
                <mat-form-field class="flex-grow">
                    <mat-label>Office Location</mat-label>
                    <mat-select formControlName="office_location" required>
                        <mat-option [value]="'HO'">HO</mat-option>
                        <mat-option [value]="'Rajkot Office'">Rajkot Office</mat-option>
                        <mat-option [value]="'Work From Home'">Work From Home</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="flex-grow">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city_id">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                noEntriesFoundLabel="'no matching city found'" [formControlName]="'cityfilter'">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let ct of cityList" [value]="ct.id">{{ ct.display_name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-form-field class="flex-grow">
                <mat-label>Address</mat-label>
                <textarea matInput required [formControlName]="'address'"></textarea>
            </mat-form-field>

        </form>

        <ng-template #detailView>
            <div class="grid grid-cols-5 gap-2 mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                <div class="flex flex-row justify-center">
                    <div class="flex-0 w-10 h-10 rounded-full overflow-hidden mb-3">
                        <img class="w-full h-full object-cover cursor-pointer" *ngIf="profile_picture"
                            [src]="profile_picture" alt="User avatar" />
                        <mat-icon *ngIf="!profile_picture" class="w-full h-full object-cover text-white cursor-pointer"
                            [svgIcon]="'heroicons_solid:user-circle'">
                        </mat-icon>
                        <div [hidden]="true">
                            <input type="file" accept="image/*" name="profile" #profileInput
                                (change)="onProfileInput($event)" />
                        </div>
                    </div>
                </div>
                <div class="flex flex-col mb-3" *ngFor="let filed of fieldList">
                    <div class="flex flex-row space-x-2">
                        <span class="text-md font-semibold text-secondary">{{
                            filed.name
                            }}</span>
                        <mat-icon *ngIf="filed.show_info" [matTooltip]="filed.info_tooltip"
                            class="icon-size-4">info</mat-icon>
                    </div>
                    <span class="text-base truncate" [matTooltip]="filed.value">{{ filed.value || "--" }}</span>
                </div>
            </div>
        </ng-template>
    </div>
</div>